.icon-16-archive {
	background-image: url(../../../../includes/js/ThemeOffice/archive.png) no-repeat;
}

.icon-16-category {
	background-image: url(../../../../includes/js/ThemeOffice/categories.png) no-repeat;
}

.icon-16-checkin {
	background-image: url(../../../../includes/js/ThemeOffice/checkin.png);
}

.icon-16-component {
	background-image: url(../../../../includes/js/ThemeOffice/component.png);
}

.icon-16-config {
	background-image: url(../../../../includes/js/ThemeOffice/config.png);
}

.icon-16-content {
	background-image: url(../../../../includes/js/ThemeOffice/content.png);
}

.icon-16-cpanel {
	background-image: url(../../../../includes/js/ThemeOffice/controlpanel.png);
}

.icon-16-frontpage {
	background-image: url(../../../../includes/js/ThemeOffice/frontpage.png);
}

.icon-16-help {
	background-image: url(../../../../includes/js/ThemeOffice/help.png);
}

.icon-16-info {
	background-image: url(../../../../includes/js/ThemeOffice/info.png);
}

.icon-16-install {
	background-image: url(../../../../includes/js/ThemeOffice/install.png);
}

.icon-16-language {
	background-image: url(../../../../includes/js/ThemeOffice/language.png);
}

.icon-16-logout {
	background-image: url(../../../../includes/js/ThemeOffice/logout.png);
}

.icon-16-massmail {
	background-image: url(../../../../includes/js/ThemeOffice/massmail.png);
}

.icon-16-media {
	background-image: url(../../../../includes/js/ThemeOffice/media.png);
}

.icon-16-menu {
	background-image: url(../../../../includes/js/ThemeOffice/menu.png);
}

.icon-16-menumgr {
	background-image: url(../../../../includes/js/ThemeOffice/menumgr.png);
}

.icon-16-messages {
	background-image: url(../../../../includes/js/ThemeOffice/messages.png);
}

.icon-16-module {
	background-image: url(../../../../includes/js/ThemeOffice/module.png);
}

.icon-16-plugin {
	background-image: url(../../../../includes/js/ThemeOffice/plugin.png);
}

.icon-16-section {
	background-image: url(../../../../includes/js/ThemeOffice/section.png);
}

.icon-16-static {
	background-image: url(../../../../includes/js/ThemeOffice/static.png);
}

.icon-16-stats {
	background-image: url(../../../../includes/js/ThemeOffice/statistics.png);
}

.icon-16-themes {
	background-image: url(../../../../includes/js/ThemeOffice/themes.png);
}

.icon-16-trash {
	background-image: url(../../../../includes/js/ThemeOffice/trash.png);
}

.icon-16-user {
	background-image: url(../../../../includes/js/ThemeOffice/users.png);
}

/** toolbar icons **/

div.icon-32-delete {
	background: url(../../../images/delete_f2.png) no-repeat left;
}
div.icon-32-help {
	background: url(../../../images/help_f2.png) no-repeat left;
}
div.icon-32-cancel {
	background: url(../../../images/cancel_f2.png) no-repeat left;
}
div.icon-32-apply {
	background: url(../../../images/apply_f2.png) no-repeat left;
}
div.icon-32-save {
	background: url(../../../images/save_f2.png) no-repeat left;
}
div.icon-32-edit {
	background: url(../../../images/edit_f2.png) no-repeat left;
}
div.icon-32-copy {
	background: url(../../../images/copy_f2.png) no-repeat left;
}
div.icon-32-move {
	background: url(../../../images/move_f2.png) no-repeat left;
}
div.icon-32-new {
	background: url(../../../images/new_f2.png) no-repeat left;
}
div.icon-32-upload {
	background: url(../../../images/upload_f2.png) no-repeat left;
}
div.icon-32-send {
	background: url(../../../images/publish_f2.png) no-repeat left;
}
div.icon-32-default {
	background: url(../../../images/publish_f2.png) no-repeat left;
}
div.icon-32-assign {
	background: url(../../../images/publish_f2.png) no-repeat left;
}
div.icon-32-html {
	background: url(../../../images/html_f2.png) no-repeat left;
}
div.icon-32-css {
	background: url(../../../images/css_f2.png) no-repeat left;
}
div.icon-32-publish {
	background: url(../../../images/publish_f2.png) no-repeat left;
}
div.icon-32-unpublish {
	background: url(../../../images/unpublish_f2.png) no-repeat left;
}
div.icon-32-restore {
	background: url(../../../images/restore_f2.png) no-repeat left;
}
div.icon-32-trash {
	background: url(../../../images/delete_f2.png) no-repeat left;
}
div.icon-32-archive {
	background: url(../../../images/archive_f2.png) no-repeat left;
}
div.icon-32-unarchive {
	background: url(../../../images/unarchive_f2.png) no-repeat left;
}
div.icon-32-preview {
	background: url(../../../images/preview_f2.png) no-repeat left;
}
div.icon-32-properties {
	background: url(../../../images/properties_f2.png) no-repeat left;
}
div.icon-32-back {
	background: url(../../../images/back_f2.png) no-repeat left;
}
div.icon-32-next {
	background: url(../../../images/next_f2.png) no-repeat left;
}

/** header icons **/
div.icon-48-generic {
	background: url(../../../images/generic.png) no-repeat left;
}
div.icon-48-checkin {
	background: url(../../../images/checkin.png) no-repeat left;
}
div.icon-48-cpanel {
	background: url(../../../images/cpanel.png) no-repeat left;
}
div.icon-48-config {
	background: url(../../../images/config.png) no-repeat left;
}
div.icon-48-module {
	background: url(../../../images/module.png) no-repeat left;
}
div.icon-48-menu {
	background: url(../../../images/menu.png) no-repeat left;
}
div.icon-48-trash {
	background: url(../../../images/trash.png) no-repeat left;
}
div.icon-48-user {
	background: url(../../../images/user.png) no-repeat left;
}
div.icon-48-inbox {
	background: url(../../../images/inbox.png) no-repeat left;
}
div.icon-48-msgconfig {
	background: url(../../../images/message_config.png) no-repeat left;
}
div.icon-48-langmanager {
	background: url(../../../images/langmanager.png) no-repeat left;
}
div.icon-48-mediamanager {
	background: url(../../../images/mediamanager.png) no-repeat left;
}
div.icon-48-help_header {
	background: url(../../../images/help_header.png) no-repeat left;
}
div.icon-48-impressions {
	background: url(../../../images/impressions.png) no-repeat left;
}
div.icon-48-browser {
	background: url(../../../images/browser.png) no-repeat left;
}
div.icon-48-searchtext {
	background: url(../../../images/searchtext.png) no-repeat left;
}
div.icon-48-thememanager {
	background: url(../../../images/templatemanager.png) no-repeat left;
}
div.icon-48-massemail {
	background: url(../../../images/massemail.png) no-repeat left;
}
div.icon-48-frontpage {
	background: url(../../../images/frontpage.png) no-repeat left;
}
div.icon-48-sections {
	background: url(../../../images/sections.png) no-repeat left;
}
div.icon-48-addedit {
	background: url(../../../images/addedit.png) no-repeat left;
}
div.icon-48-categories {
	background: url(../../../images/categories.png) no-repeat left;
}
div.icon-48-install {
	background: url(../../../images/install.png) no-repeat left;
}
div.icon-48-dbbackup {
	background: url(../../../images/backup.png) no-repeat left;
}
div.icon-48-dbrestore {
	background: url(../../../images/dbrestore.png) no-repeat left;
}
div.icon-48-dbquery {
	background: url(../../../images/query.png) no-repeat left;
}
div.icon-48-systeminfo {
	background: url(../../../images/systeminfo.png) no-repeat left;
}