<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="permissions" label="JCONFIG_PERMISSIONS_LABEL" description="JCONFIG_PERMISSIONS_DESC">
        <field name="rules" type="rules" label="JCONFIG_PERMISSIONS_LABEL" class="inputbox" filter="rules" component="com_jce" section="component" />
    </fieldset>

    <fieldset name="standard" label="WF_PREFERENCES_STANDARD">
        <field name="help_url" type="text" size="50" default="https://www.joomlacontenteditor.net" label="WF_HELP_URL" description="WF_HELP_URL_DESC" />
        <field name="feed" type="radio" default="0" label="WF_CPANEL_FEED" description="WF_CPANEL_FEED_DESC" class="btn-group btn-group-yesno">
            <option value="1">WF_OPTION_YES</option>
            <option value="0">WF_OPTION_NO</option>
        </field>
        <field name="feed_limit" type="list" default="2" label="WF_CPANEL_FEED_LIMIT" description="WF_CPANEL_FEED_LIMIT_DESC">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </field>

        <field name="replace_media_manager" type="radio" default="1" label="WF_CPANEL_REPLACE_MEDIAMANAGER_LABEL" class="btn-group btn-group-yesno" description="WF_CPANEL_REPLACE_MEDIAMANAGER_DESCRIPTION">
          <option value="1">JYES</option>
          <option value="0">JNO</option>
        </field>

    </fieldset>
    <fieldset name="updates" label="WF_PREFERENCES_UPDATES">
        <field name="updates_key" type="password" size="50" default="" label="WF_UPDATES_KEY" description="WF_UPDATES_KEY_DESC" />
    </fieldset>
</config>
