<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="modules"
		label="COM_MODULES_GENERAL"
		description="COM_MODULES_GENERAL_FIELDSET_DESC"
		>
		<field
			name="redirect_edit"
			type="list"
			class="advancedSelect"
			default="site"
			label="COM_MODULES_REDIRECT_EDIT_LABEL"
			description="COM_MODULES_REDIRECT_EDIT_DESC"
			>
			<option value="admin">JADMINISTRATOR</option>
			<option value="site">JSITE</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_modules"
			section="component"
		/>
	</fieldset>
</config>
