<?xml version="1.0" encoding="UTF-8"?>
<config>
	<help key="Modules:_Options"/>
	<inlinehelp button="show"/>
	<fieldset
		name="modules"
		label="COM_MODULES_GENERAL"
		description="COM_MODULES_GENERAL_FIELDSET_DESC"
		>
		<field
			name="redirect_edit"
			type="list"
			class="advancedSelect"
			default="site"
			label="COM_MODULES_REDIRECT_EDIT_LABEL"
			description="COM_MODULES_REDIRECT_EDIT_DESC"
			validate="options"
			>
			<option value="admin">JADMINISTRATOR</option>
			<option value="site">JSITE</option>
		</field>
	</fieldset>

	<fieldset
		name="admin_modules"
		label="COM_MODULES_ADMIN_LANG_FILTER_FIELDSET_LABEL"
		>
		<field
			name="adminlangfilter"
			type="radio"
			label="COM_MODULES_ADMIN_LANG_FILTER_LABEL"
			description="COM_MODULES_ADMIN_LANG_FILTER_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			filter="integer"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_modules"
			section="component"
		/>
	</fieldset>
</config>
