.js-stools-container-bar {
  padding: 10px 20px; }
  .js-stools-container-bar .btn-toolbar > * {
    margin: 4px 0;
    -webkit-margin-end: 8px;
            margin-inline-end: 8px; }
  .js-stools-container-bar .ordering-select {
    display: flex; }

.js-stools-container-filters {
  display: none;
  margin-bottom: 20px;
  padding: 0 20px; }
  .js-stools-container-filters-visible {
    display: flex;
    flex-wrap: wrap; }
  .js-stools-container-filters > * {
    margin: 4px 0;
    -webkit-margin-end: 8px;
            margin-inline-end: 8px; }

.js-stools-field-list + .js-stools-field-list {
  -webkit-margin-start: 8px;
          margin-inline-start: 8px; }
