<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="banner"
		label="COM_COOKIEMANAGER_FIELDSET_CONFIG_BANNER_OPTIONS_LABEL"
		>
		<field
			name="policylink"
			type="menuitem"
			label="COM_COOKIEMANAGER_POLICY_LINK_LABEL"
		/>

		<field
			name="modal_position"
			type="list"
			label="COM_COOKIEMANAGER_POSITION_FIELD_LABEL"
			default=""
			>
			<option value="">COM_COOKIEMANAGER_POSITION_FIELD_TOP</option>
			<option value="modal-dialog-left">COM_COOKIEMANAGER_POSITION_FIELD_LEFT</option>
			<option value="modal-dialog-right">COM_COOKIEMANAGER_POSITION_FIELD_RIGHT</option>
			<option value="modal-dialog-bottom">COM_COOKIEMANAGER_POSITION_FIELD_BOTTOM</option>
			<option value="modal-dialog-centered">COM_COOKIEMANAGER_POSITION_FIELD_CENTER</option>
			<option value="modal-dialog-top-left">COM_COOKIEMANAGER_POSITION_FIELD_TOP_LEFT</option>
			<option value="modal-dialog-top-right">COM_COOKIEMANAGER_POSITION_FIELD_TOP_RIGHT</option>
			<option value="modal-dialog-bottom-left">COM_COOKIEMANAGER_POSITION_FIELD_BOTTOM_LEFT</option>
			<option value="modal-dialog-bottom-right">COM_COOKIEMANAGER_POSITION_FIELD_BOTTOM_RIGHT</option>
		</field>

		<field
			name="consent_expiration"
			type="number"
			label="COM_COOKIEMANAGER_CONSENT_EXPIRATION_LABEL"
			default="30"
		/>

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_cookiemanager"
			section="component"
		/>
	</fieldset>
</config>
