<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component" label="COM_PATCHTESTER_COMPONENT_LABEL" description="COM_PATCHTESTER_COMPONENT_DESC">

		<field name="org" type="text" default="joomla"
			description="COM_PATCHTESTER_FIELD_ORG_DESC"
			label="COM_PATCHTESTER_FIELD_ORG_LABEL"
		/>

		<field name="repo" type="text" default="joomla-cms"
			description="COM_PATCHTESTER_FIELD_REPO_DESC"
			label="COM_PATCHTESTER_FIELD_REPO_LABEL"
		/>

		<field name="gh_user" type="text"
			description="COM_PATCHTESTER_FIELD_GH_USER_DESC"
			label="COM_PATCHTESTER_FIELD_GH_USER_LABEL"
		/>

		<field name="gh_password" type="password"
			description="COM_PATCHTESTER_FIELD_GH_PASSWORD_DESC"
			label="COM_PATCHTESTER_FIELD_GH_PASSWORD_LABEL"
		/>

		<field name="cache" type="radio" class="btn-group" default="1"
			description="COM_PATCHTESTER_FIELD_CACHE_DESC"
			label="COM_PATCHTESTER_FIELD_CACHE_LABEL" >
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="cache_lifetime" type="text" default="60"
			description="COM_PATCHTESTER_FIELD_CACHE_LIFETIME_DESC"
			label="COM_PATCHTESTER_FIELD_CACHE_LIFETIME_LABEL"
		/>
	</fieldset>

	<fieldset name="permissions" description="JCONFIG_PERMISSIONS_DESC" label="JCONFIG_PERMISSIONS_LABEL">

		<field name="rules" type="rules"
			component="com_patchtester"
			filter="rules"
			validate="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			section="component"
		/>
	</fieldset>
</config>
