<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="component">
		<field
			name="enabled"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_SEARCH_CONFIG_GATHER_SEARCH_STATISTICS_LABEL"
			description="COM_SEARCH_CONFIG_GATHER_SEARCH_STATISTICS_DESC">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field name="search_phrases"
				type="radio"
				class="btn-group btn-group-yesno"
				default="1"
				description="COM_SEARCH_FIELD_SEARCH_PHRASES_DESC"
				label="COM_SEARCH_FIELD_SEARCH_PHRASES_LABEL"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field name="search_areas"
				type="radio"
				class="btn-group btn-group-yesno"
				default="1"
				description="COM_SEARCH_FIELD_SEARCH_AREAS_DESC"
				label="COM_SEARCH_FIELD_SEARCH_AREAS_LABEL"
			>
				<option value="1">JYES</option>
				<option value="0">JNO</option>
		</field>

		<field
			name="show_date"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_SEARCH_CONFIG_FIELD_CREATED_DATE_LABEL"
			description="COM_SEARCH_CONFIG_FIELD_CREATED_DATE_DESC">
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="opensearch_name"
			type="text"
			label="COM_SEARCH_CONFIG_FIELD_OPENSEARCH_NAME_LABEL"
			description="COM_SEARCH_CONFIG_FIELD_OPENSEARCH_NAME_DESC"
		/>

		<field
			name="opensearch_description"
			type="textarea"
			label="COM_SEARCH_CONFIG_FIELD_OPENSEARCH_DESCRIPTON_LABEL"
			description="COM_SEARCH_CONFIG_FIELD_OPENSEARCH_DESCRIPTON_DESC"
			cols="30" rows="2"
		/>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_search"
			section="component" />
	</fieldset>
</config>
