<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields>
		<field
			name="enabled"
			type="radio"
			default="0"
			label="Gather Search Statistics"
			description="TIPSEARCHSTATISTICS">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="show_date"
			type="radio"
			default="1"
			label="Show Created Date"
			description="TIPIFSETTOSHOWDATETIMECREATED">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>
	</fields>

	<fields
		group="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc">

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			filter="rules"
			component="com_search"
			section="component">
			<action
				name="core.admin"
				title="JAction_Admin"
				description="JAction_Manage_Component_Desc" />
			<action
				name="core.manage"
				title="JAction_Manage"
				description="JAction_Manage_Component_Desc" />
		</field>
	</fields>
</config>
