<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields>
		<field
			name="mailSubjectPrefix"
			type="text"
			default=""
			label="Subject Prefix"
			description="SubjectPrefixTip" />

		<field
			name="mailBodySuffix"
			type="textarea"
			default=""
			rows="5"
			cols="30"
			label="Mailbody Suffix"
			description="BodySuffixTip" />
	</fields>
</config>