// com_config

.com_config {

  .content {
    background-color: transparent;
  }

  [class^='col-'] {

    > fieldset {
      margin-bottom: 2rem;
    }
  }

  .rule-notes,
  .filter-notes {
    padding: 1em;
    background-color: $white;
  }
}
