// com_cpanel

.com_cpanel {

  .content {
    margin-top: 0;
  }

  .card {

    p:first-of-type {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .list-group {
      box-shadow: $atum-box-shadow;

      > .published {
        padding-left: .9rem;
        border-left: 5px solid theme-color("success");
      }

      > .unpublished {
        padding-left: .9rem;
        border-left: 5px solid theme-color("danger");
      }
    }
  }

  .card-header {
    padding-left: 0;
    font-size: $h5-font-size;
    color: $atum-template-color-dark;
  }

  .module-actions {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    > a {
      display: inline-block;
      width: 2.6em;
      height: 2.6em;
      line-height: 2.6em;
      color: $atum-template-color-dark;
      text-align: center;
    }
  }
}
