// com_config

.com_config {

	#fieldset-permissions {
		grid-template-columns: 1fr;
	}

	.tab-description {
		grid-column: 1 / -1;
	}

  .rule-notes,
  .filter-notes {
    padding: 1em;
    background-color: $white;
    margin-bottom: 1em;
  }

  .options-menu {
    .revert-controls .controls {
      margin-left: 0;
    }
  }
}
