// com-privacy

.tbody-icon {
  .icon-download {
    color: var(--success);
    border-color: var(--success);
  }

  .icon-mail {
    color: var(--primary);
    border-color: var(--primary);
  }

  .icon-delete {
    color: var(--danger);
    border-color: var(--danger);
  }
}
