// com_cpanel

.com_cpanel {

  .content {
    margin-top: 0;
  }

  .card {

    p:first-of-type {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .list-group {
      box-shadow: $atum-box-shadow;

      > .published {
        border-left: 5px solid theme-color('success');
        padding-left: .9rem;
      }

      > .unpublished {
        border-left: 5px solid theme-color('danger');
        padding-left: .9rem;
      }
    }
  }

  .card-header {
    color: $atum-template-color-dark;
    font-size: $h5-font-size;
    padding-left: 0;
  }

  .module-actions {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    > a {
      display: inline-block;
      color: $atum-template-color-dark;
      height: 2.6em;
      line-height: 2.6em;
      text-align: center;
      width: 2.6em;
    }
  }
}
