// com-privacy

.tbody-icon {
  .#{$fa-css-prefix}-download {
    color: var(--success);
    border-color: var(--success);
  }

  .#{$fa-css-prefix}-mail {
    color: var(--primary);
    border-color: var(--primary);
  }

  .#{$fa-css-prefix}-delete,
  .#{$fa-css-prefix}-times {
    color: var(--danger);
    border-color: var(--danger);
  }
}
