// com_cpanel

.com-cpanel {

  &-help {

    &__header {
      color: $atum-template-color-dark;
    }
    
    a {
      color: $gray-800;
    }

    .list-group {
      box-shadow: $atum-box-shadow;
    }
  }

  &-system {
    column-count: 4;

    &__category {
      margin-bottom: 1.5em;
      webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    &__header {
      color: $atum-template-color-dark;

      span {
        margin-right: 5px;
      }
    }

    a {
      color: $gray-800;
    }

    .list-group {
      box-shadow: $atum-box-shadow;
    }

    @include media-breakpoint-down(md) {
      column-count: 2;
    }

    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }
}

.com_cpanel {

  .content {
    margin-top: 0;
  }

  .card {

    p:first-of-type {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .list-group {
      box-shadow: $atum-box-shadow;

      > .published {
        padding-left: .9rem;
        border-left: 5px solid theme-color("success");
      }

      > .unpublished {
        padding-left: .9rem;
        border-left: 5px solid theme-color("danger");
      }
    }
  }

  .card-header {
    padding-left: 0;
    font-size: $h5-font-size;
    color: $atum-template-color-dark;
  }

  .module-actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    > a {
      display: inline-block;
      width: 2.6em;
      height: 2.6em;
      line-height: 2.6em;
      color: $atum-template-color-dark;
      text-align: center;
    }
  }
}
