.com_joomlaupdate {
  fieldset {
    background-color: var(--white);
    color: var(--atum-text-dark);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    margin: 3rem 0 1rem 0;
    box-shadow: $atum-box-shadow;
    width: 100%;

    @include box-shadow($box-shadow-sm);

    > legend {
      font-weight: bold;
      padding: 0 .5rem;
      background-color: var(--atum-bg-dark);
      color: var(--atum-text-light);
      width: auto;
      margin-bottom: 1.1rem;
	}
   }
}
