// com_modules

.admin.com_modules {
  .js-stools-container-bar .btn-toolbar {
    float: left;
  }

  .treeselect {
    .list-unstyled {
      padding-left: 40px;
    }

    .treeselect-toggle {
      padding: 2px;
      cursor: pointer;
    }

    .tree-label,
    .nav-header {
      margin-left: 15px;
    }

    .treeselect-menu {
      margin-left: 5px;
    }
  }
}
