.new-modules {
  .card-columns {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.new-module {
  display: flex;
  background-color: hsl(var(--hue),60%,97%);
  border: 1px solid hsl(var(--hue),50%,93%);
  border-radius: $border-radius;
  color: hsl(var(--hue),30%,40%);
  overflow: hidden;

  * {
    transition: all .25s ease;
  }

  &-details {
    flex: 1 0;
    padding: 1rem;
  }

  &-title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: .25rem;
  }
  
  &-caption {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin: 0;
    font-size: .875rem;
  }
  
  &-link {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 2.5rem;
    font-size: 1.2rem;
    background: hsl(var(--hue),50%,93%);

    span {
      color: hsl(var(--hue),30%,40%);
      margin-bottom: 10px;
    }

    &:hover {
      background: var(--atum-bg-dark);

      span {
        color: white;
      }
    }
  }
}
