.jed-container {
  .grid-container .card {
    margin-bottom: 2rem;

    .card-body {
      padding: .5rem
    }

    .card-img, .card-img-top {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      height: 6rem;
      overflow: hidden;
    }
  }
}
