// com_cpanel

@import "../variables";

.cpanel-add-module-icon,
.com-cpanel {

  &-help, &-system {

    .list-group-item {
      padding: 0;

      a {
        display: block;
        padding: $list-group-item-padding-y $list-group-item-padding-x;
      }
    }
  }

  &-help {

    &__header {
      color: var(--atum-special-color);
    }

    a {
      color: var(--atum-link-color);
    }

    h2 {
      font-size: $h4-font-size;
    }

    .list-group {
      box-shadow: $atum-box-shadow;
    }
  }

  &-system {
    column-count: 4;

    &__category {
      margin-bottom: 1.5em;
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }

    &__header {
      color: var(--atum-special-color);

      span {
        margin-right: 5px;
      }
    }

    a {
      color: var(--atum-link-color);
    }

    h2 {
      font-size: $h4-font-size;
    }

    .list-group {
      box-shadow: $atum-box-shadow;
    }

    @include media-breakpoint-down(md) {
      column-count: 2;
    }

    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }
}

.com_cpanel {

  .content {
    margin-top: 0;
  }

  .card {

    p:first-of-type {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .list-group,
    .table {
      background-color: $white;
      box-shadow: $atum-box-shadow;

      > .published {
        padding-left: .9rem;
        border-left: 5px solid var(--success);
      }

      > .unpublished {
        padding-left: .9rem;
        border-left: 5px solid var(--danger);
      }
    }

  }

  .list-group-item {
    img {
      width: 100%;
      height: auto;
    }
  }

  .card-header {
    font-size: $h4-font-size;
    color: var(--atum-bg-dark);
    font-weight: $font-weight-bold;
    background: var(--card-bg);
  }

  .module-actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: $zindex-actions;

    > a {
      display: inline-block;
      width: 2.6em;
      height: 2.6em;
      line-height: 2.6em;
      color: var(--atum-special-color);
      text-align: center;
    }
  }

  .cpanel-add-module {
    background-color: var(--atum-bg-light);
    color: var(--atum-text-dark);
    border: 0.125rem var(--white) dashed;
    position: relative;
    transition: all .3s ease-in;

    @include hover-focus-active() {
      border-color: var(--atum-bg-dark);
      text-decoration: none;
      background-color: var(--white);

      .cpanel-add-module-icon {

        .fa {
          opacity: 0.3;
        }
      }
    }

    span {
      position: relative;
    }

    .cpanel-add-module-icon {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .fa {
        transition: all .3s ease-in;
        font-size: 7rem;
        transform: translateX(-100%);
      }
    }
  }
}
