// com_config

@import "../variables";

.com_config {

  .content {
    background-color: transparent;
  }

  [class^='col-'] {

    > fieldset {
      margin-bottom: 2rem;
    }
  }

  .rule-notes,
  .filter-notes {
    padding: 1em;
    background-color: $white;
  }

  .options-menu{
    .burger-toggler-icon:before{
      font: normal normal normal 16px/1 FontAwesome;
      content: "\f039 ";
    }
  .revert-controls .controls {
    margin-left: 0;
  }
}
