.new-modules {
  .card-columns {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .card {
    display: flex;

    .btn {
      width: 100%;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
