.com_content {
	&.layout-edit {
		.container-main {
			background-color: transparent;
		}
		.card-body {
			background: transparent;
			padding: 0;
			box-shadow: none;
		}
		.table {
			th,
			td {
				font-weight: normal;
				background-color: $white;
			}
		}
		.field-media-wrapper {
			&, .field-media-preview {
				width: 100%;
				max-width: none;
			}
		}
		.subhead {
			background-color: transparent;
		}
		joomla-field-media .field-media-preview {
			height: 164px;
		}
		joomla-tab {
			#attrib-basic[active],
			#editor[active] {
				display: grid;
				grid-template-columns: calc(50% - 15px) calc(50% - 15px);
				grid-column-gap: 30px;
				@include media-breakpoint-down(md) {
					display: block;
					grid-template-columns: 100%;
				}
			}
		}
	}
}
