.com_tags {

  #fieldset-image-intro,
  #fieldset-image-fulltext {
    > div {
      grid-template-columns: 1fr;
    }

    @include media-breakpoint-up(md) {
      display: inline-block;
      width: calc(50% - 15px);
    }
  }

  #fieldset-image-intro {
    margin-right: 15px;
  }

  #fieldset-image-fulltext {
    margin-left: 15px;
  }
}
