/*------------------------Menu css horizontal Lissa--------------------------------*/
.moduletable_menu ul li {
    float: left;
    display: inline;
	padding:10px 0px 10px 0px;
}
.moduletable_menu ul {
    padding-left: 0;
	position:absolute;
	background: transparent;
	font-family: JokteF;
	text-transform: uppercase;
}
.moduletable_menu ul ul {
  
	}
.moduletable_menu ul.menu li ul a {
    border: none;
}


.moduletable_menu ul.menu li ul li{
    margin-left: -1px;
    margin-top: -1px;
    padding: 10px;
    width: 100px;
    background: #333;
    height: 0;
	display: none;
    float: none;
    padding-left: 0;
}
.moduletable_menu ul.menu li:hover ul li {
    display: block;
	background:#ddd;
	height: 100%;
	margin-top: 5px;
    padding-top: 10px;
    width: 150px;
	-moz-transition: all 0.6s ease-in .1s;
	-webkit-transition: all 0.6s ease-in .1s;
	-o-transition: all 0.6s ease-in .1s;
	-ms-transition: all 0.6s ease-in .1s;
}

 .moduletable_menu ul.menu li ul li:hover {
background:#ccc;
-moz-transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	-ms-transition: all 0.5s ease-in;
}   
	

.moduletable_menu ul.menu li ul:hover {
border:transparent;
}
.moduletable_menu ul.menu li a {
    padding: 2px 15px;
    border-right: 1px #ccc solid;
}

.moduletable_menu ul.menu ul li:hover, .moduletable_menu ul.menu ul li a:hover {
    background: transparent;
    color: #fff;
	-moz-transition: color 0.3s ease-in .1s;
	-webkit-transition: color 0.3s ease-in .1s;
	-o-transition: color 0.3s ease-in .1s;
	-ms-transition: color 0.3s ease-in .1s;
}
.moduletable_menu ul.menu .active a  {
    background-color: #333; 
}

.moduletable_menu ul.menu .active a{
color: #fff;
}

.moduletable_menu ul.menu li a:hover {
  background: #333;
    color: #fff;
}

.moduletable_menu ul.menu .parent a {
color:#333;
background:transparent;}

.moduletable_menu ul.menu li .parent ul li {
    background-color: transparent;
    border: transparent;
    display: block;
    float: left;
    margin-left: 162px;
   
    width: 100px;
	 visibility: hidden;

}
.moduletable_menu ul.menu li .parent:hover ul li  {
     background:#ccc;
	-moz-transition: all 0.5s ease-in .1s;
	-webkit-transition: all 0.5s ease-in .1s;
	-o-transition: all 0.5s ease-in .1s;
	-ms-transition: all 0.5s ease-in .1s;
    border: transparent;
    display: block;
    float: left;
    width: 150px;
	visibility: visible;
  }
.moduletable_menu ul.menu li.active.parent a {
background-color: #333333;
color: #FFFFFF;
}
.moduletable_menu ul.menu .parent ul li a {
color:#222 !important;
background: transparent !important;
font-size:80%;
}

.moduletable_menu ul.menu .parent ul li:hover a {
    color: #fff !important;
	-moz-transition: color 0.5s ease-in .1s;
	-webkit-transition: color 0.5s ease-in .1s;
	-o-transition: color 0.5s ease-in .1s;
	-ms-transition: color 0.5s ease-in .1s;
}
.moduletable_menu ul.menu .parent ul li li a {
    color: transparent !important;
}	
.moduletable_menu ul.menu li .parent ul:hover li{
background:#ccc;
width:150px;
}

.moduletable_menu ul.menu li .parent ul:hover li:hover {
 background: #AE0C0C;
}
.moduletable_menu ul.menu li .parent ul:hover li a {
color:#fff;
}
.moduletable_menu ul.menu li .parent ul li {
    margin-left: 15px;
	text-align:left;
}
.moduletable_menu ul.menu li .parent ul {
    margin-top: -30px;
    width: 150px;
    margin-left: 150px;}

/*********Menu vertical Lissa************************/

.moduletable .menu {
line-height: 25px;
text-transform: uppercase;
}
.moduletable .menu  li.parent ul{
text-transform:none;
background: #fff;
text-transform: none;
list-style: none;
padding:0;
}
.moduletable .menu  .parent:hover li{
display:block;
}
.moduletable ul.menu li.active li.active .parent .active {
    background: #ccc ;
}
.moduletable ul.menu li.active li.active.parent {
    background: #fff ;
	}
.moduletable ul.menu li.active li.active:hover{
    Background: #ae0c0c;
	-moz-transition: background 0.5s ease-in .1s;
	-webkit-transition: background 0.5s ease-in .1s;
	-o-transition: background 0.5s ease-in .1s;
	-ms-transition: background 0.5s ease-in .1s;
}
.moduletable .menu .parent li:hover {
color:fff;
}
.moduletable ul.menu li.active li.active li.active a{
	color:#333;
	-moz-transition: color 0.5s ease-in .1s;
	-webkit-transition: color 0.5s ease-in .1s;
	-o-transition: color 0.5s ease-in .1s;
	-ms-transition: color 0.5s ease-in .1s;
	
}
.moduletable ul.menu ul.parent li:hover {
    color: #fff !important;
    padding: 0;
}
.moduletable ul.menu li.active li.active li.active a:hover {
	color:#fff;
	-moz-transition: color 0.5s ease-in .1s;
	-webkit-transition: color 0.5s ease-in .1s;
	-o-transition: color 0.5s ease-in .1s;
	-ms-transition: color 0.5s ease-in .1s;
}
.moduletable .menu .parent li:hover a {
    color: #fff;
	-moz-transition: color 0.5s ease-in .1s;
	-webkit-transition: color 0.5s ease-in .1s;
	-o-transition: color 0.5s ease-in .1s;
	-ms-transition: color 0.5s ease-in .1s;
}
.moduletable ul.menu li.active a {
    color: #fff;
}
.moduletable ul.menu li.active {
    background: #bbb;
}
.moduletable ul.menu .parent ul li a {
    color: #AE0C0C;
	}
.moduletable .menu li.parent ul a:hover {
color:333;
}

.moduletable ul.menu li.active li.active {

}
.moduletable .menu li.parent ul li.parent a:hover {
    color: #fff;
	-moz-transition: color 0.5s ease-in .1s;
	-webkit-transition: color 0.5s ease-in .1s;
	-o-transition: color 0.5s ease-in .1s;
	-ms-transition: color 0.5s ease-in .1s;
}
.moduletable ul.menu li.active ul li.active a {
    color: #000;
}
.moduletable ul.menu li:hover a {
    color: #fff;
	-moz-transition: color 0.5s ease-in .1s;
	-webkit-transition: color 0.5s ease-in .1s;
	-o-transition: color 0.5s ease-in .1s;
	-ms-transition: color 0.5s ease-in .1s;
}
.moduletable ul.menu li:hover {
    background: #ccc;
	-moz-transition: all 0.5s ease-in .1s;
	-webkit-transition: all 0.5s ease-in .1s;
	-o-transition: all 0.5s ease-in .1s;
	-ms-transition: all 0.5s ease-in .1s;
}
.moduletable ul.menu li.active li.parent:hover {
background:#AE0C0C;
}
.moduletable ul.menu li.active li.active li.active a {
    color: #AE0C0C;
    font-size: 90%;
    padding-left: 5px;
}