<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields
		group="blocking"
		label="Comments_Config_Blocking_Label"
		description="Comments_Config_Blocking_Label"
		hidden="true">
		<field
			name="blockusers"
			type="textarea"
			default=""
			cols="30"
			rows="4"
			label="COMMENTS_BLOCKING_USERS"
			description="COMMENTS_BLOCKING_USERS_DESC" />
		<field
			name="blockips"
			type="textarea"
			default=""
			cols="30"
			rows="4"
			label="COMMENTS_BLOCKING_IPS"
			description="COMMENTS_BLOCKING_IPS_DESC" />
		<field
			name="blockhosts"
			type="textarea"
			default=""
			cols="30"
			rows="4"
			label="COMMENTS_BLOCKING_HOSTS"
			description="COMMENTS_BLOCKING_HOSTS_DESC" />
	</fields>

	<fields
		group="bookmarking"
		label="Comments_Config_Bookmarking_Label"
		description="Comments_Config_Bookmarking_Label"
		hidden="true">
		<field
			name="sharing_style"
			type="list"
			default="0"
			label="COMMENTS_ICON_STYLE"
			description="COMMENTS_ICON_STYLE_DESC">
			<option
				value="0">COMMENTS_ICONS_ONLY</option>
			<option
				value="1">COMMENTS_ICONS_AND_TEXT</option>
			<option
				value="2">COMMENTS_TEXT_ONLY</option>
		</field>

		<field
			name="sharing_heading"
			type="list"
			default="0"
			label="COMMENTS_SHARE_HEADING"
			description="COMMENTS_SHARE_HEADING_DESC">
			<option
				value="0">COMMENTS_DO_NOT_SHOW</option>
			<option
				value="1">COMMENTS_ICON_ONLY</option>
			<option
				value="2">COMMENTS_ICON_AND_TEXT</option>
			<option
				value="3">COMMENTS_TEXT_ONLY</option>
		</field>

		<field
			name="sharing_email"
			type="radio"
			default="1"
			label="COMMENTS_SHARE_EMAIL"
			description="COMMENTS_SHARE_EMAIL_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_blinklist"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_BLINKLIST"
			description="COMMENTS_BOOKMARKS_BLINKLIST_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_bloglines"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_BLOGLINES"
			description="COMMENTS_BOOKMARKS_bloglines_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_blogmarks"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_blogmarks"
			description="COMMENTS_BOOKMARKS_blogmarks_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_buzz"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_buzz"
			description="COMMENTS_BOOKMARKS_buzz_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_connotea"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_connotea"
			description="COMMENTS_BOOKMARKS_connotea_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_delicious"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_DELICIOUS"
			description="COMMENTS_BOOKMARKS_DELICIOUS_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_design_float"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_design_float"
			description="COMMENTS_BOOKMARKS_design_float_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_digg"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_DIGG"
			description="COMMENTS_BOOKMARKS_DIGG_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_diigo"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_diigo"
			description="COMMENTS_BOOKMARKS_diigo_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_dotnetkicks"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_dotnetkicks"
			description="COMMENTS_BOOKMARKS_dotnetkicks_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_dzone"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_dzone"
			description="COMMENTS_BOOKMARKS_dzone_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_facebook"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_FACEBOOK"
			description="COMMENTS_BOOKMARKS_FACEBOOK_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_fark"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_fark"
			description="COMMENTS_BOOKMARKS_fark_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_faves"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_faves"
			description="COMMENTS_BOOKMARKS_faves_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_fleck"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_fleck"
			description="COMMENTS_BOOKMARKS_fleck_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_friendfeed"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_friendfeed"
			description="COMMENTS_BOOKMARKS_friendfeed_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_friendsite"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_friendsite"
			description="COMMENTS_BOOKMARKS_friendsite_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_furl"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_FURL"
			description="COMMENTS_BOOKMARKS_FURL_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_google"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_GOOGLE"
			description="COMMENTS_BOOKMARKS_GOOGLE_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_kaboodle"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_kaboodle"
			description="COMMENTS_BOOKMARKS_kaboodle_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_kirtsy"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_kirtsy"
			description="COMMENTS_BOOKMARKS_kirtsy_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_hacker_news"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_hacker_news"
			description="COMMENTS_BOOKMARKS_hacker_news_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_hyves"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_hyves"
			description="COMMENTS_BOOKMARKS_hyves_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_identica"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_identica"
			description="COMMENTS_BOOKMARKS_identica_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_linkedin"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_linkedin"
			description="COMMENTS_BOOKMARKS_linkedin_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_magnolia"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_MAGNOLIA"
			description="COMMENTS_BOOKMARKS_MAGNOLIA_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_maple"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_maple"
			description="COMMENTS_BOOKMARKS_maple_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_mister_wong"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_mister_wong"
			description="COMMENTS_BOOKMARKS_mister_wong_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_mixx"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_mixx"
			description="COMMENTS_BOOKMARKS_mixx_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_myspace"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_myspace"
			description="COMMENTS_BOOKMARKS_myspace_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_netscape"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_netscape"
			description="COMMENTS_BOOKMARKS_netscape_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_netvibes"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_netvibes"
			description="COMMENTS_BOOKMARKS_netvibes_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_netvouz"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_netvouz"
			description="COMMENTS_BOOKMARKS_netvouz_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_newsvine"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_NEWSVINE"
			description="COMMENTS_BOOKMARKS_NEWSVINE_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_nujij"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_nujij"
			description="COMMENTS_BOOKMARKS_nujij_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_ping"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_ping"
			description="COMMENTS_BOOKMARKS_ping_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_plugim"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_plugim"
			description="COMMENTS_BOOKMARKS_plugim_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_posterous"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_posterous"
			description="COMMENTS_BOOKMARKS_posterous_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_propeller"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_propeller"
			description="COMMENTS_BOOKMARKS_propeller_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_reddit"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_REDDIT"
			description="COMMENTS_BOOKMARKS_REDDIT_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_shoutwire"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_shoutwire"
			description="COMMENTS_BOOKMARKS_shoutwire_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_simpy"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_simpy"
			description="COMMENTS_BOOKMARKS_simpy_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_slashdot"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_slashdot"
			description="COMMENTS_BOOKMARKS_slashdot_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_sphere"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_sphere"
			description="COMMENTS_BOOKMARKS_sphere_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_spurl"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_spurl"
			description="COMMENTS_BOOKMARKS_spurl_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_squidoo"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_squidoo"
			description="COMMENTS_BOOKMARKS_squidoo_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_sphinn"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_sphinn"
			description="COMMENTS_BOOKMARKS_sphinn_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_stumbleupon"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_STUMBLEUPON"
			description="COMMENTS_BOOKMARKS_STUMBLEUPON_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_tailrank"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_TAILRANK"
			description="COMMENTS_BOOKMARKS_TAILRANK_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_technorati"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_TECHNORATI"
			description="COMMENTS_BOOKMARKS_TECHNORATI_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_tipd"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_tipd"
			description="COMMENTS_BOOKMARKS_tipd_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_thisnext"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_thisnext"
			description="COMMENTS_BOOKMARKS_thisnext_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_twitter"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_TWITTER"
			description="COMMENTS_BOOKMARKS_TWITTER_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_webride"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_webride"
			description="COMMENTS_BOOKMARKS_webride_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_wists"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_wists"
			description="COMMENTS_BOOKMARKS_wists_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_yahoo_bookmarks"
			type="radio"
			default="0"
			label="COMMENTS_BOOKMARKS_yahoo_bookmarks"
			description="COMMENTS_BOOKMARKS_yahoo_bookmarks_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="sharing_yahoo"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_YAHOO"
			description="COMMENTS_BOOKMARKS_YAHOO_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>
	</fields>

	<fields
		group="comments"
		label="Comments_Config_Comments_Label"
		description="Comments_Config_Comments_Label"
		hidden="true">
		<field
			name="enable_comments"
			type="radio"
			default="0"
			label="COMMENTS_COMMENTS_ENABLED"
			description="COMMENTS_COMMENTS_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_trackbacks"
			type="radio"
			default="0"
			label="COMMENTS_TRACKBACKS_ENABLED"
			description="COMMENTS_TRACKBACKS_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_pings"
			type="radio"
			default="0"
			label="COMMENTS_PINGS_ENABLED"
			description="COMMENTS_PINGS_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="guestcomment"
			type="radio"
			default="1"
			label="COMMENTS_GUEST_COMMENTS_ENABLED"
			description="COMMENTS_GUEST_COMMENTS_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_comment_feeds"
			type="radio"
			default="1"
			label="COMMENTS_COMMENT_FEEDS"
			description="COMMENTS_COMMENT_FEEDS_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_ratings"
			type="radio"
			default="1"
			label="COMMENTS_COMMENT_RATING_ENABLED"
			description="COMMENTS_COMMENT_RATING_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_sharing"
			type="radio"
			default="1"
			label="COMMENTS_BOOKMARKS_ENABLED"
			description="COMMENTS_BOOKMARKS_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="show_name_as"
			type="radio"
			default="1"
			label="COMMENTS_SHOW_NAME_AS"
			description="COMMENTS_SHOW_NAME_AS_DESC">
			<option
				value="0">COMMENTS_USER_NAME</option>
			<option
				value="1">COMMENTS_USER_LOGIN_NAME</option>
		</field>

		<field
			name="show_form"
			type="radio"
			default="1"
			label="COMMENTS_SHOW_FORM"
			description="COMMENTS_SHOW_FORM_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_subject"
			type="radio"
			default="1"
			label="COMMENTS_ENABLE_SUBJECT"
			description="COMMENTS_ENABLE_SUBJECT_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_website"
			type="radio"
			default="1"
			label="COMMENTS_ENABLE_WEBSITE"
			description="COMMENTS_ENABLE_WEBSITE_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="star_file"
			type="list"
			default=""
			label="COMMENTS_RATING_STAR_FILE"
			description="COMMENTS_RATING_STAR_FILE_DESC">
			<option
				value="">COMMENTS_STAR_YELLOW</option>
			<option
				value="star_black">COMMENTS_STAR_BLACK</option>
			<option
				value="star_blue">COMMENTS_STAR_BLUE</option>
			<option
				value="star_green">COMMENTS_STAR_GREEN</option>
			<option
				value="star_orange">COMMENTS_STAR_ORANGE</option>
			<option
				value="star_purple">COMMENTS_STAR_PURPLE</option>
		</field>

		<field
			name="enable_html"
			type="radio"
			default="0"
			label="COMMENTS_COMMENT_HTML_ENABLED"
			description="COMMENTS_COMMENT_HTML_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_bbcode"
			type="radio"
			default="1"
			label="COMMENTS_COMMENT_BBCODE_ENABLED"
			description="COMMENTS_COMMENT_BBCODE_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_smiley_palette"
			type="radio"
			default="1"
			label="COMMENTS_COMMENT_SMILEY_PALETTE_ENABLED"
			description="COMMENTS_COMMENT_SMILEY_PALETTE_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="enable_gravatar"
			type="radio"
			default="0"
			label="COMMENTS_GRAVATAR_ENABLED"
			description="COMMENTS_GRAVATAR_ENABLED_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="list_order"
			type="radio"
			default="ASC"
			label="COMMENTS_LIST_ORDER"
			description="COMMENTS_LIST_ORDER_DESC">
			<option
				value="ASC">Oldest First</option>
			<option
				value="DESC">Newest First</option>
		</field>

		<field
			name="pagination"
			type="list"
			default="0"
			label="COMMENTS_PAGINATION_ENABLED"
			description="COMMENTS_PAGINATION_ENABLED_DESC">
			<option
				value="0">All</option>
			<option
				value="5">5</option>
			<option
				value="10">10</option>
			<option
				value="20">20</option>
			<option
				value="50">50</option>
		</field>

		<field
			name="date_format"
			type="list"
			default=""
			label="COMMENTS_DATE_FORMAT"
			description="COMMENTS_DATE_FORMAT_DESC">
			<option
				value="">COMMENTS_SYSTEM_DEFAULT</option>
			<option
				value="%c">Wed 17 Jul 18:00:05 2008</option>
			<option
				value="%Y-%m-%d %H:%M:%S">2007-06-17 18:00:05</option>
			<option
				value="%d-%m-%Y">17-06-2007</option>
			<option
				value="%A %e %B, %Y">Tuesday 17 July, 2007</option>
			<option
				value="%e %B %Y">17 July 2007</option>
		</field>

		<field
			name="spacer1"
			type="spacer"
			hr="true"
			/>
		<field
			name="notify_comments"
			type="radio"
			default="0"
			label="COMMENTS_COMMENT_NOTIFY"
			description="COMMENTS_COMMENT_NOTIFY_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Only Guests</option>
			<option
				value="2">Anyone</option>
		</field>
		<field
			name="emailto"
			type="text"
			size="40"
			default=""
			label="COMMENTS_COMMENT_NOTIFY_ADDRESS"
			description="COMMENTS_COMMENT_NOTIFY_ADDRESS_DESC" />

		<field
			name="spacer2"
			type="spacer"
			hr="true"
			/>
		<field
			name="moderate_comments"
			type="radio"
			default="1"
			label="COMMENTS_COMMENTS_MODERATION"
			description="COMMENTS_COMMENTS_MODERATION_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Only Guests</option>
			<option
				value="2">Anyone</option>
		</field>
	</fields>

	<fields
		group="spam"
		label="Comments_Config_Spam_Label"
		description="Comments_Config_Spam_Label"
		hidden="true">
		<field
			name="minlength"
			type="text"
			size="6"
			default="6"
			label="COMMENTS_COMMENT_MIN_LENGTH"
			description="COMMENTS_COMMENT_MIN_LENGTH_DESC" />
		<field
			name="maxlength"
			type="text"
			size="6"
			default="1024"
			label="COMMENTS_COMMENT_MAX_LENGTH"
			description="COMMENTS_COMMENT_MAX_LENGTH_DESC" />

		<field
			name="captcha"
			type="radio"
			default="0"
			label="COMMENTS_SPAM_CAPTCHA"
			description="COMMENTS_SPAM_CAPTCHA_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Only Guests</option>
			<option
				value="2">Anyone</option>
		</field>

		<field
			name="spacer3"
			type="spacer"
			hr="true"
			/>
		<field
			name="enable_recaptcha"
			type="radio"
			default="0"
			label="COMMENTS_SPAM_RECAPTCHA"
			description="COMMENTS_SPAM_RECAPTCHA_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="recaptcha_public"
			type="text"
			size="40"
			label="COMMENTS_SPAM_RECAPTCHA_PUBLIC"
			description="COMMENTS_SPAM_RECAPTCHA_PUBLIC_DESC" />
		<field
			name="recaptcha_private"
			type="text"
			size="40"
			label="COMMENTS_SPAM_RECAPTCHA_PRIVATE"
			description="COMMENTS_SPAM_RECAPTCHA_PRIVATE_DESC" />

		<field
			name="spacer4"
			type="spacer"
			hr="true"
			/>
		<field
			name="enable_akismet"
			type="radio"
			default="0"
			label="COMMENTS_SPAM_AKISMET"
			description="COMMENTS_SPAM_AKISMET_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="akismet_key"
			type="text"
			size="20"
			label="COMMENTS_SPAM_AKISMET_KEY"
			description="COMMENTS_SPAM_AKISMET_KEY_DESC" />

		<field
			name="enable_moovur"
			type="radio"
			default="0"
			label="COMMENTS_SPAM_MOOVUR"
			description="COMMENTS_SPAM_MOOVUR_DESC">
			<option
				value="0">No</option>
			<option
				value="1">Yes</option>
		</field>

		<field
			name="flooduser"
			type="text"
			size="5"
			default="30"
			label="COMMENTS_COMMENT_FLOOD_TIME_USER"
			description="COMMENTS_COMMENT_FLOOD_TIME_USER_DESC" />

		<field
			name="floodany"
			type="text"
			size="5"
			default="1"
			label="COMMENTS_COMMENT_FLOOD_TIME_WORLD"
			description="COMMENTS_COMMENT_FLOOD_TIME_WORLD_DESC" />
	</fields>

	<fields
		group="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		hidden="true">

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			filter="rules"
			component="com_comments"
			section="component" />
	</fields>
</config>
