// Vars
$sidebar-width: 16.666666%;

/* General layout */
.media-container {
}

.media-main {
}

.media-sidebar {
}

/* Media breadcrumb */
.media-toolbar {
  .breadcrumb {
    margin: 0;
    padding: 0 7.5px;
    background: transparent;
    & > li > a {
      cursor: pointer;
    }
    & > li:last-child a {
      font-weight: bold;
    }
  }
}

/* Media Tree */
ul.media-tree {
  list-style: none;
  padding: 15px 0 0;
  margin: 0;
  overflow-x: hidden;
}

ul.media-tree ul {
  padding-top: 0;
}

.media-tree-item {
  position: relative;
  display: block;
}

.media-tree-item a {
  display: block;
  position: relative;
  padding: 5px 10px;
  margin-bottom: 2px;
  cursor: pointer;
  border-left: 4px solid transparent;
  text-decoration: none;
  line-height: 26px;
  white-space: nowrap;
}

.media-tree-item a:hover {
  background-color: #e1e1e1;
  border-color: #646464;
  text-decoration: none;
}

.media-tree-item.active > a {
  background-color: transparent;
  border-color: #2384d3;
}

.media-tree-item .item-icon {
  display: inline-block;
  line-height: normal;
  padding-right: 6px;
  vertical-align: middle;
  color: #646464;
  font-size: 20px;
}

.media-tree-item.active > a .item-icon {
  color: #2384d3;
}

.item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
}

.media-tree-item.active > a .item-name {
  font-weight: bold;
}

/* Media browser */
.media-browser-items {
  display: flex;
  flex-wrap: wrap;
}

.media-browser-item {
  position: relative;
  margin-bottom: 15px;
  margin-right: 15px;
  width: calc(25% - 15px);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.media-browser-item-preview {
  position: relative;
  border-radius: 1px;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #2384d3;
}

.media-browser-item-info {
  padding: 8px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

@media only screen and (min-width: 979px) {
  .media-browser-item {
    width: calc(20% - 15px);
  }

  .media-browser-item-preview {
    height: 150px;
  }
}

@media only screen and (min-width: 1200px) {
  .media-browser-item {
    width: calc(14.285714285714286% - 15px);
  }
}

.image-brackground {
  width: 100%;
  height: 100%;
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-color: white;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);
}

.image-cropped {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}

/* Animations */
.slide-fade-enter-active {
  transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.slide-fade-leave-active {
  transition: all .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
