// Defaults
$gutter-width:                      15px;
$highlight-color:                   #007eb7;
$border-color:                      #d8d8d8;
$border-radius:                     .25rem;

// Layout
$col-main-panel-width:              83.3333%;
$col-side-panel-width:              16.6667%;
$col-gutter-width:                  $gutter-width;
$col-box-shadow:                    0 0 3px rgba(0, 0, 0, .075);

// Sidebar
$sidebar-drive-bg:                  #fff;
$sidebar-tree-line-color:           $border-color;
$sidebar-tree-icon-color:           #aaa;
$sidebar-tree-line-height:          26px;
$sidebar-tree-folder-icon:          "\f114";
$sidebar-tree-item-hover-bg:        #e1e1e1;
$sidebar-active-icon-color:         $highlight-color;

// Toolbar
$toolbar-height:                    46px;
$toolbar-bg:                        #f5f5f5;
$toolbar-icon-width:                50px;
$toolbar-icon-color:                #464a4c;
$toolbar-icon-bg-hover:             #f0f0f0;
$toolbar-loader-color:              linear-gradient(to right, #59afff 0, #59daff 100%);
$toolbar-loader-height:             2px;

// Breadcrumbs
$breadcrumbs-bg:                    #fafafa;
$breadcrumbs-current-bg:            #fff;

// Media Browser Grid
$grid-gutter-width:                 $col-gutter-width;
$grid-outside-padding:              $col-gutter-width;
$grid-item-hover-color:             rgba(#000, .5);
$grid-item-border-radius:           $border-radius;
$grid-item-icon-size:               1.3rem;
$grid-item-icon-color:              #fff;
$grid-item-icon-bg-color:           rgba(0,0,0,.8);
$grid-item-icon-color-hover:        rgba(0,0,0,.8);
$grid-item-icon-bg-color-hover:     #fff;
$grid-item-icon-warning-icon-bg:    #d9534f;
$grid-item-no-preview-bg:           #f5f5f5;
$grid-item-width-xs:                8.333%;
$grid-item-width-sm:                12.5%;
$grid-item-width-md:                16.666%;
$grid-item-width-lg:                25%;
$grid-item-width-xl:                50%;

// Media Browser Table
$table-item-height:                 30px;
$table-item-icon-size:              1.2rem;
$table-item-icon-color:             #656565;
$table-item-icon-bg:                rgba(0, 0, 0, .015);
$table-item-icon-color-selected:    #fff;
$table-item-icon-bg-selected:       #006898;
$table-item-bg-hover:               rgba(0, 0, 0, .03);

// Media Info bar
$info-bg:                           #fafafa;
$info-title-bg:                     #f6f6f6;
$info-title-height:                 3.6rem;
$info-dt-width:                     33.33333%;
$info-dd-width:                     66.66667%;
$info-close-color:                  #ccc;
$info-close-color-hover:            #aaa;

// Table Icon Mapping
$icon-type-default:                 "\f016";
$icon-type-folder:                  "\f114";
$icon-type-images:                  "\f1c5";
$icon-type-video:                   "\f1c8";
$icon-type-audio:                   "\f1c7";
$icon-type-docs:                    "\f0f6";
$icon-type-code:                    "\f1c9";

// Drag n Drop Upload
$dnd-bg:                            rgba(245, 245, 245, .8);
$dnd-icon-color:                    #1c3d5c;
$dnd-border:                        3px dashed #999;

// Modal
$modal-backdrop-color:              rgba(0, 0, 0, .7);
$modal-box-shadow:                  0 0 10px rgba(0, 0, 0, .5);
$modal-preview-text-color:          #fff;
