// Media Browser Grid
$grid-gutter-width:                 20px;
$grid-outside-padding:              15px;
$grid-item-hover-color:             rgba(#000, .5);
$grid-item-border-radius:           .25rem;
$grid-item-icon-size:               1.3rem;
$grid-item-icon-color:              #fff;
$grid-item-icon-bg-color:           rgba(0,0,0,.8);
$grid-item-icon-color-hover:        rgba(0,0,0,.8);
$grid-item-icon-bg-color-hover:     #fff;
$grid-item-icon-warning-icon-bg:    #d9534f;
$grid-item-no-preview-bg:           #f5f5f5;
