/* CSS Document */

div#toolbar-box {
  float: left;
  width: 100%;
}

#minwidth, #minwidth-body {width:expression(document.body.clientWidth <= 960? "960px": "auto"); }

#content-box {
	float: left;
}

input { border-width: expression(this.type=="radio"?'0px':this.type=="checkbox"?'0px':'1px'); }

