# A list of files to ignore from linting
*.js
!*.es6.js
# TODO: We should include all the build scripts (es6 webcomponents build scripts etc) once they have their codestyle fixed
# !build/**/**/**/**/*.js
# !build/**/**/**/**/**/*.js
*.vue
