# A list of files to ignore from linting
# TODO: Fix the webcomponents codestyle then also allow linting on them
*.js
!*.es6.js
administrator/components/com_media/node_modules/uri-js/node_modules/punycode/punycode.es6.js
*.vue
