# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea

# Local System Files (i.e. cache, logs, etc.) #
/administrator/cache
/cache
/logs
/tmp
/configuration.php
/.htaccess
/web.config

# Test Related Files #
/phpunit.xml
/tests/system/webdriver/tests/logs/
/tests/system/servers/configdef.php

# phpDocumentor Logs #
phpdoc-*

# Patch Tester
administrator/components/com_patchtester/
administrator/templates/hathor/html/com_patchtester
components/com_patchtester/

