[submodule "components/com_whi"]
	path = components/com_whi
	url = git@github.com:PM84/joomla_com_whi.git
[submodule "administrator/components/com_whi"]
	path = administrator/components/com_whi
	url = git@github.com:PM84/com_whi_admin.git
[submodule "administrator/components/com_rssfactory"]
	path = administrator/components/com_rssfactory
	url = https://github.com/PM84/rss_factory_component_admin.git
[submodule "components/com_rssfactory"]
	path = components/com_rssfactory
	url = https://github.com/PM84/rss_factory_component_site.git
[submodule "modules/mod_rssfactory"]
	path = modules/mod_rssfactory
	url = https://github.com/PM84/rss_factory_modules_site_rssfactory.git
[submodule "modules/mod_rssfactory_categories"]
	path = modules/mod_rssfactory_categories
	url = https://github.com/PM84/rss_factory_modules_site_rssfactory_categories.git
[submodule "plugins/content/rssfactory"]
	path = plugins/content/rssfactory
	url = https://github.com/PM84/rss_factory_plugin_content.git
[submodule "plugins/finder/rssfactory"]
	path = plugins/finder/rssfactory
	url = https://github.com/PM84/rss_factory_plugin_finder.git
[submodule "plugins/system/rssfactory"]
	path = plugins/system/rssfactory
	url = https://github.com/PM84/rss_factory_plugin_system.git
[submodule "plugins/search/rssfactory"]
	path = plugins/search/rssfactory
	url = https://github.com/PM84/rss_factory_plugin_search.git
[submodule "media/com_rssfactory"]
	path = media/com_rssfactory
	url = https://github.com/PM84/rss_factory_component_media.git
[submodule "plugins/system/pemasoft_telegram_webhook"]
	path = plugins/system/pemasoft_telegram_webhook
	url = https://github.com/PM84/pemasoft_telegram_webhook_plugin_system.git
[submodule "modules/mod_pemasoft_feedreader"]
	path = modules/mod_pemasoft_feedreader
	url = https://github.com/PM84/mod_pemasoft_feedreader.git
[submodule "components/com_pemasoftfeedreader"]
	path = components/com_pemasoftfeedreader
	url = https://github.com/PM84/com_pemasoft_feed_reader_site.git
[submodule "administrator/components/com_pemasoftfeedreader"]
	path = administrator/components/com_pemasoftfeedreader
	url = https://github.com/PM84/com_pemasoft_feed_reader_admin.git
[submodule "plugins/authentication/pmstelegram"]
	path = plugins/authentication/pmstelegram
	url = https://github.com/PM84/plg_auth_telegram.git
