*~
# IDE #
.buildpath
.project
.settings
.DS_Store
.idea

# Install Specific #
configuration.php
/build
/logs
/cache
/tmp
/administrator/cache

# Finder Manifests #
administrator/manifests/files/files_finder_cli.xml
administrator/manifests/files/finder_hathor.xml
administrator/manifests/packages/pkg_finder.xml

# Manifest Language Files #
language/en-GB/en-GB.files_finder_hathor.ini
language/en-GB/en-GB.files_finder_hathor.sys.ini
language/en-GB/en-GB.pkg_finder.ini
language/en-GB/en-GB.pkg_finder.sys.ini

# Extension Script Files #
administrator/modules/mod_finder_status/script.php
plugins/finder/categories/script.php
plugins/finder/contacts/script.php
plugins/finder/content/script.php
plugins/finder/newsfeeds/script.php
plugins/finder/weblinks/script.php
plugins/system/finder/script.php
plugins/system/highlight/script.php
