@import "template";

body {
  direction: rtl;
}
// Javascript Warning
#javascript-warning {
  font-size: 16px;
  text-align: center;
}

textarea {
  resize: both;
}

textarea.vert {
  resize: vertical;
}

textarea.noResize {
  resize: none;
}

.j-install-step {
  select {
    width: 100%;
    margin-right: 0 !important;
  }
}

.j-install-step-header {
  span {
    margin-right: 5px;
    margin-left: auto;
  }
}

.j-install-step-header .fa {
  display: inline;
}

.lang-select {
  left: 0;
}

.control-group {
  .control-label {
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    text-align: right;
  }
}

.form-no-margin {
  .control-group {
    .controls {
      margin-right: 0;
    }
  }
}

.checkboxes {
  .checkbox input {
    margin-right: 0;
  }
}

.form-group {
  text-align: right;
}

.container-installation {
  text-align: right;
}

.j-header-help {
  margin: 20px auto 20px 20px;
}

.j-footer {
  text-align: left;
}

.fa-chevron-right::before {
  content: "ÔÅì";
}

.j-install-last-step .fa {
  display: inline;
}
