<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>
		<field
			name="id"
			type="number"
			label="JGLOBAL_FIELD_ID_LABEL"
			class="readonly"
			readonly="true"
		/>

		<field
			name="title"
			type="text"
			label="COM_COOKIEMANAGER_GROUP_LABEL_TITLE"
			size="40"
			required="true"
		/>
	</fieldset>

	<fields name="params">
		<fieldset name="categoryDescription" label="COM_COOKIEMANAGER_DESCRIPTION_LABEL">
			<field name="description"
				type="subform"
				layout="joomla.form.field.subform.repeatable-table"
				label="COM_COOKIEMANAGER_CATEGORY_DESCRIPTION_LABEL"
				multiple="true"
			>
				<form>
					<field
						name="categorylabel"
						type="text"
						size="30"
						label="COM_COOKIEMANAGER_COOKIES_CATEGORY_LABEL"
						hint="COM_COOKIEMANAGER_COOKIES_CATEGORY_HINT"
						description="COM_COOKIEMANAGER_COOKIES_CATEGORY_DESCRIPTION"
					/>

					<field
						name="categorydescription"
						type="textarea"
						rows="4"
						cols="80"
						label="COM_COOKIEMANAGER_CATEGORY_DECRIPTION_LABEL"
						hint="COM_COOKIEMANAGER_CATEGORY_DECRIPTION_HINT"
						description="COM_COOKIEMANAGER_CATEGORY_DECRIPTION_DESCRIPTION"
					/>
				</form>
			</field>
		</fieldset>

	<fieldset name="cookieCategories" label="JCATEGORIES">
		<field name="categories"
			type="subform"
			layout="joomla.form.field.subform.repeatable-table"
			label="COM_COOKIEMANAGER_COOKIES_CATEGORIES_LABEL"
			multiple="true"
		>
			<form>
				<field
					name="cookieidentifier"
					type="text"
					size="30"
					label="COM_COOKIEMANAGER_COOKIES_UNIQUE_IDENTIFIER_LABEL"
					hint="COM_COOKIEMANAGER_COOKIES_UNIQUE_IDENTIFIER_HINT"
					description="COM_COOKIEMANAGER_COOKIES_UNIQUE_IDENTIFIER_DESCRIPTION"
				/>

				<field
					name="cookiecatlabel"
					type="text"
					size="30"
					label="COM_COOKIEMANAGER_COOKIES_CATEGORY_LABEL"
					hint="COM_COOKIEMANAGER_COOKIES_CATEGORY_HINT"
					description="COM_COOKIEMANAGER_COOKIES_CATEGORY_DESCRIPTION"
				/>

				<field
					name="cookies"
					type="textarea"
					rows="3"
					label="COM_COOKIEMANAGER_COOKIES_NAME_LABEL"
					hint="COM_COOKIEMANAGER_COOKIES_NAME_HINT"
					description="COM_COOKIEMANAGER_COOKIES_NAME_DESCRIPTION"
				/>
			</form>
		</field>
		</fieldset>
	</fields>
</form>
