<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields>
		<field
			name="track_impressions"
			type="radio"
			default="0"
			label="TRACK BANNER IMPRESSION LABEL"
			description="TRACK BANNER IMPRESSION DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		
		<field
			name="track_clicks"
			type="radio"
			default="0"
			label="TRACK BANNER CLICK LABEL"
			description="TRACK BANNER CLICK DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>
		
		<field
			name="tag_prefix"
			type="text"
			default=""
			label="TAG PREFIX LABEL"
			description="TAG PREFIX DESC" />
	</fields>
</config>
