<?xml version="1.0" encoding="utf-8"?>
<config>
 <params>
  <param name="track_impressions" type="radio" default="0" label="TRACK BANNER IMPRESSION LABEL" description="TRACK BANNER IMPRESSION DESC">
	<option value="0">NO</option>
	<option value="1">YES</option>
  </param>
  <param name="track_clicks" type="radio" default="0" label="TRACK BANNER CLICK LABEL" description="TRACK BANNER CLICK DESC">
	<option value="0">NO</option>
	<option value="1">YES</option>
  </param>
  <param name="tag_prefix" type="text" deault="" label="TAG PREFIX LABEL" description="TAG PREFIX DESC" />
 </params>
</config>
