{% block sidebar %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
    <div class="card my-4">
        <h5 class="card-header">About Us</h5>
        <div class="card-body">
            <p class="card-text">Joomla! is the only major CMS that is built entirely by volunteers from all over the
                world. We have a strong community bond and all take pleasure in building something that has a large
                global impact. If you are interested in volunteering please head over to the volunteer portal. </p>
            <a href="https://volunteers.joomla.org/" class="btn btn-danger">Know
                more!</a>
        </div>
    </div>
</div>

{% endblock sidebar %}