@import "../../variables";

// Search tools

.js-stools-container-bar,
.js-stools-container-filters {
  margin-bottom: 10px;
}

.js-stools-container-bar {
  .btn-toolbar {
    justify-content: flex-end;

    > * {
      margin: 5px 0;

      + * {
        margin-inline-start: 8px;
      }
    }
  }

  .ordering-select {
    display: flex;
  }
}

.js-stools-container-filters {
  display: none;

  &-visible {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    background-color: $white;
  }
}

.js-stools-field-list {
  + .js-stools-field-list {
    margin-inline-start: 8px;
  }
}
