			<fieldset title="<?php echo JText::_('Install an extension'); ?>">
			<legend>
				<?php echo JText::_('Install an extension'); ?>
			</legend>
			<ul id="installer" class="menu-tree">
				<li>
					<a class="exttype" href="index2.php?option=com_installer&amp;task=installer" ><?php echo JText::_('Install'); ?></a>
				</li>
			</ul>
			</fieldset>
			<fieldset title="<?php echo JText::_('Remove an extension'); ?>">
			<legend>
				<?php echo JText::_('Remove an extension'); ?>
			</legend>
			<ul id="extensions" class="menu-tree">
				<li>
					<a class="exttype" href="index2.php?option=com_installer&amp;extension=component" ><?php echo JText::_('Components'); ?></a>
				</li>
				<li>
					<a class="exttype" href="index2.php?option=com_installer&amp;extension=module"><?php echo JText::_('Modules'); ?></a>
				</li>
				<li>
					<a class="exttype" href="index2.php?option=com_installer&amp;extension=plugin"><?php echo JText::_('Plugins'); ?></a>
				</li>
				<li>
					<a class="exttype" href="index2.php?option=com_installer&amp;extension=language"><?php echo JText::_('Languages'); ?></a>
				</li>
				<li>
					<a class="exttype" href="index2.php?option=com_installer&amp;extension=template"><?php echo JText::_('Templates'); ?></a>
				</li>
			</ul>
			</fieldset>