			<fieldset title="JEM Navigation">
			<legend>
				JEM Navigation
			</legend>
			<div id="extensions">
				<div id="components" class="ext">
					<a class="exttype" href="index2.php?option=com_installer&extension=component" >Components</a>
				</div>
				<div id="modules" class="ext">
					<a class="exttype" href="index2.php?option=com_installer&extension=module">Modules</a>
					<ul class="subext">
						<li><a href="index2.php?option=com_installer&extension=module&filter=1" >Administrator</a></li>
						<li><a href="index2.php?option=com_installer&extension=module&filter=0" >Site</a></li>
					</ul>
				</div>
				<div id="plugins" class="ext">
					<a class="exttype" href="index2.php?option=com_installer&extension=plugin">Plugins</a>
				</div>
				<div id="languages" class="ext">
					<a class="exttype" href="index2.php?option=com_installer&extension=language">Languages</a>
					<ul class="subext">
						<li><a href="index2.php?option=com_installer&extension=language&filter=1" >Administrator</a></li>
						<li><a href="index2.php?option=com_installer&extension=language&filter=0" >Site</a></li>
					</ul>
				</div>
				<div id="templates" class="ext">
					<a class="exttype" href="index2.php?option=com_installer&extension=template">Templates</a>
					<ul class="subext">
						<li><a href="index2.php?option=com_installer&extension=template&filter=1" >Administrator</a></li>
						<li><a href="index2.php?option=com_installer&extension=template&filter=0" >Site</a></li>
					</ul>
				</div>
				<div id="installer" class="ext">
					<a class="exttype" href="index2.php?option=com_installer&task=installer" >Installer</a>
				</div>
			</div>
			</fieldset>