<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="csp" label="Content-Security-Policy (CSP)">
		<field
			name="contentsecuritypolicy"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY"
			layout="joomla.form.field.radio.switcher"
			default="0"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="contentsecuritypolicy_client"
			type="list"
			label="COM_CSP_CONTENTSECURITYPOLICY_CLIENT"
			default="site"
			validate="options"
			showon="contentsecuritypolicy:1"
			>
			<option value="site">JSITE</option>
			<option value="administrator">JADMINISTRATOR</option>
			<option value="both">COM_CSP_HEADER_CLIENT_BOTH</option>
		</field>
		<field
			name="contentsecuritypolicy_mode"
			type="list"
			label="COM_CSP_CONTENTSECURITYPOLICY_MODE"
			default="report"
			validate="options"
			showon="contentsecuritypolicy:1"
			>
			<option value="report">COM_CSP_CONTENTSECURITYPOLICY_MODE_REPORT_ONLY</option>
			<option value="enforce">COM_CSP_CONTENTSECURITYPOLICY_MODE_ENFORCE</option>
		</field>
		<field
			name="report_enabled"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY_REPORT_ENABLED"
			description="COM_CSP_CONTENTSECURITYPOLICY_REPORT_ENABLED_DESC"
			layout="joomla.form.field.radio.switcher"
			showon="contentsecuritypolicy:1[AND]contentsecuritypolicy_mode!:report"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="report_uri"
			type="url"
			label="COM_CSP_CONTENTSECURITYPOLICY_REPORT_URI"
			description="COM_CSP_CONTENTSECURITYPOLICY_REPORT_URI_DESC"
			hint="COM_CSP_CONTENTSECURITYPOLICY_REPORT_URI_HINT"
			showon="contentsecuritypolicy:1[AND]report_enabled:1[OR]contentsecuritypolicy_mode:report"
			validate="url"
		/>
		<field
			name="nonce_enabled"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY_NONCE_ENABLED"
			description="COM_CSP_CONTENTSECURITYPOLICY_NONCE_ENABLED_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			showon="contentsecuritypolicy:1"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="script_hashes_enabled"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY_SCRIPT_HASHES_ENABLED"
			description="COM_CSP_CONTENTSECURITYPOLICY_SCRIPT_HASHES_ENABLED_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			showon="contentsecuritypolicy:1"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="strict_dynamic_enabled"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY_STRICT_DYNAMIC_ENABLED"
			description="COM_CSP_CONTENTSECURITYPOLICY_STRICT_DYNAMIC_ENABLED_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			showon="contentsecuritypolicy:1"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="style_hashes_enabled"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY_STYLE_HASHES_ENABLED"
			description="COM_CSP_CONTENTSECURITYPOLICY_STYLE_HASHES_ENABLED_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			showon="contentsecuritypolicy:1"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="frame_ancestors_self_enabled"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY_FRAME_ANCESTORS_SELF_ENABLED"
			description="COM_CSP_CONTENTSECURITYPOLICY_FRAME_ANCESTORS_SELF_ENABLED_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			showon="contentsecuritypolicy:1"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="upgrade_insecure_requests_enabled"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY_UPGRADE_INSECURE_REQUESTS_ENABLED"
			description="COM_CSP_CONTENTSECURITYPOLICY_UPGRADE_INSECURE_REQUESTS_ENABLED_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			showon="contentsecuritypolicy:1"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="sandbox_enabled"
			type="radio"
			label="COM_CSP_CONTENTSECURITYPOLICY_SANDBOX_ENABLED"
			description="COM_CSP_CONTENTSECURITYPOLICY_SANDBOX_ENABLED_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			showon="contentsecuritypolicy:1[AND]contentsecuritypolicy_mode!:detect"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>
		<field
			name="sandbox"
			label="COM_CSP_CONTENTSECURITYPOLICY_SANDBOX"
			description="COM_CSP_CONTENTSECURITYPOLICY_SANDBOX_DESC"
			type="list"
			validate="options"
			multiple="true"
			layout="joomla.form.field.list-fancy-select"
			showon="contentsecuritypolicy:1[AND]contentsecuritypolicy_mode!:detect[AND]sandbox_enabled:1"
			>
			<option value="allow-downloads-without-user-activation">allow-downloads-without-user-activation</option>
			<option value="allow-forms">allow-forms</option>
			<option value="allow-modals">allow-modals</option>
			<option value="allow-orientation-lock">allow-orientation-lock</option>
			<option value="allow-pointer-lock">allow-pointer-lock</option>
			<option value="allow-popups">allow-popups</option>
			<option value="allow-popups-to-escape-sandbox">allow-popups-to-escape-sandbox</option>
			<option value="allow-presentation">allow-presentation</option>
			<option value="allow-same-origin">allow-same-origin</option>
			<option value="allow-scripts">allow-scripts</option>
			<option value="allow-storage-access-by-user-activation">allow-storage-access-by-user-activation</option>
			<option value="allow-top-navigation">allow-top-navigation</option>
			<option value="allow-top-navigation-by-user-activation">allow-top-navigation-by-user-activation</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_csp"
			section="component"
		/>
	</fieldset>
</config>
