
//
// Hide elements from all users.
//
// Used for elements which should not be immediately displayed to any user. An
// example would be collapsible details that will be expanded with a click
// from a user. The effect of this class can be toggled with the jQuery show()
// and hide() functions.
//
@mixin a11y-hidden {
  display: none;
}

//
// Hide elements visually, but keep them available for screen-readers.
//
// Used for information required for screen-reader users to understand and use
// the site where visual display is undesirable. Information provided in this
// manner should be kept concise, to avoid unnecessary burden on the user.
// "!important" is used to prevent unintentional overrides.
//
@mixin a11y-visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  word-wrap: normal;
}

//
// The .focusable class extends the .visually-hidden class to allow
// the element to be focusable when navigated to via the keyboard.
//
@mixin a11y-visually-hidden-focusable {
  &:active,
  &:focus {
    position: static !important;
    width: auto;
    height: auto;
    overflow: visible;
    clip: auto;
  }
}

//
// Hide visually and from screen-readers, but maintain layout.
//
@mixin a11y-invisible {
  visibility: hidden;
}
