.icon-16-archive {
	background: url(../images/menu/icon-16-archive.png) no-repeat;
}

.icon-16-category {
	background: url(../images/menu/icon-16-category.png) no-repeat;
}

.icon-16-checkin {
	background: url(../images/menu/icon-16-checkin.png) no-repeat;
}

.icon-16-component {
	background: url(../images/menu/icon-16-component.png) no-repeat;
}

.icon-16-config {
	background: url(../images/menu/icon-16-config.png) no-repeat;
}

.icon-16-content {
	background: url(../images/menu/icon-16-content.png) no-repeat;
}

.icon-16-cpanel {
	background: url(../images/menu/icon-16-cpanel.png) no-repeat;
}

.icon-16-frontpage {
	background: url(../images/menu/icon-16-frontpage.png) no-repeat;
}

.icon-16-help {
	background: url(../images/menu/icon-16-help.png) no-repeat;
}

.icon-16-info {
	background: url(../images/menu/icon-16-info.png) no-repeat;
}

.icon-16-install {
	background: url(../images/menu/icon-16-install.png) no-repeat;
}

.icon-16-language {
	background: url(../images/menu/icon-16-language.png) no-repeat;
}

.icon-16-logout {
	background: url(../images/menu/icon-16-logout.png) no-repeat;
}

.icon-16-massmail {
	background: url(../images/menu/icon-16-massmail.png) no-repeat;
}

.icon-16-media {
	background: url(../images/menu/icon-16-media.png) no-repeat;
}

.icon-16-menu {
	background: url(../images/menu/icon-16-menu.png) no-repeat;
}

.icon-16-menumgr {
	background: url(../images/menu/icon-16-menumgr.png) no-repeat;
}

.icon-16-messages {
	background: url(../images/menu/icon-16-messages.png) no-repeat;
}

.icon-16-module {
	background: url(../images/menu/icon-16-module.png) no-repeat;
}

.icon-16-plugin {
	background: url(../images/menu/icon-16-plugin.png) no-repeat;
}

.icon-16-section {
	background: url(../images/menu/icon-16-section.png) no-repeat;
}

.icon-16-static {
	background: url(../images/menu/icon-16-static.png) no-repeat;
}

.icon-16-stats {
	background: url(../images/menu/icon-16-stats.png) no-repeat;
}

.icon-16-themes {
	background: url(../images/menu/icon-16-themes.png) no-repeat;
}

.icon-16-trash {
	background: url(../images/menu/icon-16-trash.png) no-repeat;
}

.icon-16-user {
	background: url(../images/menu/icon-16-user.png) no-repeat;
}




.icon-32-cancel {
	background: url(../images/toolbar/icon-32-cancel.png) 50% 0 no-repeat;
}

.icon-32-send {
	background: url(../images/toolbar/icon-32-send.png) 50% 0 no-repeat;
}

.icon-32-help {
	background: url(../images/toolbar/icon-32-help.png) 50% 0 no-repeat;
}


/** toolbar icons **/
.icon-48-massemail {
	height: 48px;
	background: url(../images/header/icon-48-massmail.png) no-repeat;
}