.icon-16-archive {
	background: url(../images/menu/icon-16-archive.png) no-repeat;
}

.icon-16-category {
	background: url(../images/menu/icon-16-category.png) no-repeat;
}

.icon-16-checkin {
	background: url(../images/menu/icon-16-checkin.png) no-repeat;
}

.icon-16-component {
	background: url(../images/menu/icon-16-component.png) no-repeat;
}

.icon-16-config {
	background: url(../images/menu/icon-16-config.png) no-repeat;
}

.icon-16-content {
	background: url(../images/menu/icon-16-content.png) no-repeat;
}

.icon-16-cpanel {
	background: url(../images/menu/icon-16-cpanel.png) no-repeat;
}

.icon-16-frontpage {
	background: url(../images/menu/icon-16-frontpage.png) no-repeat;
}

.icon-16-help {
	background: url(../images/menu/icon-16-help.png) no-repeat;
}

.icon-16-info {
	background: url(../images/menu/icon-16-info.png) no-repeat;
}

.icon-16-install {
	background: url(../images/menu/icon-16-install.png) no-repeat;
}

.icon-16-language {
	background: url(../images/menu/icon-16-language.png) no-repeat;
}

.icon-16-logout {
	background: url(../images/menu/icon-16-logout.png) no-repeat;
}

.icon-16-massmail {
	background: url(../images/menu/icon-16-massmail.png) no-repeat;
}

.icon-16-media {
	background: url(../images/menu/icon-16-media.png) no-repeat;
}

.icon-16-menu {
	background: url(../images/menu/icon-16-menu.png) no-repeat;
}

.icon-16-menumgr {
	background: url(../images/menu/icon-16-menumgr.png) no-repeat;
}

.icon-16-messages {
	background: url(../images/menu/icon-16-messages.png) no-repeat;
}

.icon-16-module {
	background: url(../images/menu/icon-16-module.png) no-repeat;
}

.icon-16-plugin {
	background: url(../images/menu/icon-16-plugin.png) no-repeat;
}

.icon-16-section {
	background: url(../images/menu/icon-16-section.png) no-repeat;
}

.icon-16-static {
	background: url(../images/menu/icon-16-static.png) no-repeat;
}

.icon-16-stats {
	background: url(../images/menu/icon-16-stats.png) no-repeat;
}

.icon-16-themes {
	background: url(../images/menu/icon-16-themes.png) no-repeat;
}

.icon-16-trash {
	background: url(../images/menu/icon-16-trash.png) no-repeat;
}

.icon-16-user {
	background: url(../images/menu/icon-16-user.png) no-repeat;
}


/** toolbar icons **/

.icon-32-send {
	background: url(../images/toolbar/icon-32-send.png) 50% 0 no-repeat;
}
.icon-32-delete {
	background: url(../images/toolbar/icon-32-trash.png) 50% 0 no-repeat;
}
.icon-32-help {
	background: url(../images/toolbar/icon-32-help.png) 50% 0 no-repeat;
}
.icon-32-cancel {
	background: url(../images/toolbar/icon-32-cancel.png) 50% 0 no-repeat;
}
.icon-32-apply {
	background: url(../images/toolbar/icon-32-apply.png) 50% 0 no-repeat;
}
.icon-32-save {
	background: url(../images/toolbar/icon-32-save.png) 50% 0 no-repeat;
}
.icon-32-edit {
	background: url(../images/toolbar/icon-32-edit.png) 50% 0 no-repeat;
}
.icon-32-copy {
	background: url(../images/toolbar/icon-32-copy.png) 50% 0 no-repeat;
}
.icon-32-move {
	background: url(../images/toolbar/icon-32-move.png) 50% 0 no-repeat;
}
.icon-32-new {
	background: url(../images/toolbar/icon-32-new.png) 50% 0 no-repeat;
}
.icon-32-upload {
	background: url(../images/toolbar/icon-32-upload.png) 50% 0 no-repeat;
}
.icon-32-default {
	background: url(../images/toolbar/icon-32-publish.png) 50% 0 no-repeat;
}
.icon-32-assign {
	background: url(../images/toolbar/icon-32-publish.png) 50% 0 no-repeat;
}
.icon-32-edithtml {
	background: url(../images/toolbar/icon-32-html.png) 50% 0 no-repeat;
}
.icon-32-editcss {
	background: url(../images/toolbar/icon-32-css.png) 50% 0 no-repeat;
}
.icon-32-publish {
	background: url(../images/toolbar/icon-32-publish.png) 50% 0 no-repeat;
}
.icon-32-unpublish {
	background: url(../images/toolbar/icon-32-unpublish.png) 50% 0 no-repeat;
}
.icon-32-restore {
	background: url(../images/toolbar/icon-32-revert.png) 50% 0 no-repeat;
}
.icon-32-trash {
	background: url(../images/toolbar/icon-32-trash.png) 50% 0 no-repeat;
}
.icon-32-archive {
	background: url(../images/toolbar/icon-32-archive.png) 50% 0 no-repeat;
}
.icon-32-unarchive {
	background: url(../images/toolbar/icon-32-unarchive.png) 50% 0 no-repeat;
}
.icon-32-preview {
	background: url(../images/toolbar/icon-32-archive.png) 50% 0 no-repeat;
}

/** header icons **/
.icon-48-generic {
	background: url(../images/header/icon-48-generic.png) no-repeat;
}
.icon-48-checkin {
	background: url(../images/header/icon-48-checkin.png) no-repeat;
}
.icon-48-cpanel {
	background: url(../images/header/icon-48-cpanel.png) no-repeat;
}
.icon-48-config {
	background: url(../images/header/icon-48-config.png) no-repeat;
}
.icon-48-module {
	background: url(../images/header/icon-48-module.png) no-repeat;
}
.icon-48-menu {
	background: url(../images/header/icon-48-menu.png) no-repeat;
}
.icon-48-trash {
	background: url(../images/header/icon-48-trash.png) no-repeat;
}
.icon-48-user {
	background: url(../images/header/icon-48-user.png) no-repeat;
}
.icon-48-inbox {
	background: url(../images/header/icon-48-inbox.png) no-repeat;
}
.icon-48-msgconfig {
	background: url(../images/header/icon-48-message_config.png) no-repeat;
}
.icon-48-langmanager {
	background: url(../images/header/icon-48-langmanager.png) no-repeat;
}
.icon-48-mediamanager {
	background: url(../images/header/icon-48-mediamanager.png) no-repeat;
}
.icon-48-help_header {
	background: url(../images/header/icon-48-help_header.png) no-repeat;
}
.icon-48-impressions {
	background: url(../images/header/icon-48-impressions.png) no-repeat;
}
.icon-48-browser {
	background: url(../images/header/icon-48-browser.png) no-repeat;
}
.icon-48-searchtext {
	background: url(../images/header/icon-48-searchtext.png) no-repeat;
}
.icon-48-thememanager {
	background: url(../images/header/icon-48-themes.png) no-repeat;
}
.icon-48-massemail {
	background: url(../images/header/icon-48-massemail.png) no-repeat;
}
.icon-48-frontpage {
	background: url(../images/header/icon-48-frontpage.png) no-repeat;
}
.icon-48-sections {
	background: url(../images/header/icon-48-sections.png) no-repeat;
}
.icon-48-addedit {
	background: url(../images/header/icon-48-edit.png) no-repeat;
}
.icon-48-categories {
	background: url(../images/header/icon-48-categories.png) no-repeat;
}
.icon-48-install {
	background: url(../images/header/icon-48-install.png) no-repeat;
}
.icon-48-dbbackup {
	background: url(../images/header/icon-48-backup.png) no-repeat;
}
.icon-48-dbrestore {
	background: url(../images/header/icon-48-dbrestore.png) no-repeat;
}
.icon-48-dbquery {
	background: url(../images/header/icon-48-query.png) no-repeat;
}
.icon-48-systeminfo {
	background: url(../images/header/icon-48-info.png) no-repeat;
}
.icon-48-massemail {
	background: url(../images/header/icon-48-massmail.png) no-repeat;
}
