/* CSS Document */
html {
	height: 100%;
}

body {
	margin: 10px;
	padding: 0;
	background: #fff;
	height: 100%;
	padding-bottom: 1px;
}



.clr {
	clear: both;
	overflow:hidden;
}

form {
	margin: 0;
	padding: 0;
}

/* installer */
#header1 {
	background: url(../images/j_header_middle.png) repeat-x;
}

#header2 {
	background: url(../images/j_header_right.png) 100% 0 no-repeat;
}

#header3 {
	background: url(../images/j_header_left.png) no-repeat;
	height: 54px;
}

#header3 span {
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	padding-left: 180px;
	line-height: 44px;
}

#version {
	float: right;
	color: #fff;
	padding-top: 25px;
	padding-right: 5px;
}

.far-right {
	margin-right: 6px !Important;
	margin-right: 0px;
	margin-top: 2px;
	float: right;
	text-align: right;
}

/** body parts **/

#footer1 {
	background: url(../images/j_bottom.png) repeat-x;
}

#footer2 {
	background: url(../images/j_corner_br.png) 100% 0 no-repeat;
}

#footer3 {
	background: url(../images/j_corner_bl.png) no-repeat;
	height: 11px;
}

#copyright {
	margin: 10px;
	text-align: center;
}

#content-box {
	background: url(../images/j_border.png) 0 0 repeat-y;
}

#content-box2 {
	background: url(../images/j_border.png) 100% 0 repeat-y;
}

#content-pad {
	padding: 10px 10px 0 10px;
}

.component {
	background: #fff;
}

.spacer {
	height: 10px;
	overflow: hidden;
}

.element-box {
	background: #fff;
}

.element-pad {
	padding: 10px;
}

.extra-padding {
	padding: 10px;
}

/** text elements **/

h1 {
	margin: 0;
	padding-bottom: 8px;
	font-size: 22px;
	color: #0B55C4;
	font-weight: bold;
}

body, div, p, td, span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a:link, a:visited {
	text-decoration: none;
	color: #0B55C4;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5,
#header3 span,
div.header,
.button1-left a,
.button1-right a {
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
}



/** buttons **/

.button1-left {
	background: url(../images/j_button1_left.png) no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-right {
	background: url(../images/j_button1_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-right .prev {
	float: left;
	background: url(../images/j_button1_prev.png) no-repeat;
}

.button1-left .next {
	float: left;
	background: url(../images/j_button1_next.png) 100% 0 no-repeat;
}

.button1-left a, 
.button1-right a {
	display: block;
	height: 26px;
	float: left;
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}

.button1-left a {
	padding: 0 30px 0 6px;
}

.button1-right a {
	padding: 0 6px 0 30px;
}

/** moofx stuff **/
h3.title-smenu {
	margin: 0;
	border: 1px solid #ccc;
	background: #EBEBEB url(../images/j_arrow.png) 5px 5px no-repeat;
	padding: 4px;
	text-indent: 15px;
	margin-bottom: 1px;
	color: #666;
	cursor: pointer;
}

h3.title-smenu-down {
	background: url(../images/j_arrow_down.png) 5px 5px no-repeat;
}


/** login page **/

#login-content-pad {
	padding-top: 40px;
	padding-bottom: 100px;
}


#login {
	background: #fff;
	margin: 0 auto;
	width: 500px;
}

#login .inputbox {
	width: 120px;
}


#loginpad {
	padding: 20px;
		background: url(../images/j_login_lock.jpg) 50px 100% no-repeat;
		padding-bottom: 60px;
}

table.login {
 width: 100%;
 padding: 0;
 margin: 0;
}


#login-form {
	float: right;
	width: 210px;
}

td.login-button {
	text-align: right;
}

/** status layout **/

span.unread-messages,
span.no-unread-messages,
span.loggedin-users,
span.logout {
	display: block;
	float: left;
	padding-left: 22px;
	line-height: 16px;
	padding-right: 10px;
	padding-top: 4px;
	margin-bottom: 5px;
}

span.unread-messages,
span.no-unread-messages {
	background: url(../images/menu/icon-16-messages.png) 3px 3px no-repeat;
}

span.unread-messages a {
	font-weight: bold;
}

span.loggedin-users {
	background: url(../images/menu/icon-16-user.png) 3px 3px no-repeat;
}

span.logout {
	background: url(../images/menu/icon-16-logout.png) 3px 3px no-repeat;
}

div.status-divider {
	clear:left;
	height: 1px !important;
	height: 3px;
	overflow: hidden;
}


/** administrator pages **/

.sidemenu-box {
	background: #F7F7F7;
	float: left;
	width: 20%;
}

.sidemenu-pad {
	padding: 0;
	margin-bottom: 0 !Important;
}

.content-area {
	float: right;
	width: 80%;
}

.content-area-full {
	clear: both;
	float: none;
	width: 100%;
}

.content-area .content-pad {
	padding-left: 10px;
}

.content-area-full .content-pad {
	padding: 0;
}

.sidemenu-box ul {
	margin: 0;
	padding: 0;
}

.sidemenu-box ul li {
	list-style: none;
	padding-left: 24px;
	line-height: 20px;
	background-position: 2px 2px;
}

.sidemenu-box li a {
	color: #666;
	font-weight: bold;
}

.sidemenu-box li a:hover {
	color: #0B55C4;
	text-decoration: none;
}

.sidemenu-box h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding: 0 5px;
	color: #0B55C4;
	margin-bottom: 5px;
	
}

.sidemenu-box h3.title-smenu {
	font-size: 12px;
	border-left: 0px;
	border-right: 0px;
}

/** toolbar **/

.toolbar-box {
	background: #fbfbfb;
	width: 100%;
}

.toolbar-pad {
	padding: 0 5px;
	padding-bottom: 2px;
}

div.header {
	color: #0B55C4;
	font-size: 22px;
	line-height: 48px;
	font-weight: bold;
	padding-left: 55px;
}

div.toolbar {
	float: right;
	text-align: right;
	padding: 0;
}

table.toolbar {
	border-collapse: collapse;
	width: 1;
	padding: 0;
	margin: 0;
	
}

table.toolbar td {
	padding: 1px;
	padding-left: 4px;
	text-align: center;
	color: #666;
	height: 48px;
}

table.toolbar td.spacer {
	width: 10px;
}

table.toolbar div {
	float: none;
	width: 32px;
	height: 32px;
	margin: 0 auto;
}

table.toolbar a {
	display: block;
	float: left;
	white-space: nowrap;
	display: block;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
}

table.toolbar a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
}

/** submenu **/

.submenu-box {
	margin-top: 10px;
	background: #f2f2f2;
	width: 100%;
}

.submenu-pad {
	padding: 0;
	margin: 0;
}

.submenu-box ul {
	margin: 0;
	padding: 0;
	height: 12px;
}

.submenu-box ul li {
	list-style: none;
	padding: 0 10px;
	line-height: 12px;
	float: left;
	border-right: 1px solid #ccc;
}

.submenu-box li a {
	color: #666;
	font-weight: bold;
}

.submenu-box li a:hover {
	color: #0B55C4;
	text-decoration: none;
}


/** for massmail component **/
input#mm_subject {
	width: 200px;
}

textarea#mm_message {
 width: 200px;
}

