.custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem; }

.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem; }

.custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0; }
  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: #3073bb; }
  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(48, 115, 187, 0.25); }
  .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #b2ceeb; }
  .custom-control-input:disabled ~ .custom-control-label {
    color: #6f7780; }
    .custom-control-input:disabled ~ .custom-control-label::before {
      background-color: #e9ecef; }

.custom-control-label {
  position: relative;
  margin-bottom: 0; }
  .custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #dee2e6; }
  .custom-control-label::after {
    position: absolute;
    top: 0.25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3073bb; }

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E"); }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-color: #3073bb; }

.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E"); }

.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(48, 115, 187, 0.5); }

.custom-checkbox .custom-control-input:disabled:indeterminate ~ .custom-control-label::before {
  background-color: rgba(48, 115, 187, 0.5); }

.custom-radio .custom-control-label::before {
  border-radius: 50%; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #3073bb; }

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E"); }

.custom-radio .custom-control-input:disabled:checked ~ .custom-control-label::before {
  background-color: rgba(48, 115, 187, 0.5); }

.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.7rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fefefe url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .custom-select:focus {
    border-color: #8ab4e1;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(138, 180, 225, 0.5); }
    .custom-select:focus::-ms-value {
      color: #495057;
      background-color: #fff; }
  .custom-select[multiple], .custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: 0.75rem;
    background-image: none; }
  .custom-select:disabled {
    color: #6f7780;
    background-color: #e9ecef; }
  .custom-select::-ms-expand {
    opacity: 0; }

.custom-select-sm {
  height: calc(1.7rem + 2px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 75%; }

.custom-select-lg {
  height: calc(2.875rem + 2px);
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 125%; }

.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(2.7rem + 2px);
  margin-bottom: 0; }

.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(2.7rem + 2px);
  margin: 0;
  opacity: 0; }
  .custom-file-input:focus ~ .custom-file-label {
    border-color: #8ab4e1;
    box-shadow: 0 0 0 0.2rem rgba(48, 115, 187, 0.25); }
    .custom-file-input:focus ~ .custom-file-label::after {
      border-color: #8ab4e1; }
  .custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "Browse"; }

.custom-file-label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: calc(2.7rem + 2px);
  padding: 0.6rem 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da; }
  .custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.7rem;
    padding: 0.6rem 1rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #3073BB;
    border-left: 1px solid #ced4da; }

.custom-range {
  width: 100%;
  padding-left: 0;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .custom-range:focus {
    outline: none; }
  .custom-range::-moz-focus-outer {
    border: 0; }
  .custom-range::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -0.25rem;
    background-color: #3073bb;
    border: 0;
    -webkit-appearance: none;
            appearance: none; }
    .custom-range::-webkit-slider-thumb:focus {
      outline: none;
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(48, 115, 187, 0.25); }
    .custom-range::-webkit-slider-thumb:active {
      background-color: #b2ceeb; }
  .custom-range::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #dee2e6;
    border-color: transparent; }
  .custom-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #3073bb;
    border: 0;
    -moz-appearance: none;
         appearance: none; }
    .custom-range::-moz-range-thumb:focus {
      outline: none;
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(48, 115, 187, 0.25); }
    .custom-range::-moz-range-thumb:active {
      background-color: #b2ceeb; }
  .custom-range::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: #dee2e6;
    border-color: transparent; }
  .custom-range::-ms-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #3073bb;
    border: 0;
    appearance: none; }
    .custom-range::-ms-thumb:focus {
      outline: none;
      box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(48, 115, 187, 0.25); }
    .custom-range::-ms-thumb:active {
      background-color: #b2ceeb; }
  .custom-range::-ms-track {
    width: 100%;
    height: 0.5rem;
    color: transparent;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
    border-width: 0.5rem; }
  .custom-range::-ms-fill-lower {
    background-color: #dee2e6; }
  .custom-range::-ms-fill-upper {
    margin-right: 15px;
    background-color: #dee2e6; }

/* Bootstrap alert mapping */
.alert-message {
  background-color: #2f7d32;
  border-color: #2f7d32;
  border-left: 10px solid #2f7d32;
  color: #e9ecef; }
  .alert-message hr {
    border-top-color: #286a2b; }
  .alert-message .alert-link {
    color: #215823; }

html,
body {
  height: 100%;
  font-size: 15px; }

body {
  padding: 0;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

h1 {
  font-weight: normal; }

small,
.small {
  font-size: 0.8rem; }

legend {
  font-size: 1.2rem;
  font-weight: 700; }

.js-focus-visible :focus:not(.focus-visible) {
  outline: none; }

a:focus, a:-moz-focusring,
button:focus,
button:-moz-focusring,
input:focus,
input:-moz-focusring,
textarea:focus,
textarea:-moz-focusring {
  outline: auto 2px #39f; }

.j-main-container .alert {
  margin: 10px; }

.notify-alerts {
  position: fixed;
  top: 15px;
  left: 50%;
  z-index: 1080;
  margin-left: 125px;
  transition: all .5s ease;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }
  .notify-alerts .alert {
    width: 100%;
    min-width: 280px;
    max-width: 400px;
    margin-bottom: .5rem;
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
            animation: fadeIn ease-in 1;
    -webkit-animation-duration: .35s;
            animation-duration: .35s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards; }
    .notify-alerts .alert:first-of-type {
      -webkit-animation-delay: .3s;
              animation-delay: .3s; }
  .notify-alerts.fullWidth {
    left: 265px; }
    .notify-alerts.fullWidth .alert {
      width: auto;
      min-width: none;
      max-width: none;
      margin-left: 0; }
  .notify-alerts .close {
    position: relative;
    right: -.5rem;
    padding: .5rem;
    line-height: 1rem;
    color: #000;
    opacity: 1; }

.closed .notify-alerts {
  margin-left: 0; }

.closed + .notify-alerts.fullWidth {
  left: 70px; }

.wrapper0 .notify-alerts {
  margin-left: 0; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.form-control {
  max-width: 240px;
  background-color: #fefefe; }

.control-group {
  margin-bottom: 18px; }
  .control-group > .form-check {
    display: inline-block; }
  .control-group::after {
    display: table;
    clear: both;
    content: ""; }
  .control-group .control-label {
    float: left;
    width: 220px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left; }
  .control-group .controls {
    margin-left: 220px; }

.form-no-margin .control-group .controls {
  margin-left: 0; }

.form-no-margin .control-group .control-label {
  float: none; }

.custom-select {
  max-width: 240px; }

.spacer hr {
  width: 380px; }

td .form-control {
  display: inline-block;
  width: auto; }

legend {
  margin-bottom: 1.1rem; }

.checkboxes {
  padding-top: 5px; }
  .checkboxes .checkbox input {
    position: static;
    margin-left: 0; }

.form-check {
  padding-top: 5px;
  margin-bottom: 0; }

.modal label {
  width: 100%; }

.invalid {
  color: #c52827;
  border-color: #c52827; }

.valid {
  border-color: #2f7d32; }

.form-control-feedback {
  display: block; }

[aria-grabbed="true"] {
  box-shadow: 0 0 2px 1px #3073bb; }

.header {
  position: relative;
  z-index: 1060;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  .header .logo {
    display: inline-block;
    width: 64px;
    text-align: center;
    line-height: 55px; }
  .header .page-title {
    margin: 0 5px;
    font-size: 1.2rem;
    line-height: 55px;
    color: #2b5c91; }
    .header .page-title [class^="icon-"] {
      margin-right: 10px; }
  .header .nav-link {
    position: relative;
    padding: 0;
    line-height: 55px; }
    .header .nav-link .fa {
      width: 57px;
      font-size: 1.2rem;
      color: #2b5c91;
      vertical-align: middle;
      transition: all .2s ease-in-out; }
    .header .nav-link .badge {
      position: absolute;
      top: 7px;
      right: 7px; }
    .header .nav-link.dropdown-toggle::after {
      display: none; }
    .header .nav-link:hover .fa {
      font-size: 1.3rem;
      transition: all .2s ease-in-out; }
  .header .dropdown-notifications {
    min-width: 280px;
    padding: 0;
    border: 0; }
    .header .dropdown-notifications h2 {
      font-size: 0.9286rem; }
  .header .dropdown-item:hover, .header .dropdown-item:focus {
    color: #2b5c91; }
  .header .dropdown-menu::after {
    left: .65rem; }
  .header .dropdown-menu-right::after {
    right: .65rem;
    left: auto; }
  .header .header-profile .dropdown-menu {
    padding-top: 0; }
    .header .header-profile .dropdown-menu::after {
      color: #ebeff5; }
  .header .dropdown-header {
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #2b5c91;
    color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  .header .list-group-item-text:last-child {
    margin-bottom: 0; }
  .header .joomla-version {
    margin-right: .9rem;
    margin-bottom: 0;
    font-size: 0.9286rem;
    color: #2b5c91; }

@media (max-width: 991.98px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%; }
    .header > div {
      flex-direction: column; } }

@media (max-width: 767.98px) {
  .header .header-items {
    flex-direction: column; } }

.icon-back::before {
  content: "\e008"; }

.icon-crop::before {
  content: "\f125"; }

.icon-white {
  color: #fff; }

.icon-publish {
  color: #2f7d32; }

.icon-unpublish {
  color: #c52827; }

.tbody-icon {
  padding: 0 3px;
  text-align: center;
  background-color: transparent;
  border: 0; }
  .tbody-icon span[class^="icon-"]:not(.icon-checkedout),
  .tbody-icon span[class*=" icon-"]:not(.icon-checkedout) {
    width: 26px;
    height: 26px;
    font-size: 1rem;
    line-height: 22px;
    color: #ccc;
    border: 2px solid #ccc;
    border-radius: 50%; }
  .tbody-icon .icon-publish {
    color: #2f7d32;
    border-color: #2f7d32; }
  .tbody-icon .icon-featured {
    color: #b35900;
    border-color: #b35900; }
  .tbody-icon .icon-unpublish {
    color: #c52827;
    border-color: #c52827; }
  .tbody-icon .icon-archive {
    color: #495057;
    border-color: #495057; }
  .tbody-icon .icon-checkedout {
    width: auto;
    height: auto;
    font-size: 1.2rem;
    line-height: 1rem;
    color: #495057;
    border: 0; }

iframe {
  border: 0; }

.modal iframe {
  width: 100%; }

.view-login {
  background: #3073BB;
  background-image: url("../images/joomla-pattern.svg");
  background-size: 200px; }
  .view-login .login-bg-grad {
    position: fixed;
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(45deg, rgba(43, 92, 145, 0.9) 30%, rgba(59, 151, 249, 0.2) 100%); }
  .view-login .login-initial {
    display: none; }
  .view-login .login-logo {
    width: 200px;
    margin: 0 auto 2rem;
    text-align: center; }
    @media (max-width: 767.98px) {
      .view-login .login-logo {
        margin: 1rem 0; } }
  .view-login .login {
    width: 410px; }
    @media (max-width: 767.98px) {
      .view-login .login {
        padding: 0 15px; } }
  .view-login .login-box {
    background: #224872;
    box-shadow: 0 0 20px #2b5c91; }
    .view-login .login-box a {
      color: #fff; }
  .view-login .login-box-header {
    padding: 15px 0;
    background: #fff; }
    .view-login .login-box-header h2 {
      color: #2b5c91;
      font-weight: 400; }
  .view-login .login-box-body {
    padding: 60px 50px; }
    @media (max-width: 575.98px) {
      .view-login .login-box-body {
        padding: 10px; } }
  .view-login .form-group label {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }
    .view-login .form-group label span {
      font-size: .9rem;
      color: #c6d2de; }
  .view-login h1 {
    text-align: center;
    margin: 0; }
  @media (max-width: 575.98px) {
    .view-login .btn {
      padding: 8px 10px;
      font-size: 14px; } }
  .view-login .form-control,
  .view-login .custom-select {
    max-width: none; }

.modal .btn {
  margin-right: .5rem; }

.modal .btn-primary:not([href]),
.modal .btn-success:not([href]) {
  color: #fff; }
  .modal .btn-primary:not([href]):hover,
  .modal .btn-success:not([href]):hover {
    color: #fff; }

.modal-header {
  padding: 0 15px; }
  .modal-header .close {
    width: 46px;
    height: 46px;
    margin-top: 0;
    margin-right: -15px;
    font-size: 2rem;
    line-height: 1rem;
    border-left: 1px solid #ccc; }

.modal-body {
  padding: 0;
  overflow-y: auto; }

.modal-title {
  font-weight: normal;
  line-height: 46px; }

.contentpane {
  padding: 15px; }

.quick-icons a {
  display: inline-flex;
  flex-direction: column;
  width: 140px;
  height: 120px;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #2b5c91;
  text-align: center;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  transition: all .25s ease; }
  .quick-icons a > div {
    flex: 1 0 0; }
  .quick-icons a:hover, .quick-icons a:hover, .quick-icons a:focus {
    text-decoration: none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3); }
  .quick-icons a .j-links-link {
    display: block;
    width: 100%;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 1.1; }
  .quick-icons a .fa {
    margin: 5px auto 0;
    font-size: 2.5rem; }
  .quick-icons a.danger {
    color: #c52827;
    box-shadow: 0 0 3px 0 #c52827; }
  .quick-icons a.success {
    color: #2f7d32;
    box-shadow: 0 0 3px 0 #2f7d32; }

.js-stools {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 5px 0 0; }
  .js-stools .js-stools-container-filters {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 0 none;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.05); }
    .js-stools .js-stools-container-filters .custom-select {
      width: 100%;
      max-width: none; }
    .js-stools .js-stools-container-filters.js-filters-show {
      display: flex; }
    .js-stools .js-stools-container-filters .chzn-container-single {
      display: block; }
      .js-stools .js-stools-container-filters .chzn-container-single .chzn-single {
        display: block;
        font-size: 1rem; }
  .js-stools .js-stools-field-filter .custom-select.active {
    color: #fff;
    background: #fefefe url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat scroll right 0.75rem center/8px 10px;
    background-color: #3073bb; }
  .js-stools .js-stools-field-filter .custom-select option {
    color: #495057;
    background-color: #fff; }
  .js-stools .js-stools-container-selector {
    margin-right: auto; }
  .js-stools .js-stools-container-bar .btn-toolbar {
    margin-bottom: 8px; }
  .js-stools .js-stools-container-bar .input-append {
    margin-bottom: 0; }

.wrapper {
  transition: all .3s ease; }
  @media (max-width: 991.98px) {
    .wrapper {
      padding-left: 0; } }

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #2b5c91;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  transition: all .3s ease;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  z-index: 1041; }
  @media (max-width: 991.98px) {
    .sidebar-wrapper .main-nav {
      max-height: calc(100vh - 147px); } }
  .sidebar-wrapper .main-brand {
    padding: 15px;
    margin-top: auto; }
  .sidebar-wrapper .main-nav-container {
    max-height: calc(100vh - 60px);
    overflow-y: auto;
    overflow-x: hidden; }
    .sidebar-wrapper .main-nav-container::-webkit-scrollbar {
      width: 5px; }
    .sidebar-wrapper .main-nav-container::-webkit-scrollbar-track {
      background: #2b5c91;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }
    .sidebar-wrapper .main-nav-container::-webkit-scrollbar-thumb {
      background-color: #fff;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
      border-radius: 2px; }

.menu-toggle-icon {
  width: 55px;
  font-size: 1.7rem; }

.main-nav {
  width: 250px;
  list-style: none;
  background-color: #2b5c91;
  opacity: 1; }
  .main-nav > li {
    background-color: #2b5c91;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
    .main-nav > li:first-of-type {
      border-top: 1px solid rgba(0, 0, 0, 0.15); }
  .main-nav li a {
    position: relative;
    display: block;
    padding: 15px 0;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    opacity: 1; }
    .main-nav li a:hover {
      color: #fff;
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.2); }
    .main-nav li a:active, .main-nav li a:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: inset 0 0 0 1px #78aeda; }
  .main-nav li .collapse-arrow::after {
    position: absolute;
    top: 50%;
    right: 15px;
    font-family: FontAwesome;
    font-size: .75rem;
    color: #fff;
    content: "\f0da";
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); }
  .main-nav li.menuitem-group a:hover {
    cursor: text;
    background: none; }
  .main-nav li ul {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    z-index: -3;
    display: block;
    width: 250px;
    padding: 0;
    background-color: #0f2131;
    opacity: 0;
    transition: left .2s ease, opacity .2s ease;
    transition-delay: 0; }
    .main-nav li ul ul {
      display: none;
      opacity: 1; }
    .main-nav li ul li {
      text-indent: 15px; }
  .main-nav .close {
    padding: 2px 10px;
    font-size: 1.7rem;
    color: rgba(255, 255, 255, 0.8);
    text-indent: 0;
    text-shadow: none; }
    .main-nav .close:hover {
      background-color: transparent; }
  .main-nav .open > a + ul {
    left: 60px;
    z-index: 1080;
    opacity: 1; }
  .main-nav li li {
    line-height: 2.2rem;
    border: 0;
    box-shadow: none; }
    .main-nav li li a {
      padding: 7px 0;
      box-shadow: none; }
      .main-nav li li a:hover {
        background-color: #3073BB;
        box-shadow: inset 2px 0 2px rgba(0, 0, 0, 0.1); }
    .main-nav li li > span {
      color: rgba(255, 255, 255, 0.4); }
    .main-nav li li:last-of-type > a {
      border-bottom: 0; }
  .main-nav .fa {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 18px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle; }
  .main-nav .collapse-level-1:not(.show) {
    display: block; }
  .main-nav .collapse-level-1 a::before {
    display: none; }
  .main-nav .collapse-level-1 .menuitem-group,
  .main-nav .collapse-level-1 > li:first-of-type {
    margin: 6px 0 0;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 1px; }
  .main-nav .collapse-level-1 li {
    position: relative;
    overflow: visible; }
    .main-nav .collapse-level-1 li:hover ul {
      display: block !important; }
  .main-nav .collapse-level-2 {
    position: absolute;
    top: 0;
    bottom: auto;
    left: 100% !important;
    height: auto;
    padding: 2px 0;
    background-color: #2a64a3;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); }
    .main-nav .collapse-level-2 > li > a {
      color: #fff;
      text-indent: 15px; }
  .closed .main-nav {
    overflow-x: hidden; }

.child-open > li.open a::before {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 0;
  width: 3px;
  content: "";
  background-color: #59afff; }

.closed .child-open::after {
  display: none; }

.closed .sidebar-wrapper {
  width: 64px;
  overflow: hidden; }

.closed .parent .collapse-arrow::after {
  visibility: hidden;
  transition-delay: 0s !important; }

.closed .menu-toggle-icon::before {
  content: "\f054"; }

.layout-edit .sidebar-wrapper .no-dropdown:hover {
  color: #fff;
  cursor: not-allowed;
  background: none; }

.sidebar-item-title {
  visibility: visible !important;
  opacity: 1 !important; }

.sidebar-nav ul {
  padding-left: .5rem; }

.sidebar-nav li {
  padding-bottom: 3px;
  font-size: .9rem;
  font-weight: bold; }
  .sidebar-nav li.nav-header {
    padding: .5rem 0 .2rem;
    margin-bottom: .2rem;
    font-size: .9rem;
    color: #495057;
    border-bottom: 1px solid #ced4da; }
  .sidebar-nav li.divider {
    margin: .3rem 0; }
  .sidebar-nav li a {
    color: #23558a; }

.subhead {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1040;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  min-height: 43px;
  padding: 13px 0;
  color: #0c192e;
  background: #ebeff5; }
  .subhead .row {
    margin-right: 0;
    margin-left: 0; }
  .subhead .btn-toolbar {
    margin-bottom: 0; }
    .subhead .btn-toolbar > * {
      margin-left: .75rem;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
      .subhead .btn-toolbar > *:first-of-type {
        margin-left: 0; }
  .subhead .btn {
    padding: 0 22px;
    font-size: 1rem;
    line-height: 2.65rem;
    color: white; }
    .subhead .btn [class^="icon-"],
    .subhead .btn [class*=" icon-"],
    .subhead .btn [class^="fa-"],
    .subhead .btn [class*=" fa-"] {
      z-index: -1;
      display: inline-block;
      width: 40px;
      height: auto;
      margin: 0 16px 0 -22px;
      line-height: 2.65rem;
      color: white;
      background-color: rgba(0, 0, 0, 0.2); }
  .subhead .btn-group {
    margin-right: .75rem; }
    .subhead .btn-group [class^="icon-"],
    .subhead .btn-group [class*=" icon-"],
    .subhead .btn-group [class^="fa-"],
    .subhead .btn-group [class*=" fa-"] {
      margin-right: 0;
      background-color: transparent; }
  .subhead .dropdown-toggle {
    padding: 0 16px; }
    .subhead .dropdown-toggle.btn {
      background-color: rgba(0, 0, 0, 0.2); }
    .subhead .dropdown-toggle.btn-primary {
      background-color: #285f9b; }
    .subhead .dropdown-toggle.btn-success {
      background-color: #245f26; }
    .subhead .dropdown-toggle.btn-info {
      background-color: #128294; }
    .subhead .dropdown-toggle.btn-danger {
      background-color: #a32120; }

.treeselect {
  display: block;
  padding-left: 0;
  list-style: none; }
  .treeselect .nav-header {
    font-weight: 700;
    color: #212529; }
  .treeselect li {
    position: relative;
    display: block;
    line-height: 2.2rem;
    list-style: none; }
    .treeselect li::before {
      position: absolute;
      top: 14px;
      left: 25px;
      width: 10px;
      height: 1px;
      margin: auto;
      content: "";
      background-color: rgba(0, 0, 0, 0.2); }
    .treeselect li::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 25px;
      width: 1px;
      height: 100%;
      content: "";
      background-color: rgba(0, 0, 0, 0.2); }
    .treeselect li:last-child::after {
      height: 14px; }
    .treeselect li li {
      padding-left: 40px; }
  .treeselect > li::before,
  .treeselect > li::after {
    display: none; }
  .treeselect .icon- {
    display: none; }
  .treeselect .treeselect-toggle {
    display: inline-block;
    padding: 0;
    margin-right: .1rem;
    text-align: center;
    cursor: pointer; }
  .treeselect .treeselect-menu {
    display: inline-block; }
  .treeselect .treeselect-item {
    display: inline-block; }
    .treeselect .treeselect-item input {
      position: relative;
      top: 1px;
      margin-right: .2rem; }
    .treeselect .treeselect-item label {
      margin-bottom: 0; }
  .treeselect .dropdown-toggle {
    padding: 0 .5rem .3rem;
    margin-left: .5rem; }
    .treeselect .dropdown-toggle::after {
      margin-left: 0;
      font-size: 1rem;
      color: #495057; }

.treeselect-sub {
  padding-left: 0; }

.tree-holder ul ul li::before, .tree-holder ul ul li::after {
  left: 8px;
  display: block; }

.tree-holder ul ul li::before {
  top: 12px; }

.tree-holder ul ul li:last-child::after {
  height: 12px; }

.tree-holder li {
  line-height: 1.8rem; }
  .tree-holder li li {
    padding-left: 20px; }

.element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); }

.hidden {
  display: none;
  visibility: hidden; }

.awesomplete {
  display: block; }

.badge {
  border-radius: 1.2rem; }

.btn-primary {
  color: #fff;
  background-color: #3073bb;
  border-color: #3073bb; }
  .btn-primary:hover {
    color: #fff;
    background-color: #28609d;
    border-color: #265a92; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(48, 115, 187, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25); }

.btn-secondary {
  color: #fff;
  background-color: #6f7780;
  border-color: #6f7780; }
  .btn-secondary:hover {
    color: #fff;
    background-color: #5d646c;
    border-color: #575e65; }
  .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: 0 0 0 0.2rem rgba(111, 119, 128, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25); }

.btn-success {
  color: #fff;
  background-color: #2f7d32;
  border-color: #2f7d32; }
  .btn-success:hover {
    color: #fff;
    background-color: #256127;
    border-color: #215823; }
  .btn-success:focus, .btn-success.focus {
    box-shadow: 0 0 0 0.2rem rgba(47, 125, 50, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25); }

.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8; }
  .btn-info:hover {
    color: #fff;
    background-color: #138496;
    border-color: #117a8b; }
  .btn-info:focus, .btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25); }

.btn-warning {
  color: #fff;
  background-color: #b35900;
  border-color: #b35900; }
  .btn-warning:hover {
    color: #fff;
    background-color: #8d4600;
    border-color: #804000; }
  .btn-warning:focus, .btn-warning.focus {
    box-shadow: 0 0 0 0.2rem rgba(179, 89, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25); }

.btn-danger {
  color: #fff;
  background-color: #c52827;
  border-color: #c52827; }
  .btn-danger:hover {
    color: #fff;
    background-color: #a52221;
    border-color: #9a1f1f; }
  .btn-danger:focus, .btn-danger.focus {
    box-shadow: 0 0 0 0.2rem rgba(197, 40, 39, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25); }

.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa; }
  .btn-light:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5; }
  .btn-light:focus, .btn-light.focus {
    box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25); }

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40; }
  .btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124; }
  .btn-dark:focus, .btn-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5), 0 1px 2px rgba(0, 0, 0, 0.25); }

.card-body {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

.custom-select.custom-select-color-state.custom-select-success {
  color: #fefefe;
  background-color: #2f7d32; }
  .custom-select.custom-select-color-state.custom-select-success option {
    color: #495057;
    background-color: #fefefe; }

.custom-select.custom-select-color-state.custom-select-danger {
  color: #fefefe;
  background-color: #c52827; }
  .custom-select.custom-select-color-state.custom-select-danger option {
    color: #495057;
    background-color: #fefefe; }

.accordion .card-header {
  display: block;
  font-size: 0.9286rem;
  font-weight: bold;
  line-height: 1.2; }

.accordion .list-group-item {
  color: #3073bb; }

.btn-group .dropdown-menu {
  width: 100%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  .btn-group .dropdown-menu [class^="icon-"], .btn-group .dropdown-menu [class*=" icon-"] {
    margin-right: .25rem; }

.btn-primary + .dropdown-menu .dropdown-item:hover, .btn-primary + .dropdown-menu
.dropdown-item:focus {
  background-color: #3073bb; }

.btn-success + .dropdown-menu .dropdown-item:hover, .btn-success + .dropdown-menu
.dropdown-item:focus {
  background-color: #2f7d32; }

.btn-danger + .dropdown-menu .dropdown-item:hover, .btn-danger + .dropdown-menu
.dropdown-item:focus {
  background-color: #c52827; }

.btn-info + .dropdown-menu .dropdown-item:hover, .btn-info + .dropdown-menu
.dropdown-item:focus {
  background-color: #17a2b8; }

.dropdown-item + .dropdown-item {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.list-group-item {
  background-color: #fefefe; }

.list-unstyled .list-unstyled {
  padding-left: 20px; }

.jviewport-height10 {
  height: 10vh; }

.jviewport-height20 {
  height: 20vh; }

.jviewport-height30 {
  height: 30vh; }

.jviewport-height40 {
  height: 40vh; }

.jviewport-height50 {
  height: 50vh; }

.jviewport-height60 {
  height: 60vh; }

.jviewport-height70 {
  height: 70vh; }

.jviewport-height80 {
  height: 80vh; }

.jviewport-height90 {
  height: 90vh; }

.jviewport-height100 {
  height: 100vh; }

[class*=jviewport-height] iframe {
  height: 100%; }

.modal-dialog.jviewport-width10 {
  width: 10vw;
  max-width: none; }

.modal-dialog.jviewport-width20 {
  width: 20vw;
  max-width: none; }

.modal-dialog.jviewport-width30 {
  width: 30vw;
  max-width: none; }

.modal-dialog.jviewport-width40 {
  width: 40vw;
  max-width: none; }

.modal-dialog.jviewport-width50 {
  width: 50vw;
  max-width: none; }

.modal-dialog.jviewport-width60 {
  width: 60vw;
  max-width: none; }

.modal-dialog.jviewport-width70 {
  width: 70vw;
  max-width: none; }

.modal-dialog.jviewport-width80 {
  width: 80vw;
  max-width: none; }

.modal-dialog.jviewport-width90 {
  width: 90vw;
  max-width: none; }

.modal-dialog.jviewport-width100 {
  width: 100vw;
  max-width: none; }

.nav.nav-tabs {
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: unset;
  padding: 0;
  margin: 0 0 1rem;
  text-align: center;
  background-color: #3073BB; }
  @media (max-width: 767.98px) {
    .nav.nav-tabs {
      flex-direction: column; } }
  .nav.nav-tabs .nav-item {
    margin-bottom: 0;
    margin-left: 0;
    width: 100%; }
  .nav.nav-tabs .nav-link {
    position: relative;
    padding: .75em 1em;
    height: 100%;
    color: #fff;
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1); }

.nav-tabs + .tab-content {
  padding: 0;
  background: transparent;
  border: 0; }

.pagination {
  margin: 1rem; }

.table thead th {
  white-space: nowrap;
  border-bottom-width: 0; }

.table thead a {
  color: #343a40;
  font-weight: normal; }

.table tbody {
  background-color: #fff; }

.table th,
.table td {
  vertical-align: middle; }
  .table th label,
  .table td label {
    margin-bottom: 0; }

.table th {
  padding: 8px 12px; }

.table td {
  padding: 18px 12px; }

.chzn-container.chzn-container-single .chzn-single {
  display: inline-block;
  max-width: 100%;
  height: calc(calc(2.7rem + 2px) - 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  padding-right: 0.75rem \9;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fefefe url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-image: none \9;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  box-shadow: none;
  -moz-appearance: none;
  -webkit-appearance: none; }
  .chzn-container.chzn-container-single .chzn-single abbr {
    top: 10px; }
  .chzn-container.chzn-container-single .chzn-single:focus {
    border-color: #8ab4e1;
    outline: none; }
  .chzn-container.chzn-container-single .chzn-single:disabled {
    color: #6f7780;
    cursor: not-allowed;
    background-color: #e9ecef; }
  .chzn-container.chzn-container-single .chzn-single div b {
    background: none; }

.chzn-container.chzn-container-single .chzn-drop {
  background: #fefefe;
  border: 1px solid #ced4da; }

.chzn-container.chzn-container-single.chzn-container-active .chzn-single {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.chzn-container-single {
  width: auto !important; }

.card .chzn-container.chzn-container-single {
  width: 100% !important; }
  .card .chzn-container.chzn-container-single .chzn-single {
    width: 100% !important; }

.gu-mirror {
  position: fixed !important;
  z-index: 9999 !important;
  margin: 0 !important;
  cursor: move;
  background-color: #90ee90;
  opacity: .8; }
  .gu-mirror.table {
    display: table; }
    .gu-mirror.table td {
      display: table-cell; }

.js-draggable .sortable-handler {
  cursor: move; }

.minicolors-theme-bootstrap .minicolors-input {
  width: 120px; }

.minicolors-theme-bootstrap .rgb {
  width: 175px; }

.minicolors-theme-bootstrap .rgba {
  width: 220px; }

.editor .toggle-editor {
  margin-top: 1rem; }

.editor .mce-tinymce {
  border: 1px solid #2b5c91; }

.editor .mce-btn,
.editor .mce-panel {
  background: #fefefe; }

.com_config .content {
  background-color: transparent; }

.com_config [class^='col-'] > fieldset {
  margin-bottom: 2rem; }

.com-cpanel-help__header {
  color: #2b5c91; }

.com-cpanel-help a {
  color: #343a40; }

.com-cpanel-help .list-group {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }

.com-cpanel-system {
  -webkit-column-count: 4;
          column-count: 4; }
  .com-cpanel-system__category {
    margin-bottom: 1.5em;
    webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
            break-inside: avoid; }
  .com-cpanel-system__header {
    color: #2b5c91; }
    .com-cpanel-system__header span {
      margin-right: 5px; }
  .com-cpanel-system a {
    color: #343a40; }
  .com-cpanel-system .list-group {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  @media (max-width: 991.98px) {
    .com-cpanel-system {
      -webkit-column-count: 2;
              column-count: 2; } }
  @media (max-width: 767.98px) {
    .com-cpanel-system {
      -webkit-column-count: 1;
              column-count: 1; } }

.com_cpanel .content {
  margin-top: 0; }

.com_cpanel .card p:first-of-type {
  margin-top: 0; }

.com_cpanel .card p:last-child {
  margin-bottom: 0; }

.com_cpanel .card .list-group {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25); }
  .com_cpanel .card .list-group > .published {
    padding-left: .9rem;
    border-left: 5px solid #2f7d32; }
  .com_cpanel .card .list-group > .unpublished {
    padding-left: .9rem;
    border-left: 5px solid #c52827; }

.com_cpanel .card-header {
  padding-left: 0;
  font-size: 0.9286rem;
  color: #2b5c91; }

.com_cpanel .module-actions {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; }
  .com_cpanel .module-actions > a {
    display: inline-block;
    width: 2.6em;
    height: 2.6em;
    line-height: 2.6em;
    color: #2b5c91;
    text-align: center; }

.menu-assignment {
  position: relative; }
  .menu-assignment .menu-links {
    padding-left: 0;
    margin-top: 15px;
    margin-left: 0;
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 15px;
            column-gap: 15px; }
    .menu-assignment .menu-links > li {
      display: inline-block;
      width: 100%;
      margin-bottom: 15px;
      vertical-align: top;
      list-style: none;
      column-break-inside: avoid;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
  .menu-assignment .menu-links-block {
    padding: 15px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 3px; }
  .menu-assignment label {
    display: block; }
    .menu-assignment label input {
      position: relative;
      top: 2px; }

@media (max-width: 767px) {
  .menu-assignment .menu-links {
    -webkit-column-count: auto;
            column-count: auto; } }

.com_users.view-debuggroup thead th, .com_users.view-debuguser thead th {
  white-space: normal; }

.com_users.view-debuggroup .legend, .com_users.view-debuguser .legend {
  margin: 1rem 1rem 0; }

.container-main,
.system-debug {
  padding-bottom: 50px; }

.container-main {
  position: relative;
  min-height: calc(100vh - 55px);
  background-color: #ebeff5; }

.list-view-main .container-main {
  background-color: #ebeff5; }

.content {
  padding-top: 15px;
  border-radius: none; }
  .content > .row {
    margin-right: 0;
    margin-left: 0; }
  .subhead + .content {
    padding-top: 0; }

.row-selected {
  background-color: #d9edf7; }

.chzn-container-single {
  width: auto !important; }

.item-associations {
  padding: 0; }

.item-associations li {
  display: inline-block;
  list-style: none; }
