<?xml version="1.0" encoding="utf-8"?>
<config>
 <params>
  <param name="allowUserRegistration" type="radio" default="1" label="Allow User Registration" description="TIPALLOWUSERREG">
   <option value="0">No</option>
   <option value="1">Yes</option>
  </param>
  <param name="new_usertype" type="list" default="Registered" label="New User Registration Type" description="TIPNEWUSERTYPE">
   <option value="Registered">Registered</option>
   <option value="Author">Author</option>
   <option value="Editor">Editor</option>
   <option value="Publisher">Publisher</option>
  </param>
  <param name="useractivation" type="radio" default="1" label="New User Account Activation" description="TIPIFYESUSERMAILEDLINK">
   <option value="0">No</option>
   <option value="1">Yes</option>
  </param>
  <param name="frontend_userparams" type="radio" default="1" label="Front-end User Params" description="TIPFRONTENDUSERPARAMS">
   <option value="0">Hide</option>
   <option value="1">Show</option>
  </param>
 </params>
</config>
