<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Unit/bootstrap.php" colors="false">
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">./Unit/Libraries</directory>
		</testsuite>
		<testsuite name="Integration">
			<directory suffix="Test.php">./Integration/Libraries</directory>
		</testsuite>
	</testsuites>
	<php>
		<const name="JTEST_DB_ENGINE" value="mysqli" />
		<const name="JTEST_DB_HOST" value="localhost" />
		<const name="JTEST_DB_NAME" value="test_joomla" />
		<const name="JTEST_DB_USER" value="root" />
		<const name="JTEST_DB_PASSWORD" value="Password12!" />
	</php>
</phpunit>
