/* Bootstrap alert mapping */

@mixin alert-variant($background, $border, $body-color) {
  background-color: $background;
  border-color: $border;
  border-left: 10px solid $background;
  color: $body-color;

  hr {
    border-top-color: darken($background, 5%);
  }
  .alert-link {
    color: darken($background, 10%);
  }
}

.alert-message {
  @include alert-variant(theme-color("success"), theme-color("success"), $gray-200);
}
