<?xml version="1.0" encoding="utf-8"?>
<config>
	<help key="News_Feed:_Options"/>
	<inlinehelp button="show"/>
	<fieldset
		name="newsfeed"
		label="COM_NEWSFEEDS_FIELD_CONFIG_NEWSFEED_SETTINGS_LABEL"
		description="COM_NEWSFEEDS_FIELD_CONFIG_NEWSFEED_SETTINGS_DESC"
		>

		<field
			name="newsfeed_layout"
			type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			class="form-select"
			menuitems="true"
			extension="com_newsfeeds"
			view="newsfeed"
		/>

		<field
			name="save_history"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
			default="0"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="history_limit"
			type="number"
			label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			default="5"
			filter="integer"
			showon="save_history:1"
		/>

		<field
			name="show_feed_image"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_SHOW_FEED_IMAGE_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_feed_description"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_SHOW_FEED_DESCRIPTION_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_item_description"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_SHOW_ITEM_DESCRIPTION_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="feed_character_count"
			type="number"
			label="COM_NEWSFEEDS_FIELD_CHARACTER_COUNT_LABEL"
			description="COM_NEWSFEEDS_FIELD_CHARACTER_COUNT_DESC"
			filter="integer"
			default="0"
		/>

		<field
			name="feed_display_order"
			type="list"
			label="COM_NEWSFEEDS_FIELD_FEED_DISPLAY_ORDER_LABEL"
			validate="options"
			>
			<option value="des">JGLOBAL_MOST_RECENT_FIRST</option>
			<option value="asc">JGLOBAL_OLDEST_FIRST</option>
		</field>

		<field
			name="float_first"
			type="list"
			label="COM_NEWSFEEDS_FLOAT_FIRST_LABEL"
			validate="options"
			>
			<option value="right">COM_NEWSFEEDS_RIGHT</option>
			<option value="left">COM_NEWSFEEDS_LEFT</option>
			<option value="none">COM_NEWSFEEDS_NONE</option>
		</field>

		<field
			name="float_second"
			type="list"
			label="COM_NEWSFEEDS_FLOAT_SECOND_LABEL"
			validate="options"
			>
			<option value="right">COM_NEWSFEEDS_RIGHT</option>
			<option value="left">COM_NEWSFEEDS_LEFT</option>
			<option value="none">COM_NEWSFEEDS_NONE</option>
		</field>

		<field
			name="show_tags"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_SHOW_TAGS_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>

	<fieldset
		name="category"
		label="JCATEGORY"
		description="COM_NEWSFEEDS_FIELD_CONFIG_CATEGORY_SETTINGS_DESC"
		>

		<field
			name="category_layout"
			type="componentlayout"
			label="JGLOBAL_FIELD_LAYOUT_LABEL"
			class="form-select"
			menuitems="true"
			extension="com_newsfeeds"
			view="category"
		/>

		<field
			name="show_category_title"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SHOW_CATEGORY_TITLE"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_description"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_description_image"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="maxLevel"
			type="list"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			default="-1"
			validate="options"
			>
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field
			name="show_empty_categories"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			default="0"
			showon="maxLevel:-1,1,2,3,4,5"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_subcat_desc"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			default="1"
			showon="maxLevel:-1,1,2,3,4,5"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_cat_items"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_SHOW_CAT_ITEMS_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_cat_tags"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_SHOW_CAT_TAGS_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>

	<fieldset
		name="categories"
		label="JCATEGORIES"
		description="COM_NEWSFEEDS_CATEGORIES_DESC"
		>

		<field
			name="show_base_description"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="maxLevelcat"
			type="list"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			default="-1"
			validate="options"
			>
			<option value="-1">JALL</option>
			<option value="0">JNONE</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field
			name="show_empty_categories_cat"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			default="0"
			showon="maxLevelcat:-1,1,2,3,4,5"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_subcat_desc_cat"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			default="1"
			showon="maxLevelcat:-1,1,2,3,4,5"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_cat_items_cat"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_SHOW_CAT_ITEMS_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>

	<fieldset
		name="listlayout"
		label="JGLOBAL_LIST_LAYOUT_OPTIONS"
		description="COM_NEWSFEEDS_FIELD_CONFIG_LIST_SETTINGS_DESC"
		>

		<field
			name="filter_field"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_pagination_limit"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_headings"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_SHOW_HEADINGS_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_articles"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_NUM_ARTICLES_COLUMN_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_link"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_NEWSFEEDS_FIELD_SHOW_LINKS_LABEL"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="show_pagination"
			type="list"
			label="JGLOBAL_PAGINATION_LABEL"
			default="2"
			validate="options"
			>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
			<option value="2">JGLOBAL_AUTO</option>
		</field>

		<field
			name="show_pagination_results"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			default="1"
			showon="show_pagination:1,2"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
	</fieldset>

	<fieldset name="integration"
		label="JGLOBAL_INTEGRATION_LABEL"
		description="COM_NEWSFEEDS_CONFIG_INTEGRATION_SETTINGS_DESC"
	>
		<fieldset
			name="integration_sef"
			label="JGLOBAL_SEF_TITLE"
		>
			<field
				name="sef_ids"
				type="radio"
				layout="joomla.form.field.radio.switcher"
				default="0"
				label="JGLOBAL_SEF_NOIDS_LABEL"
				filter="integer">
				<option value="0">JNO</option>
				<option value="1">JYES</option>
			</field>
		</fieldset>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_newsfeeds"
			section="component"
		/>
	</fieldset>
</config>
