// Alerts

.j-main-container {

  .alert {
    margin: 10px;
  }

}

.alert-heading {
  font-size: $h4-font-size;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
