/**
* Back to Top
* inspired by https://moderncss.dev/pure-css-smooth-scroll-back-to-top/
*/
$scrollLength: 100vh;

.back-to-top-wrapper {
  position: absolute;
  top: calc(#{$scrollLength} + #{$cassiopeia-grid-gutter * 10});
  right: 0;
  bottom: 0;
  z-index: $zindex-fixed;
  width: 3rem;
  pointer-events: none;

  [dir=rtl] & {
    right: unset;
    left: 0;
  }
}

.back-to-top-link {
  position: fixed;
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  position: sticky;
  top: calc(#{$scrollLength} - #{$cassiopeia-grid-gutter * 4});
  padding: $cassiopeia-grid-gutter/2;
  color: var(--cassiopeia-color-primary, $standard-color-primary);
  pointer-events: all;
  background-color: var(--white, $white);
  border: 1px solid var(--cassiopeia-color-primary, $standard-color-primary);
  border-radius: $border-radius;
  transition: all 200ms ease-in;

  &:hover,
  &:focus {
    color: var(--white, $white);
    background-color: var(--cassiopeia-color-hover);
    border-color: var(--white, $white);
  }
}
