// Banner

.container-banner {
  color: $white;

  img {
    display: block;
    margin: auto;
  }

  .banner-overlay {
    height: 70vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top,center;
    background-size: cover;

    .overlay {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: $cassiopeia-grid-gutter;
      text-align: center;

      .text-thin {
        font-weight: $font-weight-lighter;
      }
    }
  }
}
