// CSS Grid

@supports (display: grid) {
  /* autoprefixer: off */
  .site-grid {
    .container-header {
      margin-top: 0;
      margin-bottom: 20px;

      + div:not(.container-banner) {
        margin-top: $cassiopeia-grid-gutter;
      }
    }
  }

  .container-banner {
    z-index: 5;
    margin: -2rem 0 0;

    p {
      margin-bottom: 0;
    }

    @include media-breakpoint-up(xl) {
      margin-top: -3rem;
    }

  }

  .module-block {
    .wrapper {
      display: grid;
      grid-gap: $cassiopeia-grid-gutter;
      grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
      > div {
        margin: 0;
      }
    }

    @include media-breakpoint-down(md) {
      grid-template-columns: 1fr 1fr;
    }
    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;
    }
  }

}
