// Footer

.footer {
  padding: 2.5rem ($cassiopeia-grid-gutter / 2);
  margin-top: $cassiopeia-grid-gutter;
  color: $white;
  background-color: var(--cassiopeia-color-primary);
  background-image: $cassiopeia-header-grad;

  a {
    color: $white;
  }

  .back-top {
    align-self: flex-end;
    height: 40px;
    padding: $cassiopeia-grid-gutter/2;
    color: var(--cassiopeia-color-primary);
    background: color("white");
    border-radius: $border-radius;

    @include margin("right", 5px);
    @include margin("left", auto);
  }
}
