// Footer

.footer {

  .back-top {
    align-self: flex-end;
    height: 40px;
    padding: 8px 11px;
    color: #fff;
    background: $cassiopeia-template-color;
    border-radius: 3px;

    @include margin("right", 5px);
    @include margin("left", auto);
  }
}
