// Frontend Editing

.btn.jmodedit {
  position: absolute;
  right: 10px;
  background-color: $white;
  border: 1px solid #dfe3e7;
  border-radius: .25rem;
}

a.jmenuedit {
  padding-right: .5rem;

  [dir=rtl] & {
    padding-right: 0;
    padding-left: .5rem;
  }
}

