// Frontend Module Placement

.btn.jmodadd {
  width: 100%;
  padding-top: $cassiopeia-grid-gutter*2;
  padding-bottom: $cassiopeia-grid-gutter*2;
  margin-bottom: $cassiopeia-grid-gutter;
  font-size: 1.1em;
  font-weight: 500;
  color: var(--cassiopeia-color-primary, $standard-color-primary);
  background-color: rgba(255,255,255,.5);
  border: 1px solid var(--cassiopeia-color-primary);
  border-radius: .25rem;

  &:hover,
  &:focus {
    color: var(--white, $white);
    background-color: var(--cassiopeia-color-hover);
    border-color: var(--cassiopeia-color-hover);
  }
}
