// Frontend Editing

.btn.jmodedit {
  position: absolute;
  right: 10px;
  background-color: $white;
  border: 1px solid #dfe3e7;
  border-radius: .25rem;
}

a.jmenuedit {
  padding-inline-start: 0;
  padding-inline-end: .5rem;
}

