// Global

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400'); // @TODO - Move to script tag once webfontloader added to core.js

html {
  font-size: $font-size-root;
}
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

small,
.small {
  font-size: $font-size-sm;
}

dd {
  margin-bottom: 0;
}

.mod-menu {
  flex-direction: column;
}
