// Global
:root {
  scroll-behavior: smooth;

  // Disable smooth scroll when the user has set "prefers-reduced-motion"
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

html {
  font-size: $font-size-root;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  background: #fff;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

small,
.small {
  font-size: $font-size-sm;
}

dd {
  margin-bottom: 0;
}

.mod-menu {
  flex-direction: column;
}

// meter element
meter {
  width: 100%;
}
