// Global
:root {
  scroll-behavior: smooth;
  font-size: $font-size-root;

  // Disable smooth scroll when the user has set "prefers-reduced-motion"
  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

body {
  position: relative;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--cassiopeia-font-family-headings, $font-family-sans-serif);
  font-weight: var(--cassiopeia-font-weight-headings, $font-weight-bold);
}

a {
  color: var(--cassiopeia-color-link);

  &:not([class]) {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: var(--cassiopeia-color-hover);
  }

  &.navbar-brand {
    color: var(--cassiopeia-color-brand);
  }
}

.btn-primary {
  background-color: var(--cassiopeia-color-primary);
  border-color: var(--cassiopeia-color-primary);

  &:hover,
  &:focus {
    background-color: var(--cassiopeia-color-hover);
    border-color: var(--cassiopeia-color-hover);
  }
}

small,
.small {
  font-size: $font-size-sm;
}

dd {
  margin-bottom: 0;
  padding: 0 0 0 ($cassiopeia-grid-gutter*2);
}

[dir="rtl"] dd {
  padding: 0 ($cassiopeia-grid-gutter*2) 0 0;
  margin-right: 0;
  margin-left: auto;
}

th dd {
  font-weight: normal;
}

figure {
  margin: 0 0 ($cassiopeia-grid-gutter*2);
}

figcaption {
  font-size: .9em;
  color: $gray-600;
}

.mod-menu {
  flex-direction: column;
}

// meter element
meter {
  width: 100%;
}

.pagenavigation {
  .pagination {
    justify-content: space-between;

    li.next:only-child {
      margin-left: auto;
    }
  }
}

.page-link {
  color: var(--cassiopeia-color-link);
  &:hover {
    color: var(--cassiopeia-color-link);
  }
}
