// Header

.container-header {
  position: relative;
  z-index: 10;
  background-color: var(--cassiopeia-color-primary);
  background-image: $cassiopeia-header-grad;
  box-shadow: 0 5px 5px hsla(0, 0%, 0%,.03) inset;

  @include media-breakpoint-down(sm) {
    position: relative !important;
  }

  .grid-child {
    padding: ($cassiopeia-grid-gutter / 2);
  }

  nav {
    padding: ($cassiopeia-grid-gutter / 2) $cassiopeia-grid-gutter $cassiopeia-grid-gutter ($cassiopeia-grid-gutter / 2);
  }

  .site-description {
    font-size: 1rem;
    color: $white;
  }

  .navbar-brand {
    position: relative;
    display: inline-block;
    margin-right: auto;
    font-size: 2rem;
    color: $white;

    [dir=rtl] & {
      margin-right: 0;
      margin-left: auto;
    }

    img {
      width: 18rem;
      min-width: 18rem;
    }

    a {
      color: $white;
    }

    &:hover,
    &:focus {
      color: scale-color($white, $lightness: -6%);
    }
  }

  .navbar-collapse {
    &.show {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .mod-menu {
    flex: 1 0 100%;
    padding: 0;
    margin: 0;
    color: $white;
    list-style: none;

    @include media-breakpoint-up(md) {
      display: flex;
      flex: 1 1 0%;
      flex-direction: row;
      margin-right: $cassiopeia-grid-gutter;
    }

    > li {
      position: relative;
      letter-spacing: 1.75px;

      @include media-breakpoint-up(md) {
        + li {
          margin-left: 1.55em;
        }
      }

      > a,
      > span {
        position: relative;
        color: currentColor;
        text-decoration: none;
      }

      &::after {

        @include media-breakpoint-up(md) {
          position: absolute;
          right: 50%;
          bottom: 0;
          left: 50%;
          display: block;
          height: 2px;
          margin: auto;
          content: "";
          background: transparent;
          opacity: .2;
          transition: all .2s ease, background-color .2s ease;
        }
      }

      &.active::after,
      &:hover::after {
        right: 2px;
        left: 0;
        background: $white;
      }
    }

    .parent {
      > ul {
        display: none;
        color: var(--cassiopeia-color-primary);
      }
    }
  }

  .navbar-toggler {
    color: $white;
    cursor: default;
    border: 1px solid $white;

    .fas {
      font-size: 24px;
    }
  }

  .form-inline {
    margin-top: .75rem;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-left: auto;
    }
  }

  .mod-finder {
    display: flex;
    flex: 1 0 20rem;
    max-width: 100%;

    > label {
      @include a11y-visually-hidden();
    }
  }
}
