// Header

.container-header {
  position: relative;
  z-index: 10;
  background-color: $cassiopeia-template-color;
  background-image: $cassiopeia-header-grad;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .03) inset;

  @include media-breakpoint-down(sm) {
    position: relative !important;
  }

  header {
    width: 100%;
    max-width: 72.1875rem;
    padding: 0 ($cassiopeia-grid-gutter / 2);
    margin: 0 auto;

  }

  nav {
    padding: 2.5rem ($cassiopeia-grid-gutter / 2);
  }

  .site-description {
    font-size: 1rem;
    color: $white-offset;
  }

  .navbar-brand {
    position: relative;
    display: inline-block;
    padding: 2.5rem ($cassiopeia-grid-gutter / 2);
    margin-right: auto;
    font-size: 2rem;
    color: $white-offset;

    [dir=rtl] & {
      margin-right: 0;
      margin-left: auto;
    }

    img {
      width: 18rem;
      min-width: 18rem;
    }

    a {
      color: $white;
    }

    &:hover,
    &:focus {
      color: darken($white-offset, 6%);
    }
  }

  .navbar-collapse {
    &.show {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .mod-menu {
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    color: $white;

    @include media-breakpoint-up(md) {
      flex: 1 1 0%;
      display: flex;
      flex-direction: row;
    }

    > li {
      position: relative;
      letter-spacing: 1.75px;

      @include media-breakpoint-up(md) {
        + li {
          margin-left: 1.55em;
        }
      }

      > a,
      > span {
        position: relative;
        color: currentColor;
        text-decoration: none;
      }
    }

    .parent {
      > ul {
        display: none;
        color: $cassiopeia-template-color-dark;
      }
    }
  }

  .navbar-toggler {
    color: $white-offset;
    cursor: default;
    border: 1px solid $white-offset;

    .fas {
      font-size: 24px;
    }
  }

  .form-inline {
    margin-top: .75rem;

    @include media-breakpoint-up(md) {
      margin-top: 0;
      margin-left: auto;
    }
  }

  .mod-finder {
    display: flex;
    flex: 1 0 20rem;
    max-width: 100%;

    > label {
      @include a11y-visually-hidden();
    }
  }
}

.container-title {
  padding-top: 13px;
  padding-bottom: 13px;
  color: $white;
  background-color: $cassiopeia-template-color;

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .page-title {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: normal;

    span {
      position: relative;
      top: 2px;
      margin-right: 12px;
      margin-left: 5px;
      font-size: $h1-font-size;
      color: lighten($cassiopeia-template-color, 10%);
    }
  }
}
