// Icons

.icon-back::before {
  content: "\e008";
}

.icon-crop::before {
  content: "\f125";
}

.icon-white {
  color: $white-offset;
}

.input-group-text {
  &::before {
    min-width: 16px;
  }
}
