// Icons
.#{$jicon-css-prefix}::before {
  content: "\e008";
}

.#{$jicon-css-prefix}::before {
  content: "\f125";
}

.#{$jicon-css-prefix}-white {
  color: $white;
}

.input-group-text {
  &::before {
    min-width: 16px;
  }
}

// WebAuthn
.plg_system_webauthn_login_button svg {
  [dir=ltr] & {
    margin-right: 2px;
  }

  [dir=rtl] & {
    margin-left: 2px;
  }
}

.plg_system_webauthn_login_button svg path {
  fill: var(--black);
}
