// Icons

.icon-back::before {
  content: "\e008";
}

.icon-crop::before {
  content: "\f125";
}

.icon-white {
  color: $white-offset;
}

.icon-publish,
.fa-check {
  color: theme-color("success");

  .dropdown-status-group & {
    color: inherit;
  }
}

.icon-unpublish,
.fas.fa-times {
  color: theme-color("danger");

  .dropdown-status-group & {
    color: inherit;
  }
}

.input-group-text {
  &::before {
    min-width: 16px;
  }
}
