// Layout

.site {
  background-color: #fafafa;
  > div,
  header > nav,
  .container-banner,
  footer {
    display: flex;
    width: 100%;
    max-width: $cassiopeia-wrapper-width;
    margin-right: auto;
    margin-left: auto;
  }

  > .full-width {
    max-width: none;
  }

  .container-footer,
  .system-debug {
    display: block;
  }

}

.wrapper {
  width: 100%;
  max-width: $cassiopeia-wrapper-width;
  padding: 0 ($cassiopeia-grid-gutter / 2);
  margin: 0 auto;
}

header {
  margin-bottom: 10px;
}

.container-banner {
  margin: -15px 0 -5px;
}

.module-block {
  background-position: 50%;
  background-size: cover;
  .wrapper {
    > div {
      flex: 1;
      margin: ($cassiopeia-grid-gutter / 2);
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;

      > div {
        flex: 0 1 auto;
      }
    }
  }
}

.container-main {
  .wrapper {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    > div {
      margin: ($cassiopeia-grid-gutter / 2);
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;

    .wrapper > div {
      flex: 0 1 auto;
    }
  }
}

.container-component {
  flex: 1;

  > div:not(#system-message-container) {
    margin-bottom: $cassiopeia-grid-gutter;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.container-sidebar-left,
.container-sidebar-right, {
  flex: 0 0 auto;
  width: calc(25% - #{$cassiopeia-grid-gutter});

  > div {
    margin-bottom: $cassiopeia-grid-gutter;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-down(sm) {
    width: calc(100% - #{$cassiopeia-grid-gutter});
    order: 1;
  }
}

.system-debug {
  display: block;
}
