// Modifiers

.blog-items {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  margin-bottom: 2rem;
  &.columns-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  &[class^='masonry-'], &[class*=' masonry-'] {
    display: block;
    column-gap: 2rem;
    .blog-item {
      margin-bottom: 2rem;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
  &.masonry-2 {
    column-count: 2;
  }
  &.masonry-3 {
    column-count: 3;
  }
  &.masonry-4 {
    column-count: 4;
  }
}

.blog-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .boxed & {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(52, 58, 67, 0.1), 0 2px 5px rgba(52, 58, 67, 0.08), 0 5px 15px rgba(52, 58, 67, 0.08), inset 0 3px 0 $cassiopeia-template-color;
    .item-content {
      padding: 25px;
    }
  }
  .image-left &, .image-right & {
    flex-direction: row;
  }
  .item-image {
    margin-top: 3px;
    margin-bottom: 15px;
    .boxed & {
      margin-bottom: 0;
    }
    .image-right & {
      order: 1;
    }
    .image-bottom & {
      order: 1;
      margin-top: -15px;
    }
  }
  .item-content {
    .image-left & {
      padding-left: 25px;
    }
    .image-right & {
      padding-right: 25px;
    }
  }
}

.image-alternate {
  .blog-item:nth-of-type(2n+1) {
    .item-image {
      order: 0;
    }
  }
  &.image-left {
    .blog-item:nth-of-type(2n+1) {
      .item-image {
        order: 1;
        margin-left: 25px;
        margin-right: 0;
      }
    }
  }
  &.image-top {
    .blog-item:nth-of-type(2n+1) {
      .item-image {
        order: 1;
      }
    }
  }
}
