// Modifiers

.blog-items {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($cassiopeia-grid-gutter / 2);
  margin-bottom: $cassiopeia-grid-gutter;
  margin-left: -($cassiopeia-grid-gutter / 2);
  padding: 0;
  &.columns-2 {
    > div {
      width: 50%;
    }
  }
  &.columns-3 {
    > div {
      width: 33.33333%;
    }
  }
  &.columns-4 {
    > div {
      width: 25%;
    }
  }
  &[class^='columns-'], &[class*=' columns-'] {
    > div {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }
  }
}

.blog-item {
  padding: 0 ($cassiopeia-grid-gutter / 2) $cassiopeia-grid-gutter ($cassiopeia-grid-gutter / 2);
}

@supports (display: grid) {
  .blog-items {
    display: grid;
    grid-gap: $cassiopeia-grid-gutter;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    margin: 0 0 $cassiopeia-grid-gutter;
    .blog-item {
      padding: 0;
    }
    &[class^='columns-'], &[class*=' columns-'] {
      > div {
        flex: 0 1 auto;
        width: auto;
        max-width: none;
      }
    }
    &.columns-2 {
      grid-template-columns: 1fr 1fr;
    }
    &.columns-3 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &.columns-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    &[class^='columns-'], &[class*=' columns-'] {
      @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.blog-items {
  &[class^='masonry-'], &[class*=' masonry-'] {
    display: block;
    column-gap: $cassiopeia-grid-gutter;
    .blog-item {
      margin-bottom: $cassiopeia-grid-gutter;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }
  &.masonry-2 {
    column-count: 2;
  }
  &.masonry-3 {
    column-count: 3;
  }
  &.masonry-4 {
    column-count: 4;
  }
  &[class^='masonry-'], &[class*=' masonry-'] {
    @include media-breakpoint-down(md) {
      column-count: 1;
    }
  }
}

.blog-item-content {
  display: flex;
  flex-direction: column;
  .boxed & {
    background-color: #fff;
    box-shadow: 0 0 2px rgba(52, 58, 67, 0.1), 0 2px 5px rgba(52, 58, 67, 0.08), 0 5px 15px rgba(52, 58, 67, 0.08), inset 0 3px 0 $cassiopeia-template-color;
    .item-content {
      padding: 25px;
    }
  }
  .image-left &, .image-right & {
    flex-direction: row;
  }
  .item-image {
    margin-top: 3px;
    margin-bottom: 15px;
    overflow: hidden;
    .boxed & {
      margin-bottom: 0;
    }
    .image-right & {
      order: 1;
    }
    .image-bottom & {
      order: 1;
      margin-top: -15px;
    }
  }
  .item-content {
    .image-left & {
      padding-left: 25px;
    }
    .image-right & {
      padding-right: 25px;
    }
  }
  .image-left &, .image-right & {
    flex-direction: row;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
}

.image-alternate {
  .blog-item:nth-of-type(2n+1) {
    .item-image {
      order: 0;
    }
  }
  &.image-left {
    .blog-item:nth-of-type(2n+1) {
      .item-image {
        order: 1;
        margin-left: 25px;
        margin-right: 0;
      }
    }
  }
  &.image-top {
    .blog-item:nth-of-type(2n+1) {
      .item-image {
        order: 1;
      }
    }
  }
}


.container-modules {
  position: relative;
  transition: all .2s ease-in-out;
  * {
    transition: all .2s ease-in-out;
  }
  &.full {
    .wrapper {
      max-width: 100% !important;
      margin: 0 $cassiopeia-grid-gutter;
    }
  }
  &[class^='bg-'], &[class*=' bg-'] {
    padding-top: ($cassiopeia-grid-gutter / 2);
    padding-bottom: ($cassiopeia-grid-gutter / 2);
    * {
      color: #fff !important;
      border-color: rgba(255,255,255,.1) !important;
    }
    .card {
      background-color: rgba(255,255,255,.075);
    }
  }
  
  &.bg-gray {
    background-color: #eee;
    * {
      border-color: rgba(0,0,0,.1) !important;
    }
    .card {
      background-color: rgba(255,255,255,.075);
    }
  }
  &.bg-purple {
    background-color: $cassiopeia-template-color !important;
  }
  &.bg-black {
    background-color: #0a0f0d !important;
  }
  &.bg-navy {
    background-color: #011936 !important;
  }
  &.bg-orange {
    background-color: #e4572e !important;
  }
  &.image {
    padding-top: $cassiopeia-grid-gutter;
    padding-bottom: $cassiopeia-grid-gutter;
    background-image: url('../images/sample-image.jpg');
    background-size: 100% auto;
    background-position: 50% 50%;
    * {
      color: #fff !important;
      border-color: rgba(0,0,0,.2) !important;
    }
    .card {
      background-color: rgba(0,0,0,.275);
    }
  }
  &.image-layout-1 {
    padding-top: $cassiopeia-grid-gutter;
    padding-bottom: $cassiopeia-grid-gutter;
    background-image: url('../images/sample-image.jpg');
    background-size: 50%;
    background-position: -15px 0;
    background-repeat: no-repeat;
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      > div {
        grid-column: auto / auto;
        &:nth-child(2n+1) {
          grid-column: 3 / auto;
        }
      }
    }
  }
  &.image-layout-2 {
    padding-top: $cassiopeia-grid-gutter;
    padding-bottom: $cassiopeia-grid-gutter;
    background-image: url('../images/sample-image.jpg');
    background-size: 50%;
    background-position: 101.5% 0;
    background-repeat: no-repeat;
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      > div {
        grid-column: auto / auto;
        &:nth-child(2n+1) {
          grid-column: auto / 2;
        }
      }
    }
  }
  &.columns-1 {
    .wrapper {
      grid-template-columns: 1fr;
    }
  }
  &.columns-2 {
    .wrapper {
      grid-template-columns: 1fr 1fr;
    }
  }
  &.grad-top {
    background-image: linear-gradient(180deg, rgba(0,0,0,.25) 0%, transparent 100%);
  }
  &.grad-bottom {
    background-image: linear-gradient(0deg, rgba(0,0,0,.25) 0%, transparent 100%);
  }
  &.grad-left {
    background-image: linear-gradient(90deg, rgba(0,0,0,.25) 0%, transparent 100%);
  }
  &.grad-right {
    background-image: linear-gradient(270deg, rgba(0,0,0,.25) 0%, transparent 100%);
  }
  &.gap-row-x2 {
    padding-top: ($cassiopeia-grid-gutter * 2);
    padding-bottom: ($cassiopeia-grid-gutter * 2);
    .wrapper {
      grid-row-gap: ($cassiopeia-grid-gutter * 2);
    }
  }
  &.gap-row-x3 {
    padding-top: ($cassiopeia-grid-gutter * 3);
    padding-bottom: ($cassiopeia-grid-gutter * 3);
    .wrapper {
      grid-row-gap: ($cassiopeia-grid-gutter * 3);
    }
  }
  &.gap-row-x4 {
    padding-top: ($cassiopeia-grid-gutter * 4);
    padding-bottom: ($cassiopeia-grid-gutter * 4);
    .wrapper {
      grid-row-gap: ($cassiopeia-grid-gutter * 4);
    }
  }
  &.gap-col-x2 {
    .wrapper {
      grid-column-gap: ($cassiopeia-grid-gutter * 2);
    }
  }
  &.gap-col-x3 {
    .wrapper {
      grid-column-gap: ($cassiopeia-grid-gutter * 3);
    }
  }
  &.gap-col-x4 {
    .wrapper {
      grid-column-gap: ($cassiopeia-grid-gutter * 4);
    }
  }
  
  &.layout-1 {
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      > div:first-of-type {
        grid-column: 1 / -1;
      }
    }
  }

  &.layout-2 {
    .wrapper {
      grid-template-columns: 1fr 1fr 1fr;
      > div:first-of-type {
        grid-column: auto / auto;
      }
      > div:last-of-type {
        grid-column: 1 / -1;
      }
    }
  }

  &.layout-3 {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      > div:first-of-type {
        grid-column: 1 / -1;
      }
      > div:last-of-type {
        grid-column: 1 / -1;
      }
    }
  }

  &.layout-4 {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      > div:first-of-type {
        grid-row-end: span 3;
      }
    }
  }

  &.layout-5 {
    .wrapper {
      grid-template-columns: 1fr 1fr;
      > div:first-of-type {
        grid-column: 1 / -1;
      }
      > div:last-of-type {
        grid-column-end: span 2;
        grid-row-end: span 2;
      }
    }
  }
  &.card-layout-1 {
    .demo-module {
      display: grid;
      grid-template-columns: 1fr 2fr;
      text-align: left;
      > p:first-of-type {
        grid-row-end: span 2;
        text-align: center;
      }
    }
  }
  &.boxed {
    width: 100%;
    max-width: 1080px + ($cassiopeia-grid-gutter * 4);
    margin-right: auto;
    margin-left: auto;
  }
}

[class*=' bg-'] + main,
[class*=' image-'] + main,
[class*=' bg-'] + [class*=' bg-'],
[class*=' image'] + [class*=' bg-'] {
  padding-top: ($cassiopeia-grid-gutter / 2) !important;
}
