/* josefin-sans-regular - latin */
@font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
         url('../fonts/josefin-sans-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* josefin-sans-600 - latin */
  @font-face {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-display:swap;
    src: local(''),
         url('../fonts/josefin-sans-v16-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/josefin-sans-v16-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --font-family-base: 'Josefin Sans', Arial, sans-serif;
}

body {
    font-family: var(--font-family-base);
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-base);
    font-weight: 600;
}