// Bootstrap functions
@import "../../../media/vendor/bootstrap/scss/functions";

// Variables, Functions and Mixins
@import "tools/tools";

html {
  background: radial-gradient(circle, $gray-100, $gray-200);
  background-color: $cyan;
  background-image: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  padding: 0;
  margin: 0;
  font: 14px / 18px sans-serif;
  color: $gray-700;
  background-color: transparent;
}

.outer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.offline-card {
  width: 100%;
  max-width: 30em;
  margin: 0 auto 60px;
  background-color: $white;
  border: 1px solid hsla(0, 0%, 0%,.1);
  border-radius: 5px;
  box-shadow: 0 0 10px hsla(0, 0%, 0%,.05);
}

.header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 35px;
  margin: 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
}

html[dir=rtl] .header {
  border-radius: 5px 0 0 5px;
}

.header::after {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  height: 3px;
  content: "";
  background-color: hsl(199, 100%, 36%);
  background-image: linear-gradient(to right, hsl(209, 100%, 67%) 0%, hsl(193, 100%, 67%) 100%);
}

.login {
  padding: 40px 20px 20px;
}

.form-control {
  max-width: none;
}

img {
  max-width: 100%;
  height: auto;
  margin: 15px 0;
  border: 0;
}

form,
fieldset {
  padding: 0;
  margin: 0;
}

label {
  display: block;
  margin: 0;
}

input[type="text"],
input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

input {
  margin: .5em 0 1em;
}

.logo-icon {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  padding: 12px;
  margin-top: 2px;
  background-color: $white;
  border: 1px solid hsla(0, 0%, 0%,.05);
  border-radius: 50%;
  box-shadow: 0 0 5px hsla(0, 0%, 0%,.075);
  transform: translate(-50%, -50%);
}

svg {
  display: block;
  width: 38px;
}
