@import "template";
@import "vendor/bootstrap/bootstrap-rtl";

body,
.dropdown-item {
  text-align: right;
}

.float-right {
  float: left !important;
}

.float-left {
  float: right !important;
}

.form-check {
  padding-right: 1.25rem;
  padding-left: 0;
}

.form-check-input {
  margin-right: -1.25rem;
}

.list-unstyled {
  padding-right: 0;
}

.nav {
  padding-right: 0;
}

.metismenu.mod-menu .mm-toggler {
  &:after {
    margin-right: .5em;
    margin-left: 0;
  }
}

.container-header {
  background-image: $cassiopeia-header-grad-rtl;

  .container-nav .container-search:only-child {
    margin-right: auto;
    margin-left: 0;
  }

  .mod-menu {
    > li {
      margin-left: 1.55em;
    }
  }
}

// skipto
.skip-to {
  [role="separator"] {
    text-align: right !important;
  }
}

// SearchTools rounded corners
.awesomplete {
  input {
    @include border-start-radius(0);
  }
}

.input-group > .form-control:not(:last-child),
.input-group > .form-select:not(:last-child) {
  @include border-start-radius(0);
  @include border-end-radius($border-radius);
}

.btn-group > .btn:first-child:not(.dropdown-toggle) {
  @include border-end-radius($border-radius);
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  @include border-start-radius(0);
  margin-left: -1px;
}

.btn-group > .btn:last-child:not(.dropdown-toggle) {
  @include border-start-radius($border-radius);
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
  @include border-end-radius(0);
}
