@import "template";

body,
.dropdown-item {
  text-align: right;
}

.float-right {
  float: left !important;
}

.float-left {
  float: right !important;
}

.input-group-prepend .btn,
.input-group-append .btn {
  right: -1px;
}

dd {
  margin-right: 0;
  margin-left: auto;
}

.form-check {
  padding-right: 1.25rem;
  padding-left: 0;
}

.form-check-input {
  margin-right: -1.25rem;
}

.list-unstyled {
  padding-right: 0;
}

.nav {
  padding-right: 0;
}

.mr-2 {
  margin-right: 0 !important;
  margin-left: .5rem;
}

// SearchTools rounded corners
.input-group > .input-group-prepend > .btn,
.input-group > .input-group-prepend > .input-group-text,
.input-group > .input-group-append:not(:last-child) > .btn,
.input-group > .input-group-append:not(:last-child) > .input-group-text,
.input-group > .input-group-append:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .input-group-append:last-child > .input-group-text:not(:last-child) {
  @include border-left-radius($border-radius);
  @include border-right-radius(0);
}

.input-group > .input-group-append > .btn,
.input-group > .input-group-append > .input-group-text,
.input-group > .input-group-prepend:not(:first-child) > .btn,
.input-group > .input-group-prepend:not(:first-child) > .input-group-text,
.input-group > .input-group-prepend:first-child > .btn:not(:first-child),
.input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child) {
  @include border-left-radius($border-radius);
  @include border-right-radius(0);
}

.input-group > .form-control:not(:last-child),
.input-group > .custom-select:not(:last-child) {
  @include border-left-radius(0);
  @include border-right-radius($border-radius);
}

.btn-group > .btn:first-child:not(.dropdown-toggle) {
  @include border-right-radius($border-radius);
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  @include border-left-radius(0);
  margin-left: -1px;
}

.btn-group > .btn:last-child:not(.dropdown-toggle) {
  @include border-left-radius($border-radius);
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) {
  @include border-right-radius(0);
}
