// Mixins

@mixin prefix-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin fadeout-page {
  @keyframes fadeout {
    @include prefix-fadeout;
  }

  animation: fadeout $fadetime;
  opacity: 0;
}

@mixin prefix-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fadein-page {
  @keyframes fadein {
    @include prefix-fadein;
  }

  animation: fadein $fadetime;
}
