// Mixins

@mixin prefix-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@mixin fadeout-page {

  // Safari, Chrome and Opera > 12.1
  @-webkit-keyframes fadeout {
    @include prefix-fadeout;
  }

  @keyframes fadeout {
    @include prefix-fadeout;
  }

  animation: fadeout $fadetime;
  opacity: 0;
}

@mixin prefix-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin fadein-page {

  // Safari, Chrome and Opera > 12.1
  @-webkit-keyframes fadein {
    @include prefix-fadein;
  }

  @keyframes fadein {
    @include prefix-fadein;
  }

  animation: fadein $fadetime;
}
