// Global
$atum-template-color:              #0d1321 !default;
$atum-template-color-light:        #1c3d5c !default;
$atum-container-main-bg:           #f2f2f2 !default;
$atum-border-color:                #ccc !default;
$atum-box-shadow:                  0 0 3px rgba(0,0,0,.04) !default;
$atum-block-header-bg:             #f5f5f5 !default;
$white-offset:                     #fefefe;
$grey:                             #aaa;
$atum-hl-grad-inner:               #59afff;
$atum-hl-grad-outer:               #59daff;

$brand-primary:                    #006898;
$brand-success:                    #348534;
$brand-info:                       #5bc0de;
$brand-warning:                    #f0ad4e;
$brand-danger:                     #d9534f;

// Header
$header-height:                    48px;

// Toolbar
$atum-toolbar-line-height:         1.8rem;

// Menu Toggle
$atum-button-width:                30px;
$atum-button-height:               $header-height;
$atum-bar-thickness:               3px;
$atum-button-pad:                  5px;
$atum-button-bar-space:            3px;
$atum-button-transistion-duration: .3s;

// Sidebar
$atum-sidebar-bg:                  darken($atum-template-color, 4%);
$atum-sidebar-item-title:          .9rem;
$atum-sidebar-hover:               #59daff;
$atum-sidebar-active:              #59afff;
$atum-level-1-bg:                  rgba(0,0,0,.65);
$atum-level-2-bg:                  rgba(0,0,0,.05);

// Fonts
$font-family-base:                 Arial, sans-serif;
$atum-inverted-text-color:         $atum-template-color;
$font-size-root:                   14px;
$font-size-h1:                     1.857rem;
$font-size-h2:                     1.571rem;
$font-size-h3:                     1.286rem;
$font-size-h4:                     1rem;
$font-size-h5:                     .9286rem;
$font-size-h6:                     .8571rem;
$font-size-small:                  .8rem;
$fa-font-path:                     "../../../../media/vendor/font-awesome/fonts";

// Tables
$table-bg:                         transparent !default;
$table-bg-accent:                  rgba(0,0,0,.03) !default;
$table-row-selected                #d9edf7;

// Tabs
$atum-tabs-header-bg:              $atum-block-header-bg;
$atum-tabs-active-bg:              rgba(0,0,0,.03);
$atum-tabs-active-highlight:       $brand-primary;

// Cards
$atum-card-title-bg:               $atum-block-header-bg;
$atum-card-title-icon-bg:          $atum-block-header-bg;
$atum-card-title-icon-bg-hover:    darken($atum-card-title-bg, 2%);
$card-bg-color-light:              #f8f8f8;
$card-bg-color-dark:               $atum-template-color;
$card-border-color:                $atum-border-color;

// Alerts
$state-success-text:               #fff !default;
$state-success-bg:                 $brand-success !default;
$state-success-border:             darken($brand-success, 5%) !default;

$state-info-text:                  #fff !default;
$state-info-bg:                    $brand-info !default;
$state-info-border:                darken($brand-info, 7%) !default;

$state-warning-text:               #fff !default;
$state-warning-bg:                 $brand-warning !default;
$state-warning-border:             darken($brand-warning, 5%) !default;

$state-danger-text:                #fff !default;
$state-danger-bg:                  $brand-danger !default;
$state-danger-border:              darken($brand-danger, 5%) !default;

// Switchers
$switcher-color-success:           rgb(100,189,99);
$switcher-color-danger:            rgb(188,101,100);
$switcher-color-primary:           rgb(100,143,186);

// Treeselect
$treeselect-line-height:           2.2rem;

// List
$list-group-bg:                    $white-offset;

// Custom form
$custom-select-bg:                 $white-offset;

// Modals
$modal-header-height:              46px;

// Badges
$badge-default-bg:                 #5e7082;

// Gutter
$grid-gutter-width-base:           15px !default;
