// Variables
@import "../../../../media/vendor/bootstrap/scss/functions";

$white:                            #fff;
$whiteoffset:					   #fefefe;
$gray-100:                         #f8f9fa;

$gray-200:                         #e8e8e8; //used in bootstrap .badge-inverse
$gray-300:                         #dee2e6; //used for toolbar and badges
$gray-400:                         #cdcdcd; //used for border-bottom sidebar-nav and toolbar normal border
$gray-500:                         #adb5bd; //used in toolbar and buttons for border
//$gray-600:                         #6f7780; //used for atum-text-dark and $secondary
$gray-700:                         #495057; //used for atum-text-dark, secondary
$gray-800:                         #343a40; //used for badges-inverse
$gray-900:                         #212529; //used for tree header, badge-inverse border
$black:                            #000;	//used for shadows
$focuscolor:						#39f;   //used for focus color

$dark-blue:                        #001B4C; //is the atum-special-color


// BS Colours
$blue:                             hsl(207.4, 60.9%, 26.1%); //basecolor for calculation, Primary-color
$indigo:                           #0377be; //used in bootstrap
$purple:                           #6f42c1; //used in bootstrap
$pink:                             #e83e8c; //used in bootstrap
$red:                              #c52827; //used in bootstrap
$yellow:                           #d43900; //used in bootstrap
$green:                            #2f7d32; //used in bootstrap
$teal:                             #20c997; //used in bootstrap
$cyan:                             #108193; //used in bootstrap

//color-60 is the base

$color-60:                         $blue;

$color-0:                          adjust-color($color-60, $hue: -5%, $saturation: -100%, $lightness: +71.4%);
$color-5:                          adjust-color($color-60, $hue: -6%, $saturation: -85%, $lightness: +65.1%);
$color-10:                         adjust-color($color-60, $hue: -6%, $saturation: -80%, $lightness: +59.4%);
$color-20:                         adjust-color($color-60, $hue: -6%, $saturation: -75%, $lightness: +47.3%);
$color-30:                         adjust-color($color-60, $hue: -5%, $saturation: -55%, $lightness: +34.3%);
$color-40:                         adjust-color($color-60, $hue: -3%, $saturation: -40%, $lightness: +21.4%);
$color-50:                         adjust-color($color-60, $hue: -1%, $saturation: -15%, $lightness: +10%);

$color-70:                         adjust-color($color-60, $hue: +4%, $lightness: -6%);
$color-80:                         adjust-color($color-60, $hue: +7%, $lightness: -11.5%);
$color-90:                         adjust-color($color-60, $hue: +10%, $saturation: -1%, $lightness: -17%);

$color-contrast:                   adjust-color($color-60, $hue: -30%, $lightness: +16%);

$theme-colors: ();
$theme-colors: map-merge((
  primary:                         $blue, //used only in bootstrap, please use $atum-bg-dark
  secondary:                       $gray-700, //is it used?
  success:                         $green,
  info:                            $cyan,
  warning:                         $yellow,
  danger:                          $red,
  light:                           $gray-100, //used in bootstrap
  dark:                            $gray-900,  //used in bootstrap and for table-border
  atum-link-color:                 #2077dd,
  atum-text-dark:                  $gray-700,
  atum-bg-dark:                    $color-60, //standard background color
  action:                          $color-60
), $theme-colors);

$colors: (

  card-bg:                         $white,
  toolbar-bg:                      lighten($gray-200, 5%), // % VON DASHBOARD BG BZW ATUM lIGHT BG
  success-border:                  theme-color("success"),
  info-border:                     theme-color("info"),
  warning-border:                  theme-color("warning"),
  danger-border:                   theme-color("danger"),
  login-main-bg:                   darken($color-60, 8%), //used on login
  border:                          $gray-400,
  white-offset:                    $whiteoffset,
  focus:                           $focuscolor,
  toggle-color:                    $white, //used in sidebar
  atum-bg-light:                   $gray-200, //light background color, f.e. dashboard background
  atum-text-light:                 $white,
  atum-special-color:              $dark-blue,
  atum-link-color:                 #2077dd,
  atum-link-hover-color:           darken($color-60, 15%),
  atum-contrast:                   $color-contrast,
  atum-bg-dark-5:                  $color-5,
  atum-bg-dark-10:                 $color-10,
  atum-bg-dark-20:                 $color-20,
  atum-bg-dark-30:                 $color-30,
  atum-bg-dark-40:                 $color-40,
  atum-bg-dark-50:                 $color-50,
  atum-bg-dark-70:                 $color-70,
  atum-bg-dark-80:                 $color-80,
  atum-bg-dark-90:                 $color-90
);

// Alerts
$alert-border-level:               0;
$alert-color-level:                0;

// Global
$atum-box-shadow:                  1px 1px 1px 0px rgba($black,0.25);
$enable-rounded:                   false;
$border-radius:                    none;
$input-btn-padding-y:              .6rem;
$input-btn-padding-x:              1rem;
$input-max-width:                  15rem;

// Header
$header-height:                    3.5rem;

// Toolbar
$atum-toolbar-line-height:         2.375rem;

// Sidebar
$sidebar-width:                    15.625rem;
$sidebar-width-login:              28.75rem;
$sidebar-width-closed:             3rem;
$main-brand-height:                3rem;

// Fonts
$font-family-sans-serif:           "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$h1-font-size:                     1.65rem;
$h2-font-size:                     1.5rem;
$h3-font-size:                     1.25rem;
$h4-font-size:                     1rem;
$h5-font-size:                     .9286rem;
$h6-font-size:                     .8571rem;
$font-size-sm:                     .8rem;
$font-size-vsm:                     .5rem;
$display1-size:                    1rem;
$display2-size:                    .875rem;
$content-font-size:                0.875rem;
$label-font-size:                  0.85rem;
$fa-css-prefix:                    fa;
$fa-font-path:                     "../../../../media/vendor/fontawesome-free/webfonts";
$roboto-font-path:                 "../../../../media/vendor/roboto-fontface/fonts";

// Font weights
$thin-weight:                      100;
$extralight-weight:                200;
$light-weight:                     300;
$normal-weight:                    400;
$medium-weight:                    500;
$semibold-weight:                  600;
$bold-weight:                      700;
$extrabold-weight:                 800;
$black-weight:                     900;

// Text
$body-color:                       var(--atum-text-dark); //only used in bootstrap, please use --atum-color-dark


// Tables
$table-bg:                         transparent;
$table-bg-accent:                  rgba(0, 0, 0, .03);
$table-border-color:               var(--dark);
$table-cell-padding:               8px 12px;

// Dropdowns
$dropdown-padding-y:               0;
$dropdown-box-shadow:              0 1px 1px rgba($black, .15);
$dropdown-link-hover-color:        $white;
$dropdown-border-width:            1px;
$dropdown-item-padding-y:          .5rem;
$dropdown-item-padding-x:          .75rem;
$dropdown-spacer:                  0;

// Tabs
$nav-tabs-border-width:            0;
$nav-tabs-link-active-bg:          rgba($black, .2); //is it used?

// Tables
$table-border-width:               1px;
$table-head-bg:                    transparent;

// Cards
$card-bg:                          transparent;
$card-cap-bg:                      transparent;
$card-border-width:                0;
$card-border-color:                transparent;

// Alerts
$state-success-text:               var(--white);
$state-success-bg:                 var(--success);
$state-success-border:             var(--success-border);

$state-info-text:                  var(--white);
$state-info-bg:                    var(--info);
$state-info-border:                var(--info-border);

$state-warning-text:               var(--white);
$state-warning-bg:                 var(--warning);
$state-warning-border:             var(--warning-border);

$state-danger-text:                var(--white);
$state-danger-bg:                  var(--danger);
$state-danger-border:              var(--danger-border);

// Input Group
$input-group-addon-color:          var(--white);
$input-group-addon-bg:             var(--atum-bg-dark);
$input-group-addon-border-color:   var(--atum-bg-dark);

// Treeselect
$treeselect-line-height:           2.2rem;
$treeselect-indent:                40px;

// List
$list-group-bg:                    var(--white-offset);

// Custom form
$custom-select-bg:                 var(--white-offset);

//input
$input-padding:						.6rem 1rem;
$input-select-padding:				.6rem 3rem .6rem 1rem;
$input-select-multiple-padding:		.3rem 1rem;

// Modals
$modal-header-height:              2.875rem;

// Quickicons
$quickicon-bg:                     var(--white);
$quickicon-box-shadow:             $atum-box-shadow;
$quickicon-box-shadow-success:     0 0 3px 0 var(--success);
$quickicon-box-shadow-danger:      0 0 3px 0 var(--danger);
$quickicon-box-shadow-warning:     0 0 3px 0 var(--warning);

// Gutter
$grid-gutter-width:                2rem;
$grid-gutter-width-s:              15px;

// Breadcrumbs
$breadcrumb-bg:                    var(--white);

// Links
$link-color:                       var(--atum-link-color);
$link-hover-color:                 var(--atum-link-hover-color);

// Time for fade effect
$fadetime:                         1s;

// Z-Index list
$zindex-negative:                  -1;
$zindex-actions:                   2;
$zindex-sidebar:                   1000;
$zindex-toolbar:                   1010;
$zindex-header:                    1020;
$zindex-alerts:                    1030;
$zindex-modal-backdrop:            1040;
$zindex-modal:                     1050;
$zindex-popover:                   1060;
$zindex-tooltip:                   1070;
$zindex-mobil-bottom:              8000;
$zindex-mobil-toggle:              9999;
$zindex-mobil-menu:                9000;
