// Variables
@import "../../../../media/vendor/bootstrap/scss/functions";

$white:                            #fff;
$gray-100:                         #f8f9fa;
$gray-200:                         #e9ecef;
$gray-300:                         #dee2e6;
$gray-400:                         #ced4da;
$gray-500:                         #adb5bd;
$gray-600:                         #6f7780;
$gray-700:                         #495057;
$gray-800:                         #343a40;
$gray-900:                         #212529;
$black:                            #000;
$light-blue:                       #E0E8EF;
$dark-blue:                        #001B4C;
$blue-a700:                        #4D78A3;

// BS Colours
$blue:                             hsl(210, 100%, 24.5%);
$indigo:                           #0377be;
$purple:                           #6f42c1;
$pink:                             #e83e8c;
$red:                              #c52827;
$yellow:                           #d43900;
$green:                            #2f7d32;
$teal:                             #20c997;
$cyan:                             #108193;

//color-60 is the base
$color-60:                         $blue;

$color-0:                          adjust-color($color-60, $hue: -5%, $saturation: -91%, $lightness: +71.4%);
$color-5:                          adjust-color($color-60, $hue: -6%, $saturation: -86%, $lightness: +65.1%);
$color-10:                         adjust-color($color-60, $hue: -6%, $saturation: -82%, $lightness: +59.4%);
$color-20:                         adjust-color($color-60, $hue: -6%, $saturation: -76%, $lightness: +47.3%);
$color-30:                         adjust-color($color-60, $hue: -5%, $saturation: -57%, $lightness: +34.3%);
$color-40:                         adjust-color($color-60, $hue: -3%, $saturation: -39%, $lightness: +21.4%);
$color-50:                         adjust-color($color-60, $hue: -1%, $saturation: -18%, $lightness: +10%);

$color-70:                         adjust-color($color-60, $hue: +4%, $lightness: -6%);
$color-80:                         adjust-color($color-60, $hue: +7%, $lightness: -11.5%);
$color-90:                         adjust-color($color-60, $hue: +10%, $saturation: -1%, $lightness: -17%);

$color-contrast:                   adjust-color($color-60, $hue: -30%, $lightness: +16%);

$theme-colors: ();
$theme-colors: map-merge((
  primary:                         $blue,
  secondary:                       $gray-600,
  success:                         $green,
  info:                            $cyan,
  warning:                         $yellow,
  danger:                          $red,
  light:                           $gray-100,
  dark:                            $gray-900,
  atum-link-color:                 $color-60,
  action:                          $color-60
), $theme-colors);

$colors: (
  success-border:                  theme-color("success"),
  info-border:                     theme-color("info"),
  warning-border:                  theme-color("warning"),
  danger-border:                   theme-color("danger"),
  sidebar-link-color:              #e3eaf1,
  sidebar-link-color-hover:        var(--white),
  sidebar-child-link-color:        #cbd6e2,
  login-main-bg:                   darken(theme-color("primary"), 8%),
  login-light-bg:                  #3b97f9,
  border:                          $gray-400,
  row-selected:                    #d9edf7,
  white-offset:                    #fefefe,
  focus:                           #39f,
  table-border:                    $gray-300,
  toggle-color:                    $white,
  form-link-feedback:              #cbd8e1,
  atum-bg-dark:                    $color-60,
  atum-bg-light:                   $color-5,
  atum-text-dark:                  $gray-600,
  atum-text-light:                 $white,
  atum-special-color:              $dark-blue,
  atum-link-color:                 $color-60,
  atum-link-hover-color:           darken($color-60, 15%),
  atum-contrast:                   $color-contrast,
  atum-bg-dark-5:                  $color-5,
  atum-bg-dark-10:                 $color-10,
  atum-bg-dark-20:                 $color-20,
  atum-bg-dark-40:                 $color-40,
  atum-bg-dark-50:                 $color-50,
  atum-bg-dark-70:                 $color-70,
  atum-bg-dark-80:                 $color-80,
  atum-bg-dark-90:                 $color-90,
  atum-bg-dark-30:                 $color-30
);

// Alerts
$alert-border-level:               0;
$alert-color-level:                0;

// Global
$atum-box-shadow:                  0 1px 2px rgba($black, .25);
$enable-rounded:                   false;
$border-radius:                    none;
$input-btn-padding-y:              .6rem;
$input-btn-padding-x:              1rem;
$input-max-width:                  15rem;

// Header
$header-height:                    3.5rem;

// Toolbar
$atum-toolbar-line-height:         2.3rem;

// Sidebar
$atum-level-1-bg:                  rgba($black, .65);
$atum-level-2-bg:                  rgba($black, .05);
$sidebar-width:                    15.625rem;
$sidebar-width-login:              28.75rem;
$sidebar-width-closed:             3rem;
$main-brand-height:                3rem;

// Fonts
$font-family-sans-serif:           "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$h1-font-size:                     1.65rem;
$h2-font-size:                     1.5rem;
$h3-font-size:                     1.25rem;
$h4-font-size:                     1rem;
$h5-font-size:                     .9286rem;
$h6-font-size:                     .8571rem;
$font-size-sm:                     .8rem;
$font-size-vsm:                     .5rem;
$display1-size:                    1rem;
$display2-size:                    .875rem;
$content-font-size:                0.875rem;
$label-font-size:                  0.85rem;
$fa-css-prefix:                    fa;
$fa-font-path:                     "../../../../media/vendor/font-awesome/fonts";
$roboto-font-path:                 "../../../../media/vendor/roboto-fontface/fonts";

// Text
$body-color:                       var(--font-color-dark);


// Tables
$table-bg:                         transparent;
$table-bg-accent:                  rgba(0, 0, 0, .03);
$table-border-color:               var(--table-border);
$table-cell-padding:               8px 12px;

// Dropdowns
$dropdown-padding-y:               0;
$dropdown-box-shadow:              0 1px 2px rgba($black, .30);
$dropdown-link-hover-color:        $white;
$dropdown-border-width:            1px;
$dropdown-item-padding-y:          .5rem;
$dropdown-item-padding-x:          .75rem;
$dropdown-spacer:                  0;

// Tabs
$nav-tabs-border-width:            0;
$nav-tabs-link-active-bg:          rgba($black, .2);

// Tables
$table-border-width:               1px;
$table-head-bg:                    transparent;

// Cards
$card-bg:                          transparent;
$card-cap-bg:                      transparent;
$card-border-width:                0;
$card-border-color:                transparent;

// Alerts
$state-success-text:               var(--white);
$state-success-bg:                 var(--success);
$state-success-border:             var(--success-border);

$state-info-text:                  var(--white);
$state-info-bg:                    var(--info);
$state-info-border:                var(--info-border);

$state-warning-text:               var(--white);
$state-warning-bg:                 var(--warning);
$state-warning-border:             var(--warning-border);

$state-danger-text:                var(--white);
$state-danger-bg:                  var(--danger);
$state-danger-border:              var(--danger-border);

// Input Group
$input-group-addon-color:          var(--white);
$input-group-addon-bg:             var(--primary);
$input-group-addon-border-color:   var(--primary);

// Treeselect
$treeselect-line-height:           2.2rem;
$treeselect-indent:                40px;

// List
$list-group-bg:                    var(--white-offset);

// Custom form
$custom-select-bg:                 var(--white-offset);

//input
$input-padding:						.6rem 1rem;
$input-select-padding:				.6rem 3rem .6rem 1rem;
$input-select-multiple-padding:		.3rem 1rem;

// Modals
$modal-header-height:              2.875rem;

// Quickicons
$quickicon-bg:                     var(--white);
$quickicon-box-shadow:             $atum-box-shadow;
$quickicon-box-shadow-hover:       0 0 8px 0 rgba($black, .3);
$quickicon-box-shadow-success:     0 0 3px 0 var(--success);
$quickicon-box-shadow-danger:      0 0 3px 0 var(--danger);
$quickicon-box-shadow-warning:     0 0 3px 0 var(--warning);

// Gutter
$grid-gutter-width:                2rem;
$grid-gutter-width-s:              15px;

// Breadcrumbs
$breadcrumb-bg:                    var(--white);

// Links
$link-color:                       var(--atum-link-color);
$link-hover-color:                 var(--atum-link-hover-color);

// Time for fade effect login-light-bg
$fadetime:                         1s;

// Z-Index list
$zindex-negative:                  -1;
$zindex-actions:                   2;
$zindex-sidebar:                   1000;
$zindex-toolbar:                   1010;
$zindex-header:                    1020;
$zindex-alerts:                    1030;
$zindex-modal-backdrop:            1040;
$zindex-modal:                     1050;
$zindex-popover:                   1060;
$zindex-tooltip:                   1070;
$zindex-mobil-bottom:              8000;
$zindex-mobil-toggle:              9999;
$zindex-mobil-menu:                9000;
