// Global
$enable-flex:                      true;
$atum-template-color:              #20252e !default;
$atum-template-color-light:        #262d38 !default;
$atum-container-main-bg:           #f2f2f2 !default;
$atum-border-color:                #bbb !default;
$atum-box-shadow:                  0 0 3px rgba(0,0,0,.075) !default;
$atum-block-header-bg:             #f5f5f5 !default;
$white-offset:                     #fcfcfc;
$grey:                             #aaa;
$atum-hl-grad-inner:               #00afff;
$atum-hl-grad-outer:               #00ffe4;

$brand-primary:                    #007eb7;
$brand-success:                    #48b848;
$brand-info:                       #5bc0de;
$brand-warning:                    #f0ad4e;
$brand-danger:                     #d9534f;

// Header
$header-height:                    40px;

// Toolbar
$atum-toolbar-line-height:         1.8rem;

// Menu Toggle
$atum-button-width:                30px;
$atum-button-height:               $header-height;
$atum-bar-thickness:               3px;
$atum-button-pad:                  5px;
$atum-button-bar-space:            3px;
$atum-button-transistion-duration: .3s;

// Sidebar
$atum-sidebar-bg:                  $atum-template-color;
$atum-sidebar-item-title:          .9rem;
$atum-sidebar-hover:               #5b8dca;
$atum-sidebar-active:              #42c2fc;
$atum-level-1-bg:                  darken($atum-template-color, 6%);
$atum-level-2-bg:                  darken($atum-template-color, 8%);

// Fonts
$font-family-base:                 Arial, sans-serif;
$atum-inverted-text-color:         $atum-template-color;
$font-size-root:                   14px;
$font-size-h1:                     1.857rem;
$font-size-h2:                     1.571rem;
$font-size-h3:                     1.286rem;
$font-size-h4:                     1rem;
$font-size-h5:                     .9286rem;
$font-size-h6:                     .8571rem;
$font-size-small:                  .8rem;
$fa-font-path:                     "../../../../media/vendor/font-awesome/fonts";

// Tables
$table-bg:                         transparent !default;
$table-bg-accent:                  rgba(0, 0, 0, .03) !default;

// Tabs
$atum-tabs-header-bg:              $atum-block-header-bg;
$atum-tabs-active-bg:              rgba(0,0,0,.03);
$atum-tabs-active-highlight:       $brand-primary;

// Cards
$atum-card-title-bg:               $atum-block-header-bg;
$atum-card-title-icon-bg:          $atum-block-header-bg;
$atum-card-title-icon-bg-hover:    darken($atum-card-title-bg, 2%);
$card-bg-color-light:              #f8f8f8;
$card-bg-color-dark:               $atum-template-color;
$card-border-color:                $atum-border-color;

// Switchers
$switcher-color-success:           rgb(100, 189, 99);
$switcher-color-danger:            rgb(188, 101, 100);
$switcher-color-primary:           rgb(100, 143, 186);

// Treeselect
$treeselect-line-height:           2.2rem;

// List
$list-group-bg:                    $white-offset;

// Custom form
$custom-select-bg:                 $white-offset;

// Modals
$modal-header-height:              46px;

// BS4-alpha.5 | custom-select SVG override
// This was broken in alpha.5 so be sure to remove this when it's fixed again
$custom-select-indicator:          url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E");
