@import "template";

// Global
dl,
ol,
ul {
  padding-right: 0;
}

th {
  text-align: right;
}

.close {
  float: left;

  .notify-alerts & {
    right: auto;
    left: -.5rem;
  }
}

.control-group {

  .control-label {
    float: right;
    text-align: right;
  }
}

.dropdown-menu-right {
  left: 0;
  right: auto;

  &::after {
    right: auto;
    left: .9rem;
  }
}

.wrapper {
  padding-left: 0;

  &.closed {
    padding-right: 50px;

    .main-brand img {
      left: 151px;
      position: relative;
    }
  }
}

.sidebar-wrapper {
  left: auto;
  right: 0;
}

// Alerts
.notify-alerts {
  margin-left: 0;
  margin-right: 125px;

  .closed & {
    margin-right: 0;
  }
}

// Header
.header .page-title [class^='icon-'] {
  margin-left: 15px;
  margin-right: 0;
}

.menu-collapse {
  left: auto;
  margin-left: 0;
  margin-right: -7.5px;
  right: 0;
}

.menu-toggle-icon::before {
  content: "\f054";

  .closed & {
    content: "\f053";
  }
}

// Quickicons
.quick-icons {

  a {

    &::before {
      left: -40px;
      right: auto;
    }

    [class*=' icon-'],
    [class^='icon-'] {
      border-left: 1px solid rgba($white,.15);
      border-right: 0;
    }
  }
}

// Sidebar
.main-nav {

  .fa {
    margin: 0 12px 0 8px;
  }

  .open > a {

    + ul {
      left: auto;
      right: 50px;
    }
  }

  .collapse-level-2 {
    border-radius: $border-radius 0 0 $border-radius;
    left: auto;
    right: 100%;
  }

  .close {
    float: left;
  }

  .parent .collapse-arrow::after {
    content: "\f0d9";
    left: 15px;
    right: auto;
  }
}

.child-open > .open > a::before {
  left: auto;
  right: 0;
}

// Status
.status {
  margin-left: 0;
  margin-right: 250px;

  .closed & {
    margin-left: 0;
    margin-right: 50px;
  }
}

.sidebar-wrapper[data-hidden='1'] ~ .status {
  margin-right: 0;
}

// Toolbar
.subhead {

  .btn-group-sm > .btn {
    [class^='icon-'],
    [class*=' icon-'],
    [class^='#{$fa-css-prefix}-'],
    [class*=' #{$fa-css-prefix}-'] {
      border-left: 1px solid $atum-border-color;
      border-radius: 0 3px 3px 0;
      border-right: 0;
      margin: 0 -10px 0 6px;
    }
  }

  .btn-toolbar > * {

    &:first-of-type {
      margin-right: 0;
    }
  }

  .btn-group-sm > .btn [class*=' fa-'],
  .btn-group-sm > .btn [class*=' icon-'],
  .btn-group-sm > .btn [class^='fa-'],
  .btn-group-sm > .btn [class^='icon-'],
  .btn-sm [class*=' fa-'],
  .btn-sm [class*=' icon-'],
  .btn-sm [class^='fa-'],
  .btn-sm [class^='icon-'] {
    border-left: 1px solid $atum-border-color;
    border-radius: 0 3px 3px 0;
    border-right: 0;
    margin: 0 -10px 0 6px;
  }
}


// com_cpanel
.com_cpanel {

  .card {

    .list-group {

      > .published {
        border-left: 0;
        border-right: 5px solid theme-color("success");
      }

      > .unpublished {
        border-left: 0;
        border-right: 5px solid theme-color("danger");
      }
    }

    .module-dropdown {
      left: 0;
      right: auto;

      > a {
        border-left: 0;
        border-right: 1px solid #ccc;
        border-top-left-radius: $border-radius;
        border-top-right-radius: 0;
      }
    }
  }
}
