// Bootstrap functions
@import "../../../../media/vendor/bootstrap/scss/functions";

// Atum Variables
@import "variables";

// Mixins
@import "mixin";

// Bootstrap other
@import "vendor/bootstrap";

// Fonts
@import "../../../../media/vendor/roboto-fontface/scss/roboto/sass/roboto-fontface";
@import "fonts/fontawesome";

// Alert
@import "../../../../build/media_source/system/scss/jalert";

// jQuery Minicolors
@import "../../../../build/media_source/system/scss/jquery-minicolors";

// Blocks
@import "blocks/global"; // Leave this first
@import "blocks/alerts";
@import "blocks/edit";
@import "blocks/header";
@import "blocks/form";
@import "blocks/icons";
@import "blocks/iframe";
@import "blocks/layout";
@import "blocks/login";
@import "blocks/modals";
@import "blocks/quickicons";
@import "blocks/searchtools";
@import "blocks/lists";
@import "blocks/sidebar";
@import "blocks/sidebar-nav";
@import "blocks/system-message";
@import "blocks/toolbar";
@import "blocks/treeselect";
@import "blocks/utilities";
@import "blocks/tabs";

// Vendor overrides
@import "vendor/awesomplete";
@import "vendor/bootstrap/badge";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/card";
@import "vendor/bootstrap/custom-forms";
@import "vendor/bootstrap/collapse";
@import "vendor/bootstrap/dropdown";
@import "vendor/bootstrap/form";
@import "vendor/bootstrap/lists";
@import "vendor/bootstrap/modal";
@import "vendor/bootstrap/nav";
@import "vendor/bootstrap/pagination";
@import "vendor/bootstrap/table";
@import "vendor/codemirror";
@import "vendor/chosen";
@import "vendor/choicesjs";
@import "vendor/dragula";
@import "vendor/minicolors";
@import "vendor/tinymce";

// Page specifics
@import "pages/com_admin";
@import "pages/com_config";
@import "pages/com_content";
@import "pages/com_cpanel";
@import "pages/com_joomlaupdate";
@import "pages/com_tags";
@import "pages/com_privacy";
@import "pages/com_templates";
@import "pages/com_users";
