// Icons

.icon-back::before {
  content: "\e008";
}

.icon-crop::before {
  content: "\f125";
}

.icon-white {
  color: $white-offset;
}

.icon-publish {
  color: theme-color("success");
}

.icon-unpublish {
  color: theme-color("danger");
}
