// Layout

// scss-lint:disable
// @TODO remove 'scss-lint:disable all' once possible
body {
  > div, header > nav, footer {
    display: flex;
    width: 100%;
    max-width: 1080px + ($aurora-grid-gutter * 4);
    margin-right: auto;
    margin-left: auto;
  }
  > .full-width {
    max-width: none;
  }
}

header {
  margin-bottom: 10px;
}

.container-banner {
  display: block;
  margin: -15px 0 -5px;
  grid-gap: 0;
}

.container-top-a,
.container-top-b,
.container-bottom-a,
.container-bottom-b {
  > div {
    flex: 1;
    margin: ($aurora-grid-gutter / 2);
  }
  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}

.container-main {
  > div {
    margin: ($aurora-grid-gutter / 2);
  }
  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }
}

.container-component {
  flex: 1;
  > div {
    margin-bottom: $aurora-grid-gutter;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.container-sidebar-left,
.container-sidebar-right, {
  flex: 0 0 auto;
  width: calc(25% - #{$aurora-grid-gutter});
  > div {
    margin-bottom: $aurora-grid-gutter;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(xs) {
    width: calc(100% - #{$aurora-grid-gutter});
    order: 1;
  }
}

//CSS Grid
/* autoprefixer: off */
@supports (display: grid) {
  body {
    display: grid;
    grid-template-areas:  ". head head head head ."
                          ". banner banner banner banner ."
                          ". top-a top-a top-a top-a ."
                          ". top-b top-b top-b top-b ."
                          ". main main main main ."
                          ". bot-a bot-a bot-a bot-a ."
                          ". bot-b bot-b bot-b bot-b ."
                          ". footer footer footer footer .";
    grid-template-columns: [full-start] minmax(0, 1fr) [main-start] repeat(4, minmax(0, 270px)) [main-end] minmax(0, 1fr) [full-end];
    grid-gap: $aurora-grid-gutter;
    > div {
      width: auto;
      max-width: none;
      margin: 0;
    }
    .container-top-a,
    .container-top-b,
    .container-bottom-a,
    .container-bottom-b {
      > div {
        display: inline-grid;
        margin: 0;
      }
    }
    > .full-width {
      grid-column: full-start / full-end;
    }
    @include media-breakpoint-down(xs) {
      grid-template-areas:  ". head head head head ."
                            ". banner banner banner banner ."
                            ". main main main main ."
                            ". top-a top-a top-a top-a ."
                            ". top-b top-b top-b top-b ."
                            ". bot-a bot-a bot-a bot-a ."
                            ". bot-b bot-b bot-b bot-b ."
                            ". footer footer footer footer .";
    }
  }

  header {
    margin-bottom: 0;
  }

  .container-banner {
    margin-bottom: -15px;
  }

  .container-main {
    margin: ($aurora-grid-gutter / -2);
  }

}

header                    { grid-area: head; }
.container-banner         { grid-area: banner; }
.container-top-a          { grid-area: top-a; }
.container-top-b          { grid-area: top-b; }
.container-main           { grid-area: main; }
.container-component      { grid-area: comp; }
.container-sidebar-left   { grid-area: side-l; }
.container-sidebar-right  { grid-area: side-r; }
.container-main-top       { grid-area: main-t; }
.container-main-bottom    { grid-area: main-b; }
.container-bradcrumbs     { grid-area: bread; }
.container-bottom-a       { grid-area: bot-a; }
.container-bottom-b       { grid-area: bot-b; }
.container-footer         { grid-area: footer; }

.container-component {
  grid-column: auto 2fr;
}

.container-top-a,
.container-top-b,
.container-bottom-a,
.container-bottom-b {
  display: grid;
  grid-gap: $aurora-grid-gutter;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.container-footer {
  display: block;
}
