// Layout

body {
  > div, header > nav, footer {
    display: flex;
    width: 100%;
    max-width: 1080px + ($aurora-grid-gutter * 4);
    margin-right: auto;
    margin-left: auto;
  }
  > .full-width {
    max-width: none;
  }
}

header {
  margin-bottom: 10px;
}

.container-banner {
  display: block;
  margin: -15px 0 -5px;
}

.container-top-a,
.container-top-b,
.container-bottom-a,
.container-bottom-b {
  > div {
    flex: 1;
    margin: ($aurora-grid-gutter / 2);
  }
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    > div {
      flex: 0 1 auto;
    }
  }
}

.container-main {
  > div {
    margin: ($aurora-grid-gutter / 2);
  }
  @include media-breakpoint-down(xs) {
    flex-direction: column;
    > div {
      flex: 0 1 auto;
    }
  }
}

.container-component {
  flex: 1;
  > div {
    margin-bottom: $aurora-grid-gutter;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.container-sidebar-left,
.container-sidebar-right, {
  flex: 0 0 auto;
  width: calc(25% - #{$aurora-grid-gutter});
  > div {
    margin-bottom: $aurora-grid-gutter;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @include media-breakpoint-down(xs) {
    width: calc(100% - #{$aurora-grid-gutter});
    order: 1;
  }
}

.container-footer {
  display: block;
}
