// Switcher

.js-switcher {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  width: 60px;
  height: 26px;
  margin-top: 2px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: darken($white-offset, 2%);
  background-clip: content-box;
  border: 1px solid rgba(0,0,0,.12);
  border-radius: $border-radius;
  box-shadow: 0 0 0 0 rgb(223,223,223) inset;
  transition: border .4s ease 0s, box-shadow .4s ease 0s;

  &.active {
    background-color: $switcher-color-success;
    border-color: $switcher-color-success;
    box-shadow: 0 0 0 16px $switcher-color-success inset;
    transition: border .4s ease 0s, box-shadow .4s ease 0s, background-color 1.2s ease 0s;
  }

  &.switcher-danger.active {
    background-color: $switcher-color-danger;
    border-color: $switcher-color-danger;
    box-shadow: 0 0 0 16px $switcher-color-danger inset;
  }

  &.switcher-primary.active {
    background-color: $switcher-color-primary;
    border-color: $switcher-color-primary;
    box-shadow: 0 0 0 16px $switcher-color-primary inset;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 26px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity = 0);
    opacity: 0;
  }

  .switch {
    position: absolute;
    top: 0;
    width: 30px;
    height: 26px;
    background: $white-offset;
    border-radius: $border-radius;
    box-shadow: 0 0 1px rgba(0,0,0,.1) inset, 0 1px 3px rgba(0,0,0,.15);
    transition: left .2s ease 0s;
  }

  input:checked~.switch {
    left: 0;
  }

  input~:checked~.switch {
    left: 30px;
  }

  input:checked {
    z-index: 0;
  }

}

.switcher-labels {
  position: relative;
  margin-left: 10px;

  span {
    position: absolute;
    top: 0;
    left: 0;
    color: $grey;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease-in-out;

    &.active {
      visibility: visible;
      opacity: 1;
      transition: all .2s ease-in-out;
    }

  }

}
