<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>Unobtrusive JS Tree Test</title>
	<link rel="stylesheet" href="tree.css" type="text/css">
	<script type="text/javascript" src="../../../../includes/js/joomla/common.js"></script>
	<script type="text/javascript" src="../../../../includes/js/joomla/cookie.js"></script>
	<script type="text/javascript" src="tree.js"></script>
</head>
<body>
	<p>Menu Selection</p>
	<ul id="tree2" class="jtree">
		<li><a href="#" id="node_com">Component</a>
			<ul>
				<li><a href="#" id="node_com_content">Articles</a></li>
				<li><a href="#" id="node_com_contact">Contact</a></li>
				<li><a href="#" id="node_com_weblinks">Weblinks</a></li>
			</ul>
		</li>
		<li><a href="#" id="node_url">URL</a></li>
		<li><a href="#" id="node_sep">Separator</a></li>
		<li><a href="#" id="node_link">Menulink</a></li>	
	</ul>
</body>
</html>