.jtree{
	margin:0px;
	padding:0px;
	font-size: 140%;
}
.jtree ul{	/* Sub menu groups */
	margin-left:20px;	/* Left spacing */
	padding-left:0px;
	display:none;	/* Initially hide sub nodes */
}
.jtree li{	/* Nodes */
	list-style-type:none;
	vertical-align:middle;
	padding-left:16px;
}
.jtree li a{	/* Node links */
	color:#000;
	text-decoration:none;
	font-family:arial;
	font-size:0.8em;
	padding-left:2px;
}
.jtree li.node{	/* Nodes */
}
.jtree li.leaf{	/* Leafs */
	color:#666;
	font-size: 110%;
}
.jtree li.leaf a{
	color:#666;
}
