#internal-node a{
	text-decoration:none;
	font-family:arial;
	font-size:150%;
	padding-left:8px;
}
#external-node a{
	color:#000;
	text-decoration:none;
	font-family:arial;
	font-size:140%;
	padding-left:8px;
}
#separator-node a{
	color:#000;
	text-decoration:none;
	font-family:arial;
	font-size:140%;
	padding-left:8px;
}
#link-node a:link, #link-node a:visited{
	color:#000;
	text-decoration:none;
	font-family:arial;
	font-size:140%;
	padding-left:8px;
}
.jtree{
	color:#000;
	text-decoration:none;
	font-family:arial;
	font-size:75%;
	margin:0px;
	padding:0px;
}
.jtree ul{
	margin-left:20px;
	padding-left:0px;
	display:none;
}

/* Nodes */
.jtree li{list-style-type:none;vertical-align:middle;padding-left:0px;}
.jtree li.node{font-weight: bold;}

/* Leafs */
.jtree li.leaf{color:#666;font-weight: normal;padding-left:2px;}
.jtree li.leaf a{color:#000;}
.jtree li.leaf a:hover {color:#333;}
.jtree ul#subtree_0 {border:1px solid #ccc;padding:5px;width:95%;background:#f7f7f7;}
.jtree ul#subtree_0 li.leaf a {color:#58962A;}
.jtree ul#subtree_0 li.leaf a:hover {color:#000;}
.jtree li.node img {padding:0px; margin:0; position:relative; left:7px; top:1px;}
