:root {
  --cassiopeia-color-primary: hsl(220, 67%, 20%);
  --cassiopeia-color-link: hsl(220, 67%, 40%);
  --link-color: hsl(220, 67%, 40%);
  --link-color-rgb: 34, 79, 170;
  --cassiopeia-color-hover: hsl(242, 30%, 36%);
}