<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="actionlogs" label="COM_ACTIONLOGS_OPTIONS" addfieldpath="/administrator/components/com_actionlogs/models/fields">
		<field
			name="ip_logging"
			type="radio"
			label="COM_ACTIONLOGS_IP_LOGGING_LABEL"
			description="COM_ACTIONLOGS_IP_LOGGING_DESC"
			class="btn-group btn-group-yesno"
			default="0"
			filter="integer"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
			name="csv_delimiter"
			type="list"
			label="COM_ACTIONLOGS_CSV_DELIMITER_LABEL"
			description="COM_ACTIONLOGS_CSV_DELIMITER_DESC"
			default=","
			>
			<option value=",">COM_ACTIONLOGS_COMMA</option>
			<option value=";">COM_ACTIONLOGS_SEMICOLON</option>
		</field>
		<field
			name="loggable_extensions"
			type="logtype"
			label="COM_ACTIONLOGS_LOG_EXTENSIONS_LABEL"
			description="COM_ACTIONLOGS_LOG_EXTENSIONS_DESC"
			multiple="true"
			default="com_banners,com_cache,com_categories,com_checkin,com_config,com_contact,com_content,com_installer,com_media,com_menus,com_messages,com_modules,com_newsfeeds,com_plugins,com_redirect,com_tags,com_templates,com_users"
		/>
	</fieldset>
</config>
