//
// Display utilities
//

.j-d-none         { display: none !important; }
.j-d-inline       { display: inline !important; }
.j-d-inline-block { display: inline-block !important; }
.j-d-block        { display: block !important; }
.j-d-table        { display: table !important; }
.j-d-table-cell   { display: table-cell !important; }
.j-d-flex         { display: flex !important; }
.j-d-inline-flex  { display: inline-flex !important; }