body{
background: #FFF url(../images_red/back_verlauf.jpg) repeat-x top;
}

#header {
background: #FFF url(../images_red/back_verlauf.jpg) repeat-x top;
 }
 
#search {
background: url(../images_red/back_search.jpg) right top no-repeat;
}

a, #search .inputbox, #search .button{
color: #7E0E0E;
}

#outer {
background: transparent url(../images_red/content-top.gif) no-repeat top;
}

#banner {
background: url(../images_red/banner_back.jpg) no-repeat;
}

div.module h3 {
color: #7E0E0E;
border-bottom: 1px solid #7E0E0E;
}

ul#mainlevel-nav li{
background: url(../images_red/headmenu_left.gif) bottom left no-repeat;	
}

ul#mainlevel-nav li a{
background: url(../images_red/headmenu_right.gif) bottom right no-repeat;
}


ul#mainlevel-nav li:hover, ul#mainlevel-nav li.sfhover {
background: url(../images_red/headmenu_left_hover.gif) bottom left no-repeat;
}

ul#mainlevel-nav li:hover a, ul#mainlevel-nav li.sfhover a{
background: url(../images_red/headmenu_right_hover.gif) bottom right no-repeat;
}

a.mainlevel {
color: #7E0E0E;
}

a.mainlevel:hover, a.mainlevel#active_menu {
border-right: 4px solid #D53E3A;
}

a.sublevel {
color: #7E0E0E;
background: url(../images_red/submenu_back.gif) left center no-repeat;
}

a.sublevel:hover, a.sublevel#active_menu {
background: #F1F1F1 url(../images_red/submenu_back.gif) left center no-repeat;
border-right: 4px solid #D53E3A;
}

#maincol-normal div.moduletable h3, #maincol-wide div.moduletable h3, #maincol-broad div.moduletable h3{
background: url(../images_red/module_head_back.jpg) repeat-x;
}

.contentheading {
border-bottom: 1px solid #7E0E0E;
color: #7E0E0E;
}

a.readon:hover {
background: #EEEEEE url(../images_red/readon.gif) no-repeat left;
}

a.readon {
background: url(../images_red/readon.gif) no-repeat left;
}

table.contentpane td.contentheading {
color: #7E0E0E;
}


table.contentpane ul li{
background: url(../images_red/readon2.gif) no-repeat left top;
}

.componentheading {
border-bottom: 1px solid #002E61;
color: #7E0E0E;
}

.blog_more ul li{
background: url(../images_red/readon.gif) no-repeat left;
}