// Variables, Functions and Mixins
@import "../tools/tools";
@import "../../../../../../media/vendor/bootstrap/scss/functions";

:root {
  --cassiopeia-color-primary: #{$standard-color-primary};
  --link-color: #{$standard-color-link};
  --link-color-rgb: #{to-rgb($standard-color-link)};
  --cassiopeia-color-hover: #{$standard-color-hover};
  --link-hover-color: #{$standard-color-hover};
  --link-hover-color-rgb: #{to-rgb($standard-color-hover)};
}
