<?xml version="1.0" encoding="utf-8"?>
	<!-- $Id$ -->
<form>
	<fields>
		<field
			name="id"
			type="hidden"
			default="0"
			required="true"
			readonly="true" />

		<field
			name="title"
			type="text"
			class="inputbox"
			default=""
			size="35"
			maxlength="100"
			label="MODULES_FIELD_TITLE_LABEL"
			description="MODULES_FIELD_TITLE_DESC"
			required="true" />

		<field
			name="note"
			type="text"
			class="inputbox"
			default=""
			size="35"
			maxlength="100"
			label="MODULES_FIELD_NOTE_LABEL"
			description="MODULES_FIELD_NOTE_DESC" />

		<field
			name="module"
			type="text"
			class="readonly"
			readonly="readonly"
			default=""
			size="20"
			label="MODULES_FIELD_MODULE_LABEL"
			description="MODULES_FIELD_MODULE_DESC" />

		<field
			name="showtitle"
			type="list"
			label="MODULES_FIELD_SHOWTITLE_LABEL"
			description="MODULES_FIELD_SHOWTITLE_DESC"
			class="inputbox"
			size="1"
			default="1">
			<option
				value="1">JYES</option>
			<option
				value="0">JNO</option>
		</field>

		<field
			name="published"
			type="list"
			label="MODULES_FIELD_PUBLISHED_LABEL"
			description="MODULES_FIELD_PUBLISHED_DESC"
			class="inputbox"
			size="1"
			default="1">
			<option
				value="1">
				MODULES_FIELD_VALUE_PUBLISHED</option>
			<option
				value="0">
				MODULES_FIELD_VALUE_UNPUBLISHED</option>
		</field>

		<field
			id="publish_up"
			name="publish_up"
			type="calendar"
			label="MODULES_FIELD_PUBLISH_UP_LABEL"
			description="MODULES_FIELD_PUBLISH_UP_DESC"
			class="inputbox"
			size="16"
			format="%Y-%m-%d %H:%M:%S"
			filter="server_utc" />

		<field
			id="publish_down"
			name="publish_down"
			type="calendar"
			label="MODULES_FIELD_PUBLISH_DOWN_LABEL"
			description="MODULES_FIELD_PUBLISH_DOWN_DESC"
			class="inputbox"
			size="16"
			format="%Y-%m-%d %H:%M:%S"
			filter="server_utc" />

		<field
			name="client_id"
			type="list"
			label="MODULES_FIELD_CLIENT_ID_LABEL"
			description="MODULES_FIELD_CLIENT_ID_DESC"
			class="inputbox"
			size="1"
			default="0"
			readonly="true">
			<option
				value="0">
				COM_MODULES_OPTION_SITE</option>
			<option
				value="1">
				COM_MODULES_OPTION_ADMINISTRATOR</option>
		</field>

		<field
			name="position"
			type="moduleposition"
			maxlength="50"
			default="left"
			label="MODULES_FIELD_POSITION_LABEL"
			description="MODULES_FIELD_POSITION_DESC"
			class="inputbox">
		</field>

		<field
			name="access"
			type="accesslevel"
			label="JFIELD_ACCESS_LABEL"
			description="JFIELD_ACCESS_DESC"
			class="inputbox"
			size="1"
			default="" />

		<field
			name="ordering"
			type="moduleorder"
			class="inputbox"
			default=""
			label="JFIELD_ORDERING_LABEL"
			description="JFIELD_ORDERING_DESC" />

		<field
			name="content"
			type="editor"
			class="inputbox"
			label="MODULES_FIELD_CONTENT_LABEL"
			description="MODULES_FIELD_CONTENT_DESC"
			filter="safehtml"
			buttons="true" />

		<field
			name="language"
			type="contentlanguage"
			label="JFIELD_LANGUAGE_LABEL"
			description="JFIELD_MODULE_LANGUAGE_DESC"
			class="inputbox"
			default="">
			<option value="">JOPTION_DEFAULT_LANGUAGE</option>
		</field>

		<field
			name="params"
			type="hidden" />

		<field
			name="assignment"
			type="hidden" />

		<field
			name="assigned"
			type="hidden" />
	</fields>
</form>
