<?xml version="1.0" encoding="utf-8"?>
<config>
	<help key="Menus:_Options"/>
	<inlinehelp button="show"/>
	<fieldset
		name="page-options"
		label="COM_MENUS_PAGE_OPTIONS_LABEL"
		>

		<field
			name="page_title"
			type="text"
			label="COM_MENUS_ITEM_FIELD_PAGE_TITLE_LABEL"
			default=""
		/>

		<field
			name="show_page_heading"
			type="radio"
			layout="joomla.form.field.radio.switcher"
			label="COM_MENUS_ITEM_FIELD_SHOW_PAGE_HEADING_LABEL"
			default="0"
			filter="integer"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="page_heading"
			type="text"
			label="COM_MENUS_ITEM_FIELD_PAGE_HEADING_LABEL"
			default=""
			showon="show_page_heading:1"
		/>

		<field
			name="pageclass_sfx"
			type="text"
			label="COM_MENUS_ITEM_FIELD_PAGE_CLASS_LABEL"
			validate="CssIdentifier"
		/>

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_menus"
			section="component"
		/>

	</fieldset>
</config>
