<?xml version="1.0" encoding="utf-8"?>
<config>
 <params addpath="/administrator/components/com_localise/models/elements">
  <param name="backticks" type="list" default="0" label="BACKTICKS" description="BACKTICKS DESC">
	<option value="0">NO</option>
	<option value="1">YES (single-quote to backtick)</option>
	<option value="-1">REVERSE (backtick to single-quote)</option>
  </param>
  <param name="globalChanges" type="radio" default="0" label="GLOBAL CHANGES" description="GLOBAL CHANGES DESC">
	<option value="0">NO</option>
	<option value="1">YES</option>
  </param>
  <param name="refLanguage" type="fflanguages" default="en-GB" label="REF LANG" description="REF LANG DESC">
  </param>
  <param name="searchStyle" type="text" size="80" default="background-color:yellow;" label="SEARCHSTYLE" description="SEARCHSTYLE DESC">
  </param>
  <param name="autoCorrect" type="text" size="80" default="a^=â;e^=ê;i^=î;o^=ô;w^=ŵ;y^=ŷ;O^=Ô;i&quot;=ï" label="AUTOCORRECT" description="AUTOCORRECT DESC">
  </param>
  <param name="zippath" type="text" size="80" default="tmp/[tag].[client].zip" label="ZIPPATH" description="ZIPPATH DESC">
  </param>
 </params>
</config>
