<?xml version="1.0" encoding="utf-8"?>
<config>

	<fields
		group="contact"
		label="Contact_Config_Individual_Contact_Display">
		<field
			name="show_contact_list"
			type="radio"
			default="0"
			label="Com_Contact_Contact_Contact_Show_List_Label"
			description="Com_Contact_Contact_Contact_Show_List_Desc">
			<option
				value="0">JHide</option>
			<option
				value="1">JShow</option>
		</field>
		<field
			name="show_name"
			type="radio"
			default="1"
			label="Contact_Params_Name_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_position"
			type="radio"
			default="1"
			label="Contact_Params_Contact_Position_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_email"
			type="radio"
			default="0"
			label="CONTACT_PARAMS_CONTACT_POSITION_E_MAIL_LABEL"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_street_address"
			type="radio"
			default="1"
			label="Contact_Params_Street_Address_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_suburb"
			type="radio"
			default="1"
			label="CONTACT_PARAMS_TOWN_SUBURB_LABEL"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_state"
			type="radio"
			default="1"
			label="CONTACT_PARAMS_STATE_COUNTY_LABEL"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_postcode"
			type="radio"
			default="1"
			label="CONTACT_PARAMS_POST_ZIP_CODE_LABEL"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_country"
			type="radio"
			default="1"
			label="Contact_Params_Country_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_telephone"
			type="radio"
			default="1"
			label="Contact_Params_Telephone_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_mobile"
			type="radio"
			default="1"
			label="Contact_Params_Mobile_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_fax"
			type="radio"
			default="1"
			label="Contact_Params_Fax_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_webpage"
			type="radio"
			default="1"
			label="Contact_Params_Webpage_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_misc"
			type="radio"
			default="1"
			label="CONTACT_PARAMS_MISC_INFO_LABEL"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="show_image"
			type="radio"
			default="1"
			label="Contact_Params_Image_Label"
			description="Contact_Params_Name_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
		<field
			name="allow_vcard"
			type="radio"
			default="0"
			label="Contact_Config_Allow_vCard_Label"
			description="Contact_Config_Allow_vCard_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>
			<field name="show_articles"
				type="radio"
				default="1"
				label="Contact_Articles_Show_Label"
				description="Contact_Articles_Show_Desc">
					<option value="0">Jcommon_Hide</option>
					<option value="1">Jcommon_Show</option>
		</field>
		<field name="show_profile"
				type="radio"
				default="1"
				label="Contact_Profile_Show_Label"
				description="Contact_Profile_Show_Desc">
					<option value="0">Jcommon_Hide</option>
					<option value="1">Jcommon_Show</option>
		</field>
		<field
			id="show_links"
			name="show_links"
			label="Contact_Show_Links_Label"
			description="Contact_Show_Links_Desc"
			type="radio"
			default="1">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>

		</field>
		<field
			id="linka_name"
			name="linka_name"
			type="text"
			label="Contact_Linka_Name_Label"
			description="Contact_Linka_Name_Desc"
			size="30"
			default="" />
		<field
			id="linkb_name"
			name="linkb_name"
			type="text"
			label="Contact_LInkb_Name_Label"
			description="Contact_Linkb_Name_Desc"
			size="30"
			default="" />
		<field
			id="linkc_name"
			name="linkc_name"
			type="text"
			label="Contact_LInkc_Name_Label"
			description="Contact_Linkc_Name_Desc"
			size="30"
			default="" />
		<field
			id="linkd_name"
			name="linkd_name"
			type="text"
			label="Contact_LInkd_Name_Label"
			description="Contact_Linkd_Name_Desc"
			size="30"
			default="" />
		<field
			id="linke_name"
			name="linke_name"
			type="text"
			label="Contact_LInke_Name_Label"
			description="Contact_Linke_Name_Desc"
			size="30"
			default="" />
	</fields>
	<fields
		group="Icons"
		label="Contact_Icon_Settings">

		<field
			name="contact_icons"
			type="list"
			default="0"
			label="CONTACT_ICONS_Settings_Label"
			description="CONTACT_ICONS_Settings_Desc">
			<option
				value="0">Contact_Icons_Options_Icons</option>
			<option
				value="1">Contact_Icons_Options_Text</option>
			<option
				value="2">Contact_Icons_Options_None</option>
		</field>

		<field
			name="icon_address"
			type="imagelist"
			link="images"
			hide_none="1"
			default=""
			label="Contact_Icons_Address_Label"
			description="Contact_Icons_Address_Desc" />

		<field
			name="icon_email"
			type="imagelist"
			directory="/images"
			hide_none="1"
			default=""
			label="Contact_Icons_Email_Label"
			description="Contact_Icons_Email_Desc" />

		<field
			name="icon_telephone"
			type="imagelist"
			directory="/images"
			hide_none="1"
			default=""
			label="Contact_Icons_Telephone_Label"
			description="Contact_Icons_Telephone_Desc" />

		<field
			name="icon_mobile"
			type="imagelist"
			directory="/images"
			hide_none="1"
			default=""
			label="Contact_Icons_Mobile_Label"
			description="Contact_Icons_Mobile_Desc" />

		<field
			name="icon_fax"
			type="imagelist"
			directory="/images"
			hide_none="1"
			default=""
			label="Contact_Icons_Fax_Label"
			description="Contact_Icons_Fax_Desc" />

		<field
			name="icon_misc"
			type="imagelist"
			directory="/images"
			hide_none="1"
			default=""
			label="Contact_Icons_Misc_Label"
			description="Contact_Icons_Misc_info_Desc" />
	</fields>

	<fields
		group="contacts"
		label="Contact_Config_Table_of_Contacts">
		<field
			name="show_headings"
			type="radio"
			default="1"
			label="Contact_Config_Table_Headings_Label"
			description="Contact_Config_Table_Headings_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>

		<field
			name="show_position_headings"
			type="radio"
			default="1"
			label="Contact_Config_Position_Label"
			description="Contact_Config_Position_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>

		<field
			name="show_email_headings"
			type="radio"
			default="0"
			label="Contact_Show_Email_Address_Label"
			description="Contact_Show_Email_Address_Desc">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>

		<field
			name="show_telephone_headings"
			type="radio"
			default="1"
			label="Contact_Config_Phone_Label"
			description="Contact_Config_Telephone_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>

		<field
			name="show_mobile_headings"
			type="radio"
			default="1"
			label="Contact_Config_Mobile_Label"
			description="Contact_Config_Mobile_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>

		<field
			name="show_fax_headings"
			type="radio"
			default="1"
			label="Contact_Config_Mobile_Label"
			description="Contact_Config_Mobile_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>


		<field
			name="allow_vcard_headings"
			type="radio"
			default="0"
			label="Contact_Config_vCard_Label"
			description="Contact_Config_vCard_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>

		</field>

	</fields>
	<fields
		group="Contact_Form"
		label="Contact_Config_Contact_Form">

		<field
			name="show_email_form"
			type="radio"
			default="1"
			label="Contact_Email_Show_Form_Label"
			description="Contact_Email_Show_Form_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>

		<field
			name="email_description"
			type="text"
			size="30"
			default=""
			label="Contact_Email_Description_Text_Label"
			description="Contact_Email_Description_Text_Desc" />

		<field
			name="show_email_copy"
			type="radio"
			default="1"
			label="Contact_Email_Email_Copy_Label"
			description="Contact_Email_Email_Copy_Desc">
			<option
				value="0">Jcommon_Hide</option>
			<option
				value="1">Jcommon_Show</option>
		</field>

		<field
			name="banned_email"
			type="textarea"
			default=""
			label="Contact_Config_BANNED_EMAIL_LABEL"
			rows="3"
			cols="30"
			description="Contact_Config_BANNED_EMAIL_DESC" />

		<field
			name="banned_subject"
			type="textarea"
			default=""
			label="Contact_Config_BANNED_SUBJECT_LABEL"
			rows="3"
			cols="30"
			description="Contact_Config_BANNED_SUBJECT_DESC" />

		<field
			name="banned_text"
			type="textarea"
			default=""
			label="Contact_Config_BANNED_TEXT_LABEL"
			rows="3"
			cols="30"
			description="Contact_Config_BANNED_TEXT_DESC" />

		<field
			name="validate_session"
			type="radio"
			default="1"
			label="Contact_Config_SESSION_CHECK_LABEL"
			description="Contact_Config_SESSION_CHECK_DESC">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="custom_reply"
			type="radio"
			default="0"
			label="Contact_Config_Custom_Reply"
			description="Contact_Config_Custom_Reply_Desc">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>
		<field
			name="redirect"
			type="text"
			default=""
			size="30"
			label="Contact_Config_Redirect_LABEL"
			description="Contact_Config_Redirect_DESC" />
	</fields>

		<fields
		group="integration"
		label="Menus_Layout_Integration_Options_Label"
		description="">

		<field
			name="show_category_crumb"
			type="radio"
			default="0"
			label="Com_Contact_Contact_Breadcrumbs_Label"
			description="Com_Contact_Contact_Breadcrumbs_Desc">
			<option
				value="0">JHide</option>
			<option
				value="1">JShow</option>
		</field>

		<field
			name="article_allow_ratings"
			type="radio"
			label="Content_Attribs_Allow_Ratings_Label"
			description="Content_Attribs_Allow_Ratings_Desc"
			default="0">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="article_allow_comments"
			type="radio"
			label="Content_Attribs_Allow_Comments_Label"
			description="Content_Attribs_Allow_Comments_Desc"
			default="0">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

	</fields>

	<fields
		group="Contact_Config_Meta_Data"
		label="Contact_Fieldset_Meta_Data">
		<field
			id="metakey"
			name="metakey"
			type="textarea"
			label="JField_Meta_Keywords_Label"
			description="JField_Meta_Keywords_Desc"
			rows="3"
			cols="30"
			default="" />

		<field
			id="metadesc"
			name="metadesc"
			type="textarea"
			label="JField_Meta_Description_Label"
			description="JField_Meta_Description_Desc"
			rows="3"
			cols="30"
			default="" />
		<field
			name="robots"
			type="text"
			label="JField_Metadata_Robots_Label"
			description="JField_Metadata_Robots_Desc"
			size="20" />

		<field
			name="author"
			type="text"
			label="JField_Metadata_Author_Label"
			description="JField_Metadata_Author_Desc"
			size="20" />
		<field
			name="rights"
			type="text"
			label="JField_Metadata_Rights_Label"
			description="JField_Metadata_Rights_Desc"
			size="20" />

		<field
			id="xreference"
			name="xreference"
			type="hidden"
			label="JField_Metadata_XReference_Label"
			description="JField_Metadata_XReference_Desc"
			size="30"
			default="" />
	</fields>
	<fields
		group="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		hidden="true">

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			filter="rules"
			component="com_contact"
			section="component" />
	</fields>

</config>
