<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param name="contact_icons" type="list" default="0" label="Icons/text" description="PARAMCONTACTICONS">
			<option value="0">Icons</option>
			<option value="1">Text</option>
			<option value="2">None</option>
		</param>
		<param name="icon_address" type="imagelist" directory="/images/M_images" hide_none="1" default="" label="Address Icon" description="Icon for the Address info" />
		<param name="icon_email" type="imagelist" directory="/images/M_images" hide_none="1" default="" label="Email Icon" description="Icon for the Email info" />
		<param name="icon_telephone" type="imagelist" directory="/images/M_images" hide_none="1" default="" label="Telephone Icon" description="Icon for the Telephone info" />
		<param name="icon_mobile" type="imagelist" directory="/images/M_images" hide_none="1" default="" label="Mobile Icon" description="Icon for the Mobile info" />
		<param name="icon_fax" type="imagelist" directory="/images/M_images" hide_none="1" default="" label="Fax Icon" description="Icon for the Fax info" />
		<param name="icon_misc" type="imagelist" directory="/images/M_images" hide_none="1" default="" label="Misc Icon" description="Icon for the Misc info" />

		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="show_headings" type="radio" default="1" label="Show Table Headings" description="Show/Hide the Table Headings">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_position" type="radio" default="1" label="Show Contact's Position" description="Show/Hide the Contact Position">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_email" type="radio" default="0" label="Show Email Address" description="Show/Hide the Email Address">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_telephone" type="radio" default="1" label="Show Phone Number" description="Show/Hide the Telephone Number">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_mobile" type="radio" default="1" label="Show Mobile Number" description="Show/Hide the Mobile Number">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>
		<param name="show_fax" type="radio" default="1" label="Show Fax Number" description="Show/Hide the Fax Number">
			<option value="0">Hide</option>
			<option value="1">Show</option>
		</param>

		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="allow_vcard" type="radio" default="0" label="Enable vcard" description="Enable vcard support for contacts">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>

		<param name="@spacer" type="spacer" default="" label="" description="" />
		<param name="banned_email" type="textarea" default="" label="BANNED EMAIL LABEL" rows="3" cols="30" description="BANNED EMAIL DESC" />
		<param name="banned_subject" type="textarea" default="" label="BANNED SUBJECT LABEL" rows="3" cols="30" description="BANNED SUBJECT DESC" />
		<param name="banned_text" type="textarea" default="" label="BANNED TEXT LABEL" rows="3" cols="30" description="BANNED TEXT DESC" />
		<param name="validate_session" type="radio" default="1" label="SESSION CHECK LABEL" description="SESSION CHECK DESC">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
		<param name="custom_reply" type="radio" default="0" label="Custom Reply" description="Custom Reply Desc">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</param>
	</params>
</config>