// Form

.form-control {
  max-width: 240px;
  background-color: $white-offset;

  &.input-xlarge {
    max-width: 350px;
  }

  &.input-xxlarge {
    max-width: 550px;
  }

  &.input-full {
    max-width: 100%;
  }

}

.control-group::after {
  display: table;
  clear: both;
  content: "";
}

form:not(.form-no-margin) {

  .control-group {
    margin-bottom: 18px;

    .control-label {
      float: left;
      width: auto;
      padding-top: 5px;
      padding-right: 5px;
      text-align: left;
    }

    .controls {
      margin-left: 220px;
    }

  }

}

form .form-no-margin {

  .control-group {

    .controls {
      margin-left: 0;
    }

    .control-label {
      float: none;
    }

  }

}

.spacer hr {
  width: 380px;
}

.custom-select {
  max-width: 240px;
}
.form-inline .custom-select {
  width: auto;
}

td .form-control {
  display: inline-block;
  width: auto;
}

.checkboxes {
  padding-top: 5px;

  .checkbox input {
    position: static;
    margin-left: 0;
  }

}

.modal label {
  width: 100%;
}

// Validation
.invalid {
  color: theme-color("danger");
  border-color: theme-color("danger");
}

.valid {
  border-color: theme-color("success");
}

.form-control-feedback {
  display: block;
}
