/* CSS Document */
.container{
	position: relative;
	max-width: 900px;
	z-index: 1060;
}
.thumbnail {
	margin-bottom:9px;
}
.accordion-group {
	background:#fff;
}

.step.active span {
	background-color: #f89406;
}

.header {
	background-color: #ffffff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9effa), color-stop(25%, #d9effa), to(#ffffff));
	background-image: -webkit-linear-gradient(#d9effa, #d9effa 25%, #ffffff);
	background-image: -moz-linear-gradient(top, #d9effa, #d9effa 25%, #ffffff);
	background-image: -ms-linear-gradient(#d9effa, #d9effa 25%, #ffffff);
	background-image: -o-linear-gradient(#d9effa, #d9effa 25%, #ffffff);
	background-image: linear-gradient(#d9effa, #d9effa 25%, #ffffff);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9effa', endColorstr='#ffffff', GradientType=0);
	border-top: 3px solid #0088cc;
	padding: 20px 0;
	text-align: center;
}

.hero-unit{
	background-color: #08C;
}
.hero-unit h1,
.hero-unit p,
.hero-unit > *{
	color: white;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
/* Page Edit */
.page-edit {
	background:#555 url(../img/noise.png);
	-moz-box-shadow: 0px 0px 40px #111 inset;
	-webkit-box-shadow: 0px 0px 40px #111 inset;
	box-shadow: 0px 0px 40px #111 inset;
}
.page-edit-inner {
	padding:20px 0;
}
.page-edit h1,
.page-edit h2,
.page-edit h3,
.page-edit h4,
.page-edit h5,
.page-edit h6,
.page-edit legend,
.page-edit label,
.page-edit p{
	color: #F8F8F8;
	text-shadow: 1px 1px 1px #000;
}
.page-edit legend,
.page-edit hr{
	border: 0;
	border-bottom: 1px solid #333;
}
.page-edit .form-actions{
	background-color: transparent;
	border-top: 1px solid #333;
}
/* Module */
.module-header {
	padding-bottom: 17px;
	margin: 20px 0 18px 0;
	border-bottom: 1px solid #eeeeee;
}
/* Single Item */
.item-title {
	margin-bottom:9px;
}
.item-content {
	margin:18px 0;
}
.item-subtitle {
	margin-bottom:9px;
}
.pull-right.item-image {
	margin:0 0 18px 20px;
}
.pull-left.item-image {
	margin:0 20px 18px 0;
}
.header .nav > li:last-child > .dropdown-menu,
.item-actions .dropdown-menu,
.item-comment .dropdown-menu {
	left:initial;
	right:0;
}
/* List */
.list-item-title {
	margin-bottom:9px;
}
.list-item-content {
	margin:18px 0;
}
.list-item-subtitle {
	margin-bottom:9px;
}
/* Javascript Warning */
#javascript-warning {
	text-align: center;
	font-size: 16px;
}
textarea {
	resize: both;
}
textarea.vert {
	resize: vertical;
}
textarea.noResize {
	resize: none;
}
/* Tooltip */
.tooltip {
	white-space: pre-wrap;
}

#loading {
	position: absolute;
	display: none;
 	left: 0;
 	top: 0;
 	width: 100%;
 	height: 100%;
 	z-index: 1000;
 	opacity: .95;
	 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 95);
 	filter: alpha(opacity = 95);
 	background: url('../../../media/jui/images/ajax-loader.gif') rgba(255,255,255,0.7) center no-repeat;
 }
