/* CSS Document */
html {
	height: 100%;
	text-align: right;
	direction:rtl;
}

body {
	margin: 10px;
	padding: 0;
	background: #fff;
	height: 100%;
	padding-bottom: 1px;
}

body, div, p, td, span {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
}

a:link, a:visited {
	text-decoration: none;
	color: #0B55C4;
}

a:hover {

}

h1, h2, h3, h4, h5,
#header3 span,
.step-on, .step-off, .step-grey
.step,
.button1-left a,
.button1-right a {
	font-family: Arial, Helvetica, sans-serif;
}

.clr {
	clear: both;
}

.newsection {
  height: 20px;
  clear:both;
}

form {
	margin: 0;
	padding: 0;
}

/* installer */
#header1 {
	background: url(../images/j_header_middle.png) repeat-x;
}

#header2 {
	background: url(../images/j_header_left_rtl.png) left 0 no-repeat;
}

#header3 {
	background: url(../images/j_header_right_rtl.png) right no-repeat;
	height: 54px;
	padding-right: 180px;

}

#header3 span {
	font-size: 22px;
	color: #fff;
	font-weight: bold;
		line-height: 44px;
}

#version {
	float: left;
	color: #fff;
	padding-top: 25px;
	padding-left: 5px;
}

#footer1 {
	background: url(../images/j_bottom.png) repeat-x;
}

#footer2 {
	background: url(../images/j_corner_br.png) 100% 0 no-repeat;
}

#footer3 {
	background: url(../images/j_corner_bl.png) no-repeat;
	height: 11px;
}

#content-box {
  	float: none;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#content-pad {
	padding: 10px 10px 0 10px;
}

#stepbar {
	float: right;
	width: 170px;
}

#stepbar div.box {
	background:  url(../images/j_joomla_box.jpg) 50% 20px no-repeat;
	height: 140px;
}

#stepbar h1 {
	margin: 0;
	padding-bottom: 8px;
	font-size: 20px;
	color: #0B55C4;
	font-weight: bold;
	background: url(../images/j_divider.png) 0 100% repeat-x;
}

.step-on, .step-off, .step-grey {
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 12px;
	font-weight: bold;
	background: url(../images/j_divider.png) 0 100% repeat-x;
}

.step-off {
	color: #333;
}

.step-on {
	color: #0B55C4;
}

.step-grey {
  color: #a7a7a7
}

#right {
	margin-right: 180px;
}

#rightpad {
	width: 100%;
	float: right;
}

#step {
	margin-bottom: 10px;
}

span.step {
	font-size: 20px;
	line-height: 30px;
	color: #0B55C4;
	font-weight: bold;
	padding-left: 6px;
}

.far-right {
	padding-left: 6px;
	margin-top: 2px;
	float: left;
	text-align: left;
}

.button1-left {
	background: url(../images/j_button1_left.png) no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-right {
	background: url(../images/j_button1_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-left .refresh {
	float: left;
	background: url(../images/j_button1_refresh.png) 100% 0 no-repeat;
}

.button1-right .prev {
	float: left;
	background: url(../images/j_button1_prev.png) no-repeat;
}

.button1-left .next {
	float: left;
	background: url(../images/j_button1_next.png) 100% 0 no-repeat;
}

.button1-left .site {
	float: left;
	background: url(../images/j_button1_site.png) 100% 0 no-repeat;
}

.button1-left .admin {
	float: left;
	background: url(../images/j_button1_admin.png) 100% 0 no-repeat;
}

.button1-left .collate {
	float: left;
	background: url(../images/j_button1_collate.png) 100% 0 no-repeat;
}



.button1-left a,
.button1-right a {
	display: block;
	height: 26px;
	float: left;
	line-height: 26px;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}

.button1-left a {
	padding: 0 30px 0 6px;
}

.button1-right a {
	padding: 0 6px 0 30px;
}

#installer {
	background: #fff;
	width: auto;
}

#installer h2 {
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	color: #333;
	font-weight: bold;
	margin: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.install-text {
	float: right;
	width: 40%;
	color: #444;
}

.install-body {
	float: left;
	width: 58%;
}

.extra-padding {
	padding: 0px;
}

.install-body fieldset {
  padding: 5px;
	margin: 0;
	border: 0;
}

#copyright {
	margin: 10px;
	text-align: center;
}

.Yes, .Writeable {
	font-weight: bold;
	color: #46882B;
}

.No, .Unwriteable {
	font-weight: bold;
	color: #c00;
}

.content       { width: 100%; }
.content .item { width: 50%; }
.content2 .item { width: 30%; }

.license {
  padding: 0px;
  width: 100%;
  height: 500px;
}

h3.title-smenu, h3.moofx-toggler {
	margin: 0;
	border: 1px solid #ccc;
	padding: 4px;
	background-color: #EBEBEB;
	margin-bottom: 1px;
	font-size: 12px;
	color: #666;
	cursor: pointer;
}

h3.moofx-toggler      { background: #EBEBEB url(../images/j_arrow_left.png) 99% 50% no-repeat; text-indent: 15px; }
h3.moofx-toggler-down { background-image: url(../images/j_arrow_down.png); }

/* hack to stop ugly aliasing in IE */
div.moofx-slider {
  background: #fbfbfb;
}

.final-table { width: 100%; }

td em {
	color: #666;
}

/* form limiting stuff */

#theDefault input {

}

/* corners */

div#stepbar {
  background: #f7f7f7;  
}

div#installer {
  background: #fff;  
}

div#installer div.install-body div.m {
	background: #fbfbfb;

}

div.t, div.b {
  height: 6px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.m {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 8px;
}

div#step div.m {
  padding: 0;
}

div#installer div.m {
  padding-bottom: 1px !important;
  padding-bottom: 0px;
}

div#stepbar div.t {
  background: url(../images/j_border.png) 0 0 repeat-x;
}

div#stepbar div.t div.t {
   background: url(../images/j_crn_tr_dark.png) 100% 0 no-repeat;
}

div#stepbar div.t div.t div.t {
   background: url(../images/j_crn_tl_dark.png) 0 0 no-repeat;
}

div#stepbar div.b {
  background: url(../images/j_border.png) 0 100% repeat-x;
}

div#stepbar div.b div.b {
   background: url(../images/j_crn_br_dark.png) 100% 0 no-repeat;
}

div#stepbar div.b div.b div.b {
   background: url(../images/j_crn_bl_dark.png) 0 0 no-repeat;
}

div#step,
div#installer div.install-body {
  background: #fbfbfb;  
}

div#step div.t,
div#installer div.install-body div.t {
  background: url(../images/j_border.png) 0 0 repeat-x;
}

div#step div.t div.t,
div#installer div.install-body div.t div.t {
   background: url(../images/j_crn_tr_med.png) 100% 0 no-repeat;
}

div#step div.t div.t div.t,
div#installer div.install-body div.t div.t div.t {
   background: url(../images/j_crn_tl_med.png) 0 0 no-repeat;
}

div#step div.b,
div#installer div.install-body div.b {
  background: url(../images/j_border.png) 0 100% repeat-x;
}

div#step div.b div.b,
div#installer div.install-body div.b div.b {
   background: url(../images/j_crn_br_med.png) 100% 0 no-repeat;
}

div#step div.b div.b div.b,
div#installer div.install-body div.b div.b div.b {
   background: url(../images/j_crn_bl_med.png) 0 0 no-repeat;
}

div#installer div.t {
  background: url(../images/j_border.png) 0 0 repeat-x;
}

div#installer div.t div.t {
   background: url(../images/j_crn_tr_light.png) 100% 0 no-repeat;
}

div#installer div.t div.t div.t {
   background: url(../images/j_crn_tl_light.png) 0 0 no-repeat;
}

div#installer div.b {
  background: url(../images/j_border.png) 0 100% repeat-x;
}

div#installer div.b div.b {
   background: url(../images/j_crn_br_light.png) 100% 0 no-repeat;
}

div#installer div.b div.b div.b {
   background: url(../images/j_crn_bl_light.png) 0 0 no-repeat;
}

