/* CSS Document */
html {
	height: 100%;
}

body {
	margin: 10px;
	padding: 0;
	background: #fff;
	height: 100%;
	padding-bottom: 1px;
}

body, div, p, td, span {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
}

a:link, a:visited {
	text-decoration: none;
	color: #0B55C4;
}

a:hover {

}

h1, h2, h3, h4, h5,
#header3 span,
.step-on, .step-off,
.step,
.button1-left a,
.button1-right a {
	font-family: Arial Narrow, Helvetica, Arial, sans-serif;
}

.clr {
	clear: both;
}

form {
	margin: 0;
	padding: 0;
}

/* installer */
#header1 {
	background: url(../images/j_header_middle.png) repeat-x;
}

#header2 {
	background: url(../images/j_header_right.png) 100% 0 no-repeat;
}

#header3 {
	background: url(../images/j_header_left.png) no-repeat;
	height: 54px;
}

#header3 span {
	font-size: 22px;
	color: #fff;
	font-weight: bold;
	padding-left: 180px;
	line-height: 44px;
}

#version {
	float: right;
	color: #fff;
	padding-top: 25px;
	padding-right: 5px;
}

#footer1 {
	background: url(../images/j_bottom.png) repeat-x;
}

#footer2 {
	background: url(../images/j_corner_br.png) 100% 0 no-repeat;
}

#footer3 {
	background: url(../images/j_corner_bl.png) no-repeat;
	height: 11px;
}

#content-box {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

#content-pad {
	padding: 10px 10px 0 10px;
}

#stepbar {
	background: #F7F7F7;
	float: left;
	width: 170px;
}

#stepbarpad {
	padding: 0px 6px 150px 6px;
	background:  url(../images/j_joomla_box.jpg) 50% 100% no-repeat;
}

#stepbar h1 {
	margin: 0;
	padding-bottom: 8px;
	font-size: 22px;
	color: #0B55C4;
	font-weight: bold;
	background: url(../images/j_divider.png) 0 100% repeat-x;
}

.step-on, .step-off {
	padding-top: 10px;
	padding-bottom: 12px;
	font-size: 14px;
	font-weight: bold;
	background: url(../images/j_divider.png) 0 100% repeat-x;
}

.step-off {
	color: #333;
}

.step-on {
	color: #0B55C4;
}

#right {
	margin-left: 180px;
}

#rightpad {
	width: 100%;
	float: left;
}

#step {
	background: #fbfbfb;
	margin-bottom: 10px;
}

#steppad {
	height: 29px;
}

span.step {
	font-size: 22px;
	color: #0B55C4;
	font-weight: bold;
	padding-left: 6px;
}

.far-right {
	margin-right: 6px !Important;
	margin-right: 0px;
	margin-top: 2px;
	float: right;
	text-align: right;
}

.button1-left {
	background: url(../images/j_button1_left.png) no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-right {
	background: url(../images/j_button1_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
}

.button1-left .refresh {
	float: left;
	background: url(../images/j_button1_refresh.png) 100% 0 no-repeat;
}

.button1-right .prev {
	float: left;
	background: url(../images/j_button1_prev.png) no-repeat;
}

.button1-left .next {
	float: left;
	background: url(../images/j_button1_next.png) 100% 0 no-repeat;
}

.button1-left .site {
	float: left;
	background: url(../images/j_button1_site.png) 100% 0 no-repeat;
}

.button1-left .admin {
	float: left;
	background: url(../images/j_button1_admin.png) 100% 0 no-repeat;
}

.button1-left .collate {
	float: left;
	background: url(../images/j_button1_collate.png) 100% 0 no-repeat;
}



.button1-left a, 
.button1-right a {
	display: block;
	height: 26px;
	float: left;
	line-height: 26px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}

.button1-left a {
	padding: 0 30px 0 6px;
}

.button1-right a {
	padding: 0 6px 0 30px;
}

#installer {
	background: #fff;
}

#installerpad {
	padding: 10px;
}

#installer h2 {
	font-size: 16px;
	color: #333;
	font-weight: bold;
	margin: 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

.install-text {
	float: left;
	width: 40%;
	color: #666;
}

.install-body {
	margin-left: 42%;
	margin-bottom: 25px;
}

.install-form {
	background: #fbfbfb;
	width: 100% !important;
	width: 99%;
}

.extra-padding {
	padding: 10px;
}

.install-form fieldset {
	margin: 0;
	border: 0;
	padding: 10px;
}

#copyright {
	margin: 10px;
	text-align: center;
}

.Yes, .Writeable {
	font-weight: bold;
	color: #46882B;
}

.No, .Unwriteable {
	font-weight: bold;
	color: #c00;
}

.content       { width: 100%; }
.content .item { width: 50%; }

.license {
  padding: 0px;
  width: 100%;
  height: 500px;
}

h3.title-smenu, h3.moofx-toggler {
	margin: 0;
	border: 1px solid #ccc;
	padding: 4px;
	background-color: #EBEBEB;
	margin-bottom: 1px;
	color: #666;
	cursor: pointer;
}

h3.moofx-toggler      { background: #EBEBEB url(../images/j_arrow.png) 5px 50% no-repeat; text-indent: 15px; }
h3.moofx-toggler-down { background-image: url(../images/j_arrow_down.png); }

.final-table { width: 100%; }
