<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields>
		<field
			name="show_comp_description"
			type="radio"
			default="1"
			label="Description"
			description="Show/Hide the Description below">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>

		<field
			name="comp_description"
			type="textarea"
			default=""
			label="Weblinks Intro"
			rows="3"
			cols="50"
			description="WEBLINKS_INTRO_DESC" />

		<field
			type="spacer" />

		<field
			name="show_link_hits"
			type="radio"
			default="1"
			label="Hits"
			description="TIPIFSETTOSHOWHITS">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>

		<field
			name="show_link_description"
			type="radio"
			default="1"
			label="Link Descriptions"
			description="PARAMSHOWHIDELINKS">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>

		<field
			name="show_other_cats"
			type="radio"
			default="1"
			label="Other Categories"
			description="PARAMWHENVIEWCAT">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>

		<field
			name="show_headings"
			type="radio"
			default="1"
			label="Table Headings"
			description="Show/Hide the Table Headings">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>

		<field
			name="show_numbers"
			type="radio"
			default="1"
			label="Item Numbers"
			description="Show/Hide the Item Numbers">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>

		<field
			name="show_report"
			type="radio"
			default="1"
			label="Report Link"
			description="Show/Hide the Report Bad Link option">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>

		<field
			type="spacer" />

		<field
			name="target"
			type="list"
			default="0"
			label="Target"
			description="Target window when the link is clicked">
			<option
				value="0">Parent Window With Browser Navigation</option>
			<option
				value="1">New Window With Browser Navigation</option>
			<option
				value="2">New Window Without Browser Navigation</option>
		</field>
		<field
			name="link_icons"
			type="imagelist"
			directory="/images/system"
			default=""
			label="Icon"
			description="PARAMICONIMG" />
	</fields>

	<fields
		group="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		hidden="true">

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			filter="rules"
			component="com_weblinks"
			section="component" />
	</fields>
</config>
