<?xml version="1.0" encoding="utf-8"?>
<!-- $Id$ -->
<extension type="component" version="1.7" method="upgrade">
	<name>com_config</name>
	<author>Joomla! Project</author>
	<creationDate>April 2006</creationDate>
	<copyright>(C) 2005 - 2011 Open Source Matters. All rights reserved.	</copyright>
	<license>GNU General Public License version 2 or later; see	LICENSE.txt</license>
	<authorEmail>admin@joomla.org</authorEmail>
	<authorUrl>www.joomla.org</authorUrl>
	<version>1.7.0</version>
	<description>COM_CONFIG_XML_DESCRIPTION</description>
	<administration>
		<files folder="admin">
			<filename>config.php</filename>
			<filename>controller.php</filename>
			<filename>index.html</filename>
			<folder>controllers</folder>
			<folder>models</folder>
			<folder>views</folder>
		</files>
		<languages folder="admin">
			<language tag="en-GB">language/en-GB.com_config.ini
			</language>
		</languages>
	</administration>
</extension>
