.chzn-container {
	font-size: 13px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.chzn-container .chzn-drop {
	position: absolute;
	top: 100%;
	left: -9999px;
	z-index: 1010;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #aaa;
	border-top: 0;
	background: #fff;
	box-shadow: 0 4px 5px rgba(0,0,0,0.15);
}
.chzn-container.chzn-with-drop .chzn-drop {
	left: 0;
}
.chzn-container-single .chzn-single {
	position: relative;
	display: block;
	overflow: hidden;
	padding: 0 0 0 8px;
	height: 23px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	background-color: #efefef;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),color-stop(50%,#eeeeee),to(#f4f4f4));
	background-image: -webkit-linear-gradient(#ffffff,#eeeeee 50%,#f4f4f4);
	background-image: -moz-linear-gradient(top,#ffffff,#eeeeee 50%,#f4f4f4);
	background-image: -o-linear-gradient(#ffffff,#eeeeee 50%,#f4f4f4);
	background-image: linear-gradient(#ffffff,#eeeeee 50%,#f4f4f4);
	background-repeat: no-repeat;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
}
.chzn-container-single .chzn-default {
	color: #999;
}
.chzn-container-single .chzn-single span {
	display: block;
	overflow: hidden;
	margin-right: 26px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.chzn-container-single .chzn-single-with-deselect span {
	margin-right: 38px;
}
.chzn-container-single .chzn-single abbr {
	position: absolute;
	top: 0px;
	right: 26px;
	display: block;
	width: 12px;
	height: 12px;
	color: #444;
}
.chzn-container-single .chzn-single abbr:before {
	font-family: "IcoMoon";
	content: '\0049';
	font-weight: bold;
	font-size: 10px;
	line-height: 18px;
	cursor: pointer;
}
.chzn-container-single .chzn-single abbr:hover,
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
	color: #000;
}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 18px;
	height: 100%;
}
.chzn-container-single .chzn-single div b {
	display: block;
	width: 100%;
	height: 100%;
}
.chzn-container-single .chzn-single div b:after {
	content: '\E011';
	font-family: "IcoMoon";
	cursor: pointer;
}
.chzn-container.chzn-container-single.chzn-container-active.chzn-with-drop div b {
	display: block;
	width: 100%;
	height: 100%;
}
.chzn-container.chzn-container-single.chzn-container-active.chzn-with-drop div b:after {
	content: '\E00F';
	font-family: "IcoMoon";
	cursor: pointer;
}
.chzn-container-single .chzn-search {
	position: relative;
	z-index: 1010;
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
	color: #555;
}
.chzn-container-single .chzn-search:after {
	content: '\0053';
	font-family: "IcoMoon";
	position: relative;
	right: 20px;
	top: 2px;
	cursor: pointer;
}
.chzn-container-single .chzn-search input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	width: 100%;
	height: auto;
	outline: 0;
	border: 1px solid #aaa;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#eee,#fff);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#eee),to(#fff));
	background-image: -webkit-linear-gradient(top,#eee,#fff);
	background-image: -o-linear-gradient(top,#eee,#fff);
	background-image: linear-gradient(to bottom,#eee,#fff);
	background-repeat: repeat-x;
	font-size: 1em;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.chzn-container-single .chzn-drop {
	margin-top: -1px;
	border-radius: 0 0 4px 4px;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
}
.chzn-container-single.chzn-container-single-nosearch .chzn-search {
	position: absolute;
	left: -9999px;
}
.chzn-container .chzn-results {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0 4px 4px 0;
	padding: 0 0 0 4px;
	max-height: 240px;
	-webkit-overflow-scrolling: touch;
}
.chzn-container .chzn-results li {
	display: none;
	margin: 0;
	padding: 5px 6px;
	list-style: none;
	line-height: 15px;
}
.chzn-container .chzn-results li.active-result {
	display: list-item;
	cursor: pointer;
}
.chzn-container .chzn-results li.disabled-result {
	display: list-item;
	color: #ccc;
	cursor: default;
}
.chzn-container .chzn-results .highlighted {
	background-color: #008bd1;
	background-image: -moz-linear-gradient(top,#0099e6,#0077b3);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#0099e6),to(#0077b3));
	background-image: -webkit-linear-gradient(top,#0099e6,#0077b3);
	background-image: -o-linear-gradient(top,#0099e6,#0077b3);
	background-image: linear-gradient(to bottom,#0099e6,#0077b3);
	background-repeat: repeat-x;
	color: #fff;
}
.chzn-container .chzn-results li.no-results {
	display: list-item;
	background: #f4f4f4;
}
.chzn-container .chzn-results li.group-result {
	display: list-item;
	font-weight: bold;
	cursor: default;
}
.chzn-container .chzn-results li.group-option {
	padding-left: 15px;
}
.chzn-container .chzn-results li em {
	font-style: normal;
	text-decoration: underline;
}
.chzn-container-multi .chzn-choices {
	position: relative;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto !important;
	height: 1%;
	border: 1px solid #ccc;
	background-color: #fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	cursor: text;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
}
.chzn-container-multi .chzn-choices li.search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}
.chzn-container-multi .chzn-choices li.search-field input[type="text"] {
	margin: 1px 0;
	padding: 5px;
	height: 15px;
	outline: 0;
	border: 0 !important;
	background: transparent !important;
	box-shadow: none;
	color: #666;
	font-size: 100%;
	font-family: sans-serif;
	line-height: normal;
	border-radius: 0;
}
.chzn-container-multi .chzn-choices li.search-field .default {
	color: #999;
}
.chzn-container-multi .chzn-choices li.search-choice {
	position: relative;
	margin: 3px 0 3px 5px;
	padding: 3px 20px 3px 5px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #efefef;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffffff),color-stop(50%,#eeeeee),to(#f4f4f4));
	background-image: -webkit-linear-gradient(#ffffff,#eeeeee 50%,#f4f4f4);
	background-image: -moz-linear-gradient(top,#ffffff,#eeeeee 50%,#f4f4f4);
	background-image: -o-linear-gradient(#ffffff,#eeeeee 50%,#f4f4f4);
	background-image: linear-gradient(#ffffff,#eeeeee 50%,#f4f4f4);
	background-repeat: no-repeat;
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	color: #333;
	line-height: 13px;
	cursor: default;
}
.chzn-container-multi .chzn-choices li.search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 12px;
	height: 12px;
	color: #999;
}
.chzn-container-multi .chzn-choices li.search-choice .search-choice-close:before {
	font-family: "IcoMoon";
	content: '\004A';
	position: relative;
	right: 1px;
	top: 0;
	cursor: pointer;
}
.chzn-container-multi .chzn-choices li.search-choice .search-choice-close:after {
	content: '\E00F';
	font-family: "IcoMoon";
	cursor: pointer;
}
.chzn-container-multi .chzn-choices li.search-choice-disabled {
	padding-right: 5px;
	border: 1px solid #ccc;
	background-color: #e4e4e4;
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#f4f4f4),color-stop(50%,#f0f0f0),to(#e8e8e8));
	background-image: -webkit-linear-gradient(#f4f4f4,#f0f0f0 50%,#e8e8e8);
	background-image: -moz-linear-gradient(top,#f4f4f4,#f0f0f0 50%,#e8e8e8);
	background-image: -o-linear-gradient(#f4f4f4,#f0f0f0 50%,#e8e8e8);
	background-image: linear-gradient(#f4f4f4,#f0f0f0 50%,#e8e8e8);
	background-repeat: no-repeat;
	color: #666;
}
.chzn-container-multi .chzn-choices li.search-choice-focus {
	background: #d4d4d4;
}
.chzn-container-multi .chzn-choices li.search-choice-focus .search-choice-close:after {
	content: '\E00F';
	font-family: "IcoMoon";
	cursor: pointer;
}
.chzn-container-multi .chzn-results {
	margin: 0;
	padding: 0;
}
.chzn-container-multi .chzn-drop .result-selected {
	display: list-item;
	color: #ccc;
	cursor: default;
}
.chzn-container-active .chzn-single {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.chzn-container-active.chzn-with-drop .chzn-single {
	border: 1px solid #aaa;
	-moz-border-radius-bottomright: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	border-bottom-left-radius: 0;
	background-image: -webkit-gradient(linear,50% 0%,50% 100%,color-stop(20%,#eeeeee),color-stop(80%,#ffffff));
	background-image: -webkit-linear-gradient(#eeeeee 20%,#ffffff 80%);
	background-image: -moz-linear-gradient(#eeeeee 20%,#ffffff 80%);
	background-image: -o-linear-gradient(#eeeeee 20%,#ffffff 80%);
	background-image: linear-gradient(#eeeeee 20%,#ffffff 80%);
}
.chzn-container-active.chzn-with-drop .chzn-single div {
	border-left: none;
	background: transparent;
}
.chzn-container-active.chzn-with-drop .chzn-single div b {
	background-position: -18px 2px;
}
.chzn-container-active .chzn-choices {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.chzn-container-active .chzn-choices li.search-field input[type="text"] {
	color: #111 !important;
}
.chzn-disabled {
	opacity: 0.5 !important;
	cursor: default;
}
.chzn-disabled .chzn-single {
	cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
	cursor: default;
}
.chzn-rtl {
	text-align: right;
}
.chzn-rtl .chzn-single {
	overflow: visible;
	padding: 0 8px 0 0;
}
.chzn-rtl .chzn-single span {
	margin-right: 0;
	margin-left: 26px;
	direction: rtl;
}
.chzn-rtl .chzn-single-with-deselect span {
	margin-left: 38px;
}
.chzn-rtl .chzn-single div {
	right: auto;
	left: 3px;
}
.chzn-rtl .chzn-single abbr {
	right: auto;
	left: 26px;
}
.chzn-rtl .chzn-choices li {
	float: right;
}
.chzn-rtl .chzn-choices li.search-field input[type="text"] {
	direction: rtl;
}
.chzn-rtl .chzn-choices li.search-choice {
	margin: 3px 5px 3px 0;
	padding: 3px 5px 3px 19px;
}
.chzn-rtl .chzn-choices li.search-choice .search-choice-close {
	right: auto;
	left: 4px;
}
.chzn-rtl.chzn-container-single-nosearch .chzn-search,
.chzn-rtl .chzn-drop {
	left: 9999px;
}
.chzn-rtl.chzn-container-single .chzn-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results li.group-option {
	padding-right: 15px;
	padding-left: 0;
}
.chzn-rtl.chzn-container-active.chzn-with-drop .chzn-single div {
	border-right: none;
}
.chzn-rtl .chzn-search input[type="text"] {
	padding: 4px 5px 4px 20px;
	direction: rtl;
}
.chzn-rtl .chzn-search input[type="text"]:after {
	content: '\0053';
	font-family: "IcoMoon";
	position: relative;
	right: 20px;
	top: 2px;
	cursor: pointer;
}
.chzn-rtl.chzn-container-single .chzn-single div b:after {
	content: '\E011';
	font-family: "IcoMoon";
	position: relative;
	right: 20px;
	top: 2px;
	cursor: pointer;
}
.chzn-rtl.chzn-container-single.chzn-with-drop .chzn-single div b:after {
	content: '\E00F';
	font-family: "IcoMoon";
	position: relative;
	right: 20px;
	top: 2px;
	cursor: pointer;
}
