<?xml version="1.0" encoding="UTF-8"?>
<config>
	<help key="Joomla_Update:_Options"/>
	<inlinehelp button="show"/>
	<fieldset
		name="sources"
		label="COM_JOOMLAUPDATE_CONFIG_SOURCES_LABEL"
		description="COM_JOOMLAUPDATE_CONFIG_SOURCES_DESC"
		>

		<field
			name="updatesource"
			type="list"
			label="COM_JOOMLAUPDATE_CONFIG_UPDATESOURCE_LABEL"
			default="default"
			validate="options"
			>
			<!-- Note: Changed the values lts to default and sts to next with 3.4.0 -->
			<!--       All invalid/unsupported/obsolete options equated to default in code with 3.4.0 -->
			<option value="default">COM_JOOMLAUPDATE_CONFIG_UPDATESOURCE_DEFAULT</option>
			<option value="next">COM_JOOMLAUPDATE_CONFIG_UPDATESOURCE_NEXT</option>
			<option value="custom">COM_JOOMLAUPDATE_CONFIG_UPDATESOURCE_CUSTOM</option>
		</field>

		<field
			name="minimum_stability"
			type="list"
			label="COM_JOOMLAUPDATE_MINIMUM_STABILITY_LABEL"
			description="COM_JOOMLAUPDATE_MINIMUM_STABILITY_DESC"
			default="4"
			validate="options"
			>
			<option value="0">COM_JOOMLAUPDATE_MINIMUM_STABILITY_DEV</option>
			<option value="1">COM_JOOMLAUPDATE_MINIMUM_STABILITY_ALPHA</option>
			<option value="2">COM_JOOMLAUPDATE_MINIMUM_STABILITY_BETA</option>
			<option value="3">COM_JOOMLAUPDATE_MINIMUM_STABILITY_RC</option>
			<option value="4">COM_JOOMLAUPDATE_MINIMUM_STABILITY_STABLE</option>
		</field>

		<field
			name="customurl"
			type="url"
			label="COM_JOOMLAUPDATE_CONFIG_CUSTOMURL_LABEL"
			default=""
			length="50"
			showon="updatesource:custom"
			validate="url"
		/>

		<field
			name="versioncheck"
			type="radio"
			label="COM_JOOMLAUPDATE_CONFIG_VERSIONCHECK_LABEL"
			description="COM_JOOMLAUPDATE_CONFIG_VERSIONCHECK_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

		<field
			name="backupcheck"
			type="radio"
			label="COM_JOOMLAUPDATE_CONFIG_BACKUPCHECK_LABEL"
			description="COM_JOOMLAUPDATE_CONFIG_BACKUPCHECK_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

	</fieldset>
	<fieldset
		name="update"
		label="COM_JOOMLAUPDATE_CONFIG_UPDATE_LABEL"
		description="COM_JOOMLAUPDATE_CONFIG_UPDATE_DESC"
	>

		<field
			name="chunked_download"
			type="radio"
			label="COM_JOOMLAUPDATE_CONFIG_CHUNKED_DOWNLOAD_LABEL"
			description="COM_JOOMLAUPDATE_CONFIG_CHUNKED_DOWNLOAD_DESC"
			layout="joomla.form.field.radio.switcher"
			default="0"
			filter="integer"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="chunk_length"
			type="list"
			label="COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_LABEL"
			description="COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_DESC"
			default="10485760"
			filter="integer"
			showon="chunked_download:1"
			validate="options"
			>
			<option value="262144">COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_256KB</option>
			<option value="524288">COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_512KB</option>
			<option value="1048576">COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_1MIB</option>
			<option value="2097152">COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_2MIB</option>
			<option value="5242880">COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_5MIB</option>
			<option value="10485760">COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_10MIB</option>
			<option value="20971520">COM_JOOMLAUPDATE_CONFIG_CHUNK_LENGTH_20MIB</option>
		</field>

		<field
			name="min_chunk_wait"
			type="integer"
			label="COM_JOOMLAUPDATE_CONFIG_MIN_CHUNK_WAIT_LABEL"
			description="COM_JOOMLAUPDATE_CONFIG_MIN_CHUNK_WAIT_DESC"
			default="2"
			first="0"
			last="10"
			step="1"
			filter="integer"
			showon="chunked_download:1"
		/>

		<field
			name="http_timeout"
			type="integer"
			label="COM_JOOMLAUPDATE_CONFIG_HTTPTIMEOUT_LABEL"
			description="COM_JOOMLAUPDATE_CONFIG_HTTPTIMEOUT_DESC"
			default="10"
			first="0"
			last="120"
			step="10"
			filter="integer"
		/>
	</fieldset>
</config>
