<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="articles"
		label="JGLOBAL_ARTICLES"
		description="COM_CONTENT_CONFIG_CATEGORY_SETTINGS_DESC">

		<field
			name="show_title"
			type="radio"
			default="1"
			label="JGLOBAL_SHOW_TITLE_LABEL"
			description="JGLOBAL_SHOW_TITLE_DESC">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="link_titles"
			type="radio"
			default="1"
			label="JGLOBAL_LINKED_TITLES_LABEL"
			description="JGLOBAL_LINKED_TITLES_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="show_intro"
			type="radio"
			default="1"
			label="JGLOBAL_SHOW_INTRO_LABEL"
			description="JGLOBAL_SHOW_INTRO_DESC">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="show_category"
			type="radio"
			label="JGLOBAL_SHOW_CATEGORY_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="link_category"
			type="radio"
			label="JGLOBAL_LINK_CATEGORY_LABEL"
			description="JGLOBAL_LINK_CATEGORY_DESC"
			default="1">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="show_parent_category"
			type="radio"
			label="JGLOBAL_SHOW_PARENT_CATEGORY_LABEL"
			description="JGLOBAL_SHOW_PARENT_CATEGORY_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="link_parent_category"
			type="radio"
			label="JGLOBAL_LINK_PARENT_CATEGORY_LABEL"
			description="JGLOBAL_LINK_PARENT_CATEGORY_DESC"
			default="1">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>


		<field
			name="spacer1"
			type="spacer"
			hr="true"
			/>

		<field
			name="show_author"
			type="radio"
			label="JGLOBAL_SHOW_AUTHOR_LABEL"
			description="JGLOBAL_SHOW_AUTHOR_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="link_author"
			type="radio"
			label="JGLOBAL_LINK_AUTHOR_LABEL"
			description="JGLOBAL_LINK_AUTHOR_DESC"
			default="0">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

		<field
			name="show_create_date"
			type="radio"
			label="JGLOBAL_SHOW_CREATE_DATE_LABEL"
			description="JGLOBAL_SHOW_CREATE_DATE_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="show_modify_date"
			type="radio"
			label="JGLOBAL_SHOW_MODIFY_DATE_LABEL"
			description="JGLOBAL_SHOW_MODIFY_DATE_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="show_publish_date"
			type="radio"
			label="JGLOBAL_SHOW_PUBLISH_DATE_LABEL"
			description="JGLOBAL_SHOW_PUBLISH_DATE_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="show_item_navigation"
			type="radio"
			label="JGLOBAL_SHOW_NAVIGATION_LABEL"
			description="JGLOBAL_SHOW_NAVIGATION_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="show_readmore"
			type="radio"
			label="JGLOBAL_SHOW_READMORE_LABEL"
			description="JGLOBAL_SHOW_READMORE_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="spacer2"
			type="spacer"
			hr="true"
			/>
		<field
			name="show_icons"
			type="radio"
			label="JGLOBAL_SHOW_ICONS_LABEL"
			description="JGLOBAL_SHOW_ICONS_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="show_print_icon"
			type="radio"
			label="JGLOBAL_SHOW_PRINT_ICON_LABEL"
			description="JGLOBAL_SHOW_PRINT_ICON_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="show_email_icon"
			type="radio"
			label="JGLOBAL_SHOW_EMAIL_ICON_LABEL"
			description="JGLOBAL_SHOW_EMAIL_ICON_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

		<field
			name="show_hits"
			type="radio"
			label="JGLOBAL_SHOW_HITS_LABEL"
			description="JGLOBAL_SHOW_HITS_DESC"
			default="1">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

	</fieldset>

	<fieldset
		name="blog_default_parameters"
		label="COM_CONTENT_CONFIG_BLOG_SETTINGS_LABEL"
		description="COM_CONTENT_CONFIG_BLOG_SETTINGS_DESC"
		>

		<field
			name="num_leading_articles"
			type="text"
			default="1"
			label="JGLOBAL_NUM_LEADING_ARTICLES_LABEL"
			description="JGLOBAL_NUM_LEADING_ARTICLES_DESC">
		</field>

		<field
			name="num_intro_articles"
			type="text"
			default="4"
			label="JGLOBAL_NUM_INTRO_ARTICLES_LABEL"
			description="JGLOBAL_NUM_INTRO_ARTICLES_DESC">
		</field>

		<field
			name="num_columns"
			type="text"
			default="2"
			label="JGLOBAL_NUM_COLUMNS_LABEL"
			description="JGLOBAL_NUM_COLUMNS_DESC">
		</field>

		<field
			name="num_links"
			type="text"
			default="4"
			label="JGLOBAL_NUM_LINKS_LABEL"
			description="JGLOBAL_NUM_LINKS_DESC">
		</field>



		<field
			name="multi_column_order"
			type="radio"
			default="0"
			label="JGLOBAL_MULTI_COLUMN_ORDER_LABEL"
			description="JGLOBAL_MULTI_COLUMN_ORDER_DESC">
			<option
				value="0">JGLOBAL_DOWN</option>
			<option
				value="1">JGLOBAL_ACROSS</option>
		</field>

		<field
			name="show_pagination"
			type="list"
			default="2"
			label="JGLOBAL_Pagination_Label"
			description="JGLOBAL_Pagination_Desc">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
				<option value="2">JGLOBAL_AUTO</option>
		</field>

		<field
			name="show_pagination_results"
			type="radio"
			default="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		</fieldset>

	<fieldset
		name="list_default_parameters"
		label="COM_CONTENT_CONFIG_LIST_SETTINGS_LABEL"
		description="COM_CONTENT_CONFIG_LIST_SETTINGS_DESC"
		>

		<field
			name="display_num"
			type="list"
			default="10"
			label="JGLOBAL_NUMBER_ITEMS_LIST_LABEL"
			description="JGLOBAL_NUMBER_ITEMS_LIST_DESC">
				<option value="5">J5</option>
				<option value="10">J10</option>
				<option value="15">J15</option>
				<option value="20">J20</option>
				<option value="25">J25</option>
				<option value="30">J30</option>
				<option value="50">J50</option>
				<option value="100">J100</option>
				<option value="0">JALL</option>
		</field>

		<field
			name="show_headings"
			type="radio"
			default="1"
			label="JGLOBAL_SHOW_HEADINGS_LABEL"
			description="JGLOBAL_SHOW_HEADINGS_DESC">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>

         <field name="list_show_title" type="radio"
				description="JGLOBAL_LIST_TITLE_DESC"
				label="JGLOBAL_LIST_TITLE_LABEL"
				default="0"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field
			name="list_show_date"
			type="list"
			default="0"
			label="JGLOBAL_SHOW_DATE_LABEL"
			description="JGLOBAL_SHOW_DATE_DESC">
				<option value="0">JHIDE</option>
				<option value="created">JGLOBAL_CREATED</option>
				<option value="modified">JGLOBAL_MODIFIED</option>
				<option value="published">JPUBLISHED</option>
		</field>

		<field name="date_format"
			type="text"
			size="15"
			label="JGLOBAL_DATE_FORMAT_LABEL"
			description="JGLOBAL_DATE_FORMAT_DESC" />

		<field
			name="list_hits"
			type="radio" default="1"
			label="JGLOBAL_LIST_HITS_LABEL"
			description="JGLOBAL_LIST_HITS_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field
			name="list_author"
			type="radio" default="1"
			label="JGLOBAL_LIST_AUTHOR_LABEL"
			description="JGLOBAL_LIST_AUTHOR_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field
			name="filter_field"
			type="list"
			default="hide"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			description="JGLOBAL_FILTER_FIELD_DESC">
				<option value="hide">JHIDE</option>
				<option value="title">JGLOBAL_TITLE</option>
				<option value="author">JAUTHOR</option>
				<option value="hits">JGLOBAL_HITS</option>
		</field>

		<field
			name="show_pagination_limit"
			type="radio" default="1"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

	</fieldset>

	<fieldset
		name="categories"
		label="COM_CONTENT_CONFIG_CATEGORY_SETTINGS_LABEL"
		description="COM_CONTENT_CONFIG_CATEGORY_SETTINGS_DESC"
		>

		<field name="maxLevel" type="list"
				description="JGLOBAL_MAXLEVEL_DESC"
				label="JGLOBAL_MAXLEVEL_LABEL"
				default="1"
			>
				<option value="0">JNONE</option>
				<option value="1">J1</option>
				<option value="2">J2</option>
				<option value="3">J3</option>
				<option value="4">J4</option>
				<option value="5">J5</option>
			</field>

	   	<field name="show_category_title" type="list"
				label="JGLOBAL_SHOW_CATEGORY_TITLE"
				description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
				default="0"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field name="show_empty_categories" type="radio"
				label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
				description="JGLOBAL_SHOW_EMPTY_CATEGORIES_DESC"
				default="0"
			>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
			</field>

	 	<field
	 		name="show_description"
	 		type="radio"
	 		default="0"
	 		label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
	 		description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC">
	 			<option value="0">JHIDE</option>
	 			<option value="1">JSHOW</option>
	 	</field>

		<field
			name="show_description_image"
			type="radio"
			default="0"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC">
	 			<option value="0">JHIDE</option>
	 			<option value="1">JSHOW</option>
	 	</field>


		<field name="show_cat_num_articles" type="radio"
				label="JGLOBAL_NUMBER_CATEGORY_ITEMS_LABEL"
				description="JGLOBAL_NUMBER_CATEGORY_ITEMS_DESC"
				default="0"
				>
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

	 	<field
			name="drill_down_layout"
			type="radio"
			default="0"
			label="JGLOBAL_DRILL_DOWN_LAYOUT_LABEL"
			description="JGLOBAL_DRILL_DOWN_LAYOUT_DESC">
	 			<option value="0">JGLOBAL_LIST</option>
	 			<option value="1">JGLOBAL_BLOG</option>
	 	</field>

		<field
			name="orderby_pri"
			type="list"
			default="none"
			label="JGLOBAL_CATEGORY_ORDER_LABEL"
			description="JGLOBAL_CATEGORY_ORDER_DESC">
			<option
				value="none">JGLOBAL_NO_ORDER</option>
			<option
				value="alpha">JGLOBAL_TITLE_ALPHABETICAL</option>
			<option
				value="ralpha">JGLOBAL_TITLE_REVERSE_ALPHABETICAL</option>
			<option
				value="order">JGLOBAL_CATEGORY_MANAGER_ORDER</option>
		</field>

		<field
			name="orderby_sec"
			type="list"
			default="rdate"
			label="JGLOBAL_Article_Order_Label"
			description="JGLOBAL_Article_Order_Desc">
			<option
				value="rdate">JGLOBAL_MOST_RECENT_FIRST</option>
			<option
				value="date">JGLOBAL_OLDEST_FIRST</option>
			<option
				value="alpha">JGLOBAL_TITLE_ALPHABETICAL</option>
			<option
				value="ralpha">JGLOBAL_TITLE_REVERSE_ALPHABETICAL</option>
			<option
				value="author">JGLOBAL_AUTHOR_ALPHABETICAL</option>
			<option
				value="rauthor">JGLOBAL_AUTHOR_REVERSE_ALPHABETICAL</option>
			<option
				value="hits">JGLOBAL_MOST_HITS</option>
			<option
				value="rhits">JGLOBAL_LEAST_HITS</option>
			<option
				value="order">JGLOBAL_ARTICLE_MANAGER_ORDER</option>
		</field>

		<field
			name="show_noauth"
			type="radio"
			default="0"
			label="JGLOBAL_SHOW_UNAUTH_LINKS_LABEL"
			description="JGLOBAL_SHOW_UNAUTH_LINKS_DESC">
			<option
				value="0">JNO</option>
			<option
				value="1">JYES</option>
		</field>

	</fieldset>

	<fieldset
		name="integration"
		label="COM_CONTENT_CONFIG_INTEGRATION_SETTINGS_LABEL"
		description="COM_CONTENT_CONFIG_INTEGRATION_SETTINGS_DESC"
		>

		<field
			name="show_feed_link"
			type="radio"
			default="1"
			label="JGLOBAL_SHOW_FEED_LINK_LABEL"
			description="JGLOBAL_SHOW_FEED_LINK_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field
			name="feed_summary"
			type="radio"
			label="JGLOBAL_FEED_SUMMARY_LABEL"
			description="JGLOBAL_FEED_SUMMARY_DESC"
			default="0">
			<option
				value="0">JGLOBAL_INTRO_TEXT</option>
			<option
				value="1">JGLOBAL_FULL_TEXT</option>
		</field>

	</fieldset>

	<fieldset
		name="filters"
		label="COM_CONTENT_CONFIG_TEXT_FILTERS_LABEL"
		description="COM_CONTENT_CONFIG_TEXT_FILTERS_DESC"
		>

		<field
			name="filter_groups"
			type="usergroup"
			label="JGLOBAL_FILTER_GROUPS_LABEL"
			description="JGLOBAL_FILTER_GROUPS_DESC"
			multiple="true"
			size="10" />

		<field
			name="filter_type"
			type="list"
			label="JGLOBAL_FILTER_TYPE_LABEL"
			description="JGLOBAL_FILTER_TYPE_DESC"
			class="inputbox"
			size="1">
			<option
				value="BL">COM_CONTENT_OPTION_BLACK_LIST</option>
			<option
				value="WL">COM_CONTENT_OPTION_WHITE_LIST</option>
			<option
				value="NH">COM_CONTENT_OPTION_NO_HTML</option>
		</field>

		<field
			name="filter_tags"
			type="text"
			label="JGLOBAL_FILTER_TAGS_LABEL"
			description="JGLOBAL_FILTER_TAGS_DESC" />

		<field
			name="filter_attritbutes"
			type="text"
			label="JGLOBAL_FILTER_ATTRIBUTES_LABEL"
			description="JGLOBAL_FILTER_ATTRIBUTES_DESC" />
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_content"
			section="component" />
	</fieldset>
</config>