<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields
		group="articles"
		label="Content_Config_Article_Settings_Label"
		description="Content_Config_Article_Settings_Desc">

		<field
			name="show_title"
			type="radio"
			default="1"
			label="JGLOBAL_Show_Title_Label"
			description="JGLOBAL_Show_Title_Desc">
			<option
				value="0">JCOMMON_HIDE</option>
			<option
				value="1">JCOMMON_SHOW</option>
		</field>

		<field
			name="link_titles"
			type="radio"
			default="1"
			label="JGLOBAL_Linked_Titles_Label"
			description="JGLOBAL_Linked_Titles_Desc">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="show_intro"
			type="radio"
			default="1"
			label="JGLOBAL_Show_Intro_Label"
			description="JGLOBAL_Show_Intro_Desc">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_category"
			type="radio"
			label="JGLOBAL_Show_Category_Label"
			description="JGLOBAL_Show_Category_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="link_category"
			type="radio"
			label="JGLOBAL_Link_Category_Label"
			description="JGLOBAL_Link_Category_Desc"
			default="1">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>
		
		<field
			name="show_parent_category"
			type="radio"
			label="JGLOBAL_Show_Parent_Category_Label"
			description="JGLOBAL_Show_Parent_Category_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="link_parent_category"
			type="radio"
			label="JGLOBAL_Link_Parent_Category_Label"
			description="JGLOBAL_Link_Parent_Category_Desc"
			default="1">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>


		<field
			name="spacer1"
			type="spacer"
			hr="true"
			/>

		<field
			name="show_author"
			type="radio"
			label="JGLOBAL_Show_Author_Label"
			description="JGLOBAL_Show_Author_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="link_author"
			type="radio"
			label="JGLOBAL_Link_Author_Label"
			description="JGLOBAL_Link_Author_Desc"
			default="0">
			<option
				value="0">JCommon_No</option>
			<option
				value="1">JCommon_Yes</option>
		</field>
		
		<field
			name="show_create_date"
			type="radio"
			label="JGLOBAL_Show_Create_Date_Label"
			description="JGLOBAL_Show_Create_Date_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_modify_date"
			type="radio"
			label="JGLOBAL_Show_Modify_Date_Label"
			description="JGLOBAL_Show_Modify_Date_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_publish_date"
			type="radio"
			label="JGLOBAL_Show_Publish_Date_Label"
			description="JGLOBAL_Show_Publish_Date_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_item_navigation"
			type="radio"
			label="JGLOBAL_Show_Navigation_Label"
			description="JGLOBAL_Show_Navigation_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_readmore"
			type="radio"
			label="JGLOBAL_Show_Readmore_Label"
			description="JGLOBAL_Show_Readmore_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="spacer2"
			type="spacer"
			hr="true"
			/>
		<field
			name="show_icons"
			type="radio"
			label="JGLOBAL_Show_Icons_Label"
			description="JGLOBAL_Show_Icons_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_print_icon"
			type="radio"
			label="JGLOBAL_Show_Print_Icon_Label"
			description="JGLOBAL_Show_Print_Icon_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_email_icon"
			type="radio"
			label="JGLOBAL_Show_Email_Icon_Label"
			description="JGLOBAL_Show_Email_Icon_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_hits"
			type="radio"
			label="JGLOBAL_Show_Hits_Label"
			description="JGLOBAL_Show_Hits_Desc"
			default="1">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

	</fields>

	<fields
		group="blog_default_parameters"
		label="Content_Config_Blog_Settings_Label"
		description="Content_Config_Blog_Settings_Desc"
		hidden="true">

		<field
			name="show_subcategory_content"
			type="list"
			default="0"
			label="JGLOBAL_Show_Subcategory_Content_Label"
			description="JGLOBAL_Show_Subcategory_Content_Desc">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="num_leading_articles"
			type="text"
			default="1"
			label="JGLOBAL_Num_Leading_Articles_Label"
			description="JGLOBAL_Num_Leading_Articles_Desc">
		</field>

		<field
			name="num_intro_articles"
			type="text"
			default="4"
			label="JGLOBAL_NUM_INTRO_ARTICLES_LABEL"
			description="JGLOBAL_NUM_INTRO_ARTICLES_DESC">
		</field>

		<field
			name="num_columns"
			type="text"
			default="2"
			label="JGLOBAL_NUM_COLUMNS_LABEL"
			description="JGLOBAL_NUM_COLUMNS_DESC">
		</field>

		<field
			name="num_links"
			type="text"
			default="4"
			label="JGLOBAL_NUM_LINKS_LABEL"
			description="JGLOBAL_NUM_LINKS_DESC">
		</field>



		<field
			name="multi_column_order"
			type="radio"
			default="0"
			label="JGLOBAL_MULTI_COLUMN_ORDER_LABEL"
			description="JGLOBAL_MULTI_COLUMN_ORDER_DESC">
			<option
				value="0">JGLOBAL_Down</option>
			<option
				value="1">JGLOBAL_Across</option>
		</field>
		
		<field
			name="show_pagination"
			type="list"
			default="2"
			label="JGLOBAL_Pagination_Label"
			description="JGLOBAL_Pagination_Desc">
				<option value="0">JCommon_Hide</option>
				<option value="1">JCommon_Show</option>
				<option value="2">JCommon_Auto</option>
		</field>

		<field
			name="show_pagination_results"
			type="radio"
			default="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC">
				<option value="0">JCommon_Hide</option>
				<option value="1">JCommon_Show</option>
		</field>

		</fields>

	<fields
		group="list_default_parameters"
		label="Content_Config_List_Settings_Label"
		description="Content_Config_List_Settings_Desc"
		hidden="true">

		<field
			name="display_num"
			type="list"
			default="10"
			label="JGLOBAL_NUMBER_ITEMS_LIST_LABEL"
			description="JGLOBAL_NUMBER_ITEMS_LIST_DESC">
				<option value="5">J5</option>
				<option value="10">J10</option>
				<option value="15">J15</option>
				<option value="20">J20</option>
				<option value="25">J25</option>
				<option value="30">J30</option>
				<option value="50">J50</option>
				<option value="100">J100</option>
				<option value="0">JALL</option>
		</field>

	 	<field
			name="list_type"
			type="radio"
			default="single"
			label="JGLOBAL_List_Type_Label"
			description="JGLOBAL_List_Type_Desc">
				<option value="single">JGLOBAL_Single_Level</option>
	 			<option value="multiple">JGLOBAL_Multi_Level</option>
	 	</field>

		<field
			name="show_headings"
			type="radio"
			default="1"
			label="JGLOBAL_SHOW_HEADINGS_LABEL"
			description="JGLOBAL_SHOW_HEADINGS_DESC">
			<option
				value="0">JCommon_Hide</option>
			<option
				value="1">JCommon_Show</option>
		</field>

		<field
			name="show_date"
			type="list"
			default="hide"
			label="JGLOBAL_SHOW_DATE_LABEL"
			description="JGLOBAL_SHOW_DATE_DESC">
				<option value="hide">JCommon_Hide</option>
				<option value="created">Created</option>
				<option value="modified">Modified</option>
				<option value="published">Published</option>
		</field>

		<field name="date_format"
			type="text"
			size="15"
			default=""
			label="JGLOBAL_DATE_FORMAT_LABEL"
			description="JGLOBAL_DATE_FORMAT_DESC" />

		<field
			name="filter_field"
			type="list"
			default="hide"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			description="JGLOBAL_FILTER_FIELD_DESC">
				<option value="hide">JCommon_Hide</option>
				<option value="title">Title</option>
				<option value="author">Author</option>
				<option value="hits">Hits</option>
		</field>

		<field
			name="show_pagination_limit"
			type="radio" default="1"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC">
				<option value="0">JCommon_Hide</option>
				<option value="1">JCommon_Show</option>
		</field>

		<field
			name="list_hits"
			type="radio" default="1"
			label="JGLOBAL_LIST_HITS_LABEL"
			description="JGLOBAL_LIST_HITS_DESC">
				<option value="0">JCommon_Hide</option>
				<option value="1">JCommon_Show</option>
		</field>

		<field
			name="list_author"
			type="radio" default="1"
			label="JGLOBAL_LIST_AUTHOR_LABEL"
			description="JGLOBAL_LIST_AUTHOR_DESC">
				<option value="0">JCommon_Hide</option>
				<option value="1">JCommon_Show</option>
		</field>

	</fields>

	<fields
		group="categories"
		label="Content_Config_Category_Settings_Label"
		description="Content_Config_Category_Settings_Desc"
		hidden="true">

	 	<field
	 		name="show_description"
	 		type="radio"
	 		default="0"
	 		label="JGLOBAL_Show_Category_Description_Label"
	 		description="JGLOBAL_Show_Category_Description_Desc">
	 			<option value="0">JCommon_Hide</option>
	 			<option value="1">JCommon_Show</option>
	 	</field>

		<field
			name="show_description_image"
			type="radio"
			default="0"
			label="JGLOBAL_Show_Category_Image_Label"
			description="JGLOBAL_Show_Category_Image_Desc">
	 			<option value="0">JCommon_Hide</option>
	 			<option value="1">JCommon_Show</option>
	 	</field>

	 	<field
			name="drill_down_layout"
			type="radio"
			default="0"
			label="JGLOBAL_Drill_Down_Layout_Label"
			description="JGLOBAL_Drill_Down_Layout_Desc">
	 			<option value="0">List</option>
	 			<option value="1">Blog</option>
	 	</field>

	 	<field
			name="all_subcategories"
			type="radio"
			default="all"
			label="JGLOBAL_All_Subcategories_Label"
			description="JGLOBAL_All_Subcategories_Desc">
	 			<option value="all">All_Levels</option>
	 			<option value="next_level">Next_Level_Only</option>
	 	</field>

	 	<field
			name="empty_categories"
			type="radio"
			default="1"
			label="JGLOBAL_Empty_Categories_Label"
			description="JGLOBAL_Empty_Categories_Desc">
	 			<option value="0">JCommon_Hide</option>
	 			<option value="1">JCommon_Show</option>
	 	</field>

	 	<field
			name="article_count"
			type="radio"
			default="0"
			label="JGLOBAL_Article_Count_Label"
			description="JGLOBAL_Article_Count_Desc">
	 			<option value="0">JCommon_Hide</option>
	 			<option value="1">JCommon_Show</option>
	 	</field>

		<field
			name="orderby_pri"
			type="list"
			default="none"
			label="JGLOBAL_Category_Order_Label"
			description="JGLOBAL_Category_Order_Desc">
			<option
				value="none">JGLOBAL_No_Order</option>
			<option
				value="alpha">JGLOBAL_Title_Alphabetical</option>
			<option
				value="ralpha">JGLOBAL_Title_Reverse_Alphabetical</option>
			<option
				value="order">JGLOBAL_Category_Manager_Ordering</option>
		</field>

		<field
			name="orderby_sec"
			type="list"
			default="rdate"
			label="JGLOBAL_Article_Order_Label"
			description="JGLOBAL_Article_Order_Desc">
			<option
				value="rdate">JGLOBAL_Most_recent_first</option>
			<option
				value="date">JGLOBAL_Oldest_first</option>
			<option
				value="alpha">JGLOBAL_Title_Alphabetical</option>
			<option
				value="ralpha">JGLOBAL_Title_Reverse_Alphabetical</option>
			<option
				value="author">JGLOBAL_Author_Alphabetical</option>
			<option
				value="rauthor">JGLOBAL_Author_Reverse_Alphabetical</option>
			<option
				value="hits">JGLOBAL_Most_Hits</option>
			<option
				value="rhits">JGLOBAL_Least_Hits</option>
			<option
				value="order">JGLOBAL_Article_Manager_Order</option>
		</field>

		<field
			name="show_noauth"
			type="radio"
			default="0"
			label="JGLOBAL_Show_Unauth_Links_Label"
			description="JGLOBAL_Show_Unauth_Links_Desc">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

	</fields>

	<fields
		group="integration"
		label="Content_Config_Integration_Settings_Label"
		description="Content_Config_Integration_Settings_Desc"
		hidden="true">

		<field
			name="article-allow_ratings"
			type="radio"
			label="JGLOBAL_Allow_Ratings_Label"
			description="JGLOBAL_Allow_Ratings_Desc"
			default="">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="article-allow_comments"
			type="radio"
			label="JGLOBAL_Allow_Comments_Label"
			description="JGLOBAL_Allow_Comments_Desc"
			default="">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="show_feed_link"
			type="radio"
			default="1"
			label="JGLOBAL_Show_Feed_Link_Label"
			description="JGLOBAL_Show_Feed_Link_Desc">
				<option value="0">JCommon_Hide</option>
				<option value="1">JCommon_Show</option>
		</field>

		<field
			name="feed_summary"
			type="radio"
			label="JGLOBAL_Feed_Summary_Label"
			description="JGLOBAL_Feed_Summary_Desc"
			default="0">
			<option
				value="0">JCommon_Intro_text</option>
			<option
				value="1">JCommon_Full_text</option>
		</field>

	</fields>

	<fields
		group="filters"
		label="Content_Config_Text_Filters_Label"
		description="Content_Config_Text_Filters_Desc"
		hidden="true">

		<field
			name="filter_groups"
			type="usergroup"
			label="JGLOBAL_Filter_Groups_Label"
			description="JGLOBAL_Filter_Groups_Desc"
			multiple="true"
			size="10"
			default="" />

		<field
			name="filter_type"
			type="list"
			label="JGLOBAL_Filter_Type_Label"
			description="JGLOBAL_Filter_Type_Desc"
			class="inputbox"
			size="1"
			default="">
			<option
				value="BL">Content_Option_Black_List</option>
			<option
				value="WL">Content_Option_White_List</option>
			<option
				value="NH">Content_Option_No_HTML</option>
		</field>

		<field
			name="filter_tags"
			type="text"
			label="JGLOBAL_Filter_Tags_Label"
			description="JGLOBAL_Filter_Tags_Desc"
			default="" />

		<field
			name="filter_attritbutes"
			type="text"
			label="JGLOBAL_Filter_Attributes_Label"
			description="JGLOBAL_Filter_Attributes_Desc"
			default="" />
	</fields>

	<fields
		group="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		hidden="true">

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			class="inputbox"
			filter="rules"
			component="com_content"
			section="component" />
	</fields>
</config>