<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields>
		<field
			name="allowUserRegistration"
			type="radio"
			default="1"
			label="Allow User Registration"
			description="TIPALLOWUSERREG">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="new_usertype"
			type="usergroup"
			default="2"
			label="New User Registration Type"
			description="TIPNEWUSERTYPE">
		</field>

		<field
			name="useractivation"
			type="radio"
			default="1"
			label="New User Account Activation"
			description="TIPIFYESUSERMAILEDLINK">
			<option
				value="0">JNo</option>
			<option
				value="1">JYes</option>
		</field>

		<field
			name="frontend_userparams"
			type="radio"
			default="1"
			label="Front-end User Params"
			description="TIPFRONTENDUSERPARAMS">
			<option
				value="0">Hide</option>
			<option
				value="1">Show</option>
		</field>
	</fields>

 	<fields
		group="massmail"
		label="Users_Mail"
		description="Users_Mail_Desc">

		<field
 			name="mailSubjectPrefix"
 			type="text"
 			default=""
			label="Users_Mail_Subject_Prefix"
			description="Users_Mail_Subject_Prefix_Desc"
		/>
 
 		<field
 			name="mailBodySuffix"
			type="textarea"
 			default=""
 			rows="5"
 			cols="30"
			label="Users_Mail_Mailbody_Suffix"
			description="Users_Mail_Mailbody_Suffix_Desc"
		/>

	</fields>

	<fields
		group="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		hidden="true">

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			filter="rules"
			component="com_users"
			section="component">
			<action
				name="core.admin"
				title="JAction_Admin"
				description="JAction_Manage_Component_Desc" />
			<action
				name="core.manage"
				title="JAction_Manage"
				description="JAction_Manage_Component_Desc" />
			<action
				name="core.create"
				title="JAction_Create"
				description="JAction_Create_Component_Desc" />
			<action
				name="core.delete"
				title="JAction_Delete"
				description="JAction_Delete_Component_Desc" />
			<action
				name="core.edit"
				title="JAction_Edit"
				description="JAction_Edit_Component_Desc" />
			<action
				name="core.edit.state"
				title="JAction_Edit_State"
				description="JAction_Edit_State_Component_Desc" />
		</field>
	</fields>
</config>
