/*
#previewContainer {
	font-size: 0.8em;
	padding-top: 0.4em;
}

#previewCaption {
	float: left;
}

#previewMsg {
	float: right;
}

#previewCloseButton {
	top: 5px;
	right: 5px;
}

#preview img {
	border: none;
	clear: both;
}

#overlay img {
	border: none;
}

#preview {
	background-color: #eee;
	padding: 10px;
	border-bottom: 2px solid #666;
	border-right: 2px solid #666;
	position: absolute;
	z-index: 9999;
}

#preview [id] { /* IE6 and below Can't See This
	position: fixed;
}

#overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5000;
	background-color: #eee;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
}

#overlay [id] { /* IE6 and below Can't See This
	position: fixed;
}
*/
/**
 * <div id="overlay">
 *<a href="#" onclick="document.mediapreview.hide(); return false;"><img id="loadingImage" /></a>
 *</div>
 * <div id="preview">
 *<a href="#" onclick="document.mediapreview.hide(); return false;" title="Click anywhere to close image">
 *<img id="previewCloseButton" />
 *<img id="previewImage" />
 *</a>
 *<div id="previewContainer">
 *<div id="previewCaption"></div>
 *<div id="previewMsg"></div>
 *</div>
 * </div>
 */

div#overlay {
	z-index: 5000;
	background-color: #111;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity = 70);
}
div#preview {
	padding: 10px;
	padding-bottom: 6px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	background-color: #111;
	-moz-opacity: 0.7;
	opacity: .70;
	filter: alpha(opacity = 70);
}
div#preview img {
	border: 1px solid #CCCCCC;
}
div#previewCaption {
	color: #FFFFFF;
}
div#previewMsg {
	padding-top: 4px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: right;
	text-transform: uppercase;
}