/* ThemeRoller Start override style sheet for jQuery Calendars Picker v2.0.0. */
@import "ui.calendars.picker.css";

.ui-widget-header a,
.ui-widget-header select {
	color: #eaf5f7; /* Set (.ui-widget-header a) colour from theme here */
}
.ui-widget-header a:hover {
	background-color: #79c9ec; /* Set (.ui-state-hover) colours from theme here */
	color: #026890;
}
.ui-widget-header select,
.ui-widget-header option {
	background-color: #2191c0; /* Set (.ui-widget-header) background colour from theme here */
}
.ui-state-highlight a {
	color: #915608; /* Set (.ui-state-highlight) colour from theme here */
}
