/* IE ONLY CSS */

div#wrapper {
	width: expression(((document.body.clientWidth)) < 750? "750px": ((document.body.clientWidth)) > 1050? "1050px": "auto" );
}


div#wrapper_r {

}

#footer {
	width: 100%;
}


div#header_r {
	height: 115px;
}

div#footer_r {
	width: 100%;
	height: 57px;
}

div#header_l {
	width: 100%;
	}
	
div#footer_l {
	width: 100%;
}

div#newsflash {
	width: 100%;
}

div#pathway {

}

#whitebox {
	width: 100%;
}

#whitebox_m {
	width: 100%;
}

div.module_menu div div div {
	width: 100%;
}

#maincolumn {
	width: 100%;
}

table.contentpaneopen, table.contentpane {
	width: 100%;
}

#tabarea {
	width: 100%;
}


