/*****************************/
/*** rtl stuff             ***/
/*****************************/

html {
  direction: rtl;
}

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/



div#header_r {
	padding-right: 370px;
	padding-left: 30px;
	text-align: right;
}

div#logo {
	left: auto;
	right: 0;
	float: right;
	margin-right: 30px;
}

div#newsflash {
	margin-right: 350px;
	margin-left: 30px;
}

#pathway {
	padding: 0px 0px 8px 10px;
	margin-right: 30px;
	text-align: right;
	float: right;
}

#search {
	float: left;
	margin-left: 10px;
}

#whitebox div {
	text-align: right;
}

/*START*/

/* horizontal pill menu */

div#header { direction: ltr;}
div#header_r .moduletable{ direction: rtl;}
table.pill { direction: ltr; }

/*END*/

#leftcolumn {
	float: right;
}

#maincolumn {
	margin-right: 20%;
	margin-left: 0%;
	padding-right: 15px;
	padding-left: 0px;
}

/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

/* headers */
div.componentheading {
  padding-right: 0px;
}

h1 {
	text-align: right;
}

h2, .contentheading {
	text-align: right;
}

h3, .componentheading, table.moduletable th {
	padding-right: 0px;
	text-align: right;
}

/* small text */
.small {
	text-align:right;
}

.modifydate {
	text-align: right;
}

a.readon {
	float: right;
	background: url(../images/mw_readon_rtl.png) top left no-repeat;
	padding-left: 20px;
	padding-right: 0px;
}

/* menu links */
a.mainlevel:link, a.mainlevel:visited {
	padding-right: 5px;
	padding-left: 0px;
}

.column_separator {
	border-left: 0px dashed #e0e0e0;
	padding-left: 0px;
	border-right: 1px dashed #e0e0e0;
	padding-right: 10px;
}

/* content tables */
td.sectiontableheader {
	border-left: 0px solid #fff;
	border-right: 1px solid #fff;
}

div.module_menu h3 {
	margin: -23px -5px 5px -4px;
	padding-right: 10px;
	padding-left: 0px;
}

div.module_menu ul {
	margin: 10px 0 0 0;
	padding-right: 20px;
	padding-left: 0px;
}

#leftcolumn div.module {
	padding: 0 0 0 10px;
}

table.paramlist td.paramlist_key {
	text-align: right;
}

div.message {
	margin: 3px 0px 10px 0px;
	padding: 3px 0px 0px 20px;
}

/* Text advert style */

.bannerfooter_text {
	text-align: left;
}
	
