<?xml version="1.0" encoding="UTF-8"?>
<form>
	<fieldset
		name="integration"
		label="JGLOBAL_INTEGRATION_LABEL"
		>
        <fieldset
			name="integration_sef"
			label="JGLOBAL_SEF_TITLE"
			>

				<field
					name="redirect_on_save_admin"
					type="list"
					label="PLG_SYSTEM_REDIRECT_FIELD_REDIRECT_ON_SAVE_ADMIN_LABEL"
					description="PLG_SYSTEM_REDIRECT_FIELD_REDIRECT_ON_SAVE_ADMIN_DESC"
					default="1"
					validate="options"
					>
					<option value="0">JNO</option>
					<option value="2">PLG_SYSTEM_REDIRECT_FIELD_REDIRECT_ON_SAVE_ADMIN_MANUALLY</option>
					<option value="1">JYES</option>
				</field>

				<field
					name="redirect_on_save_site"
					type="radio"
					label="PLG_SYSTEM_REDIRECT_FIELD_REDIRECT_ON_SAVE_SITE_LABEL"
					description="PLG_SYSTEM_REDIRECT_FIELD_REDIRECT_ON_SAVE_SITE_DESC"
					default="1"
					filter="integer"
					layout="joomla.form.field.radio.switcher"
					>
					<option value="0">JNO</option>
					<option value="1">JYES</option>
				</field>
		</fieldset>
    </fieldset>
</form>
