// Search tools

.js-stools {
  width: 100%;

  .btn-wrapper {
    display: inline-block;
    margin-right: 5px;
  }
  .js-stools-container-filters {
    display: none;
    margin: 10px 0;
  }

  .js-stools-container-bar {
    float: left;

    .btn-toolbar {
      float: left;
      margin-bottom: 5px;

      .btn-group:first-child {
        margin-left: 0;
      }
	}

    .input-append {
      margin-bottom: 0;
    }
  }

  .js-stools-container-list {
    float: right;
    text-align: teft;

    .js-stools-field-list:last-child {
      margin-right: 0;
    }
  }

  .js-stools-container-filters-visible {
    display: inline-block;
  }

  .js-stools-field-list,
  .js-stools-field-filter {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;

    .form-control {
      display: inline-block;
	}
  }
}
.js-stools-column-order [class*=" icon-"],
.js-stools-column-order [class^="icon-"] {
  text-align: center;
}
