// Toolbar

.subhead {
  min-height: 43px;
  padding: 9px 0;
  margin-bottom: 10px;
  color: #0c192e;
  background: #f5f5f5;
  border-bottom: 1px solid #e3e3e3;

  .btn-toolbar {
    margin-bottom: 0;

    .btn-group-sm > .btn,
	.btn-sm {
      padding: .25rem .75rem;
      line-height: 1.5;
    }

    .btn-success:not(.dropdown-toggle) {
      width: 140px;
    }
	.btn-success.dropdown-toggle {
      background: #419641;
      border-color: #419641;
    }
  }

  &.subhead-fixed {
    position: fixed;
    top: 50px;
    z-index: 100;
    width: 100%;
  }
}
.subhead-collapse {
  margin-bottom: 11px;
}
.btn-toolbar {
  margin-bottom: 20px;
  margin-left: 0;
}
