<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="redirect"
		label="COM_REDIRECT_ADVANCED_OPTIONS"
	>
		<field
			name="mode"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_REDIRECT_MODE_LABEL"
			description="COM_REDIRECT_MODE_DESC"
			>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC">

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_redirect"
			section="component" />
	</fieldset>
</config>
