<?xml version="1.0" encoding="UTF-8"?>
<form addfieldprefix="Joomla\Component\Plugins\Administrator\Field">
	<config>
		<inlinehelp button="show"/>
	</config>
	<fieldset>
		<field
			name="extension_id"
			type="text"
			label="JGLOBAL_FIELD_ID_LABEL"
			default="0"
			readonly="true"
			class="readonly"
		/>

		<field
			name="name"
			type="hidden"
			label="COM_PLUGINS_FIELD_NAME_LABEL"
		/>

		<field
			name="enabled"
			type="list"
			label="JSTATUS"
			class="form-select-color-state"
			default="1"
			validate="options"
			>
			<option value="1">JENABLED</option>
			<option value="0">JDISABLED</option>
		</field>

		<field
			name="access"
			type="accesslevel"
			label="JFIELD_ACCESS_LABEL"
			filter="UINT"
			validate="options"
		/>

		<field
			name="ordering"
			type="pluginordering"
			label="JFIELD_ORDERING_LABEL"
		/>

		<field
			name="folder"
			type="text"
			label="COM_PLUGINS_FIELD_FOLDER_LABEL"
			class="readonly"
			readonly="true"
		/>

		<field
			name="element"
			type="text"
			label="COM_PLUGINS_FIELD_ELEMENT_LABEL"
			class="readonly"
			readonly="true"
		/>

		<field
			name="note"
			type="textarea"
			label="JFIELD_NOTE_LABEL"
			maxlength="255"
		/>

	</fieldset>
</form>
