<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="templates"
		label="COM_TEMPLATES_SUBMENU_TEMPLATES"
		description="COM_TEMPLATES_CONFIG_FIELDSET_DESC">

		<field
			name="template_positions_display"
			type="radio"
			label="COM_TEMPLATES_CONFIG_POSITIONS_LABEL"
			class="switcher"
			default="0"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>

		<field
			name="upload_limit" 
			type="number"
			label="COM_TEMPLATES_CONFIG_UPLOAD_LABEL"
			default="10"
			extension="com_templates"
		/>

		<field
			name="warning" 
			type="note"
			label="COM_TEMPLATES_CONFIG_SUPPORTED_LABEL"
			default="zip"
			extension="com_templates"
		/>

		<field
			name="image_formats" 
			type="text"
			label="COM_TEMPLATES_CONFIG_IMAGE_LABEL"
			default="gif,bmp,jpg,jpeg"
			extension="com_templates"
		/>

		<field
			name="source_formats" 
			type="text"
			label="COM_TEMPLATES_CONFIG_SOURCE_LABEL"
			default="txt,less,ini,xml,js,php,css,sass,scss"
			extension="com_templates"
		/>

		<field
			name="font_formats" 
			type="text"
			label="COM_TEMPLATES_CONFIG_FONT_LABEL"
			default="woff,ttf,otf"
			extension="com_templates"
		/>

		<field
			name="compressed_formats" 
			type="hidden"
			default="zip"
			extension="com_templates"
		/>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_templates"
			section="component"
		/>
	</fieldset>
</config>
