<?xml version="1.0" encoding="UTF-8"?>
<config>
	<help key="Template:_Options"/>
	<inlinehelp button="show"/>
	<fieldset
		name="templates"
		label="COM_TEMPLATES_SUBMENU_TEMPLATES"
		description="COM_TEMPLATES_CONFIG_FIELDSET_DESC">

		<field
			name="template_positions_display"
			type="radio"
			label="COM_TEMPLATES_CONFIG_POSITIONS_LABEL"
			layout="joomla.form.field.radio.switcher"
			default="0"
			>
			<option value="0">JDISABLED</option>
			<option value="1">JENABLED</option>
		</field>

		<field
			name="upload_limit"
			type="number"
			label="COM_TEMPLATES_CONFIG_UPLOAD_LABEL"
			default="10"
			extension="com_templates"
		/>

		<field
			name="spacer"
			type="spacer"
			hr="true"
		/>

		<field
			name="image_formats"
			type="text"
			label="COM_TEMPLATES_CONFIG_IMAGE_LABEL"
			default="gif,bmp,jpg,jpeg,png,webp"
			extension="com_templates"
		/>

		<field
			name="source_formats"
			type="text"
			label="COM_TEMPLATES_CONFIG_SOURCE_LABEL"
			default="txt,less,ini,xml,js,php,css,sass,scss,json"
			extension="com_templates"
		/>

		<field
			name="font_formats"
			type="text"
			label="COM_TEMPLATES_CONFIG_FONT_LABEL"
			default="woff,woff2,ttf,otf"
			extension="com_templates"
		/>

		<field
			name="compressed_formats"
			type="hidden"
			default="zip"
			extension="com_templates"
		/>

		<field
			name="spacer2"
			type="spacer"
			hr="true"
		/>

		<field
			name="difference"
			type="radio"
			label="COM_TEMPLATES_DIFF_OPTIONS"
			layout="joomla.form.field.radio.switcher"
			default="SideBySide"
			>
			<option value="Inline">COM_TEMPLATES_DIFF_OPTIONS_INLINE</option>
			<option value="SideBySide">COM_TEMPLATES_DIFF_OPTIONS_SIDE</option>
		</field>

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_templates"
			section="component"
		/>
	</fieldset>
</config>
