<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="templates"
		label="COM_TEMPLATES_SUBMENU_TEMPLATES"
		description="COM_TEMPLATES_CONFIG_FIELDSET_DESC">

		<field
			name="template_positions_display"
			type="radio"
			default="0"
			label="COM_TEMPLATES_CONFIG_POSITIONS_LABEL"
			description="COM_TEMPLATES_CONFIG_POSITIONS_DESC">
			<option
				value="0">JDISABLED</option>
			<option
				value="1">JENABLED</option>
		</field>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_templates"
			section="component">
			<action
				name="core.admin"
				title="JACTION_ADMIN"
				description="JACTION_ADMIN_COMPONENT_DESC" />
			<action
				name="core.manage"
				title="JACTION_MANAGE"
				description="JACTION_MANAGE_COMPONENT_DESC" />
			<action
				name="core.create"
				title="JACTION_CREATE"
				description="JACTION_CREATE_COMPONENT_DESC" />
			<action
				name="core.delete"
				title="JACTION_DELETE"
				description="JACTION_DELETE_COMPONENT_DESC" />
			<action
				name="core.edit"
				title="JACTION_EDIT"
				description="JACTION_EDIT_COMPONENT_DESC" />
			<action
				name="core.edit.state"
				title="JACTION_EDITSTATE"
				description="JACTION_EDITSTATE_COMPONENT_DESC" />
		</field>
	</fieldset>
</config>