// Joomla UI Kit

// Core variables and mixins
@import "variables";
@import "mixins";

// Core CSS
@import "columns";
@import "buttons";
@import "forms";
@import "tables";

// Components
@import "badge";
@import "button-group";
@import "description-list";
@import "input-group";
@import "list-group";
@import "nav";
@import "pagination";

// Utility classes
@import "utilities";

// Temporary
.counter {
  padding: .4rem 1rem .4rem 0;
}
