#finder-indexer-container {
	text-align: center;
}

#finder-progress-container {
	width: 350px;
	margin: 0 auto;
}

h1.finder-error {
	color: #FF0000;
}

p.finder-error {
	color: #FF0000;
	font-weight:bold;
}
