// Alerts

.j-main-container {

  .alert {
    margin: 10px;
  }
}

.notify-alerts {
  left: 50%;
  margin-left: 125px;
  position: fixed;
  top: 15px;
  transform: translateX(-50%);
  transition: all .5s ease;
  z-index: 1080;

  .alert {
    animation: fadeIn ease-in 1;
    animation-delay: 0s;
    animation-duration: .35s;
    animation-fill-mode: forwards;
    margin-bottom: .5rem;
    max-width: 400px;
    min-width: 280px;
    opacity: 0;
    width: 100%;

    &:first-of-type {
      animation-delay: .3s;
    }
  }

  &.fullWidth {
    left: 265px;

    .alert {
      margin-left: 0;
      max-width: none;
      min-width: none;
      width: auto;
    }
  }

  .close {
    color: $black;
    line-height: 1rem;
    opacity: 1;
    padding: .5rem;
    position: relative;
    right: -.5rem;
  }
}

.closed {

  .notify-alerts {
    margin-left: 0;
  }

  + .notify-alerts.fullWidth {
    left: 70px;
  }
}

.wrapper0 {

  .notify-alerts {
    margin-left: 0;
  }
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
