// Alerts

@import "../variables";

.j-main-container {

  .alert {
    margin: 1rem 0;
    border: 2px solid;
    border-left: none;
    border-right: none;
    box-shadow: $atum-box-shadow;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

// Contains joomla-alert webcomponent with its own css
.notify-alerts {
  position: fixed;
  top: 15px;
  left: 50%;
  z-index: $zindex-alerts;
  margin-left: 125px;
  transition: all .5s ease;
  transform: translateX(-50%);
}

.alert-heading {
  font-size: $font-size-lg;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


