// Alerts
@import "../variables";

.alert {

  margin: 1rem 0;
  border-radius: 0.3rem;
  border-left: none;
  border-right: none;

  &.alert-info {
    color: var(--atum-bg-dark);
    background-color: var(--atum-bg-dark-10);
    border: 1px solid var(--atum-bg-dark-20);
  }

  &.alert-warning {
    color: #462a16;
    background-color: #fcd9b6;
    border: 1px solid lighten(#462a16, 30%);
  }

  &.alert-success {
    color: #0f2f21;
    background-color: #a2f5bf;
    border: 1px solid lighten(#0f2f21, 30%);
  }

  &.alert-error {
    color: #3b0d0c;
    background-color: #f9acaa;
    border: 1px solid lighten(#3b0d0c, 30%);
  }
}

// Contains joomla-alert webcomponent with its own css
.notify-alerts {
  position: fixed;
  top: 15px;
  left: 50%;
  z-index: $zindex-alerts;
  margin-left: 125px;
  transition: all .5s ease;
  transform: translateX(-50%);
}

.alert-heading {
  font-size: $font-size-lg;
}

@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


