// Edit Form

.title-alias {
	.form-control {
		max-width: 100%;
	}

	.control-group {
		position: relative;
	}

	.form-control-feedback {
		text-align: right;
		position: absolute;
		bottom: -1.2rem;
		right: 1rem;
	}
}


#permissions-sliders {
	.table {
		th,
		td {
			background-color: $white;
		}
	}
}


.layout-edit {
	.form-group {
		margin-bottom: 0;
		background-color: var(--white-offset);
		padding: 0.6rem 1rem 0.8rem;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
	}

	.form-control {
		background-color: var(--white-offset);
		box-shadow: $atum-box-shadow;
	}

	.field-spacer {
		background-color: transparent;
		box-shadow: none;
		padding: 0.8rem 1rem 0.8rem;
	}

	.title-alias {
		box-shadow: $atum-box-shadow;
		background-color: var(--white-offset);
		margin: 0 0 2rem !important;
		.col-lg-6 {
			padding: 0;
		}
		.form-group {
			box-shadow: none;
		}
	}
}
