// Form

.form-control {
  max-width: 240px;
  background-color: $white-offset;

  &.input-xlarge {
    max-width: 350px;
  }

  &.input-xxlarge {
    max-width: 550px;
  }

  &.input-full {
    max-width: 100%;
  }

}

.control-group {
  margin-bottom: 18px;

  > .form-check {
    display: inline-block;
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  .control-label {
    float: left;
    width: 220px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left;
  }

  .controls {
    margin-left: 220px;
  }

}

.form-no-margin {

  .control-group {

    .controls {
      margin-left: 0;
    }

    .control-label {
      float: none;
    }

  }

}

.custom-select {
  max-width: 240px;
}

.spacer hr {
  width: 380px;
}

td .form-control {
  display: inline-block;
  width: auto;
}

legend {
  margin-bottom: 1.1rem;
}

.checkboxes {
  padding-top: 5px;

  .checkbox input {
    position: static;
    margin-left: 0;
  }

}

.form-check {
  padding-top: 5px;
  margin-bottom: 0;
}

.modal label {
  width: 100%;
}

// Validation
.invalid {
  color: theme-color("danger");
  border-color: theme-color("danger");
}
.valid {
  border-color: theme-color("success");
}

.form-control-feedback {
  display: block;
}
