// Form

.form-control {
  max-width: $input-max-width;
  background-color: var(--white-offset);
}

.control-group {
  margin-bottom: 18px;

  > .form-check {
    display: inline-block;
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  .control-label {
    float: left;
    width: 220px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left;
  }

  .controls {
    margin-left: 220px;
  }
}

.control-group {
  .switcher__legend {
    font-size: $label-font-size;
  }
}

.form-no-margin {

  .control-group {

    .controls {
      margin-left: 0;
      .switcher__legend {
        float:none;
        margin-left: 0;
      }
    }

    .control-label {
      float: none;
    }
  }
}

.spacer {
  hr {
    width: 380px;
  }
  label {
    width: 440px;
  }
}

td .form-control {
  display: inline-block;
  width: auto;
}

legend {
  margin-bottom: 1.1rem;
}

.checkboxes {
  padding-top: 5px;

  .checkbox input {
    position: static;
    margin-left: 0;
  }
}

.form-check {
  padding-top: 5px;
  margin-bottom: 0;
}

.modal label {
  width: 100%;
}

// Validation
.invalid {
  color: theme-color("danger");
  border-color: theme-color("danger");
}

.valid {
  border-color: theme-color("success");
}

.form-control-feedback {
  display: block;
}

[aria-grabbed='true'] {
  box-shadow: 0 0 2px 1px theme-color("primary");
}

.sortable-handler.inactive {
  opacity: 0.3;
}

// Search Input Tooltip
/* make the containers relative */
.control-group > .controls {
  position: relative;
}

 /* set up hidden tooltip */
[role="tooltip"]:not(.show) {
  display: none;
  padding: 0.25em;
  margin: 0.25em;
  color: $white;
  background: $black;
  max-width: 100%;
  z-index: $zindex-tooltip;
}

 /* reveal associated tooltip on focus */
:focus + [role="tooltip"],
:hover + [role="tooltip"] {
  display: block;
  position: absolute;
}

[id="filter[search]-desc"] {
  bottom: 100%;
}

.switcher__legend {
    font-size: $label-font-size;
    color: var(--atum-special-color);
    margin-bottom: 0;
}

[class^="icon-"]:not(.input-group-text),
[class*=" icon-"]:not(.input-group-text) {
  margin-right: 0.5em;
}

joomla-field-user [class*=" icon-"]:not(.input-group-text) {
  margin-right: 0;
}
