// Form

.form-control {
  max-width: $input-max-width;
  background-color: var(--white-offset);
}

.control-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;

  > .form-check {
    display: inline-block;
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  .control-label {
    width: 240px;
    padding: .3rem 0;
  }

  .controls {
    position: relative;
    flex: 1;
    min-width: 210px;

    + div {
      width: 100%;
      margin: 5px 0 10px;
    }
  }

  .form-vertical & {
    flex-direction: column;
  }

}

.control-group {
  .switcher__legend {
    font-size: $label-font-size;
  }
}

.spacer {
  hr {
    width: 380px;
  }

  label {
    width: 440px;
  }
}

td .form-control {
  display: inline-block;
  width: auto;
}

legend {
  margin-bottom: 1.1rem;
}

.checkboxes {
  padding-top: 5px;

  .checkbox input {
    position: static;
    margin-left: 0;
  }
}

.form-check {
  padding-top: 5px;
  margin-bottom: 0;
}

.modal label {
  width: 100%;
}

// Validation
.invalid {
  color: theme-color("danger");
  border-color: theme-color("danger");
}

.valid {
  border-color: theme-color("success");
}

.form-control-feedback {
  display: block;
}

[aria-grabbed='true'] {
  box-shadow: 0 0 2px 1px theme-color("primary");
}

.sortable-handler.inactive {
  opacity: 0.3;
}

/* set up hidden tooltip */
[role="tooltip"]:not(.show) {
  display: none;
  padding: 0.25em;
  margin: 0.25em;
  color: $white;
  background: $black;
  max-width: 100%;
  z-index: $zindex-tooltip;

  [dir=ltr] & {
    text-align: left;
  }

  [dir=rtl] & {
    text-align: right;
  }
}

/* reveal associated tooltip on focus */
:focus + [role="tooltip"],
:hover + [role="tooltip"] {
  display: block;
  position: absolute;
}

[id="filter[search]-desc"] {
  bottom: 100%;
}

.container-popup [id="filter[search]-desc"] {
  top: 100%;
  bottom: auto;
}

.switcher__legend {
  font-size: $label-font-size;
  color: var(--atum-special-color);
  margin-bottom: 0;
}
