// Form

.form-control {
  max-width: $input-max-width;
  background-color: var(--white-offset);
}

.control-group {
  margin-bottom: 18px;

  > .form-check {
    display: inline-block;
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }

  .control-label {
    float: left;
    width: 220px;
    padding-top: 5px;
    padding-right: 5px;
    text-align: left;
  }

  .controls {
    margin-left: 220px;
  }
}

.form-no-margin {

  .control-group {

    .controls {
      margin-left: 0;
      .switcher__legend {
        float:none;
      }
    }

    .control-label {
      float: none;
    }
  }
}

.custom-select {
  max-width: $input-max-width;
}

.spacer {
  hr {
    width: 380px;
  }
  label {
    width: 440px;
  }
}

td .form-control {
  display: inline-block;
  width: auto;
}

legend {
  margin-bottom: 1.1rem;
}

.checkboxes {
  padding-top: 5px;

  .checkbox input {
    position: static;
    margin-left: 0;
  }
}

.form-check {
  padding-top: 5px;
  margin-bottom: 0;
}

.modal label {
  width: 100%;
}

// Validation
.invalid {
  color: theme-color("danger");
  border-color: theme-color("danger");
}

.valid {
  border-color: theme-color("success");
}

.form-control-feedback {
  display: block;
}

[aria-grabbed='true'] {
  box-shadow: 0 0 2px 1px theme-color("primary");
}

// Search Input Tooltip
/* make the containers relative */
.control-group > .controls {
  position: relative;
}

 /* set up hidden tooltip */
[role="tooltip"] {
  display: none;
  padding: 0.25em;
  margin: 0.25em;
  color: $white;
  background: $black;
  max-width: 100%;
  z-index: $zindex-tooltip;
}

 /* reveal associated tooltip on focus */
:focus + [role="tooltip"] {
  display: block;
  position: absolute;
  bottom: 100%;
}

.switcher {
  width: 100%;
  height: 2.825rem;

  input {
    height: 100%;
    width: 5.65rem;
  }
  input~input:checked~.toggle-outside .toggle-inside {
    left: 50%;
  }
  .toggle-inside {
    height: 100%;
    width: 50%;
  }
  .toggle-outside {
    width: 5.65rem;
    box-shadow: $atum-box-shadow;
  }
  label {
    margin-left: 6.5rem;
    line-height: 2.8rem;
  }
}
.switcher__legend {
    margin-left: 0;
    font-size: $label-font-size;
    color: var(--atum-special-color);
    margin-bottom: 0;
}

.col-md-9 .switcher__legend {
  margin-left: 0;
}