// Global

@import "../variables";

html,
body {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h1 {
  font-weight: $font-weight-normal;
}

small,
.small {
  font-size: $font-size-sm;
}

legend {
  font-size: 1.2rem;
  font-weight: $font-weight-bold;
}

// focus-visible polyfill rule
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

// Default focus highlighting
a,
button,
input,
textarea {

  &.focus-visible {
  outline: auto 2px var(--focus);
  }
}

// Break up text in cells to prevent overflow
.break-word {
  word-break: break-all;
  word-wrap: break-word;
}

.content {
  font-size: $content-font-size;
}

label,
caption {
  font-size: $label-font-size;
}

.btn-primary:hover {
  background-color: var(--atum-bg-dark-70);
  border-color: var(--atum-bg-dark-70);
}

.logo {

  img path {
    fill: var(--atum-text-dark);
  }
}

.container-main,
.system-debug {
  padding-bottom: 50px;
}

body .container-main {
  position: relative;
  min-height: calc(100vh - #{$header-height});
  background-color: var(--atum-bg-light);
  padding-left: 0;
  padding-right: 0;

	&:before, &:after {
		content: '';
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -1;
		background-color: var(--atum-bg-light);
		background-image: url(../images/joomla-pattern-gray.svg);
	}

	&:after {
		background: -moz-linear-gradient(-45deg, var(--atum-bg-light) 0%, var(--atum-bg-light) 20%, rgba(225, 229, 231, 0) 100%);
		background: -webkit-linear-gradient(-45deg, var(--atum-bg-light) 0%, var(--atum-bg-light) 20%, rgba(225, 229, 231, 0) 100%);
		background: linear-gradient(135deg, var(--atum-bg-light) 0%, var(--atum-bg-light) 20%, rgba(225, 229, 231, 0) 100%);
	}
}

.content {
  padding-top: 15px;
  border-radius: $border-radius;

  > .row {
    margin-right: 0;
    margin-left: 0;
  }

  .subhead + & {
    padding-top: 0;
  }
}

.row-selected {
  background-color: var(--toolbar-bg);
}

// Chosen (TEMPORARY)
.chzn-container-single {
  width: auto !important;
}

// Multilingual associations specific
.item-associations {
  padding: 0;
}

.item-associations li {
  display: inline-block;
  list-style: none;
}

// Quickicon specific
.message-alert {
  text-align: right !important;
}

// Fadeeffect for login page
.load-fadein {
  @include fadein-page;
}

.load-fadeout {
  @include fadeout-page;
}

// Fix blinking of fade effect
.container-main.fade-done > * {
  opacity: 1;
}

.sidebar-wrapper.fade-done > * {
  opacity: 1;
}

// dashboard items
.menu-quicktask,
.menu-badge {
  float: right;
  min-width: 1rem;
}

// extern links with icons
a[href*="//"]:not([href*="javascript://"]):before {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f08e  ";
}

#wrapper{
  &.d-flex{
    @include media-breakpoint-down(xs){
      display:block !important;
    }
  }
}
.text-muted{
  color: var(--font-color-dark);
}

// dashboard items
.menu-quicktask,
.menu-badge {
  float: right;
  min-width: 1rem;
}
