// Global

html,
body {
  height: 100%;
  font-size: $font-size-root;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-weight: normal;
}

small,
.small {
  font-size: $font-size-sm;
}
