
// Header

.header {
  position: relative;
  z-index: 1060;
  height: $header-height;
  background: $white;
  box-shadow: $atum-box-shadow;

  .logo {
    display: inline-block;
    width: $sidebar-width-closed;
    text-align: center;
  }

  .page-title {
    display: inline-block;
    margin: 0 5px;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: $header-height;
    color: $atum-template-color-dark;

    [class^="icon-"] {
      margin-right: 10px;
    }

  }

  .nav-link {
    position: relative;
    padding: 0;
    line-height: $header-height;

    .fa {
      width: $header-height + 2px;
      font-size: 1.2rem;
      color: $atum-template-color-dark;
      vertical-align: middle;
      transition: all .2s ease-in-out;
    }

    .fa-external-link { // Position correct
      position: relative;
      left: 2px;
    }

    .badge {
      position: absolute;
      top: 7px;
      right: 7px;
    }

    &.dropdown-toggle::after {
      display: none;
    }

    &:hover .fa {
      font-size: 1.3rem;
      transition: all .2s ease-in-out;
    }

  }

  .dropdown-notifications {
    min-width: 280px;
    padding: 0;
    border: 0;

    h2 {
      font-size: $h5-font-size;
    }
  }

  .dropdown-item {
    @include hover-focus {
      color: $atum-template-color-dark;
    }
  }

  .dropdown-menu::after {
    left: .65rem;
  }

  .dropdown-menu-right::after {
    right: .65rem;
    left: auto;
  }

  .header-profile {

    .dropdown-menu {
      padding-top: 0;

      &::after {
        color: $atum-container-main-bg;
      }
    }

  }

  .dropdown-header {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .3rem;
    background-color: $atum-template-color-dark;
    color: $white;
    box-shadow: $atum-box-shadow;
  }

  .list-group-item-text:last-child {
    margin-bottom: 0;
  }

  .joomla-version {
    margin-right: .9rem;
    margin-bottom: 0;
    font-size: $h5-font-size;
    color: $atum-template-color-dark;
  }

}

@include media-breakpoint-down(md) {

  .header {
    position: fixed;
    top: 0;
    width: 100%;

    + .container-title {
      margin-top: $header-height;
    }

  }

}
