// Header
@import "../variables";

.header {
  position: relative;
  background: $white;
  box-shadow: $atum-box-shadow;
  z-index: $zindex-header;
  border-top: 3px solid var(--atum-bg-dark);

  @include media-breakpoint-down(lg) {
    .align-items-center{
      align-items: flex-start;
    }
  }



  .logo {
    display: inline-block;
    line-height: $header-height;
    width: $sidebar-width;
    transition: width .3s ease;

    &.small {
      width: $sidebar-width-closed;
      transition: width .3s ease;

      img:not(.logo-small) {
        display: none;
      }

      img.logo-small {
        display: inline-block;
      }
    }

    img {
      height: 1.3rem;
      margin-left: 0.8rem;
      max-width: calc(15.625rem - 0.8rem);

      &.logo-small {
        display: none;
      }
    }
  }

  .page-title {
    margin: 0 7.5px;
    font-size: 1.2rem;
    line-height: $header-height;
    color: var(--atum-special-color);

    [class^='icon-'] {
      margin-right: 10px;
      font-size: 1rem;
    }
    @include media-breakpoint-down(md){
      width: 160px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
    }

  }

  .nav-item:hover,
  .nav-item.show {
    background-color: var(--atum-bg-dark);

    .nav-link {
      color: var(--atum-text-light);

      .fa {
        color: var(--atum-text-light);
      }
    }
  }

  .nav-link {
    position: relative;
    padding: 0;
    margin: 0 0.8rem;
    line-height: $header-height;
    min-width: $header-height - 0.3125rem;
    display: inline;

    .fa {
      width: 1.5rem;
      font-size: 1.2rem;
      color: var(--atum-special-color);
      vertical-align: middle;
      transition: all .2s ease-in-out;
    }

    .badge {
      position: absolute;
      top: .4rem;
      right: .4rem;
    }

    &.dropdown-toggle {
      // Overwrite default button styling
      background-color: transparent;
      border: $dropdown-border-width;

      &::after {
        display: none;
      }
    }

    &:hover .fa {
      color: var(--atum-text-light);
    }
  }

  .dropdown-menu {
    min-width: 280px;
    padding: 0;
    z-index: 1041;
  }

  .link-title {

    @include media-breakpoint-down(lg) {
     /* width: 60px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;*/
      font-size:0;
      text-decoration:none;
    }
    &:before{
      font-size: 1.2rem;
      vertical-align: middle;
    }

  }

  .dropdown-menu {
    z-index: $zindex-popover;
    min-width: 18rem;
    background-color: var(--atum-bg-dark-70);

    &.icons-left .dropdown-item {
      a {
        padding-left: 0;
      }
    }

    .dropdown-header {
      color: $white;
      background-color: var(--atum-bg-dark);
      box-shadow: $atum-box-shadow;
      font-size: inherit;
      padding: 1rem 0.75rem;
    }
  }

  .dropdown-item {
    color: $white;
    background-color: var(--atum-bg-dark-70);
    padding: 0;

    a {
      display: inline-block;
      width: 100%;
      color: var(--atum-text-light);
      padding-left: 0.75rem;
      line-height: 3;

      &:hover {
        text-decoration: none;
        background: var(--atum-bg-dark);
      }
    }

    .fa {
      padding: 1rem;
      width: 3rem;
    }
  }

  .joomla-version {
    margin-right: .9rem;
    margin-bottom: 0;
    font-size: $h5-font-size;
    color: var(--atum-special-color);
    font-size:$font-size-vsm;
    &:before{
      font: normal normal normal 23px/1 FontAwesome;
      content: "\f1aa  ";
    }

  }

  @include media-breakpoint-down(xs) {
    .header-items{
      background:var(--atum-bg-dark);
      display:block;
      position:fixed;
      bottom:0;
      width:100%;
      z-index:$zindex-mobil-bottom;
      padding-left:0.75rem;
      .ml-auto{
        margin-right:70px;
      }
    }

  }
}

@include media-breakpoint-down(xs) {

  .header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: $zindex-header;


  }
}
@include media-breakpoint-down(xs) {

  .header {
    position: static;

    .joomla-version{
      color:var(--atum-text-light);

    }

    .nav-item:hover,
    .nav-item.show {
      background-color: var(--atum-bg-dark-70);
    }
    .nav-item{
      display: none;
      &.footer-mobil-icon{
        display:block;
      }
    }

    .nav-link{

      .fa{
        color:var(--atum-text-light);
      }

    }
  }
}


