
// Header

.header {
  position: relative;
  z-index: 5;
  height: $header-height;
  background: $atum-template-color;

  &::after {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    content: "";
    background-color: theme-color("primary");
    background-image: linear-gradient(to right, $atum-hl-grad-inner 0%, $atum-hl-grad-outer 100%);
  }

  .page-title {
    display: inline-block;
    margin: 0 5px;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: $header-height;
    color: $white-offset;

    [class^="icon-"] {
      margin-right: 15px;
      font-size: $h1-font-size$h1-font-size;
      vertical-align: middle;
    }

  }

  .navbar-brand {
    padding: 0;
    font-size: 1.1rem;
    color: $white-offset;

    &:hover,
    &:focus {
      color: darken($white-offset, 6%);
    }

    @include media-breakpoint-only(sm) {
      margin-right: 0;
      margin-left: 10px;
    }
    span {
      margin-left: .4rem;
    }
  }
  .nav-item {
    background-color: $header-icons-bg;
    border-left: 1px solid $atum-template-color;
  }

  .nav-link {
    position: relative;
    padding: 0;
    line-height: $header-height;

    .fa {
      width: $header-height + 2px;
      font-size: 1.2rem;
      color: $white-offset;
      vertical-align: middle;
      transition: all .2s ease-in-out;
    }

    .fa-external-link { // Position correct
      position: relative;
      left: 2px;
    }

    .badge {
      position: absolute;
      top: 4px;
      right: 2px;
    }

    &.dropdown-toggle::after {
      display: none;
    }

    &:hover .fa {
      font-size: 1.3rem;
      transition: all .2s ease-in-out;
    }

  }

  .dropdown-notifications {
    min-width: 280px;
    padding: 0;
    border: 0;

    h2 {
      font-size: $h5-font-size;
    }
  }

  .dropdown-menu::after {
    left: .65rem;
  }

  .dropdown-menu-right::after {
    right: .65rem;
    left: auto;
  }

  .header-profile {

    .dropdown-menu {
      padding-top: 0;

      &::after {
        color: $atum-container-main-bg;
      }
    }

  }

  .header-profile-user {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .3rem;
    background-color: $atum-container-main-bg;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-radius: $border-radius $border-radius 0 0;
  }

  .list-group-item-text:last-child {
    margin-bottom: 0;
  }

  .joomla-version {
    margin-right: .9rem;
    margin-bottom: 0;
    font-size: $h5-font-size;
    color: $white-offset;
  }

}

@include media-breakpoint-down(md) {

  .header {
    position: fixed;
    top: 0;
    width: 100%;

    + .container-title {
      margin-top: $header-height;
    }

  }

}

// Mobile Toggle
.menu-collapse {
  font-size: 2rem;
  text-align: center;

  a {
    display: block;
    width: $header-height;
    line-height: $header-height;
    color: $white;
    background-color: $header-icons-bg;
  }

}
