
// Header

.header {
  position: relative;
  background: $white;
  box-shadow: $atum-box-shadow;

  .logo {
    display: inline-block;
    line-height: $header-height;
    text-align: center;
    img {
      height: 1.3rem;
      margin-left: 0.8rem;
    }
  }

  .page-title {
    margin: 0 5px;
    font-size: 1.2rem;
    line-height: $header-height;
    color: var(--atum-special-color);

    [class^='icon-'] {
      margin-right: 10px;
    }
  }

  .nav-item:hover,
  .nav-item.show {
    background-color: var(--atum-bg-dark);
  }

  .nav-link {
    position: relative;
    padding: 0;
    margin: 0 0.8rem;
    line-height: $header-height;
    min-width: $header-height - 0.3125rem;

    .fa {
      width: 1.5rem;
      font-size: 1.2rem;
      color: var(--atum-special-color);
      vertical-align: middle;
      transition: all .2s ease-in-out;
    }

    .badge {
      position: absolute;
      top: 7px;
      right: 7px;
    }

    &.dropdown-toggle::after {
      display: none;
    }

    &:hover .fa {
      font-size: 1.3rem;
      transition: all .2s ease-in-out;
    }
  }

  .link-title {
    text-decoration: underline;
  }

  .dropdown-menu {
    min-width: 280px;
    padding: 0;
    border: 0;
    z-index: 1041;
    background-color: var(--atum-bg-dark-light);

    h2 {
      font-size: $h5-font-size;
    }

    .dropdown-message {
      font-weight: bold;
      color: $gray-900;
    }
  }

  .dropdown-item {
    color: $white;
    background-color: var(--atum-bg-dark-light);
    padding: 0;

    @include hover-focus {
      color: var(--atum-special-color);
    }

    a {
      display: inline-block;
      width: 100%;
      color: var(--atum-text-light);
      padding-left: 0.75rem;
      line-height: 3;

      &:hover {
        color: var(--atum-text-light);
        text-decoration: none;
		background:var(--atum-bg-dark);
      }

      .fa {
        float: right;
      }
    }

    .fa {
      padding: 1rem;
      background-color: var(--atum-bg-dark-bright);
      width: 3rem;
    }

    &.closeMessageWrapper > a:first-child {
      width: calc(100% - 3.5rem);
    }

    .closeMessage {
      float: right;
      padding: 0;
      width: 3rem;
    }

    &.iconsLeft {

      a {
        padding-left: 0;
      }

      .fa {
        float: left;
        margin-right: 0.75rem;
      }
    }
  }

  .dropdown-menu::after {
    left: .65rem;
  }

  .dropdown-menu-right::after {
    right: .65rem;
    left: auto;
  }

  .header-profile {

    .dropdown-menu {
      padding-top: 0;

      &::after {
        color: var(--atum-bg-light);
      }
    }
  }

  .dropdown-header {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: $white;
    background-color: var(--atum-bg-dark);
    box-shadow: $atum-box-shadow;
    color: $white;
    font-size: inherit;
    padding: 1rem 0.75rem;

    &.iconsLeftHeader {
      padding-left: 3.75rem;
    }
  }

  .list-group-item-text:last-child {
    margin-bottom: 0;
  }

  .joomla-version {
    margin-right: .9rem;
    margin-bottom: 0;
    font-size: $h5-font-size;
    color: var(--atum-special-color);
  }
}

@include media-breakpoint-down(md) {

  .header {
    position: sticky;
    top: 0;
    width: 100%;
	z-index:9999;

    > div {
      flex-direction: column;
    }
  }
}

@include media-breakpoint-down(sm) {

  .header {

    .header-items {
      flex-direction: column;
    }
  }
}
