// Header
.header {
  position: relative;
  z-index: $zindex-header;
  box-sizing: border-box;
  color: $white;
  background: var(--atum-bg-dark);

  .header-title {
    .container-title {
      width: 100%;
    }

    @include media-breakpoint-down(sm) {
      width: 100%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }

  .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: $sidebar-width;
    height: 100%;
    padding: 12px 5px;
    background-color: var(--atum-bg-dark-70);
    transition: all .3s ease-in-out;

    &.small {
      width: $sidebar-width-closed;
      transition: all .3s ease-in-out;

      svg,
      img {

        &:not(.logo-collapsed) {
          display: none;
        }

        &.logo-collapsed {
          display: inline-block;
        }

        path {
          fill: $white;
        }
      }
    }

    svg,
    img {
      max-width: calc(18rem - .7rem);
      max-height: 100%;
      margin-inline-start: .35rem;

      &.logo-collapsed {
        display: none;
      }
    }

    svg {
      path {
        fill: $white;
      }
    }
  }

  .page-title {
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    overflow: hidden;
    font-size: 1.2rem;
    color: $white;
    text-overflow: ellipsis;
    white-space: nowrap;

    [class^="#{$jicon-css-prefix}-"],
    [class*=" #{$jicon-css-prefix}-"],
    [class^="#{$fa-css-prefix}-"],
    [class*=" #{$fa-css-prefix}-"] {
      margin-inline-end: .25rem;
    }
  }

  .header-items {
    width: 50%;
    margin: 15px 15px 15px auto;
    justify-content: flex-end;
    align-items: center;

    .header-item-icon {
      > * {
        background-color: var(--atum-bg-dark);
        border-radius: 16px;
        width: 28px;
        height: 28px;
        margin: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      [class^="icon-"],
      [class*=" icon-"] {
        margin: 4px;
      }
    }

    .header-item-count {
      margin-inline-end: .5rem;;
    }
  }

  .header-item {
    position: relative;
    margin: 0 4px;

    &:first-child {
      margin-left: auto;

      [dir=rtl] & {
        margin-right: auto;
        margin-left: 0;
      }
    }

    .header-item-content {
      display: flex;
      align-items: center;
      padding-inline-end: 4px;
      background-color: var(--atum-bg-dark-60);
      border-radius: 22px;
      color: $white;
      line-height: 1rem;

      .text-muted {
        color: #fff !important;
        opacity: .6;
      }

      a,
      button {
        color: $white;
        text-decoration: none;

        &.disabled,
        &.disabled:hover,
        &.disabled[aria-expanded="true"] {
          display: none;
          color: #fff;
          pointer-events: none;
          background-color: transparent;
          box-shadow: none;
          opacity: .6;
        }
      }

      &:not(.no-link):hover {
        background-color: var(--atum-bg-dark-50);
      }

      .dropdown-toggle {
        // Overwrite default button styling
        background-color: transparent;
        border: 0;

        &::after {
          display: none;
        }
      }
    }

    .header-item-text {
      display: flex;
      align-items: center;
      padding: 0 8px 0 4px;
      font-size: .75rem;
      transition: all .2s ease-in-out;
      white-space: nowrap;
    }
  }

  a[target="_blank"]::before {
    display: none;
  }

  .dropdown-menu {
    z-index: $zindex-popover;
    min-width: 18rem;
    padding: 0;
    background-color: var(--atum-bg-dark-70);

    .dropdown-header {
      padding: 1rem .75rem;
      font-size: inherit;
      color: $white;
      background-color: var(--atum-bg-dark);
      box-shadow: $atum-box-shadow;

      [dir=rtl] & {
        text-align: right;
      }

      [class^="#{$jicon-css-prefix}-"],
      [class*=" #{$jicon-css-prefix}-"],
      [class^="#{$fa-css-prefix}-"],
      [class*=" #{$fa-css-prefix}-"] {
        [dir=ltr] & {
          margin-right: $dropdown-item-padding-x;
        }

        [dir=rtl] & {
          margin-left: $dropdown-item-padding-x;
        }
      }
    }
  }

  .dropdown-item {
    color: $white;
    background-color: var(--atum-bg-dark-70);

    [dir=rtl] & {
      text-align: right;
    }

    [class^="#{$jicon-css-prefix}-"],
    [class*=" #{$jicon-css-prefix}-"],
    [class^="#{$fa-css-prefix}-"],
    [class*=" #{$fa-css-prefix}-"] {
      [dir=ltr] & {
        margin-right: $dropdown-item-padding-x;
      }

      [dir=rtl] & {
        margin-left: $dropdown-item-padding-x;
      }
    }
  }

  #header-more-items {
    .header-more-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: var(--atum-bg-dark-70);
      box-shadow: $atum-box-shadow;

      [dir=rtl] & {
        right: auto;
        left: 0;
      }
    }

    &.active .header-more-menu {
      display: block;
    }

    .header-more-btn {
      width: 3.8rem;
      color: var(--white-offset);
      background-color: var(--atum-bg-dark);
      border: 0;

      > span {
        margin: auto;
      }

      &:hover {
        background-color: var(--atum-bg-dark-80);
      }
    }
  }

  @include media-breakpoint-down(md) {
    position: static;
    top: 0;
    z-index: $zindex-header;
    width: 100%;
    padding: 0;

    .header-items {
      position: fixed;
      bottom: 0;
      z-index: $zindex-mobile-bottom;
      display: block;
      flex-direction: row-reverse;
      justify-content: flex-end;
      width: 100%;
      max-width: 18rem;
      background: var(--atum-bg-dark);

      &::after {
        position: absolute;
        z-index: -1;
        width: 1000%;
        height: 100%;
        content: "";
        background: var(--atum-bg-dark);

      }
    }

    .header-item-more {
      &.active .header-more-menu {
        left: 0;

        [dir=rtl] & {
          right: 0;
          left: auto;
        }
      }

      .header-item-content {
        background: transparent;
      }
    }

    .header-more-menu {
      top: auto;
      bottom: 100%;
      border: 1px solid $gray-500;
      border-bottom: 0;
    }

    .header-items > .header-item {
      .header-item-content > :first-child {
        padding-bottom: .4rem;
        color: var(--atum-text-light);
      }
    }

    .header-item:first-child {
      margin-left: 0;

      [dir=rtl] & {
        margin-right: 0;
        margin-left: auto;
      }
    }

    .#{$jicon-css-prefix}-angle-down,
    .#{$fa-css-prefix}-angle-down {
      transform: rotate(180deg);
    }
  }
}
