// Header

.header {
  position: relative;
  z-index: 5;
  height: $header-height;
  margin-bottom: 3px;
  background: $atum-template-color-light;

  &::after {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 3px;
    content: "";
    background-color: $brand-primary;
    background-image: linear-gradient(to right, $atum-hl-grad-inner 0%, $atum-hl-grad-outer 100%);
  }

  .page-title {
    display: inline-block;
    margin: 0 0 0 25px;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: $header-height;
    color: $atum-inverted-text-color;
    border-bottom: 1px solid #20252e;

    .icon-list {
      color: $atum-inverted-text-color;
    }

    [class^="icon-"] {
      margin-right: 15px;
    }
  }

  .navbar-brand {
    display: inline-block;
    float: none;
    padding: 0;
    font-size: 1.3rem;
    line-height: $header-height;
    color: $white-offset;

    &:hover,
    &:focus {
      color: darken($white-offset, 6%);
    }

    @include media-breakpoint-only(sm) {
      margin-right: 0;
      margin-left: 10px;
    }
  }

  nav {
    position: absolute;
    top: 0;
    right: 15px;
  }

  .nav-item + .nav-item {
    margin-left: 1px;
  }

  .nav-link {
    position: relative;
    padding: 0;
    margin-left: 4px;
    line-height: $header-height;

    .fa {
      width: 30px;
      height: 23px;
      font-size: 1.1rem;
      line-height: 23px;
      color: $white-offset;
      background-color: lighten($atum-template-color-light, 10%);
      border-radius: 2px;
    }

    .badge {
      position: absolute;
      top: 4px;
      right: -5px;
    }

    &.dropdown-toggle::after {
      display: none;
    }
  }

  .dropdown-notifications {
    min-width: 280px;
    padding: 0;
    border: 0;
  }

  .dropdown-menu {
    &::after {
      left: .65rem;
    }
  }

  .dropdown-menu-right {
    &::after {
      right: .65rem;
      left: auto;
    }
  }

  .header-profile {
    .dropdown-menu {
      padding-top: 0;

      &::after {
        color: $atum-container-main-bg;
      }
    }
  }
  .header-profile-user {
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-bottom: .3rem;
    background-color: $atum-container-main-bg;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-radius: $border-radius $border-radius 0 0;
  }

}

.container-title {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
  overflow: hidden;
  color: $white;
  background-color: $atum-template-color-light;
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .page-title {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: normal;

    span {
      position: relative;
      top: 2px;
      margin-right: 12px;
      font-size: $font-size-h1;
      color: lighten($atum-template-color-light, 10%);
    }
  }
}
