// Icons

@import "../variables";

.icon-back::before {
  content: "\e008";
}

.icon-crop::before {
  content: "\f125";
}

.icon-white {
  color: $white;
}

.icon-publish {
  color: theme-color("success");

  .dropdown-status-group & {
    color: inherit;
  }
}

.icon-unpublish {
  color: theme-color("danger");

  .dropdown-status-group & {
    color: inherit;
  }
}

.tbody-icon {
  padding: 0 3px;
  text-align: center;
  background-color: transparent;
  border: 0;

  [class^='icon-'],
  [class*=' icon-'] {
    width: 26px;
    height: 26px;
    font-size: 1rem;
    line-height: 22px;
    color: #ccc;
    border: 2px solid var(--border);
    border-radius: 50%;
  }

  .icon-publish {
    color: var(--success);
    border-color: var(--success);
  }

  .icon-featured {
    color: var(--atum-special-color);
    border-color: var(--atum-special-color);
  }

  .icon-archive {
    color: var(--atum-text-dark);
    border-color: $gray-700;
  }

  .icon-checkedout {
    width: auto;
    height: auto;
    font-size: 1.2rem;
    line-height: 1rem;
    color: var(--atum-text-dark);
    border: 0;
  }
}

