// Icons

.icon-back::before {
  content: "\e008";
}

.icon-crop::before {
  content: "\f125";
}

.icon-white {
  color: $white;
}

.icon-publish {
  color: theme-color("success");
}

.icon-unpublish {
  color: theme-color("danger");
}


.tbody-icon {
  background-color: transparent;
  border: 0;
  padding: 0 3px;
  text-align: center;

  span[class^='icon-']:not(.icon-checkedout),
  span[class*=' icon-']:not(.icon-checkedout) {
    border: 2px solid #ccc;
    border-radius: 50%;
    color: #ccc;
    font-size: 1rem;
    height: 26px;
    line-height: 22px;
    width: 26px;
  }

  .icon-publish {
    border-color: theme-color("success");
    color: theme-color("success");
  }

  .icon-featured {
    border-color: theme-color("warning");
    color: theme-color("warning");
  }

  .icon-unpublish {
    border-color: theme-color("danger");
    color: theme-color("danger");
  }

  .icon-archive {
    border-color: $gray-700;
    color: $gray-700;
  }

  .icon-checkedout {
    border: 0;
    color: $gray-700;
    font-size: 1.2rem;
    height: auto;
    line-height: 1rem;
    width: auto;
  }
}
