.page-link {

  &.active {
    padding: 0;

    &.current {
      padding: .5rem .75rem;
      color: var(--atum-text-light);
      background-color: var(--atum-bg-dark);
    }

    a {
      padding: .58rem .75rem;
      line-height: 2.5;
      text-decoration: none;
    }
  }

  &.disabled {
    color: var(--atum-text-dark);

    &:hover {
      background: transparent;
    }
  }
  a{
    &:hover{
      color: var(--atum-text-light);
      background-color: var(--atum-bg-dark);
    }
  }
}

.options-fieldset {
	background-color: var(--white);
	color: var(--atum-text-dark);
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-column-gap: 2rem;
	margin-bottom: 1rem;
	box-shadow: $atum-box-shadow;
	width: 100%;
	@include media-breakpoint-up(md) {
		grid-template-columns: 1fr 1fr;
		&.option-fieldset-half,
		&.option-fieldset-full {
			grid-template-columns: 1fr;
		}
	}
	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr 1fr 1fr;
		&.option-fieldset-full {
			grid-template-columns: 1fr;
		}
		&.option-fieldset-half {
			grid-template-columns: 1fr 1fr;
		}
	}

	@include box-shadow($box-shadow-sm);
	> legend {
		font-weight: bold;
		padding: 0 .5rem;
		background-color: var(--atum-bg-dark);
		color: var(--atum-text-light);
		width: auto;
	}
}
