.page-link {

  &.active {
    padding: 0;

    &.current {
      padding: .5rem .75rem;
    }

    &.current {
      color: var(--atum-text-light);
      background-color: var(--atum-bg-dark);
    }

    a {
      padding: .58rem .75rem;
      line-height: 2.5;
      text-decoration: none;
    }
  }

  &.disabled {
    color: var(--atum-text-dark);

    &:hover {
      background: transparent;
    }
  }
  a{
    &:hover{
      color: var(--atum-text-light);
      background-color: var(--atum-bg-dark);
    }
  }
}
