.page-link {

  &.active {
    padding: 0;

    &.current {
      padding: .5rem .75rem;
      color: var(--atum-text-light);
      background-color: var(--atum-bg-dark);
    }

    a {
      padding: .58rem .75rem;
      line-height: 2.5;
      text-decoration: none;
    }
  }

  &.disabled {
    color: var(--atum-bg-dark-10);
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }

  a {
    &:hover {
      color: var(--atum-text-light);
      background-color: var(--atum-bg-dark);
    }
  }
}

.options-form {
  background-color: $white;
  color: var(--atum-text-dark);
  padding: 2vw;
  margin-bottom: 1rem;
  /*  box-shadow: $atum-box-shadow; */
  border: 1px solid var(--bluegray);
  width: 100%;

  > legend {
    font-weight: bold;
    padding: 0 .5rem;
    background-color: $white;
    color: var(--atum-text-dark);
    width: auto;
  }
}
