.page-link {

  &.active {

    &.current {
      color: var(--atum-text-light);
      background-color: var(--atum-bg-dark);
    }

    a {
      text-decoration: none;
    }
  }

  &.disabled {
    color: var(--atum-bg-dark-10);
    cursor: not-allowed;

    &:hover {
      background: transparent;
    }
  }

  &:hover {
    background-color: var(--atum-bg-dark);
  }

  a {
    &:hover {
      color: var(--atum-text-light);
    }
  }
}

.options-form {
  background-color:$white;
  color: var(--atum-text-dark);
  padding: 2vw;
  margin-bottom: 1rem;
 /*  box-shadow: $atum-box-shadow; */
  border: 1px solid var(--bluegray);
  width: 100%;

  > legend {
    font-weight: bold;
    padding: 0 .5rem;
    background-color: $white;
    color: var(--atum-text-dark);
    width: auto;
  }
}
