// Login page

.view-login {

  .container-main {

    @include media-breakpoint-down(md) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 35vh);
    }

    #content {
      @include media-breakpoint-down(md) {
        max-width: 98%;
        padding: 0;
      }
    }
  }

  .login {
    align-self: flex-start;
    width: 25rem;
    padding: 15px;
    margin-top: 9rem;
    color: var(--atum-text-dark);
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0 0 10px 0 #ccc;

    @include media-breakpoint-down(lg) {
      margin-top: 2rem;
    }

    img {
      height: 4.4rem;
      padding: 15px;
    }

    svg.joomla-logo {
      width: 2.4rem;
      height: 4.4rem;
      background-size: 4.4rem 2.4rem;

      path {
        fill: var(--atum-bg-dark);
      }
    }

  }

  .form-group {
    position: relative;
    margin-bottom: 1.85rem;

    label {
      span {
        font-size: ($font-size-base * .9);

        @include media-breakpoint-down(sm) {
          width: 100%;
        }

        &.text-end {
          font-size: ($font-size-base * .75);
          color: var(--atum-special-color);
        }
      }
    }

    .form-control-feedback {
      position: absolute;
      right: 0;
      bottom: -1.5rem;
      font-size: ($font-size-base * .75);
      text-align: right;

      [dir=rtl] & {
        right: auto;
        left: 0;
        text-align: left;
      }
    }

    .form-control-hint {
      position: absolute;
      top: .1rem;
      right: 0;
      font-size: ($font-size-base * .75);
      text-align: right;

      [dir=rtl] & {
        right: auto;
        left: 0;
        text-align: left;
      }
    }
  }

  input:focus,
  select:focus {
    background: $white;
    box-shadow: inset 0 0 1px 1px var(--atum-contrast);
  }

  h1 {
    padding-bottom: 1rem;
    margin: 0;
    font-weight: $font-weight-bold;
    color: var(--atum-bg-dark);
    text-align: center;
  }

  h2 {
    color: var(--atum-text-dark);
  }

  .btn {

    @include media-breakpoint-only(xs) {
      padding: 8px 10px;
      font-size: ($font-size-base * .875);
    }
  }

  .form-control,
  .form-select {
    max-width: none;
  }

  #sidebar-wrapper {
    display: flex;
    flex: 1 0 33%;
    flex-direction: column;
    max-width: $sidebar-width-login;

    @include media-breakpoint-down(md) {
      order: 2;
    }

    #main-brand {
      margin-bottom: auto;

      a {
        font-size: ($font-size-base * .875);
      }
    }

    .card-header {
      font-size: ($font-size-base * 1.125);
    }
  }

  #sidebar {
    align-self: flex-end;
    width: 100%;
    font-size: ($font-size-base * .875);
    color: var(--atum-text-light);
    text-align: center;

    .card {
      background: var(--atum-bg-dark);
      box-shadow: none;

      .module-body {
        padding: .75rem 1.25rem;
      }
    }

    @include media-breakpoint-down(md) {
      position: relative;
      bottom: 0;
    }
  }

  .container-main,
  .sidebar-wrapper {

    @include media-breakpoint-down(md) {
      flex: 1 0 100% !important;
      max-width: 100% !important;
    }
  }

  .d-flex {

    @include media-breakpoint-down(md) {
      display: flex !important;
      flex-wrap: wrap;
    }
  }

  .header {
    .logo {
      &.small {
        line-height: 2.5rem;
      }
    }
  }
}

label {
  color: $darkblue;
}

.com_login .sidebar-wrapper .main-brand {
  flex: 1;
  flex-basis: auto;
  margin-top: 100px;
  text-align: center;

  @include media-breakpoint-down(md) {
    margin-top: 10px;
  }
}

.com_login .sidebar-wrapper #sidebar p {
  margin-bottom: .2rem;
}

.com_login .sidebar-wrapper .main-brand a,
.com_login .sidebar-wrapper #sidebar,
.com_login .sidebar-wrapper #sidebar a {
  color: var(--atum-text-light);
}

.view-login {
  #wrapper.d-flex {
    @include media-breakpoint-down(md) {
      display: flex !important;
    }
  }

  #sidebar-wrapper:not(.show):not(.collapse) {
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  .invalid .form-control-feedback {
    color: var(--danger);
  }
}

// Detect IE 10+ and display alert
.ie11 {
  display: none;
}

@media all and (-ms-high-contrast: none),
  (-ms-high-contrast: active) {
  .ie11 {
    display: block;
  }
}

.login_message {
  margin: 1rem 1rem 0;
}
