// Modals

.modal {

  .btn {
    margin-right: .5rem;
  }

  .btn-primary:not([href]),
  .btn-success:not([href]) {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}

.modal-header {
  padding: 0 15px;

  .close {
    border-left: 1px solid $atum-border-color;
    font-size: 2rem;
    height: $modal-header-height;
    line-height: 1rem;
    margin-right: -15px;
    margin-top: 0;
    width: $modal-header-height;
  }
}

.modal-body {
  overflow-y: auto;
  padding: 0;
}

.modal-title {
  font-weight: normal;
  line-height: $modal-header-height;
}

.contentpane {
  padding: 15px;
}
