// Quick Icons

.quick-icons {
  background-color: $white;

  .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }

  a {
    text-decoration: none;
    transition: all .25s ease;

    .quickicon-icon {
      margin-top: 15px;

      > * {
        font-size: $quickicon-icon-size;
        color: transparent;
        background: var(--icon-color-hvr);
        background-clip: text;
      }
    }
  }

  .quickicon {
    --text-color: inherit;
    --bg-color: var(--toolbar-bg);
    --icon-color: linear-gradient(var(--atum-link-color), var(--atum-link-hover-color));
    --bg-color-hvr: var(--atum-bg-dark);
 
    a {     
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background-color: var(--bg-color);
      text-align: center;
      color: var(--text-color);

      .quickicon-icon > * {
        background: var(--icon-color);
        background-clip: text;
        color: transparent;
      }

      &:hover,
      &:focus,
      &:active {
        text-decoration: none;
        color: $white;
        background: var(--bg-color-hvr);

        .quickicon-icon > * {
          color: $white;
        }
      }
  
      .quickicon-name {
        padding: .75rem .2rem .6rem;
        font-size: $display2-size;
      }
  
      .quickicon-amount {
        padding: .3rem;
        margin-top: .3rem !important;
        font-size: $display1-size;
        font-weight: $bold-weight;
  
        > .#{$jicon-css-prefix}-spinner,
        > .#{$fa-css-prefix}-spinner {
          font-size: $display1-size;
        }
      }
  
      .j-links-link {
        display: block;
        padding: 0 .2rem;
        line-height: 1.1;
      }
  
      &.warning,
      &.danger {
        --text-color: $danger-txt;
        --bg-color: var(--danger);
        --icon-color: linear-gradient(var(--atum-link-color), var(--atum-link-hover-color));
        --bg-color-hvr: var(--atum-bg-dark);
      }
  
      &.success {
        --text-color: var(--success);
        --bg-color: var(--white);
        --icon-color: linear-gradient(var(--success), #159c1e);
        --bg-color-hvr: var(--success);
      }
    }
  }

  .quickicon-group {
    .quickicon-linkadd {
      width: 2rem;
      background-color: var(--atum-bg-light);

      a {
        justify-content: center;
        width: 100%;
      }
    }
  }

  .quickicon-single,
  .quickicon-group {
    min-height: 5.7rem;
    border: 1px solid $bluegray;
  }
}

#content .menu-quicktask {
  position: absolute;
  right: 1.25rem;

  [dir=rtl] & {
    left: 1.25rem;
  }
}
