// Quick Icons

@import "../variables";

.quick-icons {
  background-color: $white;
  margin-bottom: 1rem;
  padding: 0.5rem 1.5rem;
  box-shadow: $atum-box-shadow;

  ul {
    list-style: none;
  }

  li {
    min-width: 10rem;
    min-height: 7.5rem;
    position: relative;
    background: $quickicon-bg;
    margin: 0.5rem;
    padding: 0;

    a {
      @include hover-focus-active {
        text-decoration: none;
        box-shadow: $atum-box-shadow;
        color:rgba(255,255,255,0.9);
        background: var(--atum-link-color);
      }
    }
  }

  .quickicon-name {
    font-size: 1rem;
    padding-bottom: .3rem;
  }

  .quickicon-amount {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -0.2rem;
  }

  .thsd {
    font-size: 0.9rem;
    letter-spacing: normal;
    font-weight: normal;
  }

  .quickicon-text {
    min-height: 1.2rem;
  }

  .quickicon-linkadd {
    position: relative;
    overflow: hidden;
    font-size: .9rem;
    line-height: 3.4rem;
    margin-top: 0.4rem;
    border: 1px solid #ccc;
    text-decoration: none;
    box-shadow: $atum-box-shadow;

    @include media-breakpoint-up(md) {
      line-height: 2rem;
    }

    @include hover-focus-active {
      text-decoration: none;
      box-shadow: $atum-box-shadow;
      color:rgba(255,255,255,0.9);
      background: var(--atum-link-color);
    }

    .fa {
      display: inline-block;
      width: 35px;
      height: auto;
      line-height: 2rem;
      color: var(--white);
      position: absolute;
      left: 0;
      background-color: var(--atum-link-color);
    }
  }

  a:not(.quickicon-linkadd) {
    display: inline-flex;
    min-height: 5.4rem;
    flex-direction: column;
    width: 100%;
    transition: all .25s ease;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 0.3rem;

    @include hover-focus-active {
      text-decoration: none;
      box-shadow: $atum-box-shadow;
    }

    > div {
      flex: 1 0 0;
      margin: 0 auto;
    }

    .j-links-link {
      display: block;
      width: 100%;
      padding: 0 1rem;
      line-height: 1.1;
    }

    .fa,
    .fab {
      margin: 5px auto 0;
      font-size: 2.5rem;
    }

    &.warning {
      color: var(--warning);
      box-shadow: $quickicon-box-shadow-warning;
      &:hover {
        color:rgba(255,255,255,0.9);
        background: var(--warning);
      }
    }

    &.danger {
      color: var(--danger);
      box-shadow: $quickicon-box-shadow-danger;
      &:hover {
        color:rgba(255,255,255,0.9);
        background: var(--danger);
      }
    }

    &.success {
      color: var(--success);
      box-shadow: $quickicon-box-shadow-success;
      &:hover {
        color:rgba(255,255,255,0.9);
        background: var(--success);
      }
    }
  }
}

#content{
  .menu-quicktask{
    position: absolute;
    right: 1.25rem;
  }
}
