// Quick Icons

.quick-icons {
  margin-bottom: -15px;
  *, *::before, *::after {
    transition: all .25s ease;
  }
  a {
    position: relative;
    display: block;
    padding: 2px 0;
    margin-bottom: 15px;
    overflow: hidden;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    background-color: $atum-template-color;
    border-radius: $border-radius;
    &:hover,
    &:focus {
      text-decoration: none;
      &::before {
        color: lighten($atum-template-color, 14%);
      }
    }
    > * {
      vertical-align: middle;
    }
    span {
      position: relative;
      display: inline;
      font-size: .85em;
      font-weight: bold;
      letter-spacing: .4px;
      line-height: 2em;
      &[class*=" icon-"], &[class^="icon-"] {
        margin-right: .1em;
        font-size: 2.5em;
        font-weight: normal;
      }
    }
    &::before {
      position: absolute;
      top: -100px;
      right: -40px;
      font-family: FontAwesome;
      font-size: 10em;
      color: lighten($atum-template-color, 5%);
      content: "\f1aa";
      transform: rotate(20deg);
    }
    &::after {
      position: absolute;
      right: 100%;
      bottom: 0;
      left: 0;
      height: 8px;
      content: "";
      background: #3d3e54;
      transition-duration: .7s;
    }
  }
  .danger a {
    background: $brand-danger;
    &::after {
      right: 0;
      background: $brand-danger;
    }
    &::before {
      color: lighten($brand-danger, 7%);
    }
  }
  .success a {
    background: $brand-success;
    &::after {
      right: 0;
      background: $brand-success;
    }
    &::before {
      color: lighten($brand-success, 7%);
    }
  }
  [id*="plg_quickicon"] a, [id*="plg_quickicon"] a::before {
    transition-delay: .4s;
  }
}
