// Quick Icons

.quick-icons {
  margin-bottom: -15px;

  *, *::before, *::after {
    transition: all .25s ease;
  }

  a {
    position: relative;
    display: block;
    height: 4.7rem;
    padding: 0 5px;
    margin-bottom: 15px;
    overflow: hidden;
    color: $white-offset;
    text-align: left;
    background-color: $atum-template-color-light;
    border-radius: $border-radius;

    &:hover,
    &:focus {
      text-decoration: none;

      &::before {
        color: lighten($atum-template-color-light, 10%);
      }
    }

    > * {
      vertical-align: middle;
    }

    span {
      position: relative;
      display: inline;
      font-size: 1rem;
      font-weight: bold;
      line-height: 1.2rem;

      &[class*=" icon-"],
	  &[class^="icon-"] {
        width: 2.5rem;
        margin-right: .1rem;
        font-size: 2.5rem;
        font-weight: normal;
      }
    }

    &::before {
      position: absolute;
      top: -100px;
      right: -40px;
      font-family: FontAwesome;
      font-size: 10em;
      color: lighten($atum-template-color-light, 5%);
      content: "\f1aa";
      transform: rotate(20deg);
    }

    &::after {
      position: absolute;
      right: 100%;
      bottom: 0;
      left: 0;
      height: 8px;
      content: "";
      background: #3d3e54;
      transition-duration: .7s;
    }
  }

  .danger a {
    background: $brand-danger;

    &::after {
      right: 0;
      background: $brand-danger;
    }

    &::before {
      color: lighten($brand-danger, 7%);
    }
  }

  .success a {
    background: $brand-success;

    &::after {
      right: 0;
      background: $brand-success;
    }

    &::before {
      color: lighten($brand-success, 7%);
    }
  }

  [id*="plg_quickicon"] a,
  [id*="plg_quickicon"] a::before {
    transition-delay: .4s;
  }
}
