// Quick Icons

@import "../variables";

.quick-icons {

  ul {
    list-style: none;
  }

  li {
    min-width: 10rem;
    min-height: 7.5rem;
    position: relative;
    background: $quickicon-bg;
    box-shadow: $quickicon-box-shadow;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;

    @include hover-focus-active {
      text-decoration: none;
      box-shadow: $quickicon-box-shadow-hover;
    }
  }

  .quickicon-name {
    font-size: 1rem;
    padding-bottom: .3rem;
  }

  .quickicon-amount {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -0.2rem;
  }

  .thsd {
    font-size: 0.9rem;
    letter-spacing: normal;
    font-weight: normal;
  }

  .quickicon-text {
    min-height: 1.2rem;
  }

  .quickicon-linkadd {
    font-size: .9rem;
    line-height: 3.4rem;
    border-top: 1px solid $light_blue;
    text-decoration: none;

    @include media-breakpoint-up(md) {
      line-height: 2rem;
    }
	
    @include hover-focus-active {
      text-decoration: none;
      box-shadow: $quickicon-box-shadow-hover;
    }
  }

  a:not(.quickicon-linkadd) {
    display: inline-flex;
    min-height: 5.4rem;
    flex-direction: column;
    width: 100%;
    transition: all .25s ease;
    text-align: center;

    @include hover-focus-active {
      text-decoration: none;
      box-shadow: $quickicon-box-shadow-hover;
    }

    > div {
      flex: 1 0 0;
      margin: 0 auto;
    }

    .j-links-link {
      display: block;
      width: 100%;
      padding: 0 1rem;
      line-height: 1.1;
    }

    .fa {
      margin: 5px auto 0;
      font-size: 2.5rem;
    }

    &.warning {
      color: var(--warning);
      box-shadow: $quickicon-box-shadow-warning;
    }

    &.danger {
      color: var(--danger);
      box-shadow: $quickicon-box-shadow-danger;
    }

    &.success {
      color: var(--success);
      box-shadow: $quickicon-box-shadow-success;
    }
  }
}

#content{
  .menu-quicktask{
    position: absolute;
    right: 1.25rem;
  }
}
