// Quick Icons

.quick-icons {
  background-color: $white;

  ul {
    list-style: none;
  }

  li {
    width: calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    flex: 1 1 calc(33.333% - 1rem);
    position: relative;
    background: $quickicon-bg;
    margin: 0.5rem;
    padding: 0;

    a {
      @include hover-focus-active {
        text-decoration: none;
        color: $quickicon-color-hover;
        background: $link-color;
      }
    }

    @media (max-width: 1350px) {
      width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      flex: 1 1 calc(50% - 1rem);
    }
    @media (max-width: 1050px) {
      width: calc(100% - 1rem);
      max-width: calc(100% - 1rem);
      flex: 1 1 calc(100% - 1rem);
    }
    @include media-breakpoint-down(sm) {
      width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      flex: 1 1 calc(50% - 1rem);
    }
    @media (max-width: 430px) {
      width: calc(100% - 1rem);
      max-width: calc(100% - 1rem);
      flex: 1 1 calc(100% - 1rem);
    }
  }

  .quickicon-linkadd {
    position: relative;
    overflow: hidden;
    font-size: $display2-size;
    color: var(--atum-text-dark);
    background-color: var(--atum-bg-light);
    line-height: 2rem;
    margin-top: 0.4rem;
    border: 1px solid $gray-400;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    @include hover-focus-active {
      text-decoration: none;
      color: $quickicon-color-hover;
      background: var(--atum-link-color);
    }

    .fa {
      position: absolute;
      left: 0;
      display: inline-block;
      width: 2rem;
      height: auto;
      line-height: 2rem;
      color: $quickicon-bg;
      background-color: var(--atum-link-color);
      text-align: center;
    }

    span:last-child {
      margin-left: 2rem;
    }
  }

  a:first-of-type {
    display: inline-flex;
    min-height: 5.7rem;
    flex-direction: column;
    width: 100%;
    transition: all .25s ease;
    text-align: center;
    border: 1px solid $gray-400;
    background-color: var(--toolbar-bg);
    color: var(--atum-text-dark);
    line-height: 1.1;
    align-self: baseline;

    .fa,
    .fab {
      font-size: $quickicon-icon-size;
      color: var(--atum-link-color);

      &:hover {
        color: $quickicon-color-hover;
      }
    }

    &:hover {
      color: $quickicon-color-hover;
    }

    @include hover-focus-active {
      text-decoration: none;

      .fa {
        color: $quickicon-color-hover;
      }
    }

    > div {
      flex: 1 0 0;
      margin: 0 auto;

      &.quickicon-icon {
        margin: .8rem auto 0;

        &.big {
          .fa,
          .fab {
            font-size: $quickicon-icon-size-big;
          }
        }
      }
    }

    .quickicon-name {
      font-size: $display2-size;
      padding-bottom: .6rem;
    }

    .quickicon-amount {
      font-size: $display1-size;
      font-weight: $bold-weight;
      padding: .3rem;
      margin-top: .3rem !important;

      > .fa-spinner {
        font-size: $display1-size;
      }
    }

    .quickicon-text {
      min-height: 1.2rem;
    }

    .j-links-link {
      display: block;
      width: 100%;
      padding: 0 1rem;
      line-height: 1.1;
    }

    &.warning,
    &.danger {
      background: $danger-bg;
      border: 1px solid lighten($danger-txt, 30%);

      .fa,
      .fab {
        color: $danger-txt;
      }

      @include hover-focus-active {
        background: var(--danger);
        color: var(--white);

        .fa,
        .fab {
          &::before {
            color: var(--white);
          }
        }
      }
    }

    &.success {
      color: $success-txt;
      border: 1px solid lighten($success-txt, 20%);

      .fa,
      .fab {
        color: var(--success);
      }

      @include hover-focus-active {
        background: var(--success);
        color: var(--white);

        .fa,
        .fab {
          &::before {
            color: var(--white);
          }
        }
      }
    }
  }
}

#content {
  .menu-quicktask {
    position: absolute;
    right: 1.25rem;
  }
}

.cpanel-quickicons {

  .card-columns {
    @include media-breakpoint-down(md) {
      column-count: 2;
    }

    @include media-breakpoint-down(sm) {
      column-count: 1;
    }
  }
}

#wrapper.closed {
  .quick-icons {
    li {
      @media (max-width: 1180px) {
        width: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        flex: 1 1 calc(50% - 1rem);
      }
      @media (max-width: 860px) {
        width: calc(100% - 1rem);
        max-width: calc(100% - 1rem);
        flex: 1 1 calc(100% - 1rem);
      }
      @media (max-width: 767px) {
        width: calc(33% - 1rem);
        max-width: calc(33% - 1rem);
        flex: 1 1 calc(33% - 1rem);
      }
    }
  }
}

