// Quick Icons

.quick-icons {
  background-color: $white;
  
  li {
    padding: 0;
  }
  a {
    color: var(--atum-text-dark);
    width: 100%;
    transition: all .25s ease;

    @include hover-focus-active {
      text-decoration: none;
      color: $white;
      background: var(--atum-bg-dark);
    }
	
    .fa,
    .fab {
      font-size: $quickicon-icon-size;
      margin: 0 auto;
	  
      &.big {
            font-size: $quickicon-icon-size-big;
          }
       }
    }

  // Group link to the overview and link to the edit form in a container
  .quickicon-group {
    width: calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    flex: 1 1 calc(33.333% - 1rem);
    padding: 0;

    > ul {
      padding: 0;
    }

    @media (max-width: 1350px)  {
      width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      flex: 1 1 calc(50% - 1rem);
    }
    @media (max-width: 1150px) {
      width: calc(100% - 1rem);
      max-width: calc(100% - 1rem);
      flex: 1 1 calc(100% - 1rem);
    }
    @include media-breakpoint-down(sm) {
      width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      flex: 1 1 calc(50% - 1rem);
    }
    @media (max-width: 430px) {
      width: calc(100% - 1rem);
      max-width: calc(100% - 1rem);
      flex: 1 1 calc(100% - 1rem);
    }
	
    .quickicon-linkadd {
      background-color: var(--atum-bg-light);
      width: 2rem;
     } 
    }
  
  // Single icon 
  .quickicon-single {
    width: calc(33.333% - 1rem);
    max-width: calc(33.333% - 1rem);
    flex: 1 1 calc(33.333% - 1rem);
    background: $quickicon-bg;
  }
  
  .quickicon-single,
  .quickicon-group {
    border: 1px solid $gray-400;
    margin: 0.5rem;
    min-height: 5.7rem;
	
    @media (max-width: 1350px) {
      width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      flex: 1 1 calc(50% - 1rem);
    }
    @media (max-width: 1150px) {
      width: calc(100% - 1rem);
      max-width: calc(100% - 1rem);
      flex: 1 1 calc(100% - 1rem);
    }
    @include media-breakpoint-down(sm) {
      width: calc(50% - 1rem);
      max-width: calc(50% - 1rem);
      flex: 1 1 calc(50% - 1rem);
    }
    @media (max-width: 430px) {
      width: calc(100% - 1rem);
      max-width: calc(100% - 1rem);
      flex: 1 1 calc(100% - 1rem);
    }
  }
	
  .quickicon a {
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--toolbar-bg);
    line-height: 1.1;
    align-self: baseline;
    text-align: center;

    > div {
      flex: 1 0 0;
      margin: 0 auto;

      &.quickicon-icon {
        margin: .8rem auto 0;

        &.big {
          .fa,
          .fab {
            font-size: $quickicon-icon-size-big;
          }
        }
      }
    }

    .quickicon-name {
      font-size: $display2-size;
      padding: .2rem .2rem .6rem .2rem;
    }

    .quickicon-amount {
      font-size: $display1-size;
      font-weight: $bold-weight;
      padding: .3rem;
      margin-top: .3rem !important;

      > .fa-spinner {
        font-size: $display1-size;
      }
    }

    .quickicon-text {
      text-align: center;
      min-height: 1.2rem;
      padding: 0.2rem;
    }

    .j-links-link {
      display: block;
      padding: 0 1rem;
      line-height: 1.1;
    }

    &.warning,
    &.danger {
      background: $danger-bg;
      border: 1px solid lighten($danger-txt, 30%);

      .fa,
      .fab {
        color: $danger-txt;
      }

      @include hover-focus-active {
        background: var(--danger);
        color: var(--white);

        .fa,
        .fab {
          &::before {
            color: var(--white);
          }
        }
      }
    }

    &.success {
      color: $success-txt;
      border: 1px solid lighten($success-txt, 20%);

      .fa,
      .fab {
        color: var(--success);
      }

      @include hover-focus-active {
        background: var(--success);
        color: var(--white);

        .fa,
        .fab {
          &::before {
            color: var(--white);
          }
        }
      }
    }

    @include hover-focus-active {
      text-decoration: none;
      color: $white;
      background: var(--atum-bg-dark);
    }  
  }	 
}

#content {
  .menu-quicktask {
    position: absolute;
    right: 1.25rem;
  }
}

#cpanel-modules{
	.cpanel-quickicons,
	.cpanel{

	  .card-columns {
		@include media-breakpoint-down(md) {
		  column-count: 2;
		}

		@include media-breakpoint-down(sm) {
		  column-count: 1;
		}
	  }
	}
}

#wrapper.closed {
  .quick-icons {
    .quickicon-single,
    .quickicon-group {
      @media (max-width: 1180px) {
        width: calc(50% - 1rem);
        max-width: calc(50% - 1rem);
        flex: 1 1 calc(50% - 1rem);
      }
      @media (max-width: 950px) {
        width: calc(100% - 1rem);
        max-width: calc(100% - 1rem);
        flex: 1 1 calc(100% - 1rem);
      }
      @media (max-width: 767px) {
        width: calc(33% - 1rem);
        max-width: calc(33% - 1rem);
        flex: 1 1 calc(33% - 1rem);
      }
    }
  }
}

