// Quick Icons

.quick-icons {
  margin-bottom: -14px;

  *,
  *::before,
  *::after {
    transition: all .25s ease;
  }

  a {
    position: relative;
    height: 4.7rem;
    margin-bottom: 15px;
    overflow: hidden;
    color: $white-offset;
    text-align: left;
    background-color: $atum-template-color-light;
    border-radius: $border-radius;

    &:hover,
    &:focus {
      text-decoration: none;

      &::before {
        color: lighten($atum-template-color-light, 10%);
      }

    }

    > * {
      vertical-align: middle;
    }

    span {
      z-index: 1;
      padding-left: .9rem;
      font-size: 1.2rem;
      line-height: 4.7rem;

      &[class*=" icon-"],
	  &[class^="icon-"] {
        width: 5rem;
        height: 4.7rem;
        padding-left: 2px;
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 4.7rem;
        background-color: lighten($atum-template-color-light, 10%);
        border-right: 1px solid rgba($white,.15);
      }

    }

    &::before {
      position: absolute;
      top: -100px;
      right: -40px;
      font-family: FontAwesome;
      font-size: 10em;
      color: lighten($atum-template-color-light, 5%);
      content: "\f1aa";
      transform: rotate(20deg);
    }

  }

  .danger a {

    &::after {
      right: 0;
    }

    span {

      &[class*=" icon-"],
      &[class^="icon-"] {
        background-color: lighten($brand-danger, 7%);
      }

    }

  }

  .success a {

    &::after {
      right: 0;
    }

    span {

      &[class*=" icon-"],
      &[class^="icon-"] {
        background-color: $brand-success;
      }

    }

  }

  [id*="plg_quickicon"] a,
  [id*="plg_quickicon"] a::before {
    transition-delay: .4s;
  }

}
