// Quick Icons

.quick-icons {
  background-color: $white;

  .nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 1rem;
  }

  a {
    text-decoration: none;
    transition: all .25s ease;
  }

  ul {
    padding: 0;
  }

  .quickicon {
    --text-color: hsl(var(--hue), 30%, 40%);
    --bg-color: hsl(var(--hue), 60%, 97%);
    --icon-color: hsl(var(--hue), 30%, 40%);
    --bg-color-hvr: var(--atum-bg-dark);

    a {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding: 0 1rem;
      color: var(--text-color);
      background-color: var(--bg-color);

      .quickicon-icon {
        margin-inline-start: .2rem;

        > * {
          font-size: $quickicon-icon-size;
          color: var(--icon-color);
        }
      }

      .quickicon-name {
        padding: .25rem 0 .6rem;
        font-size: $display2-size;
        font-weight: bold;
      }

      .quickicon-amount {
        padding: .25rem .5rem;
        font-weight: $bold-weight;
        line-height: 1rem;
        background: hsl(var(--hue),50%,93%);
        border-radius: $border-radius;
        margin-inline-start: .5rem;
      }

      .j-links-link {
        display: block;
        padding: 0 .2rem;
        line-height: 1.1;
      }

      &:hover,
      &:focus,
      &:active {
        color: $white;
        text-decoration: none;
        background: var(--bg-color-hvr);

        .quickicon-amount {
          background: var(--icon-color);
        }
      }

      &.warning,
      &.danger {
        --text-color: var(--white);
        --bg-color: var(--danger);
        --icon-color: var(--white);
        --bg-color-hvr: var(--danger);
      }

      &.success {
        --text-color: var(--success);
        --bg-color: #f3f9f3;
        --icon-color: #55a258;
        --bg-color-hvr: var(--success);
      }
    }
  }

  .quickicon-info {
    display: flex;
    align-items: flex-end;
  }

  .quickicon-linkadd {
    width: 2.5rem;
    font-size: 1.2rem;
    background: hsl(var(--hue),50%,93%);

    a {
      align-items: flex-end;
      justify-content: center;
      width: 100%;

      > * {
        margin-bottom: 10px;
        color: #30517b;
      }

      &:hover,
      &:focus,
      &:active {
        background: var(--atum-bg-dark);

        * {
          color: $white;
        }
      }
    }
  }

  .quickicon-single,
  .quickicon-group {
    min-height: 6rem;
    overflow: hidden;
    border: 1px solid hsl(var(--hue),50%,93%);
    border-radius: 4px;
  }
}

#content .menu-quicktask {
  position: absolute;
  right: 1.25rem;

  [dir=rtl] & {
    left: 1.25rem;
  }
}
