// Search tools

.js-stools {
  position: relative;
  width: 100%;
  padding: 8px 10px 0;
  background-color: $atum-card-title-bg;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-radius: $border-radius $border-radius 0 0;
  box-shadow: 0 1px $white inset, 0 2px 3px -3px rgba(0,0,0,.15);

  .btn-wrapper {
    display: inline-block;
    margin-right: 5px;
  }

  .js-stools-container-filters {
    position: absolute;
    right: -1px;
    z-index: 1;
    display: none;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    background-color: $white;
    border: 1px solid $atum-border-color;
    border-radius: 0 0 0 $border-radius;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .05);

    .js-stools-field-list:last-of-type {
      .custom-select {
        min-width: auto;
      }
    }

    .custom-select {
      width: 100%;
    }

    &.js-filters-show {
      display: flex;
    }

    .chzn-container-single {
      display: block;
      .chzn-single {
        display: block;
        font-size: 1rem;
      }
    }

  }

  .js-stools-field-filter {
    .custom-select {
      &.active {
        color: #fff;
        background: #fefefe url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23fff\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E") no-repeat scroll right .75rem center / 8px 10px;
        background-color: $brand-primary;

      }

      option {
        color: $gray;
        background-color: #fff;

      }

    }
  }

  .js-stools-container-selector {
    float: left;
  }

  .js-stools-container-bar {
    float: right;

    .btn-toolbar {
      float: left;
      margin-bottom: 8px;

      .btn-group:first-child {
        margin-left: 0;
      }

	}

    .input-append {
      margin-bottom: 0;
    }
  }

  .js-stools-container-list {
    float: left;
    text-align: left;

    .js-stools-field-list:last-child {
      margin-right: 0;
    }

  }

}

.js-stools-column-order {

  [class*=" icon-"],
  [class^="icon-"] {
    text-align: center;
  }

}
