// Search tools

.js-stools {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 5px 0 0;

  .js-stools-container-filters {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    display: none;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    background-color: $white;
    border: 1px solid $atum-border-color;
    border-radius: 0 0 0 $border-radius;
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .05);

    .js-stools-field-list:last-of-type {
      .custom-select {
        min-width: auto;
      }
    }

    .custom-select {
      width: 100%;
      max-width: none;
    }

    &.js-filters-show {
      display: flex;
    }

    .chzn-container-single {
      display: block;
      .chzn-single {
        display: block;
        font-size: 1rem;
      }
    }

  }

  .js-stools-field-filter {
    .custom-select {
      &.active {
        color: #fff;
        background: #fefefe url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3E%3Cpath fill=\'%23fff\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3E%3C/svg%3E") no-repeat scroll right .75rem center / 8px 10px;
        background-color: theme-color("primary");
      }

      option {
        color: $gray-700;
        background-color: #fff;
      }
    }
  }

  .js-stools-container-selector {
    margin-right: auto;
  }

  .js-stools-container-bar {

    .btn-toolbar {
      margin-bottom: 8px;
    }

    .input-append {
      margin-bottom: 0;
    }
  }
}
