// Search tools

.js-stools {
  width: 100%;
  padding: 8px 10px 0;
  background-color: $atum-card-title-bg;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-radius: $border-radius $border-radius 0 0;
  box-shadow: 0 1px $white inset, 0 2px 3px -3px rgba(0,0,0,.15);

  .btn-wrapper {
    display: inline-block;
    margin-right: 5px;
  }

  .js-stools-container-filters {
    display: none;
    margin: 0 0 2px;
  }

  .js-stools-container-bar {
    float: left;

    .btn-toolbar {
      float: left;
      margin-bottom: 8px;

      .btn-group:first-child {
        margin-left: 0;
      }

	}

    .input-append {
      margin-bottom: 0;
    }
  }

  .js-stools-container-list {
    float: right;
    text-align: left;

    .js-stools-field-list:last-child {
      margin-right: 0;
    }

  }

  .js-stools-container-filters-visible {
    display: inline-block;
  }

  .js-stools-field-list,
  .js-stools-field-filter {
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;

    .form-control {
      display: inline-block;
	}

  }

}

.js-stools-column-order {

  [class*=" icon-"],
  [class^="icon-"] {
    text-align: center;
  }

}
