// Search tools

.js-stools {
  position: relative;
  padding: 0.25rem 0 0;
  margin-bottom: 0.5rem;

  > div {
      margin-bottom: 0.5rem;
  }

  .js-stools-container-filters {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem .5rem .5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: $white;
    border: solid var(--border);
    border-width: 1px 0;
    border-radius: 0 0 0 $border-radius;
    box-shadow: $atum-box-shadow;
    width: 100%;

    joomla-field-fancy-select .choices,
    .custom-select {
      min-width: 15rem;
    }

    &.js-filters-show {
      display: flex;
    }

    .chzn-container-single {
      display: block;

      .chzn-single {
        display: block;
        font-size: 1rem;
      }
    }
  }

  .js-stools-field-filter {

      margin: 0 .5rem .5rem;

      @include media-breakpoint-down(sm)
      {
          width: 100%;
      }

    .custom-select {

      &.active {
        color: var(--white);
        background: $custom-select-bg $custom-select-indicator-active no-repeat right center;
        background-size: $custom-select-bg-size;
      }

      option {
        color: var(--atum-text-dark);
        background-color: var(--white);
      }
    }
  }

  .js-stools-container-selector,
  .js-stools-container-selector-first  {
     @include media-breakpoint-down(md){
        float:none;
        width:100%;
        margin-right:0.5rem;
    }

    .js-stools-field-selector{
        @include media-breakpoint-down(sm) {
            max-width:100%;
            margin-right:0.5rem;
        }
    }
  }

  .js-stools-container-bar {

    .btn-toolbar {

      .js-stools-btn-filter{
        border:1px solid var(--border);
      }
      .js-stools-btn-clear {
        background-color: var(--atum-bg-dark);
        color: var(--atum-text-light);
        border:1px solid var(--border);
        border-left: 1px solid var(--atum-text-light);

        &.disabled,
        &:disabled{
            background-color: rgba($gray-300, 0.8);
            border-color: rgba($gray-500, 0.8);
            opacity:1;
            color:var(--atum-text-dark);
            cursor: not-allowed;
        }
      }
      .js-stools-btn-filter{
        border-right:1px solid var(--border);
        .fa {
          margin-left: 0.25rem;
        }
      }

      .form-control{
        height:auto;
      }
    }

    .js-stools-field-list{
      margin-bottom:0;
      .custom-select{
        box-shadow: none;
      }
    }

    .input-append {
      margin-bottom: 0;
    }
  }
}

.js-stools-button-sort {
  cursor: pointer;
  background: none;
  border: 0;
}
