// Sidebar

.wrapper {
  transition: all .3s ease;

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }
}

.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: $sidebar-width;
  background-color: $atum-template-color-dark;
  box-shadow: $atum-box-shadow;
  transition: all .3s ease;

  @include media-breakpoint-down(md) {

    .main-nav {
      max-height: calc(100vh - 147px);
    }
  }

  .main-brand {
    padding: 15px;
    margin-top: auto;
  }
}

.menu-toggle-icon {
  width: $header-height;
  font-size: 1.7rem;
}

// Sidebar navigation
.main-nav {
  width: $sidebar-width;
  list-style: none;
  background-color: $atum-template-color-dark;
  opacity: 1;

  // Parent items
  > li {
    background-color: $atum-template-color-dark;
    border-bottom: 1px solid rgba($black, .15);

    &:first-of-type {
      border-top: 1px solid rgba($black, .15);
    }

  }

  li {

    a {
      position: relative;
      display: block;
      padding: 15px 0;
      overflow: hidden;
      color: $white;
      text-decoration: none;
      cursor: pointer;
      opacity: 1;

      &:hover {
        color: $white;
        text-decoration: none;
        background-color: rgba($black, .2);
      }

      &:active,
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: inset 0 0 0 1px #78aeda;
      }

    }

    // Parent arrow indicator
    .collapse-arrow::after {
      position: absolute;
      top: 50%;
      right: 15px;
      font-family: FontAwesome;
      font-size: .75rem;
      color: $white;
      content: "\f0da";
      transform: translateY(-50%);
    }

    &.menuitem-group a:hover {
      cursor: text;
      background: none;
    }

    ul {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50px;
      z-index: -3;
      display: block;
      width: $sidebar-width;
      padding: 0;
      background-color: $atum-sidebar-child-bg;
      opacity: 0;
      transition: left .2s ease, opacity .2s ease;
      transition-delay: 0;

      ul {
        display: none;
        opacity: 1;
      }

      li {
        text-indent: 15px;
      }
    }
  }

  .close {
    padding: 2px 10px;
    font-size: 1.7rem;
    color: rgba($white, .8);
    text-indent: 0;
    text-shadow: none;

    &:hover {
      background-color: transparent;
    }
  }

  .open {

    > a + ul {
      left: 60px;
      z-index: 1080;
      opacity: 1;
    }
  }

  li li {
    line-height: 2.2rem;
    border: 0;
    box-shadow: none;

    a {
      padding: 7px 0;
      box-shadow: none;

      &:hover {
        background-color: $atum-template-color;
        box-shadow: inset 2px 0 2px rgba($black, .1);
      }
    }

    > span {
      color: rgba($white, .4);
    }

    &:last-of-type > a {
      border-bottom: 0;
    }
  }

  // Parent icons
  .fa {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 18px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }

  // 2nd level items
  .collapse-level-1 {

    &:not(.show) {
      display: block;
    }

    a::before {
      display: none;
    }

    .menuitem-group,
    > li:first-of-type {
      margin: 6px 0 0;
      color: rgba($white, .7);
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    li {
      position: relative;
      overflow:visible;

      &:hover ul {
        display: block !important;
      }
    }
  }

  // 3rd level items
  .collapse-level-2 {
    position: absolute;
    top: 0;
    bottom:auto;
    left: 100% !important;
    height: auto;
    padding: 2px 0;
    background-color: darken($atum-template-color, 6%);
    box-shadow: 0 0 8px rgba($black, .2);

    > li > a {
      color: $white;
      text-indent: 15px;
    }
  }

  .closed & {
    overflow-x: hidden;
  }
}


// Child open
.child-open > li.open {

  a::before {
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 0;
    width: 3px;
    content: "";
    background-color: $atum-sidebar-active;
  }
}

// Sidebar Closed
.closed {

  .child-open::after {
    display: none;
  }

  .sidebar-wrapper {
    width: $sidebar-width-closed;
    overflow: hidden;
  }

  .parent .collapse-arrow::after {
    visibility: hidden;
    transition-delay: 0s !important;
  }

  .menu-toggle-icon::before {
    content: "\f054";
  }
}

// Edit view
.layout-edit .sidebar-wrapper .no-dropdown:hover {
  color: $white;
  cursor: not-allowed;
  background: none;
}

.sidebar-item-title {
  visibility: visible !important;
  opacity: 1 !important;
}
