// Sidebar

.wrapper {
  padding-left: 250px;
  transition: all .3s ease;

  @include media-breakpoint-down(md) {
    padding-left: 0;
  }

}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  z-index: 10;
  width: 250px;
  height: 100%;
  margin-left: 0;
  background-color: $atum-template-color;
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
  transition: all .3s ease;

  .sidebar-brand {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

  }

  @include media-breakpoint-down(md) {
    margin-top: 3px;

    .main-nav {
      max-height: calc(100vh - 147px);
    }

  }

  .main-brand {
    margin-left: 5px;
    font-size: 30px;
    line-height: 96px;
    text-align: center;
    text-indent: 0;
    border: 0;
    box-shadow: none;

    a {
      display: block;
      margin-right: 5px;
      overflow: hidden;
      border: 0;
      box-shadow: none;

      &:hover {
        background: none;
      }

    }

    img {
      width: 190px;
    }

  }

}

.menu-toggle-icon {
  width: $header-height;
  font-size: 1.7rem;
}

// Sidebar navigation
.main-nav {
  position: relative;
  z-index: 1;
  width: 250px;
  height: calc(100vh - 96px);
  list-style: none;
  background-color: $atum-template-color;
  opacity: 1;

  // Animated child background
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    content: "";
    background-color: $atum-sidebar-child-bg;
    transition: all .3s ease;
  }

  // Parent items
  > li {
    background-color: $atum-template-color;
    border-bottom: 1px solid rgba(0,0,0,.15);

    &:first-of-type {
      border-top: 1px solid rgba(0,0,0,.15);
    }

  }

  li {
    max-height: 40px;
    line-height: 40px;

    a {
      position: relative;
      display: block;
      max-height: 40px;
      overflow: hidden;
      color: $white;
      text-decoration: none;
      cursor: pointer;
      opacity: 1;

      &:hover {
        color: $white;
        text-decoration: none;
        background-color: rgba(0,0,0,.2);
      }

      &:active,
      &:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: inset 0 0 0 1px #78aeda;
      }

    }

    &.menuitem-group a:hover {
      cursor: text;
      background: none;
    }

    ul {
      position: absolute;
      top: 0;
      left: 50px;
      z-index: -3;
      display: block;
      width: 200px;
      height: 100%;
      padding: 0;
      opacity: 0;
      transition: left .2s ease, opacity .2s ease;
      transition-delay: 0;

      ul {
        display: none;
        opacity: 1;
      }

      li {
        text-indent: 15px;
      }
    }

  }

  .close {
    padding: 2px 10px;
    font-size: 1.7rem;
    color: rgba(255, 255, 255, .8);
    text-indent: 0;
    text-shadow: none;

    &:hover {
      background-color: transparent;
    }
  }

  .open {

    > a + ul {
      left: 50px;
      z-index: 1;
      opacity: 1;
      transition-delay: .2s;
    }

  }

  li li {
    line-height: 2.2rem;
    border: 0;
    box-shadow: none;

    a {
      box-shadow: none;

      &:hover {
        background-color: $atum-template-color-light;
        box-shadow: inset 2px 0 2px rgba(0,0,0,.1);
      }

    }

    > span {
      color: rgba($white, .4);
    }

    &:last-of-type > a {
      border-bottom: 0;
    }

  }

  // Parent icons
  .fa {
    position: relative;
    top: -2px;
    display: inline-block;
    margin: 0 12px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }

  // 2nd level items
  .collapse-level-1 {
    a::before {
      display: none;
    }

    .menuitem-group,
    > li:first-of-type {
      margin: 6px 0 0;
      color: rgba($white, .7);
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    li {
      position: relative;

      &:hover ul {
        display: block !important;
      }
    }
  }

  // 3rd level items
  .collapse-level-2 {
    position: absolute;
    top: 0;
    left: 100% !important;
    height: auto;
    padding: 2px 0;
    background-color: darken($atum-template-color, 6%);
    border-radius: 0 $border-radius $border-radius 0;
    box-shadow: 0 0 8px rgba($black,.2);

    > li > a {
      color: $white;
      text-indent: 15px;

    }

  }

  // Parent arrow indicator
  .parent .collapse-arrow::after {
    position: absolute;
    top: 0;
    right: 15px;
    font-family: FontAwesome;
    font-size: .75rem;
    color: $white;
    visibility: visible;
    content: "\f0da";
    transition-delay: .25s;

  }

  .closed & {
    overflow-x: hidden;
  }

}


// Child open
.child-open {
  overflow: visible;

  &::after {
    width: 200px;
  }

  > li {
    &.parent > .collapse-arrow::after {
      visibility: hidden;
      opacity: 0;
      transition-delay: 0s;
    }

    &.open > a::before {
      position: absolute;
      top: 1px;
      bottom: 1px;
      left: 0;
      width: 3px;
      content: "";
      background-color: $atum-sidebar-active;
    }
  }

  .open > ul {
    display: block;
  }

}

// Sidebar Closed
.closed {

  @include media-breakpoint-up(lg) {
    padding-left: 50px;
  }

  .child-open::after {
    display: none;
  }

  .sidebar-wrapper {
    width: 50px;
    overflow: hidden;
  }

  .parent .collapse-arrow::after {
    visibility: hidden;
    transition-delay: 0s !important;
  }

  .menu-toggle-icon::before {
    content: "\f054";
  }

}

// Edit view
.layout-edit .sidebar-wrapper .no-dropdown:hover {
  color: $white;
  cursor: not-allowed;
  background: none;
}

.sidebar-item-title {
  visibility: visible !important;
  opacity: 1 !important;
}
