// Sidebar

.sidebar-nav {

  /* override bootstrap important  */
  background: var(--atum-sidebar-bg) !important;
  box-shadow: $atum-box-shadow;

  ul {
    padding-left: .5rem;
  }

  li {
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: $font-weight-bold;
    border-bottom: solid 1px var(--atum-bg-light);

    &.nav-header {
      padding: .5rem 0 .2rem;
      margin-bottom: .5rem;
      font-size: .9rem;
      color: var(--atum-text-dark);
      border: 0;

    }

    &.divider {
      margin: .3rem 0;
      border-bottom: 0;

    }

    a {
      color: var(--atum-text-dark);
      display:block;
      padding:  0.35rem 0.35rem 0.35rem 1.2rem;
      position: relative;
      overflow: hidden;
      font-weight: normal;

      &:before
      {
        position: absolute;
        left: 0;
        top: 0.75rem;
        border-right: 1px solid var(--atum-link-color);
        border-top: 1px solid var(--atum-link-color);
        content: "";
        display: inline-block;
        height: 0.6em;
        -moz-transform: rotate(45deg) skew(5deg, 5deg);
        -o-transform: rotate(45deg) skew(5deg, 5deg);
        -webkit-transform: rotate(45deg) skew(5deg, 5deg);
        transform: rotate(45deg) skew(5deg, 5deg);
        width: 0.6em;

      }


    }
  }
}
