// Sidebar

.wrapper {
  padding-left: 0;
  transition: all .5s ease;

  @include media-breakpoint-up(md) {
    padding-left: 55px;
  }
}
.wrapper.closed {
  padding-left: 0;

  @include media-breakpoint-up(md) {
    padding-left: 55px;
  }
}

.sidebar-wrapper {
  position: fixed;
  left: 0;
  z-index: 10;
  width: 250px;
  height: 100%;
  margin-left: 0;
  overflow: hidden;
  background-color: $atum-sidebar-bg;
  background-image: linear-gradient(to bottom, $atum-sidebar-bg 0%, $atum-template-color-light 100%);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5), inset -1px 0 0 rgba(0,0,0,.2);
  transition: all .4s ease;
  transition-delay: 0;
  transform: translateX(-250px);
  .sidebar-brand {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    &::after {
      position: absolute;
      bottom: -135px;
      left: -35px;
      font-family: FontAwesome;
      font-size: 24rem;
      color: $atum-sidebar-bg;
      content: "\f1aa";
      transform: rotate(-17deg);
    }
  }

  @include media-breakpoint-up(md) {
    left: 250px;
    width: 250px;
    margin-left: -250px;
    transform: translateX(0);
  }

  @include media-breakpoint-down(sm) {
    z-index: 1;
  }

  .main-brand {
    margin-left: 7px;
    font-size: 30px;
    line-height: 96px;
    text-align: center;
    text-indent: 0;
    border: 0;
    box-shadow: none;

    a {
      border: 0;
      box-shadow: none;

      &:hover {
        background: none;
      }
    }

    img {
      width: 200px;
  }
  }
}

.main-nav {
  width: 250px;
  height: 100%;
  max-height: calc(100vh - 96px);
  padding: 0;
  margin: 0;
  overflow-y: auto;
  list-style: none;
  opacity: 1;
  span {
    transition: all .2s ease;
    transition-delay: .2s;
  }
  &.second {
    margin-bottom: 0;
  }

  > li {
    &:first-of-type > a {
      border-top: 1px solid rgba(0,0,0,.3);
    }
    &:last-of-type > a {
      border-bottom: 1px solid rgba(255,255,255,.05);
    }
    >.no-dropdown {
      color: $white-offset;
    }
  }

  li {
    line-height: 40px;

    a {
      position: relative;
      display: block;
      color: $white-offset;
      text-decoration: none;
      cursor: pointer;
      box-shadow: inset 0 1px 0 rgba(255,255,255,.075), inset 0 -1px rgba(0,0,0,.3);

      &::before {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 0;
        width: 0;
        content: "";
        background-color: $atum-sidebar-hover;
      }

      &.active::before {
        position: absolute;
        top: 1px;
        bottom: 1px;
        left: 0;
        width: 3px;
        content: "";
        background-color: $atum-sidebar-active;
      }

      &:hover {
        color: $white-offset;
        text-decoration: none;
        background-color: rgba(0,0,0,.2);
        box-shadow: inset 0 -1px rgba(0,0,0,.2);
      }

      &:active,
      &:focus {
        text-decoration: none;
      }

    }
    a:not([href]):not([tabindex]) {
      color: $white-offset;
    }
    ul {
      display: none;
      li {
        text-indent: 20px;
      }
    }

    a:hover {
      &::before {
        width: 3px;
      }
    }
  }

  li li {
    a {
      border-bottom: 1px solid darken($atum-template-color, 3%);
      box-shadow: none;
      &:hover {
        background-color: rgba(0,0,0,.05);
        box-shadow: inset 0 1px rgba(0,0,0,.3), inset 0 -1px rgba(0,0,0,.3);
      }
    }
    &:last-of-type {
      > a {
        border-bottom: 0;
      }
    }
  }

  .fa {
    position: relative;
    top: -2px;
    margin: 0 15px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
  }

  .collapse-level-1 {
    background: $atum-level-1-bg;
  }

  .collapse-level-2 {
    background: $atum-level-2-bg;
    > li > a {
      text-indent: 30px;
    }
  }

  > .parent .collapse-arrow::after {
    position: absolute;
    top: 0;
    right: 15px;
    font-family: FontAwesome;
    font-size: .75rem;
    color: $white-offset;
    content: "\f0d7";
  }
  .open > .collapse-arrow::after {
    content: "\f0d8";
  }
}

.wrapper.closed .sidebar-wrapper {
  transition-delay: .2s;
  transform: translateX(0);
  @include media-breakpoint-up(md) {
    width: 55px;
    transform: translateX(0);
  }

  .main-nav {
    span {
      opacity: 0;
      transition-delay: 0;
    }
    .fa {
      opacity: 1;
    }
  }
}

// Edit view
.layout-edit .sidebar-wrapper .no-dropdown:hover {
  color: $white-offset;
  cursor: not-allowed;
  background: none;
}
