// Sidebar

@import "../variables";

.sidebar-nav {

  ul {
    padding-left: .5rem;
  }

  li {
    margin-bottom: .5rem;
    font-size: .9rem;
    font-weight: $font-weight-bold;

    &.nav-header {
      padding: .5rem 0 .2rem;
      margin-bottom: .2rem;
      font-size: .9rem;
      color: var(--atum-text-dark);
      border-bottom: 1px solid $gray-400;
    }

    &.divider {
      margin: .3rem 0;
    }

    a {
      color: var(--atum-link-color);
    }
  }
}
