// Sidebar

.sidebar-nav {

  ul {
    padding-left: .5rem;
  }

  li {
    font-size: .9rem;
    font-weight: bold;
    padding-bottom: 3px;

    &.nav-header {
      border-bottom: 1px solid $gray-400;
      color: $gray-700;
      font-size: .9rem;
      margin-bottom: .2rem;
      padding: .5rem 0 .2rem;
    }

    &.divider {
      margin: .3rem 0;
    }

    a {
      color: darken(theme-color('primary'), 12%);
    }
  }
}
