// Status

.status {
  padding: 2px 10px 4px;
  margin-left: 250px;
  color: #626262;
  background: #ebebeb;
  border-top: 1px solid #d4d4d4;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .8) inset;
  transition: all .5s ease;

  .btn-group {
    margin-top: 5px;

    .tag,
    [class*="fa-"] {
      margin-right: 5px;
    }
  }

  .btn-group::after {
    margin: 0 10px;
    content: "";
    border-left: 1px solid #999;
  }
  .btn-group.logout::after,
  .btn-group.details::after {
    margin: 0;
    content: "";
    border-left: 0;
  }

  p {
    margin: 0;
  }

  p,
  .btn-group,
  .btn-group > a {
    font-size: .9rem;
    color: #555;
  }
}
