#j-sidebar-container{
	margin-top:0.5rem;
	#j-toggle-sidebar-wrapper{
		.sidebar-nav{
			background-color:var(--white);
			padding:0.5rem;
		}
		.navbar-toggler{
			display:block;
			margin:auto;
		}
	}
	
}