// Switcher

.js-switcher {
  position: relative;
  box-sizing: content-box;
  display: inline-block;
  width: 50px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: #fff;
  background-clip: content-box;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 20px;
  box-shadow: 0 0 0 0 rgb(223, 223, 223) inset;
  transition: border .4s ease 0s, box-shadow .4s ease 0s;

  &.active {
    background-color: rgb(100, 189, 99);
    border-color: rgb(100, 189, 99);
    box-shadow: 0 0 0 16px rgb(100, 189, 99) inset;
    transition: border .4s ease 0s, box-shadow .4s ease 0s, background-color 1.2s ease 0s;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 30px;
    padding: 0;
    margin: 0;
    zoom: 1;
    filter: alpha(opacity = 0);
    opacity: 0;
  }

  .switch {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    transition: left .2s ease 0s;
  }

  input:checked~.switch {left: -1px;}
  input~:checked~.switch {left: 20px;}
  input:checked {z-index: 0;}
}
