// Tabs


//
// Base styles
//

joomla-tab {
	display: flex;
	flex-direction: column;
	&[orientation=horizontal]:not([view=accordion]) {
		margin-bottom: 5rem;
	}
	&[orientation=horizontal]:not([view=accordion]) > ul {
		width: calc(100% - #{$grid-gutter-width} - #{$grid-gutter-width-s} * 2);
		position: fixed;
		bottom: 0;
		z-index: 3;
	}
	> ul {
		display: flex;
		background-color: $white;
		border-color: color("border");
		border-image: none;
		border-radius: 0;
		border-style: solid solid none;
		border-width: 1px 1px 0;
		box-shadow: $atum-box-shadow;
		margin: 0;
		padding: 0;
		list-style: outside none none;
		overflow-x: auto;
		overflow-y: hidden;
		white-space: nowrap;
	}
	a[role=tab] {
		display: block;
		color: var(--atum-special-color);
		padding: 1.3rem 2rem;
		position: relative;
		box-shadow: none;
		border: 1px solid color("border");
		border-bottom: 0;
		text-decoration: none;
		&[active] {
			background-color: $white;
			background-image: none;
			border-left: 1px solid color("border");
			border-right: 1px solid color("border");
			border-radius: 0;
			box-shadow: none;
			font-weight: $font-weight-bold;
			&:after {
				background-color: var(--atum-bg-dark);
				top: -1px;
				content: "";
				height: 8px;
				left: 0;
				opacity: .8;
				position: absolute;
				right: 0;
			}
		}
	}

	> section {
		display: none;
		background-color: transparent;
		border: 0;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
		&[active] {
			display: block;
		}
	}

	&[orientation=vertical] {
		flex-direction: row;
		align-items: flex-start;
		width: 100%;
		> ul {
			flex-direction: column;
			flex: 0 0 25%;
			width: 100%;
			max-width: 25%;
			min-width: 25%;
			height: auto;
			border: 1px solid #ccc;
			border-radius: .25rem;
			box-shadow: none;
			overflow: hidden;
			padding: 0;
		}
		li:last-of-type a {
			border-bottom: 0;
		}
		a {
			display: block;
			color: #0d1321;
			padding: .75em 1em;
			position: relative;
			border-bottom: 1px solid #ddd;
			box-shadow: none;
			text-decoration: none;
			&[active] {
				background-color: #fff;
				background-image: none;
				box-shadow: none;
				&:after {
					left: -1px;
					width: 5px;
					height: auto;
					top: 0;
					bottom: 0;
				}
			}
		}
		> section {
			border: 0 none;
			box-shadow: none;
			padding: $grid-gutter-width-s 0 $grid-gutter-width-s $grid-gutter-width-s;
			width: 100%;
		}
	}
	joomla-tab[view=accordion] {
		> ul {
			flex-direction: column;
			border-radius: .25rem;
			white-space: normal;
			box-shadow: 0 1px #fff inset, 0 0 3px rgba(0, 0, 0, 0.04);
		}
		section {
			display: none;
			padding: 15px;
			&[active] {
				display: block;
				border-bottom: 1px solid #ddd;
			}
		}
		[active] {
			background-color: #fff;
		}
		a[role=tab] {
			border-bottom: 1px solid #ddd;
			&[active]:after {
				width: 5px;
				height: 100%;
				top: 0;
				left: 0;
			}
		}
	}
}
