// Toolbar

.subhead {
  $line-height: 2em;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: auto;
  min-height: 43px;
  padding: 11px 0 10px;
  color: #0c192e;
  background: #f5f5f5;
  border-bottom: 1px solid rgba(0, 0, 0, .17);

  .btn-toolbar {
    margin-bottom: 0;

    .btn-group {
      float: none;

      + .btn {
        margin-left: .5rem;
      }
    }

    .btn-group-sm > .btn,
    .btn-sm {
      padding: 0 .75rem;
      line-height: 24px;
    }
    .btn-sm {
      padding: 0 10px;
      line-height: $line-height;
      color: $body-color;
      background-color: $white;
      border-color: $btn-secondary-border;
      [class^="icon-"], [class*=" icon-"] {
        z-index: -1;
        display: inline-block;
        width: 28px;
        height: auto;
        margin: 0 6px 0 -10px;
        line-height: $line-height;
        color: inherit;
        background-color: $gray-lighter;
        border-right: 1px solid $btn-secondary-border;
        border-radius: 3px 0 0 3px;
      }
      &:hover {
        background-color: $gray-lighter;
        border-color: $btn-secondary-border;
      }
    }
    .btn-primary, .btn-outline-primary {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-primary;
      }
    }
    .btn-success, .btn-outline-success {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-success;
      }
    }
    .btn-info, .btn-outline-info {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-info;
      }
    }
    .btn-danger, .btn-outline-danger {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-danger;
      }
    }
    .btn-warning, .btn-outline-warning {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-warning;
      }
    }
    .btn-success:not(.dropdown-toggle) {
      width: 140px;
      color: $white;
      background-color: $brand-success;
      border-color: rgba(0, 0, 0, .2);
      [class^="icon-"], [class*=" icon-"] {
        width: 16px;
        margin-right: 0;
        margin-left: 0;
        color: $white;
        background-color: transparent;
        border-right: 0 none;
        border-left: 0 none;
      }
      &:hover {
        background-color: darken($brand-success, 10%);
      }
    }
    .btn-success.dropdown-toggle {
      background: #419641;
      border-color: #419641;
      &::after {
        color: $white;
      }
    }
    button:first-of-type:not(.float-sm-right) {
      margin-left: 0;
    }
  }
  &.subhead-fixed {
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 100;
  }
}
.closed .subhead-fixed {
  left: 55px;
}
.btn-toolbar {
  margin-bottom: 20px;
  margin-left: 0;
}
