joomla-toolbar-button {
  border: 0 solid var(--border);

  [class^='icon-'],
  [class*=' icon-'] {
    margin-right: .5rem;

    [dir=rtl] & {
      margin-right: 0;
      margin-left: .5em;
    }
  }
}

.toggle-toolbar {
  display: block;
}

.subhead {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: $zindex-toolbar;
  width: auto;
  min-height: 43px;
  padding: 15px 0;
  color: var(--atum-text-dark); //#0c192e;
  background: var(--toolbar-bg);
  box-shadow: -3px -2px 22px #ddd;

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .btn-toolbar {
    margin-bottom: 0;

    > joomla-toolbar-button,
    > .btn-group {
      margin-left: .75rem;

      [dir=rtl] & {
        margin-left: 0;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .btn {
    padding: $input-btn-padding-y-sm-submenu $input-btn-padding-x-sm-submenu;
    font-size: 1rem;
    line-height: $atum-toolbar-line-height;
    color: var(--atum-text-dark);
    background: $white;
    border-color: $gray-500;
    border-radius: $border-radius;
    box-shadow: 0 0 0 .1rem lighten(theme-color("atum-link-color"), 45%);
    box-shadow: none;


    [class^='icon-'],
    [class*=' icon-'],
    [class^='#{$fa-css-prefix}-'],
    [class*=' #{$fa-css-prefix}-'] {
      z-index: $zindex-negative;
      display: inline-block;
      width: 2.438rem;
      height: 100%;
      margin: $input-btn-padding-y-sm-submenu $input-btn-submenu-icon-distance $input-btn-padding-y-sm-submenu -#{$input-btn-padding-x-sm-submenu};
      line-height: $atum-toolbar-line-height;
      color: var(--atum-text-dark);

    }

    &.btn-success {

      background-color: $white;

      [class^='icon-'],
      [class*=' icon-'],
      [class^='#{$fa-css-prefix}-'],
      [class*=' #{$fa-css-prefix}-'],
      span {
        color: darken(theme-color("success"), 5%);
      }

      &:hover,
      &:active,
      &:focus {

        [class^='icon-'],
        [class*=' icon-'],
        [class^='#{$fa-css-prefix}-'],
        [class*=' #{$fa-css-prefix}-'],
        span {
          color: rgba(255, 255, 255, .90);
          background: darken(theme-color("success"), 10%);
        }

        color: rgba(255, 255, 255, .90);
        background-color: theme-color("success");
      }
    }

    &.btn-danger {

      background-color: $white;
      [class^='icon-'],
      [class*=' icon-'],
      [class^='#{$fa-css-prefix}-'],
      [class*=' #{$fa-css-prefix}-'],
      span {
        color: darken(theme-color("danger"), 5%);
      }

      &:hover,
      &:active,
      &:focus {

        [class^='icon-'],
        [class*=' icon-'],
        [class^='#{$fa-css-prefix}-'],
        [class*=' #{$fa-css-prefix}-'],
        span {
          color: rgba(255, 255, 255, .90);
          background-color: darken(theme-color("danger"), 10%);
        }

        color: rgba(255, 255, 255, .90);
        background-color: theme-color("danger");
      }
    }

    &.btn-primary {

      background-color: $white;
      border-radius: $border-radius;

      [class^='icon-'],
      [class*=' icon-'],
      [class^='#{$fa-css-prefix}-'],
      [class*=' #{$fa-css-prefix}-'],
      span {
        color: darken(theme-color("info"), 5%);
      }

      &:hover,
      &:active,
      &:focus {
        color: rgba(255, 255, 255, .90);
        background-color: theme-color("info");

        [class^='icon-'],
        [class*=' icon-'],
        [class^='#{$fa-css-prefix}-'],
        [class*=' #{$fa-css-prefix}-'],
        span {
          color: rgba(255, 255, 255, .90);
          background: darken(theme-color("info"), 10%);
        }
      }
    }

    &.btn-secondary {

      [class^='icon-download'] {
        color: rgba(255, 255, 255, .90);
        background-color: var(--atum-link-color);
      }

      &:hover,
      &:active,
      &:focus {
        [class^='icon-download'] {
          color: rgba(255, 255, 255, .90);
          background-color: var(--atum-link-color);
        }
      }
    }

    &.btn-info {

      background-color: $white;
      border-radius: $border-radius;

      [class^='icon-'],
      [class*=' icon-'],
      [class^='#{$fa-css-prefix}-'],
      [class*=' #{$fa-css-prefix}-'],
      span {
        color: darken(theme-color("info"), 5%);
      }

      &:hover,
      &:active,
      &:focus {
        color: rgba(255, 255, 255, .90);
        background-color: lighten(theme-color("info"), 10%);

        [class^='icon-'],
        [class*=' icon-'],
        [class^='#{$fa-css-prefix}-'],
        [class*=' #{$fa-css-prefix}-'],
        span {
          color: rgba(255, 255, 255, .90);
          background: lighten(theme-color("info"), 5%);
        }
      }
    }

    &.btn-action {

      background-color: $white;

      [class^='icon-'],
      [class*=' icon-'],
      [class^='#{$fa-css-prefix}-'],
      [class*=' #{$fa-css-prefix}-'],
      span {
        color: rgba(255, 255, 255, .90);
        background-color: var(--atum-bg-dark-70);
      }

      &:hover,
      &:active,
      &:focus {

        [class^='icon-'],
        [class*=' icon-'],
        [class^='#{$fa-css-prefix}-'],
        [class*=' #{$fa-css-prefix}-'],
        span {
          color: rgba(255, 255, 255, .90);
          background-color: var(--atum-bg-dark-80);
        }

        color: rgba(255, 255, 255, .90);
        background-color: var(--atum-bg-dark);
      }
    }

    &[disabled],
    &.dropdown-toggle[disabled] {
      background-color: rgba($gray-300, .8);
      border-color: rgba($gray-500, .8);

      [class^='icon-'],
      [class*=' icon-'],
      [class^='#{$fa-css-prefix}-'],
      [class*=' #{$fa-css-prefix}-'],
      span {
        color: var(--atum-text-dark);
        background-color: rgba($gray-500, .8);
         }

      &:hover,
      &:active,
      &:focus {

        [class^='icon-'],
        [class*=' icon-'],
        [class^='#{$fa-css-prefix}-'],
        [class*=' #{$fa-css-prefix}-'],
        span {
          color: var(--atum-text-dark);
          background-color: rgba($gray-500, .8);
        }

        color: var(--atum-text-dark);
        cursor: not-allowed;
        background-color: rgba($gray-300, .8);
      }

    }

    &.disabled,
    &:disabled {
      opacity: 1;
    }
  }

  .dropdown-item {

    &:hover:not(.disabled) {
      color: #212529;
      cursor: pointer;
    }
  }

  .dropdown-toggle {

    &.btn {
      color: var(--atum-text-dark);

      span {
        color: rgba(255, 255, 255, .90);
        background-color: var(--atum-bg-dark);
      }
    }

    &.btn-primary {
      span {
        color: rgba(255, 255, 255, .90);
        background-color: var(--atum-bg-dark);
      }
    }

    &.btn-success {
      padding: 0;
      background-color: $white;

      span {
        color: rgba(255, 255, 255, .90);
        background-color: theme-color("success");
      }

      &::after {
        width: 2.375rem;
        margin-top: -1px;
        font-family: "Font Awesome 5 Free";
        line-height: 2.5rem;
        color: rgba(255, 255, 255, .90);
        vertical-align: middle;
        content: "\f078";
        background-color: theme-color("success");
        border: 0;
        border-radius: 0 $border-radius $border-radius 0;
      }
    }

    &.btn-info {
      background-color: darken(theme-color("info"), 8%);
    }

    &.btn-danger {
      background-color: darken(theme-color("danger"), 8%);
    }

    &.btn-action {
      background-color: $white;

      [class^='icon-'],
      [class*=' icon-'],
      [class^='#{$fa-css-prefix}-'],
      [class*=' #{$fa-css-prefix}-'] {
        color: rgba(255, 255, 255, .90);
        background-color: var(--atum-bg-dark);
      }

      &:hover:not([disabled]) {
        background-color: var(--atum-bg-dark-80);
      }

      &::after {
        width: 2.375rem;
        height: 100%;
        margin: $input-btn-padding-y-sm-submenu -#{$input-btn-padding-x-sm-submenu} $input-btn-padding-y-sm-submenu $input-btn-submenu-icon-distance;
        font-family: "Font Awesome 5 Free";
        line-height: 2.375rem;
        vertical-align: 0;
        content: "\f078";
        border: 0;
      }
    }
  }
}

.btn-toolbar {

  > joomla-toolbar-button,
  > .btn-group {
    @include media-breakpoint-down(lg) {
      margin-right: .75rem;
      margin-bottom: .75rem;
      margin-left: 0 !important;

      @include media-breakpoint-down(sm) {
        [dir=rtl] & {
          margin-right: 0 !important;
          margin-left: .75rem !important;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      [dir=ltr] & {
        margin-right: 0 !important;
      }

      [dir=rtl] & {
        margin-left: 0 !important;
      }
    }
  }
}

.js-stools {
  @include media-breakpoint-down(lg) {
    justify-content: flex-start;

    .js-stools-container-bar {
      .btn-toolbar {
        justify-content: flex-start;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    display: block;

    .joomla-toolbar-button,
    .btn-group,
    .input-group,
    .ordering-select,
    .js-stools-field-list,
    .js-stools-container-selector {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }

    .ordering-select {
      margin-right: 0;

      @include media-breakpoint-down(sm) {
        [dir=rtl] & {
          margin-right: 0 !important;
        }
      }
    }

    .btn-group {
      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }

    .js-stools-container-bar {
      .js-stools-field-list {
        @include media-breakpoint-down(sm) {
          margin-bottom: .75rem;
        }
      }
    }

    .js-stools-btn-filter {
      @include media-breakpoint-down(sm) {
        width: 75%;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .toggler-toolbar {
    top: 20px;
    z-index: $zindex-alerts;

    [dir=ltr] & {
      right: 10px;
    }

    [dir=rtl] & {
      left: 10px;
    }

    .toggler-toolbar-icon::before {
      font: normal normal normal 30px/1 'Font Awesome 5 Free';
      color: var(--toggle-color);
      content: "\f00d";
    }

    &.collapsed .toggler-toolbar-icon::before {
      content: "\f085";
    }
  }

  .subhead {

    joomla-toolbar-button,
    .btn-group,
    .btn {
      width: 100%;
    }
    .dropdown-toggle-split {
      width: auto;
    }

    .btn {

      [class^='icon-'],
      [class*=' icon-'],
      [class^='fa-'],
      [class*=' fa-'] {
        float: left;

        [dir=rtl] & {
          float: right;
        }
      }
    }
  }
}

// In Microsoft Edge, sticky positioning doesn't work when combined with dir "rtl" attribute
@supports (-ms-ime-align: auto) {
  [dir=rtl] .subhead {
    position: relative;
  }
}
