// Toolbar

.subhead {
  $line-height: 2em;
  min-height: 43px;
  padding: 11px 0 10px;
  margin-bottom: 10px;
  color: #0c192e;
  background: #f5f5f5;
  border-bottom: 1px solid #e3e3e3;
  .btn-toolbar {
    margin-bottom: 0;
    .btn-group-sm > .btn,
    .btn-sm {
      padding: 0 .75rem;
      line-height: 24px;
    }
    .btn-sm {
      padding: 0 10px;
      line-height: $line-height;
      color: $body-color;
      background-color: #fff;
      border-color: $btn-secondary-border;
      [class^="icon-"], [class*=" icon-"] {
        z-index: -1;
        display: inline-block;
        width: 28px;
        height: auto;
        margin: 0 6px 0 -10px;
        line-height: $line-height;
        color: inherit;
        background-color: $gray-lighter;
        border-right: 1px solid $btn-secondary-border;
        border-radius: 3px 0 0 3px;
      }
      &:hover {
        background-color: $gray-lighter;
        border-color: $btn-secondary-border;
      }
    }
    .btn-primary, .btn-outline-primary {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-primary;
      }
    }
    .btn-success, .btn-outline-success {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-success;
      }
    }
    .btn-info, .btn-outline-info {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-info;
      }
    }
    .btn-danger, .btn-outline-danger {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-danger;
      }
    }
    .btn-warning, .btn-outline-warning {
      [class^="icon-"], [class*=" icon-"] {
        color: $brand-warning;
      }
    }
    .btn-success:not(.dropdown-toggle) {
      width: 140px;
      color: #fff;
      background-color: $brand-success;
      border-color: rgba(0, 0, 0, .2);
      [class^="icon-"], [class*=" icon-"] {
        width: 16px;
        margin-right: 0;
        margin-left: 0;
        color: #fff;
        background-color: transparent;
        border-right: 0 none;
        border-left: 0 none;
      }
      &:hover {
        background-color: darken($brand-success, 10%);
      }
    }
    .btn-success.dropdown-toggle {
      background: #419641;
      border-color: #419641;
      &::after {
        color: #fff;
      }
    }
  }
  &.subhead-fixed {
    position: fixed;
    top: 50px;
    z-index: 100;
    width: 100%;
  }
}
.subhead-collapse {
  margin-bottom: 11px;
}
.btn-toolbar {
  margin-bottom: 20px;
  margin-left: 0;
}
