.treeselect {
  display: block;
  list-style: none;
  padding-left: 0;

  .nav-header {
    color: $gray-900;
    font-weight: $font-weight-bold;
  }

  li {
    display: block;
    line-height: $treeselect-line-height;
    list-style: none;
    position: relative;

    &::before {
      background-color: rgba(0, 0, 0, .2);
      content: '';
      height: 1px;
      left: ($treeselect-indent - 15px);
      margin: auto;
      position: absolute;
      top: 14px;
      width: 10px;
    }

    &::after {
      background-color: rgba(0, 0, 0, .2);
      bottom: 0;
      content: '';
      height: 100%;
      left: ($treeselect-indent - 15px);
      position: absolute;
      top: 0;
      width: 1px;
    }

    &:last-child {

      &::after {
        height: 14px;
      }
    }

    li {
      padding-left: $treeselect-indent;
    }
  }

  > li::before, 
  > li::after {
    display: none;
  }

  .icon- {
    display: none;
  }

  .treeselect-toggle {
    display: inline-block;
    cursor: pointer;
    margin-right: .1rem;
    padding: 0;
    text-align: center;
  }

  .treeselect-menu {
    display: inline-block;
  }

  .treeselect-item {
    display: inline-block;

    input {
      margin-right: .2rem;
      position: relative;
      top: 1px;
    }

    label {
      margin-bottom: 0;
    }
  }

  .dropdown-toggle {
    margin-left: .5rem;
    padding: 0 .5rem .3rem;

    &::after {
      color: $gray-700;
      font-size: 1rem;
      margin-left: 0;
    }
  }
}

.treeselect-sub {
  padding-left: 0;
}

.tree-holder {

  ul ul {

    li::before,
    li::after {
      display: block;
      left: 8px;
    }

    li::before {
      top: 12px;
    }

    li:last-child::after {
      height: 12px;
    }
  }
  li {
    line-height: 1.8rem;

    li {
      padding-left: 20px;
    }
  }
}
