// Utilities

// Keep B/C
.element-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

.hidden {
  display: none;
  visibility: hidden;
}


// Column Count

[class^='column-'],
[class*=' column-'] {
  display: block !important; // This can be removed if grid forms removed globally
  column-gap: 2rem;
  padding-bottom: 1rem;

  > div {
    display: inline-block;
    break-inside: avoid;
    width: 100%;
  }
}

@include media-breakpoint-up(sm) {
  .column-count-sm-2 {
    column-count: 2;
  }

  .column-count-sm-3 {
    column-count: 3;
  }
}

@include media-breakpoint-up(md) {
  .column-count-md-2 {
    column-count: 2;
  }

  .column-count-md-3 {
    column-count: 3;
  }
}

@include media-breakpoint-up(lg) {
  .column-count-lg-2 {
    column-count: 2;
  }

  .column-count-lg-3 {
    column-count: 3;
  }
}
