// Utilities

// Keep B/C
.element-invisible {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hidden {
  display: none;
  visibility: hidden;
}
