<table class="adminform">
<thead>
<tr>
	<th colspan="2">
		<?php echo JText::_( 'Statictic Settings' ); ?>:
	</th>
</tr>
</thead>
<tbody>
<tr>
	<td widt="185">
	<span class="editlinktip">
		<?php
			$tip = JText::_( 'TIPENABLEDISABLESTATS' );
			echo mosToolTip( $tip, '', 280, 'tooltip.png', JText::_( 'Statistics' ), '', 0 );
		?>
		:				
		</span>
	</td>
	<td>
		<?php echo $lists['enable_stats']; ?>
	</td>
</tr>
<tr>
	<td>
		<?php echo JText::_( 'Log Content Hits by Date' ); ?>:
	</td>
	<td>
		<?php echo $lists['log_items']; ?>
		<span class="error">
		<?php
			$warn = JText::_( 'TIPLARGEAMOUNTSOFDATA', true );
			echo mosHTML::WarningIcon( $warn ); 
		?>
		</span>
	</td>
</tr>
<tr>
	<td>
		<?php echo JText::_( 'Log Search Strings' ); ?>:
	</td>
	<td>
		<?php echo $lists['log_searches']; ?>
	</td>
</tr>
</tbody>
</table>