<fieldset class="adminform">
	<legend><?php echo JText::_( 'SEO Settings' ); ?></legend>
	<table class="admintable" cellspacing="1">

		<tbody>
		<tr>
			<td width="185" class="key">
			<span class="editlinktip">
				<?php
					$tip = JText::_( 'Search Engine Optimization Settings' );
					echo mosToolTip( $tip, '', 280, 'tooltip.png', JText::_( 'Search Engine Friendly URLs' ), '', 0 );
				?>
				</span>
			</td>
			<td>
				<?php echo $lists['sef']; ?>
				<span class="error">
				<?php
					$tip = JText::_( 'WARNAPACHEONLY', true );
					echo mosHTML::WarningIcon( $tip );
				?>
				</span>
			</td>
		</tr>
		</tbody>
	</table>
</fieldset>
