<table class="adminform">
<thead>
<tr>
	<th colspan="2">
		<?php echo JText::_( 'Database Settings' ); ?>:
	</th>
</tr>
</thead>
<tbody>
<tr>
	<td width="185">
		<?php echo JText::_( 'Database type' ); ?>:
	</td>
	<td>
		<input class="text_area" type="text" name="dbtype" size="25" value="<?php echo $row->dbtype; ?>" />
	</td>
</tr>
<tr>
	<td width="185">
		<?php echo JText::_( 'Hostname' ); ?>:
	</td>
	<td>
		<input class="text_area" type="text" name="host" size="25" value="<?php echo $row->host; ?>" />
	</td>
</tr>
<tr>
	<td>
		<?php echo JText::_( 'Username' ); ?>:
	</td>
	<td>
		<input class="text_area" type="text" name="user" size="25" value="<?php echo $row->user; ?>" />
	</td>
</tr>
<tr>
	<td>
		<?php echo JText::_( 'Database' ); ?>:
	</td>
	<td>
		<input class="text_area" type="text" name="db" size="25" value="<?php echo $row->db; ?>" />
	</td>
</tr>
<tr>
	<td>
		<?php echo JText::_( 'Database Prefix' ); ?>:
	</td>
	<td>
		<input class="text_area" type="text" name="dbprefix" size="10" value="<?php echo $row->dbprefix; ?>" />
		&nbsp;
		<?php
			$warn = JText::_( 'WARNDONOTCHANGEDATABASETABLESPREFIX', true );
			echo mosHTML::WarningIcon( $warn );
		?>
	</td>
</tr>
</tbody>
</table>