<table class="adminform">
<thead>
<tr>
	<th colspan="2">
		<?php echo JText::_( 'Feed Settings' ); ?>:
	</th>
</tr>
</thead>
<tbody>
<tr>
	<td width="185">
		<?php echo JText::_( 'Output Format' ); ?>:
	</td>
	<td>
		<?php echo $lists['feed_format']; ?>
	</td>
</tr>
<tr>
	<td>
		<?php echo JText::_( 'Show the most recent' ); ?>:
	</td>
	<td>
		<?php echo $lists['feed_limit']; ?>
	</td>
</tr>
<tr>
	<td>
		<?php echo JText::_( 'For each article, show' ); ?>:
	</td>
	<td>
		<?php echo $lists['feed_excerpt']; ?>
	</td>
</tr>
</tbody>
</table>