<fieldset class="adminform">
	<legend><?php echo JText::_( 'Debug Settings' ); ?></legend>
	<table class="admintable" cellspacing="1">

		<tbody>
		<tr>
			<td width="185" class="key">
				<span class="editlinktip">
				<?php
					$tip = 'TIPDEBUGGINGINFO';
					echo mosToolTip( $tip, '', 280, 'tooltip.png', 'Enable Debugging', '', 0 );
				?>
				</span>
			</td>
			<td>
				<?php echo $lists['debug']; ?>
			</td>
		</tr>
		<tr>
			<td class="key">
				<?php echo JText::_( 'Debug Database' ); ?>
			</td>
			<td>
				<?php echo $lists['debug_db']; ?>
			</td>
		</tr>
		<tr>
			<td class="key">
				<span class="editlinktip">
				<?php
					$tip = 'TIPLOGGINGINFO';
					echo mosToolTip( $tip, '', 280, 'tooltip.png', 'Enable Logging', '', 0 );
				?>
				</span>
			</td>
			<td>
				<?php echo $lists['log']; ?>
			</td>
		</tr>
		<tr>
			<td class="key">
				<?php echo JText::_( 'Log Database' ); ?>
			</td>
			<td>
				<?php echo $lists['log_db']; ?>
			</td>
		</tr>
	</table>
</fieldset>
