<fieldset class="adminform">
	<legend><?php echo JText::_( 'Content Item Settings' ); ?></legend>
	<span class="note"><span class="editlinktip">
	<?php
		$tip = JText::_( 'TIPTOC' );
		echo mosToolTip( $tip, '', 280, 'tooltip.png', JText::_( 'Table of Contents on multi-page items' ), 'index2.php?option=com_plugins&client=site&task=editA&hidemainmenu=1&id=2' );
	?>
	</span></span>
	<table class="admintable" cellspacing="1">
		<tr>
			<td width="185" class="key">
				<?php echo JText::_( 'PDF Icon' ); ?>
			</td>
			<td>
				<?php echo $lists['hidePdf']; ?>
				<?php
					if (!is_writable( JPATH_SITE . '/media/' )) {
					   	$tip = JText::_( 'TIPOPTIONMEDIA' );
						echo mosToolTip( $tip );
					}
				?>
			</td>
		</tr>
		<tr>
			<td class="key">
				<?php echo JText::_( 'Print Icon' ); ?>
			</td>
			<td>
				<?php echo $lists['hidePrint']; ?>
			</td>
		</tr>
		<tr>
			<td class="key">
				<?php echo JText::_( 'Email Icon' ); ?>
			</td>
			<td>
				<?php echo $lists['hideEmail']; ?>
			</td>
		</tr>
		<tr>
			<td class="key">
				<span class="editlinktip">
				<?php
					$tip = JText::_( 'TIPPRINTPDFEMAIL' );
					echo mosToolTip( $tip, '', 280, 'tooltip.png', JText::_( 'Icons' ), '', 0 );
				?>
				</span>
			</td>
			<td>
				<?php echo $lists['icons']; ?>
			</td>
		</tr>
		<tr>
			<td class="key">
				<span class="editlinktip">
				<?php
					$tip = JText::_( 'TIPIFSETTOSHOWHITS' );
					echo mosToolTip( $tip, '', 280, 'tooltip.png', JText::_( 'Hits' ), '', 0 );
				?>
				</span>
			</td>
			<td>
				<?php echo $lists['hits']; ?>
			</td>
		</tr>
		</table>



	
</fieldset>
