<div class="submenu-box">
	<div class="submenu-pad">
		<ul id="submenu">
			<li class="item-smenu"><a id="site" class="active"><?php echo JText::_( 'Site' ); ?></a></li>
			<li class="item-smenu"><a id="user"><?php echo JText::_( 'Users' ); ?></a></li>
			<li class="item-smenu"><a id="content"><?php echo JText::_( 'Content' ); ?></a></li>
			<li class="item-smenu"><a id="server"><?php echo JText::_( 'Server' ); ?></a></li>
		</ul>
		<div class="clr"></div>
	</div>
</div>
<div class="clr"></div>
