<phpunit bootstrap="servers/configdef.php" colors="false">
	<testsuite name="Install">
		<file>suite/doInstall.php</file>
	</testsuite>
	<testsuite name="AllTests">
	 	<directory>suite/acl</directory>
		<directory>suite/articles</directory>
		<directory>suite/cache</directory>
		<directory>suite/com_users</directory>
		<directory>suite/control_panel</directory>
		<directory>suite/language</directory>
		<directory>suite/menus</directory>
		<directory>suite/modules</directory>
		<directory>suite/redirect</directory>
		<dirctory>suite/sample_data</dirctory>
		<directory>suite/security</directory> 	
	</testsuite>
	<logging>
		<log type="junit" target="suite/logs/junit.xml" logIncompleteSkipped="false" />
	</logging>
</phpunit>
