<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		>

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			filter="rules"
			validate="rules"
			component="com_config"
			section="component">
			<action
				name="core.admin"
				title="JAction_Admin"
				description="JAction_Manage_Component_Desc" />
			<action
				name="core.manage"
				title="JAction_Manage"
				description="JAction_Manage_Component_Desc" />
		</field>
	</fieldset>
</config>
