<?xml version="1.0" encoding="UTF-8"?>
<config>
	<help key="Post-installation_Messages:_Options"/>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			component="com_postinstall"
			section="component"
		/>
	</fieldset>
</config>
