// Global
$cassiopeia-container-main-bg:        hsl(0, 0%, 95%) !default;
$cassiopeia-border-color:             hsl(210, 14%, 89%) !default;
$cassiopeia-box-shadow:               0 0 3px hsla(0, 0%, 0%, .04) !default;
$cassiopeia-block-header-bg:          hsl(0, 0%, 96%) !default;
$cassiopeia-header-grad:              linear-gradient(135deg, var(--cassiopeia-color-primary) 0%, var(--cassiopeia-color-hover) 100%);

// Standard
$standard-color-primary:hsl(220, 67%, 20%);
$standard-color-link:hsl(220, 67%, 20%);
$standard-color-hover: hsl(242, 30%, 36%);

// Alternative
$alternative-color-primary: hsl(351, 54%, 37%);
$alternative-color-link: hsl(216, 21%, 51%);
$alternative-color-hover: hsl(351, 33%, 44%);

$white:                               hsl(0, 0%, 100%);
$gray-100:                            hsl(210, 17%, 98%);
$gray-200:                            hsl(210, 16%, 93%);
$gray-300:                            hsl(210, 14%, 89%);
$gray-400:                            hsl(210, 14%, 83%);
$gray-500:                            hsl(210, 11%, 71%);
$gray-600:                            hsl(210, 7%, 46%);
$gray-700:                            hsl(210, 9%, 31%);
$gray-800:                            hsl(210, 10%, 23%);
$gray-900:                            hsl(210, 11%, 15%);
$black:                               hsl(0, 0%, 0%);

$grays: (
  100: $gray-100,
  200: $gray-200,
  300: $gray-300,
  400: $gray-400,
  500: $gray-500,
  600: $gray-600,
  700: $gray-700,
  800: $gray-800,
  900: $gray-900
);

$blue:                                hsl(240, 98%, 17%);
$indigo:                              hsl(263, 90%, 51%);
$purple:                              hsl(261, 51%, 51%);
$pink:                                hsl(332, 79%, 58%);
$red:                                 hsl(2, 64%, 58%);
$orange:                              hsl(27, 98%, 54%);
$yellow:                              hsl(35, 84%, 62%);
$green:                               hsl(120, 32%, 39%);
$teal:                                hsl(194, 66%, 61%);
$cyan:                                hsl(188, 80%, 32%);

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: gray(600),
  gray-dark: gray(800)
);

$primary: var(--cassiopeia-color-primary);

$theme-colors: (
  primary: $blue,
  secondary: gray(600),
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: gray(100),
  dark: gray(800)
);

// Toolbar
$cassiopeia-toolbar-line-height:      1.8rem;

// Fonts
$cassiopeia-inverted-text-color:      var(--cassiopeia-color-hover);
$font-size-root:                      1em;
$h1-font-size:                        1.857rem;
$h2-font-size:                        1.571rem;
$h3-font-size:                        1.286rem;
$h4-font-size:                        1rem;
$h5-font-size:                        .9286rem;
$h6-font-size:                        .8571rem;
$font-size-sm:                        .8rem;
$fa-font-path:                        "../../../media/vendor/fontawesome-free/webfonts";

// Border Radius
$border-radius:                       .25rem !default;
$border-radius-lg:                    .3rem !default;
$border-radius-sm:                    .2rem !default;

// Tables
$table-bg:                            transparent !default;
$table-bg-accent:                     hsla(0, 0%, 0%, .3) !default;

// Tabs
$cassiopeia-tabs-header-bg:           $cassiopeia-block-header-bg;
$cassiopeia-tabs-active-bg:           hsla(0, 0%, 0%, .3);
$cassiopeia-tabs-active-highlight:    theme-color("primary");

// Cards
$cassiopeia-card-title-bg:            $cassiopeia-block-header-bg;
$cassiopeia-card-title-icon-bg:       $cassiopeia-block-header-bg;
$cassiopeia-card-title-icon-bg-hover: scale-color($cassiopeia-card-title-bg, $lightness: 2%);
$card-bg-color-light:                 gray(100);
$card-bg-color-dark:                  var(--cassiopeia-color-primary);
$card-border-color:                   $cassiopeia-border-color;

// Alerts
$state-success-text:                  color("white") !default;
$state-success-bg:                    theme-color("success") !default;
$state-success-border:                scale-color(theme-color("success"), $lightness: -5%) !default;

$state-info-text:                     color("white") !default;
$state-info-bg:                       theme-color("info") !default;
$state-info-border:                   scale-color(theme-color("info"), $lightness: -7%) !default;

$state-warning-text:                  color("white") !default;
$state-warning-bg:                    theme-color("warning") !default;
$state-warning-border:                scale-color(theme-color("warning"), $lightness: -5%) !default;

$state-danger-text:                   color("white") !default;
$state-danger-bg:                     theme-color("danger") !default;
$state-danger-border:                 scale-color(theme-color("danger"), $lightness: -5%) !default;

// Treeselect
$treeselect-line-height:              2.2rem;

// List
$list-group-bg:                       color("white");

// Custom form
$custom-select-bg:                    gray(200);

// Custom form
$custom-select-indicator-padding:     3rem;
$custom-select-bg-size:               116rem;
$custom-select-indicator:             url("../images/select-bg.svg");
$custom-select-indicator-rtl:         url("../images/select-bg-rtl.svg");
$custom-select-indicator-active:      url("../../../images/select-bg.svg");
$custom-select-indicator-active-rtl:  url("../../../images/select-bg-rtl.svg");
$custom-select-background:            $custom-select-indicator no-repeat right center / $custom-select-bg-size; // Used so we can have multiple background elements (e.g., arrow and feedback icon)
$custom-select-background-rtl:        $custom-select-indicator-rtl no-repeat left center / $custom-select-bg-size; // Used so we can have multiple background elements (e.g., arrow and feedback icon)
$custom-select-bg-size-sm:            75rem;
$custom-select-multiple-padding-y:    .3rem;

//input
$input-padding:                       .6rem 1rem;
$input-border:                        solid 1px gray(600);
$input-btn-padding-y:                 .6rem;
$input-btn-padding-x:                 1rem;
$input-max-width:                     100%;

// Modals
$modal-header-height:                 46px;

// Badges
$badge-default-bg:                    gray(600);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
// Bootstrap 4 is set in PX. Cassiopeia uses relative sizes

$grid-breakpoints: (
  xs: 0,
  sm: 36em,
  md: 48em,
  lg: 62em,
  xl: 75em
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 33.75em,
  md: 45em,
  lg: 60em,
  xl: 71.25em
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:                   1em !default;
$cassiopeia-grid-gutter:              $grid-gutter-width;

// Z-Index list
$zindex-negative:                     -1;
$zindex-actions:                      auto;
$zindex-toolbar:                      1000;
$zindex-sidebar:                      1010;
$zindex-header:                       1020;
$zindex-alerts:                       1030;
$zindex-modal-backdrop:               1040;
$zindex-modal:                        1050;
$zindex-popover:                      1060;
$zindex-tooltip:                      1070;
$zindex-mobile-bottom:                8000;
$zindex-mobile-toggle:                9999;
$zindex-mobile-menu:                  9000;

// MetisMenu
$metismenu:                           true !default;
