<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="permissions"
		label="JConfig_Permissions_Label"
		description="JConfig_Permissions_Desc"
		>

		<field
			name="rules"
			type="rules"
			label="JConfig_Permissions_Label"
			filter="rules"
			validate="rules"
			component="com_languages"
			section="component" 
		/>

		<field
			type="hidden"
			name="site"
		/>

		<field
			type="hidden"
			name="administrator"
		/>
	</fieldset>
</config>
