/* Animations */

// slide-fade
.slide-fade-enter-active {
  transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.slide-fade-leave-active {
  transition: all .2s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}