// Only temporary fixes until the atum team resolves the issues
.com_media {
  .container-main {
    min-height: calc(100vh - 182px);
    padding-top: 0;
    padding-bottom: 0;
  }

  #subhead {
    position: relative;
  }
  #content {
    margin-top: 0;
  }
}
