/* General layout */
.media-container {
}

.media-main {
	position: relative;
	height: calc(100vh - 220px);
	min-height: 400px;
	border: 1px solid rgba(0, 0, 0, 0.17);
    border-radius: 0.25rem;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.075);
}

.media-sidebar {
	height: calc(100vh - 220px);
	overflow-y: auto;
}