.media-infobar {
  background-color: #fafafa;
  top: 47px;
  right: 0;
  bottom: 0;
  z-index: 4;
  width: 25%;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  float: none;
  border-left: 1px solid #ccc;
  h2 {
    padding: 0 15px;
    margin: -15px -15px 15px;
    font-weight: normal;
    line-height: 3.6rem;
    background-color: rgba(0, 0, 0, .015);
    border-bottom: 1px solid #eee;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
  }
  dt, dd {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
  dt {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    font-weight: normal;
    color: rgba(0, 0, 0, .54);
  }
  dd {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
}

.infobar-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  font-size: 2.6rem;
  line-height: 3.6rem;
  color: #ccc;
  text-indent: 0;
  text-shadow: none;
  &:hover {
    color: #aaa;
    cursor: pointer;
  }
}

.placeholder-icon.fa {
  display: block;
  width: 4rem;
  height: 4rem;
  margin: 20px auto 15px;
  font-size: 2rem;
  line-height: calc(4rem - 4px);
  color: #ccc;
  border: 2px solid #ccc;
  border-radius: 50%;
}