.media-toolbar {
  position: relative;
  display: flex;
  padding: 0;
  background-color: $toolbar-bg;
  border-bottom: 1px solid $border-color;
  border-radius: $border-radius $border-radius 0 0;
}

.media-toolbar-icon {
  display: inline-block;
  width: $toolbar-icon-width;
  font-size: 1.3rem;
  line-height: $toolbar-height;
  color: #464a4c;
  text-align: center;
  border-left: 1px solid $border-color;
  box-shadow: 1px 0 #fefefe inset;
  &:hover {
    background-color: $toolbar-icon-bg-hover;
    box-shadow: none;
  }
}

.media-view-icons {
  display: flex;
}

.media-view-icons {
  .disabled {
    span {
      opacity: .3;
    }
    &:hover, span:hover {
      cursor: default;
    }
  }
}

.media-loader {
  position: absolute;
  right: 100%;
  bottom: 0;
  left: 0;
  z-index: 10;
  height: $toolbar-loader-height;
  background-image: $toolbar-loader-color;
  animation: 10s ease 0s normal none 1 running mediaLoader;
  animation-fill-mode: forwards;
}

@keyframes mediaLoader {
  from {
    right: 100%;
  }

  to {
    right: 0;
  }
}