.media-infobar {
  background-color: #fafafa;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  float: none;
  padding: 0;
  width: 300px;
  border-left: 1px solid #ccc;
  padding: 15px;
}
