/* Media browser */
.media-browser {
  position: relative;
  height: calc(100% - 52px);
  overflow-y: auto;
  width: 75%;
  transition: width .3s cubic-bezier(.4, .0, .2, 1);
}

// Grid View
.media-browser-grid {
  padding: $grid-outside-padding 0 $grid-outside-padding $grid-outside-padding;
}

.media-browser-items {
  display: flex;
  flex-wrap: wrap;
}

.media-browser-item {
  position: relative;
  margin-right: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .media-browser-items-xs & {
    width: calc(#{$grid-item-width-xs} - #{$grid-gutter-width});
  }
  .media-browser-items-sm & {
    width: calc(#{$grid-item-width-sm} - #{$grid-gutter-width});
  }
  .media-browser-items-md & {
    width: calc(#{$grid-item-width-md} - #{$grid-gutter-width});
  }
  .media-browser-items-lg & {
    width: calc(#{$grid-item-width-lg} - #{$grid-gutter-width});
  }
  .media-browser-items-xl & {
    width: calc(#{$grid-item-width-xl} - #{$grid-gutter-width});
  }
}

.media-browser-item-preview {
  position: relative;
  font-size: 60px;
  color: #007eb7;
  border-radius: $grid-item-border-radius;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background-color: $grid-item-hover-color;
    border-radius: $grid-item-border-radius;
    opacity: 0;
    transition: opacity .2s cubic-bezier(.4, .0, .2, 1);
    .media-browser-item:hover &, .selected & {
      opacity: 1;
    }
  }
}

.media-browser-item-info {
  padding: 0 2px;
  font-size: .9rem;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.media-browser-select {
  position: absolute;
  top: 6px;
  left: 6px;
  width: calc(#{$grid-item-icon-size} * 1.54);
  height: calc(#{$grid-item-icon-size} * 1.54);
  content: "";
  background-color: $grid-item-icon-bg-color;
  border: 2px solid $grid-item-icon-bg-color-hover;
  border-radius: $grid-item-border-radius;
  box-shadow: inset 0 0 0 0 $grid-item-icon-color;
  opacity: 0;
  transition: all .3s cubic-bezier(.4, .0, .2, 1);
  .media-browser-item:hover & {
    opacity: 1;
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(#{$grid-item-icon-size} * 1.3);
    content: "\f00c";
    font-family: FontAwesome;
    font-size: $grid-item-icon-size;
    height: calc(#{$grid-item-icon-size} * 1.3);
    line-height: calc(#{$grid-item-icon-size} * 1.3);
    text-align: center;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(.4, .0, .2, 1);
    .selected & {
      transform: scale(1);
      opacity: 1;
    }
  }
  .selected & {
    color: $grid-item-icon-color-hover;
    background-color: $grid-item-icon-bg-color-hover;
    box-shadow: inset 0 0 0 15px $grid-item-icon-bg-color-hover;
    opacity: 1;
  }
}

.media-browser-actions {
  position: absolute;
  right: 0;
  top: 4px;
  padding: 2px;
  overflow: hidden;
  > a {
    opacity: 0;
    .media-browser-item:hover & {
      opacity: 1;
    }
  }
  &.active {
    > a {
      display: none;
    }
  }
}

.media-browser-actions-list {
  display: flex;
  flex-direction: column;
  a {
    position: relative;
    top: 0;
    margin-bottom: 3px;
    opacity: 0;
    transition: all 0s ease;
    transition-delay: 0s;
    visibility: hidden;
    .media-browser-actions.active & {
      top: 0;
      opacity: 1;
      visibility: visible;
      transition-duration: .2s;
      &:first-of-type {
        transition-delay: .1s;
      }
      &:nth-of-type(2) {
        transition-delay: .15s;
      }
      &:nth-of-type(3) {
        transition-delay: .2s;
      }
      &:nth-of-type(4) {
        transition-delay: .25s;
      }
    }
  }
}

.image-browser-action {
  width: calc(#{$grid-item-icon-size} * 1.55);
  height: calc(#{$grid-item-icon-size} * 1.55);
  margin-right: 4px;
  margin-left: 4px;
  color: $grid-item-icon-color;
  text-align: center;
  cursor: pointer;
  background-color: $grid-item-icon-bg-color;
  border-radius: $grid-item-border-radius;
  .action-delete & {
    background-color: $grid-item-icon-warning-icon-bg;
  }
  &::before {
    font-size: $grid-item-icon-size;
    line-height: calc(#{$grid-item-icon-size} * 1.55);
  }
  &:hover {
    color: $grid-item-icon-color-hover;
    background-color: $grid-item-icon-bg-color-hover;
  }
}

.image-brackground {
  background-color: white;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.image-cropped {
  padding-bottom: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: $grid-item-border-radius;
}

.file-background, .folder-background {
  padding-bottom: 100%;
  background-color: $grid-item-no-preview-bg;
  border-radius: $grid-item-border-radius;
}

.file-icon, .folder-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bbb;
}

.media-dragoutline {
  position: absolute;
  top: 6px;
  right: 6px;
  bottom: 1px;
  left: 6px;
  z-index: 1040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  content: "";
  background-color: $dnd-bg;
  border: $dnd-border;
  border-radius: $border-radius;
  opacity: 0;
  transition: all .2s ease;
  transition-delay: .2s;
  transform: scale(.6);
  .upload-icon {
    font-size: 8rem;
    color: $dnd-icon-color;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: .1s;
    transform: translateY(50%);
  }
  p {
    font-size: 1.4rem;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: 0s;
  }
  &.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
    transform: scale(1);
    .upload-icon {
      opacity: 1;
      transform: translateY(0);
    }
    p {
      opacity: 1;
      transition-delay: .2s;
    }
  }
}

@media only screen and (max-width: 1420px) {
  .media-browser-item {
    width: calc(20% - 20px);
  }
  .media-browser-item-preview {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1180px) {
  .media-browser-item {
    width: calc(25% - 20px);
  }
  .media-browser-actions a {
    top: 0;
    opacity: 1;
  }
}

@media only screen and (max-width: 960px) {
  .media-browser-item {
    width: calc(33.33% - 20px);
  }
  .media-browser-item-preview {
    font-size: 40px;
  }
}

@media only screen and (max-width: 720px) {
  .media-browser-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 440px) {
  .media-browser-item {
    width: calc(100% - 20px);
  }
}

// Table View
.media-browser-table-head {
  font-size: .8rem;
  font-weight: bold;
  .type {
    margin-left: 1px;
    &::before {
      display: none;
    }
  }
}

.media-browser-table {
  height: calc(100% - 52px);
  overflow-y: auto;
  font-size: .9rem;
  line-height: $table-item-height;
  transition: width .3s cubic-bezier(.4, .0, .2, 1);
  .media-browser-item {
    width: 100%;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .03);
    &:hover {
      background-color: $table-item-bg-hover;
    }
  }
  ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .name {
    width: calc(30% - 40px);
  }
  .size {
    width: 15%;
  }
  .dimension {
    width: 15%;
  }
  .created {
    width: 20%;
  }
  .modified {
    width: 20%;
  }
  .type {
    position: relative;
    z-index: 0;
    width: calc(#{$table-item-height} + 4px);
    padding: 0;
    font-size: $table-item-icon-size;
    line-height: $table-item-height;
    text-align: center;
    background-color: $table-item-icon-bg;
    border-right: 1px solid rgba(0, 0, 0, .03);
    &::before, &::after {
      transition: all .2s cubic-bezier(.4, .0, .2, 1);
    }
    &::before {
      font-family: FontAwesome;
      color: $table-item-icon-color;
      .selected & {
        color: $table-item-icon-color-selected;
      }
    }
    &::after {
      position: absolute;
      top: -1px;
      right: 100%;
      bottom: -1px;
      left: 0;
      z-index: -1;
      content: "";
      background-color: $table-item-icon-bg-selected;
    }
    span {
      visibility: hidden;
    }
  }
}

.selected {
  .type {
    &::before {
      color: #fff;
    }
    &::after {
      right: 0;
    }
  }
}

.type {
  &[data-type] {
    &::before {
      content: $icon-type-default;
    }
  }
  // Folder
  &[data-type=""] {
    &::before {
      content: $icon-type-folder;
    }
  }
  // Images
  &[data-type="jpg"],
  &[data-type="png"],
  &[data-type="gif"],
  &[data-type="jpeg"],
  &[data-type="tiff"],
  &[data-type="bmp"],
  &[data-type="svg"] {
    &::before {
      content: $icon-type-images;
    }
  }
  // Video
  &[data-type="mov"],
  &[data-type="mkv"],
  &[data-type="mp4"],
  &[data-type="mpg"],
  &[data-type="mpeg"] {
    &::before {
      content: $icon-type-video;
    }
  }
  // Audio
  &[data-type="mp3"],
  &[data-type="wav"],
  &[data-type="raw"],
  &[data-type="wma"] {
    &::before {
      content: $icon-type-audio;
    }
  }
  // Docs
  &[data-type="doc"],
  &[data-type="xls"],
  &[data-type="pdf"],
  &[data-type="txt"] {
    &::before {
      content: $icon-type-docs;
    }
  }
  // Code
  &[data-type="html"],
  &[data-type="htm"] {
    &::before {
      content: $icon-type-code;
    }
  }
}
