/* Media browser */
.media-browser {
  height: calc(100% - 52px);
  overflow-y: auto;
  padding: 15px 0 15px 15px;
  width: 75%;
}

.media-browser-items {
  display: flex;
  flex-wrap: wrap;
}

.media-browser-item {
  position: relative;
  margin-bottom: 15px;
  margin-right: 15px;
  width: calc(16.66% - 15px);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.media-browser-item-preview {
  position: relative;
  font-size: 60px;
  color: #007eb7;
}

.media-browser-item-info {
  padding: 0 5px;
  font-size: .9rem;
  font-weight: bold;
  line-height: 34px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.selected {
  .media-browser-item-info {
    background: #007eb7;
    color: #fff;
  }
}

.image-brackground {
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-color: white;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);
}

.image-cropped {
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.file-background, .folder-background {
  padding-bottom: 100%;
  background-color: #F5F5F5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.file-icon, .folder-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #BBB;
}

@media only screen and (max-width: 1140px) {
  .media-browser-item {
    width: calc(20% - 15px);
  }
  .media-browser-item-preview {
    font-size: 50px;
  }
}

@media only screen and (max-width: 960px) {
  .media-browser-item {
    width: calc(25% - 15px);
  }
}

@media only screen and (max-width: 720px) {
  .media-browser-item {
    width: calc(33.33% - 15px);
  }
  .media-browser-item-preview {
    font-size: 40px;
  }
}

@media only screen and (max-width: 540px) {
  .media-browser-item {
    width: calc(50% - 15px);
  }
}