/* Media Tree */

ul.media-tree {
  padding: 0 0 5px;
  margin: 0;
  overflow-x: visible;
  list-style: none;
  ul {
    margin-left: 2px;
  }
  &:empty {
    display: none;
  }
}

.media-sidebar > ul > li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
  &:before, &:after {
    display: none;
  }
  &:first-of-type {
    border-top: 1px solid rgba(0, 0, 0, 0.14);
  }
}

.media-disk {
  margin-bottom: 10px;
}

.media-drive {
  overflow-x: auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .14);
  + .media-drive {
    border-top: 0;
  }
  > ul > li {
    padding-left: 25px;
  }
}

.media-drive-name {
  padding: 4px 10px;
  &::before {
    margin-right: 6px;
    font-family: FontAwesome;
    content: "\f114";
    opacity: .75;
  }
  &:hover {
    cursor: pointer;
  }
}

.media-disk-name {
  padding: 4px 1px;
  font-size: .8em;
  color: #aaa;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:empty {
    display: none;
  }
}

.media-tree-item {
  position: relative;
  display: block;
  &::before {
    content: '';
    height: 1px;
    width: 10px;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 16px;
    left: 15px;
    margin: auto;
  }
  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    width: 1px;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, .2);
  }
  &:last-child {
    &::after {
      height: 16px;
    }
  }
  li {
    padding-left: 25px;
  }
}

.media-tree-item a {
  display: block;
  padding: 0 7px;
  cursor: pointer;
  line-height: 26px;
  text-decoration: none;
  white-space: nowrap;
}

.media-tree-item.active > a {
  background-color: transparent;
  border-color: #007eb7;
  &:hover {
    text-decoration: none;
    background-color: #e1e1e1;
  }
}

.media-tree-item .item-icon {
  display: inline-block;
  padding-right: 2px;
  font-size: 15px;
  line-height: normal;
  color: #646464;
  vertical-align: middle;
  opacity: .75;
}

.media-tree-item.active > a .item-icon {
  color: #007eb7;
}

.item-name {
  display: inline-block;
  overflow: hidden;
  font-size: .9em;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

.media-tree-item.active > a .item-name {
  font-weight: bold;
}
