/* Media browser */
.media-browser {
  position: relative;
  height: calc(100% - 52px);
  overflow-y: auto;
  padding: 15px 0 15px 15px;
  width: 75%;
}

.media-browser-items {
  display: flex;
  flex-wrap: wrap;
}

.media-browser-item {
  position: relative;
  margin-bottom: 20px;
  margin-right: 20px;
  width: calc(16.66% - 20px);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.media-browser-item-preview {
  position: relative;
  font-size: 60px;
  color: #007eb7;
  border-radius: .25rem;
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(0,0,0,.5);
    border-radius: .25rem;
    opacity: 0;
    transition: opacity .2s cubic-bezier(0.4, 0.0, 0.2, 1);
    .media-browser-item:hover &, .selected & {
      opacity: 1;
    }
  }
}

.media-browser-item-info {
  padding: 0 2px;
  font-size: .9rem;
  line-height: 28px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.media-browser-select {
  position: absolute;
  top: 6px;
  left: 6px;
  height: 2rem;
  width: 2rem;
  border-radius: .25rem;
  background-color: rgba(0,0,0,.5);
  border: 2px solid white;
  box-shadow: inset 0 0 0 0 white;
  content: "";
  transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
  opacity: 0;
  .media-browser-item:hover & {
    opacity: 1;
  }
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f00c";
    font-family: FontAwesome;
    font-size: 1.3rem;
    height: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    width: 1.7rem;
    transform: scale(.5);
    opacity: 0;
    transition: all .3s cubic-bezier(0.4, 0.0, 0.2, 1);
    .selected & {
      transform: scale(1);
      opacity: 1;
    }
  }
  .selected & {
    box-shadow: inset 0 0 0 15px white;
    background-color: rgba(255,255,255,1);
    opacity: 1;
  }
}

.media-browser-actions {
  position: absolute;
  right: 0;
  bottom: 32px;
  padding: 2px;
  overflow: hidden;
  a {
    position: relative;
    top: 20px;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: 0s;
    .media-browser-item:hover & {
      top: 0;
      opacity: 1;
      &:first-of-type {
        transition-delay: .1s;
      }
      &:nth-of-type(2) {
        transition-delay: .15s;
      }
      &:nth-of-type(3) {
        transition-delay: .2s;
      }
    }
  }
}

.image-browser-action {
  height: $image-edit-icon-size;
  width: $image-edit-icon-size;
  margin-right: 5px;
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,.5);
  border-radius: .25rem;
  cursor: pointer;
  &::before {
    font-size: 1.3rem;
    line-height: $image-edit-icon-size;
  }
  &:hover {
    background-color: white;
    color: #464a4c;
  }
}

.image-brackground {
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-color: white;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);
}

.image-cropped {
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: .25rem;
}

.file-background, .folder-background {
  padding-bottom: 100%;
  background-color: #F5F5F5;
  border-radius: .25rem;
}

.file-icon, .folder-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #BBB;
}

.media-dragoutline {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 1px;
  z-index: 1040;
  content: "";
  background-color: rgba(245,245,245,.8);
  border: 3px dashed #999;
  border-radius: 4px;
  transition: all .2s ease;
  transform: scale(0.6);
  transition-delay: .2s;
  opacity: 0;
  .upload-icon {
    font-size: 8rem;
    color: #1C3D5C;
    opacity: 0;
    transition: all .2s ease;
    transform: translateY(50%);
    transition-delay: .1s;
  }
  p {
    font-size: 1.4rem;
    opacity: 0;
    transition: all .2s ease;
    transition-delay: 0s;
  }
  &.active {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition-delay: 0s;
    .upload-icon {
      opacity: 1;
      transform: translateY(0);
    }
    p {
      transition-delay: .2s;
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1420px) {
  .media-browser-item {
    width: calc(20% - 20px);
  }
  .media-browser-item-preview {
    font-size: 50px;
  }
}

@media only screen and (max-width: 1180px) {
  .media-browser-item {
    width: calc(25% - 20px);
  }
  .media-browser-actions a {
    top: 0;
    opacity: 1;
  }
}

@media only screen and (max-width: 960px) {
  .media-browser-item {
    width: calc(33.33% - 20px);
  }
  .media-browser-item-preview {
    font-size: 40px;
  }
}

@media only screen and (max-width: 720px) {
  .media-browser-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 440px) {
  .media-browser-item {
    width: calc(100% - 20px);
  }
}