/* Media browser */
.media-browser {
  padding: 15px;
}

.media-browser-items {
  display: flex;
  flex-wrap: wrap;
}

.media-browser-item {
  position: relative;
  margin-bottom: 15px;
  margin-right: 15px;
  width: calc(25% - 15px);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.media-browser-item-preview {
  position: relative;
  border-radius: 1px;
  width: 100%;
  height: 100px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: #007eb7;
}

.media-browser-item-info {
  padding: 8px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

.selected {
  .media-browser-item-info {
    background: #007eb7;
    color: #fff;
  }
}

.image-brackground {
  width: 100%;
  height: 100%;
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-color: white;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%);
}

.image-cropped {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-position: center;
  background-size: cover;
}