.media-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  display: table;
  width: 100%;
  height: 100%;
  background-color: $modal-backdrop-color;

  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: .5s ease 0s normal none 1 running fadeIn;
  }

  .modal-header {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: flex-start;
    padding: 15px;
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .modal-title {
    line-height: 2.5rem;
    color: #fff;
  }

  .modal-body {
    width: auto;
    padding: 15px;
  }

  .modal-content {
    margin-top: 2.5rem;
    box-shadow: $modal-box-shadow;
  }

}

.media-preview-modal {

  .modal-dialog {
    max-width: 70vw;
    max-height: 70vh;
  }
  .modal-content {
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }

  .modal-body {
    padding: 0;
    background-color: #fff;
    box-shadow: $modal-box-shadow;
    img {
      max-width: 100%;
    }
  }
  .modal-footer {
    display: none;
  }
}

.media-preview-close {
  width: 2.5rem;
  padding-right: 2px;
  margin-right: 10px;
  font-size: 1.4rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: $border-radius;
  i {
    color: #fff;
  }
  &:hover {
    cursor: pointer;
    background-color: rgba(255,255,255,.3);
  }
}

.media-backdrop-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transition: transform .3s ease-out;
    transform: translate(0, -25%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
