#media-form {
  .form-control {
    max-width: 100%;
  }
  .control-group {
    display: flex;
    flex-direction: column;
    .control-label {
      width: 100%;
    }
    .controls {
      margin-left: 0;
    }
  }
  .input-group-addon {
    font-size: .9rem;
  }
  .spacer hr {
    width: 100%;
  }
  .custom-select {
    min-width: 100%;
  }
}

.media-manager-edit {
  > div {
    padding: 0 $gutter-width;
  }
  h3 {
    padding: 3px;
    text-align: center;
    opacity: .6;
  }
}

.btn-group.btn-group-ratio {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  .btn {
    width: 100%;
    font-size: .9rem;
    background-color: #fff;
    border-color: rgba(0, 0, 0, .14);
    &:hover, &.active, &:focus {
      color: inherit;
      background-color: #e9ecef;
      box-shadow: none;
    }
  }
}

.tab-pane {
  background-color: #fafafa;
  border-left: 1px solid #f0f0f0;
}
