.media-breadcrumb {
  display: inline-block;
  padding: 0;
  max-width: 100vw;
  margin: 0 auto 0 0;
  font-size: .9rem;
  background: transparent;
  border-left: 1px solid $border-color;
  @media (min-width: 576px) {
    line-height: $toolbar-height;
  }
  ol {
    //display: flex;
    padding: 4px 0;
    margin: 0;
    list-style: outside none none;

    > li > a {
      cursor: pointer;
    }
  }
}

.media-breadcrumb-item {
  padding: 0 4px;
  background-color: $breadcrumbs-bg;
  &:first-of-type {
    padding-left: 16px;
  }
  &:last-of-type {
    background-color: $breadcrumbs-current-bg;
    &::after {
      border-left-color: $breadcrumbs-current-bg;
    }
  }
  &:hover {
    color: $highlight-color;
  }
}

.media-breadcrumb-item {
  position: relative;

  &::before {
    border-left-color: $border-color;
  }
  &::after {
    border-left-color: $breadcrumbs-bg;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

// RTL override

html[dir=rtl] .media-breadcrumb {
  margin: 0 0 0 auto;
}

html[dir=rtl] .media-breadcrumb-item::after, .media-breadcrumb-item::before {
  right: 100%;
}

html[dir=rtl] .media-breadcrumb-item {
  padding: 0 8px;
}

html[dir=rtl] .media-breadcrumb-item::before {
  border-right-color: #fafafa;
}

html[dir=rtl] .media-breadcrumb-item:first-of-type {
  padding-right: 16px;
  padding-left: 0;
}

html[dir=rtl] .media-breadcrumb-item:last-of-type::after {
  border-right: 10px solid #fff;
}
