#finder-filter-window {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  overflow: auto;
}

ul#finder-filter-select-dates {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul#finder-filter-select-dates li.filter-date {
  width: 49%;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  background: none;
}

ul#finder-filter-select-dates li.filter-date select.filter-date-operator {
  margin-inline-end: 10px;
}
