/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v18-latin-regular.woff2') format('woff2'),
  url('../fonts/roboto/roboto-v18-latin-regular.woff') format('woff'),
  url('../fonts/roboto/roboto-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v18-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/roboto/roboto-v18-latin-italic.woff2') format('woff2'),
  url('../fonts/roboto/roboto-v18-latin-italic.woff') format('woff'),
  url('../fonts/roboto/roboto-v18-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v18-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v18-latin-700.woff2') format('woff2'),
  url('../fonts/roboto/roboto-v18-latin-700.woff') format('woff'),
  url('../fonts/roboto/roboto-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v18-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/roboto/roboto-v18-latin-700italic.woff2') format('woff2'),
  url('../fonts/roboto/roboto-v18-latin-700italic.woff') format('woff'),
  url('../fonts/roboto/roboto-v18-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/roboto/roboto-v18-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
