.switcher {
  position: relative;
  width: 18rem;
  height: 28px;
  margin: 0; }

.switcher input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 62px;
  height: 28px;
  margin: 0;
  cursor: pointer;
  opacity: 0; }
  [dir=rtl] .switcher input {
    right: 0;
    left: auto; }

.switcher input:checked {
  z-index: 1; }

.switcher input:checked + label {
  opacity: 1; }

.switcher input:not(:checked) + label {
  opacity: 0; }

.switcher input:focus ~ .toggle-outside {
  border-color: var(--focus);
  box-shadow: 0 0 0 0.2rem rgba(26, 70, 107, 0.25); }

.switcher label {
  position: absolute;
  left: 0;
  display: inline-block;
  width: auto;
  min-width: 6rem;
  height: 100%;
  margin-bottom: 0;
  margin-left: 70px;
  line-height: 28px;
  text-align: left;
  transition: opacity .25s ease; }
  [dir=rtl] .switcher label {
    right: 0;
    left: auto;
    margin-right: 70px;
    margin-left: 0;
    text-align: right; }

.switcher .toggle-outside {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 58px;
  height: 100%;
  overflow: hidden;
  background: #d3d3d3;
  border: 1px solid rgba(0, 0, 0, 0.18);
  transition: .2s ease all; }
  [dir=rtl] .switcher .toggle-outside {
    right: 0;
    left: auto; }

.switcher input ~ input:checked ~ .toggle-outside {
  background: #2f7d32; }

.switcher .toggle-inside {
  position: absolute;
  left: 0;
  width: 28px;
  height: 28px;
  background: #fff;
  transition: .4s ease all; }

.switcher input ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 30px; }

.switcher__legend {
  padding: 5px 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400; }
