/* not ready */

/* -- form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }

/* -- buttons */
#editor-xtd-buttons {
        padding: 0px;
}

.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
        float: left;
}

.button2-left a,
.button2-right a,
.button2-left span,
.button2-right span {
        display: block;

        float: left;


        color: #666;
        cursor: pointer;
}

.button2-left span,
.button2-right span {
        cursor: default;
        color: #999;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
        padding: 0 6px;
}

.page span {
        color: #000;
        font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover {
        text-decoration: none;
        color: #0B55C4;
}

.button2-left a,
.button2-left span {
        padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span {
        padding: 0 6px 0 24px;
}

.button2-left {
        background: url(../images_general/j_button2_left.png) no-repeat;
        float: left;
        margin-left: 5px;
}

.button2-right {
        background: url(../images_general/j_button2_right.png) 100% 0 no-repeat;
        float: left;
        margin-left: 5px;
}

.button2-left .image {
        background: url(../images_general/j_button2_image.png) 100% 0 no-repeat;
}

.button2-left .readmore {
        background: url(../images_general/j_button2_readmore.png) 100% 0 no-repeat;
}

.button2-left .pagebreak {
        background: url(../images_general/j_button2_pagebreak.png) 100% 0 no-repeat;
}

/* Tooltips */
div.tooltip {
        float: left;
        background: #ffc;
        border: 1px solid #D4D5AA;
        padding: 5px;
        max-width: 200px;
}

div.tooltip h4 {
        padding: 0;
        margin: 0;
        font-size: 95%;
        font-weight: bold;
        margin-top: -15px;
        padding-top: 15px;
        padding-bottom: 5px;
        background: url(../images_general/selector-arrow.png) no-repeat;
}

div.tooltip p {
        font-size: 90%;
        margin: 0;
}

/* Caption fixes */
.img_caption .left {
        float: left;
        margin-right: 1em;
}

.img_caption .right {
        float: right;
        margin-left: 1em;
}

.img_caption .left p {
        clear: left;
        text-align: center;
}

.img_caption .right p {
        clear: right;
        text-align: center;
}

/* Calendar */
a img.calendar {
        width: 16px;
        height: 16px;
        margin-left: 3px;
        background: url(../images_general/calendar.png) no-repeat;
        cursor: pointer;
        vertical-align: middle;
}

/* System Messages */

.error
{
        padding:0px;

        margin-bottom: 20px;
}

.error h2
{
        color:#000 !important;
        font-size:1.4em !important;
        text-transform:uppercase;
        padding:0 0 0 0px !important
}

#system-message
{
        margin:10px 0 20px 0;
                background:url(../images/nature/nav_level_1.gif) repeat-x;
                border:solid 2px #ccc;
                border-left:0;
                border-right:0;
                padding:10px
}

#system-message dt { font-weight: bold; }
#system-message dd { margin: 0;  font-weight: bold; text-indent: 0px;;padding:0 }
#system-message dd ul { color: #000; margin: 10px 0; list-style: none; padding: 0px; }
#system-message dd ul li{ line-height:1.5em }

/* System Standard Messages */
#system-message dt.message { display: none; }
#system-message dd.message {  }
#system-message dd.message ul li{background:none !important}

/* System Error Messages */
#system-message dt.error { display: none; }
#system-message dd.error {  }
#system-message dd.error ul { color: #000;;margin:0}

/* System Notice Messages */
#system-message dt.notice { display: none; }
#system-message dd.notice {  }
#system-message dd.notice ul { color: #000; }

/* ++++++++++++++  login  ++++++++++++++ */

#form-login .inputbox
{
        border:solid 1px #ddd;
        background:url(../images/content_bg.gif) repeat-x;
}


