<?xml version="1.0" encoding="utf-8"?>
<form>
	<fieldset>
		<field
			id="id"
			name="id"
			type="hidden"
			default="0"
			filter="int"
			readonly="true"/>

		<field
			name="asset_id"
			type="hidden"
			filter="unset" />

		<field
			id="menutype"
			name="menutype"
			type="text"
			label="COM_MENUS_MENU_MENUTYPE_LABEL"
			description="COM_MENUS_MENU_MENUTYPE_DESC"
			size="30"
			maxlength="24"
			required="true" />

		<field
			id="title"
			name="title"
			type="text"
			label="JGLOBAL_TITLE"
			description="COM_MENUS_MENU_TITLE_DESC"
			size="30"
			maxlength="48"
			required="true" />

		<field
			id="menudescription"
			name="description"
			type="text"
			label="JGLOBAL_DESCRIPTION"
			description="COM_MENUS_MENU_DESCRIPTION_DESC"
			size="30"
			maxlength="255" />

		<field
			name="rules"
			type="rules"
			label="JFIELD_RULES_LABEL"
			translate_label="false"
			filter="rules"
			component="com_menus"
			section="menu"
			validate="rules" />

	</fieldset>
</form>
