<?xml version="1.0" encoding="utf-8"?>
	<!-- $Id: menu.xml 18781 2010-09-06 03:00:50Z eddieajau $ -->
<form>
	<fieldset>
		<field
			id="id"
			name="id"
			type="hidden"
			default="0"
			filter="int"
			readonly="true"/>

		<field
			id="menutype"
			name="menutype"
			type="text"
			label="COM_MENUS_MENU_MENUTYPE_LABEL"
			description="COM_MENUS_MENU_MENUTYPE_DESC"
			class="inputbox"
			size="30"
			maxlength="24"
			required="true" />

		<field
			id="title"
			name="title"
			type="text"
			label="JGLOBAL_TITLE"
			description="COM_MENUS_MENU_TITLE_DESC"
			class="inputbox"
			size="30"
			maxlength="48"
			required="true" />

		<field
			id="menudescription"
			name="description"
			type="text"
			label="JGLOBAL_DESCRIPTION"
			description="COM_MENUS_MENU_DESCRIPTION_DESC"
			class="inputbox"
			size="30"
			maxlength="255" />

	</fieldset>
</form>