#login-form .inputbox,
.registration input,
.profile-edit input,
#login-form .inputbox,
.contact .inputbox,
.login-fields input,
.remind input,
.reset input,
.word .inputbox,
.search .inputbox,
.finder .inputbox
{
        -moz-border-radius: 5px;
}