#login-form .inputbox,
.registration input,
.profile-edit input,
#login-form .inputbox,
.contact .inputbox,
.login-fields input,
.remind input,
.reset input,
.search .inputbox,
.finder .inputbox
{    -webkit-border-radius: 4px;
}