/* Angie Radtke 2010 */
#all {
	text-align: right
}

#wrapper {
    float: right;
}

h1#logo {
	text-align: right;
	margin:1.2em 10px 20px 20px;
}

#header ul.menu {
	width: auto;
	left: 15px;
	right: auto;
}

#line {
	text-align:left;
	padding-left:9px;

}

#right {
    float: right;
    margin: 10px 2% 10px 0;
}

ul.menu li {
	text-align: right
}

ul.menu li a:link,ul.menu li a:visited {
	background: url(../images/karo.gif) no-repeat scroll right 14px;
	padding-right: 10px;
}

ul.menu li.active ul li a:link,
ul.menu li.active ul li a:visited
{
	padding-right: 20px;
}

ul.menu li.active ul li.active a:link,
ul.menu li.active ul li.active a:visited
{
	padding-right: 20px;
}

ul.menu li.active ul li.active ul li a:link,
ul.menu li.active ul li.active ul li a:visited
{
	padding-right: 33px;
}

ul.menu li.active  ul li.active  ul li.active  ul li  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li a:visited
{
	padding: 3px 47px 3px 2px;
	background:#fff url(../images/arrow_small_rtl.png) no-repeat scroll right 8px;
}

ul.menu li.active  ul li.active  ul li.active  ul li.active	ul li  a:link,
ul.menu li.active  ul li.active  ul li.active  ul li.active	ul li a:visited
{
	padding-right:30px;
}

h3 {
	text-align: right;
}

h3.js_heading a {
	position: absolute;
	right: auto;
	left: 5px
}

.box {
	text-align: right
}

ul.newsfeed {
	text-align: right
}

a.readmore:link,a.readmore:visited,.readmore a:link,.readmore a:visited
	{
	background: url(../images/arrow1_rtl.gif) repeat-x scroll right top;
	padding-right: 10px !important
}

.mailto-close {
	left: 5px !important;
	right: auto !important;
}

* html .mailto-close {
	left: 0;
	position: absolute;
	right: 340px !important
}


.panel h3.pane-toggler a
{
	background:#f5f5f5 url(../images/slider_plus_rtl.png) left top no-repeat;
}
.panel h3.pane-toggler-down a
{
	background:#f5f5f5  url(../images/slider_minus_rtl.png) left top no-repeat;
	border-bottom:solid 1px #ddd;
}

.form-required
{
	background-position: right;
}

input.button,
button.button
{
	background:#FFFFFF url(../images/arrow1_rtl.gif) no-repeat right top;
}

/* layout.css overrides */

#main ul
{
        padding:0 15px 0 0;
        margin:10px 0 10px 0px;
}

#main ol
{
        padding:0 20px 0 0;
        margin:10px 0 10px 0px;
}

.contact-email label
{
        width:17em;
        float:right;
}

#contact-email-copy
{
        float:right;
        margin-left:10px;
}

table.weblinks th, table.category th {
    text-align: right;
}

dl.tabs {
    float: right;
    margin: 50px 0 0 0;
    z-index: 50;
    clear:both;
}

dl.tabs dt {
    float: right;
    padding: 4px 10px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-left: 3px;
	margin-right: 0px;
}

form fieldset dt
{
        clear:right ;
        float:right;
        width:12em;
        padding:3px 0
}

form fieldset dd
{
        float:right;
        padding:3px 0
}

#users-profile-core dt,
#users-profile-custom dt
{
        float:right;
        width:12em;
        padding:3px 0;
}

.profile-edit form#member-profile fieldset dt,
.registration form#member-registration fieldset dt
{padding:5px 0px 5px 5px; width:13em}

.login-fields label
{float:right}

/* ++++++++++++++  pagination  ++++++++++++++ */

#main .pagination
{
	float:right;
	text-align:right;
	padding:10px 10px 0px 0px;
	clear:both;

}

#main .pagination ul
{
	float:right;
	text-align:right;
}

#main .pagination li
{
	float:right;
	text-align:right;
}

#main .pagination li.pagination-start span,
#main .pagination li.pagination-start a
{
padding:4px 0;
}

ul.pagenav {
	float:right;
	width: 100%;
}

ul.pagenav li.pagenav-next {
    float: left;
}
ul.pagenav li.pagenav-prev {
    float: right;
}

/* ++++++++++++++  breadcrumbs  ++++++++++++++ */
#breadcrumbs {
	/*display: block;*/
	background: none;
	float: right;
	text-align: right;
	width: 100%;
}

#breadcrumbs *
{
	text-align:right;
	float: right;

}
/* for IE7 and less */
*:first-child+html .breadcrumbs, * html .breadcrumbs {
	width: 100%;
}
#breadcrumbs
{
	margin:15px 5px 15px 0px;
}
#breadcrumbs img
{
	padding: 4px 5px 0px 5px;
}

#breadcrumbs .showHere {
	margin-left: 4px;
}

#header form .inputbox {
    margin: 2px 2px 2px 13px;
}
#header form .inputbox:focus { margin: 1px 1px 0 11px; }
#fontsize {
    margin: 0 1px 10px 20px;
}

#header ul.menu li {
    float: right;
}
.left1 {
    float: right;
    margin: 10px 0px 10px 3%;
}
#header ul.menu li a:link,
#header ul.menu li a:visited
{
border-right:solid 0px #eee;
border-left:solid 1px #eee;
}
#header ul {
    float: right;

}


/* ++++++++++++++  columns alignment left to right  ++++++++++++++ */
ul.tabs li {
    float: right;
	border-left: 1px solid #DDDDDD;
	border-right: 0px solid #DDDDDD;
}

/* ++++++++++++++  login ++++++++++++++ */

#login-form
{
        padding-top:5px
}

#login-form fieldset
{
        padding:0px;

}

#login-form .inputbox
{
        padding:2px;
}

#login-form fieldset.input
{
        padding:10px 0 0 0;
        margin:0px 0 10px 5px;
}

#login-form label
{
        margin-right:0px;
        float:right;
}

#form-login-remember label
{
	float:none;
	width:auto;
	display:inline
}

.logout-button
{
	margin-top:10px
}

input.button,
button.button,
button.validate
{
        cursor:pointer;
        padding:3px 5px 3px 7px;
        font-weight:bold;
        line-height:1.2em;
        font-family:arial;
}

#modlgn-username,
#modlgn-passwd
{
		margin-right:-30px;
}

.module_content #form-login-username label,
.module_content #form-login-password label
{
            float:right;
}

.login-fields
{
        margin:10px 0
}

.login-fields label
{
        float:right;
}

.login-description img,
.logout-description img
{
        float:right;
        margin-right:0px
}

.login-description,
.logout-description
{

                padding-right:5px;
                margin:20px 10px 0 0;
}

.logout-description
{
        margin-bottom:20px
}

.mostread li a:link, .mostread li a:visited, .latestnews li a:link, .latestnews li a:visited {
    background: url("../images/arrow2_grey.png") no-repeat scroll 100% 7px transparent;
}
ul.latestnews li a, ul.mostread li a {
    padding: 2px 15px 2px 2px;
}
.mostread li a:hover,
.latestnews li a:hover,
.mostread li a:active,
.latestnews li a:active,
.mostread li a:focus,
.latestnews li a:focus
{
	background:#555 url(../images/arrow_white_grey.png) 100% 6px  no-repeat !important;
}
#main ul.actions {
    text-align: left;
}
#main .items-more ol li a {

}
#main .items-more ol li a {
    padding: 5px 20px 5px 5px;
}
#main .items-more ol li a:hover,
#main .items-more ol li a:active,
#main .items-more ol li a:focus
{
        padding:5px 20px 5px 5px;
}
#close span {
    left: 20px;
    right: auto;
    width: auto;
}

/* ############## Blog/featured columns ######## */

.blog-featured .item, .blog .item {
	float:right;
}
.items-row .column-1 {
	margin-right: 0;
	margin-left: 4%;
}

#main ul.actions {
	text-align: left;
}

.content_rating {
	text-align: right;

}

ul.menu li ul li ul li ul li ul {
	padding-right: 7px;
}

#system-message dd.notice ul,
#system-message dd.error ul,
#system-message dd.message  ul {
        background-position: 100% 0!important;
        padding: 10px 40px 10px 10px!important;
}
#system-message dd.message  ul {
        background-image:url(../images/system/notice-info_rtl.png)!important;
}
#system-message dd.notice ul {
        background-image:url("../images/system/notice-note_rtl.png")!important;
}
#system-message dd.error ul {
        background-image:url(../images/system/notice-alert_rtl.png)!important;
}


/* ++++++++++++++  image float style ++++++++++++++ */
.img-fulltext-left {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.img-intro-left {
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
}

.img-fulltext-right {
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
}

.img-intro-right {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}