/* Animations */
.slide-fade-enter-active {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); }

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1); }

.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0; }

.com_media .container-main {
  min-height: calc(100vh - 182px);
  padding-top: 0;
  padding-bottom: 0; }

.com_media #subhead {
  position: relative; }

.com_media #content {
  margin-top: 0; }

/* General layout */
.media-main {
  position: relative;
  height: calc(100vh - 260px);
  min-height: 400px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 0.25rem;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.075); }

.media-breadcrumb.breadcrumb {
  margin: 0;
  padding: 0 7.5px;
  background: transparent; }
  .media-breadcrumb.breadcrumb > li > a {
    cursor: pointer; }
  .media-breadcrumb.breadcrumb > li:last-child a {
    font-weight: bold; }

/* Media browser */
.media-browser {
  width: 75%;
  padding: 15px 0 15px 15px; }

.media-browser-items {
  display: flex;
  flex-wrap: wrap; }

.media-browser-item {
  position: relative;
  margin-bottom: 15px;
  margin-right: 15px;
  width: calc(16.66% - 15px);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.media-browser-item-preview {
  position: relative;
  font-size: 60px;
  color: #007eb7; }

.media-browser-item-info {
  padding: 0 5px;
  font-size: .9rem;
  font-weight: bold;
  line-height: 34px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center; }

.selected .media-browser-item-info {
  background: #007eb7;
  color: #fff; }

.image-brackground {
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-color: white;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%); }

.image-cropped {
  padding-bottom: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1); }

.file-background, .folder-background {
  padding-bottom: 100%;
  background-color: #F5F5F5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.1); }

.file-icon, .folder-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #BBB; }

@media only screen and (max-width: 1140px) {
  .media-browser-item {
    width: calc(20% - 15px); }
  .media-browser-item-preview {
    font-size: 50px; } }

@media only screen and (max-width: 960px) {
  .media-browser-item {
    width: calc(25% - 15px); } }

@media only screen and (max-width: 720px) {
  .media-browser-item {
    width: calc(33.33% - 15px); }
  .media-browser-item-preview {
    font-size: 40px; } }

@media only screen and (max-width: 540px) {
  .media-browser-item {
    width: calc(50% - 15px); } }

.media-infobar {
  background-color: #fafafa;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 52px;
  bottom: 0;
  z-index: 4;
  float: none;
  padding: 0;
  width: 25%;
  border-left: 1px solid #ccc;
  padding: 15px; }

.media-toolbar {
  padding: 15px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ccc;
  border-radius: 0.25rem 0.25rem 0 0; }

/* Media Tree */
ul.media-tree {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

.media-tree-item {
  position: relative;
  display: block; }

.media-tree-item a {
  display: block;
  position: relative;
  padding: 5px 10px;
  margin-bottom: 2px;
  cursor: pointer;
  border-left: 4px solid transparent;
  text-decoration: none;
  line-height: 26px;
  white-space: nowrap; }

.media-tree-item a:hover {
  background-color: #e1e1e1;
  border-color: #646464;
  text-decoration: none; }

.media-tree-item.active > a {
  background-color: transparent;
  border-color: #007eb7; }

.media-tree-item .item-icon {
  display: inline-block;
  line-height: normal;
  padding-right: 6px;
  vertical-align: middle;
  color: #646464;
  font-size: 20px; }

.media-tree-item.active > a .item-icon {
  color: #007eb7; }

.item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }

.media-tree-item.active > a .item-name {
  font-weight: bold; }
