<?xml version="1.0" encoding="UTF-8"?>
<config>
	<help key="Plugin:_Options"/>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_plugins"
			section="component"
		/>
	</fieldset>
</config>
