<?xml version="1.0" encoding="UTF-8"?>
<config>
	<help key="Check-in:_Options"/>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_checkin"
			section="component">
			<action
				name="core.admin"
				title="JACTION_ADMIN"
				/>
			<action
				name="core.manage"
				title="JACTION_MANAGE"
				/>
		</field>
	</fieldset>
</config>
