<?xml version="1.0" encoding="utf-8"?>
<config>
 <params>
  <param name="upload_extensions" type="text" size="50" default="bmp,csv,doc,epg,gif,ico,jpg,odg,odp,ods,odt,pdf,png,ppt,swf,txt,xcf,xls" label="LEGAL EXTENSIONS LABEL" description="LEGAL EXTENSIONS DESC" />
  <param name="upload_maxsize" type="text" size="50" default="0" label="MAXIMUM SIZE LABEL" description="MAXIMUM SIZE DESC" />
 </params>
</config>
