<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="component"
		label="COM_MEDIA_FIELDSET_OPTIONS_LABEL">

		<help key="Media:_Options"/>

		<field
			name="upload_maxsize"
			type="number"
			label="COM_MEDIA_FIELD_MAXIMUM_SIZE_LABEL"
			description="COM_MEDIA_FIELD_MAXIMUM_SIZE_DESC"
			validate="number"
			min="0"
			default="10"
		/>

		<field
			name="file_path"
			type="text"
			label="COM_MEDIA_FIELD_PATH_FILE_FOLDER_LABEL"
			description="COM_MEDIA_FIELD_PATH_FILE_FOLDER_DESC"
			size="50"
			default="images"
			validate="folderPathExists"
			exclude="administrator|api|cache|cli|components|includes|language|layouts|libraries|media|modules|plugins|templates|tmp"
		/>

		<field
			name="image_path"
			type="text"
			label="COM_MEDIA_FIELD_PATH_IMAGE_FOLDER_LABEL"
			description="COM_MEDIA_FIELD_PATH_IMAGE_FOLDER_DESC"
			size="50"
			default="images"
			validate="folderPathExists"
			exclude="administrator|api|cache|cli|components|includes|language|layouts|libraries|modules|plugins|templates|tmp"
		/>

		<field
			name="restrict_uploads"
			type="radio"
			label="COM_MEDIA_FIELD_RESTRICT_UPLOADS_LABEL"
			description="COM_MEDIA_FIELD_RESTRICT_UPLOADS_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="restrict_uploads_extensions"
			type="text"
			label="COM_MEDIA_FIELD_RESTRICT_UPLOADS_EXTENSIONS_LABEL"
			description="COM_MEDIA_FIELD_RESTRICT_UPLOADS_EXTENSIONS_DESC"
			size="50"
			default="bmp,gif,jpg,jpeg,png,webp,ico,mp3,mp4,odg,odp,ods,odt,pdf,png,ppt,txt,xcf,xls,csv"
			showon="restrict_uploads:1"
		/>

		<field
			name="check_mime"
			type="radio"
			label="COM_MEDIA_FIELD_CHECK_MIME_LABEL"
			description="COM_MEDIA_FIELD_CHECK_MIME_DESC"
			layout="joomla.form.field.radio.switcher"
			default="1"
			showon="restrict_uploads:1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="image_extensions"
			type="text"
			label="COM_MEDIA_FIELD_LEGAL_IMAGE_EXTENSIONS_LABEL"
			description="COM_MEDIA_FIELD_LEGAL_IMAGE_EXTENSIONS_DESC"
			size="50"
			default="bmp,gif,jpg,jpeg,png,webp"
		/>

		<field
			name="audio_extensions"
			type="text"
			label="COM_MEDIA_FIELD_LEGAL_AUDIO_EXTENSIONS_LABEL"
			description="COM_MEDIA_FIELD_LEGAL_AUDIO_EXTENSIONS_DESC"
			size="50"
			default="mp3,m4a,mp4a,ogg"
		/>

		<field
			name="video_extensions"
			type="text"
			label="COM_MEDIA_FIELD_LEGAL_VIDEO_EXTENSIONS_LABEL"
			description="COM_MEDIA_FIELD_LEGAL_VIDEO_EXTENSIONS_DESC"
			size="50"
			default="mp4,mp4v,mpeg,mov,webm"
		/>

		<field
			name="doc_extensions"
			type="text"
			label="COM_MEDIA_FIELD_LEGAL_DOCUMENT_EXTENSIONS_LABEL"
			description="COM_MEDIA_FIELD_LEGAL_DOCUMENT_EXTENSIONS_DESC"
			size="50"
			default="doc,odg,odp,ods,odt,pdf,ppt,txt,xcf,xls,csv"
		/>

		<field
			name="ignore_extensions"
			type="text"
			label="COM_MEDIA_FIELD_IGNORED_EXTENSIONS_LABEL"
			description="COM_MEDIA_FIELD_IGNORED_EXTENSIONS_DESC"
			size="50"
		/>

		<field
			name="upload_mime"
			type="text"
			label="COM_MEDIA_FIELD_LEGAL_MIME_TYPES_LABEL"
			description="COM_MEDIA_FIELD_LEGAL_MIME_TYPES_DESC"
			size="50"
			default="image/jpeg,image/gif,image/png,image/bmp,image/webp,audio/ogg,audio/mpeg,audio/mp4,video/mp4,video/mpeg,video/quicktime,video/webm,application/msword,application/excel,application/pdf,application/powerpoint,text/plain,application/x-zip"
			showon="restrict_uploads:1"
		/>

		<field
			name="upload_mime_illegal"
			type="text"
			label="COM_MEDIA_FIELD_ILLEGAL_MIME_TYPES_LABEL"
			description="COM_MEDIA_FIELD_ILLEGAL_MIME_TYPES_DESC"
			size="50"
			default="text/html"
			showon="restrict_uploads:1"
		/>
	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_media"
			section="component"
		 />
	</fieldset>
</config>
