// Fonts
@import "../../../media/vendor/roboto-fontface/scss/roboto/roboto-fontface.css";

:root {
  --cassiopeia-font-family-root: "Roboto", sans-serif;
  --cassiopeia-font-family-headings: "Roboto", sans-serif;
  --cassiopeia-font-weight-headings: bold;
}
