// Fonts
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;700&display=swap");

:root {
  --cassiopeia-font-family-body: "Fira Sans", sans-serif;
  --cassiopeia-font-family-headings: "Fira Sans", sans-serif;
  --cassiopeia-font-weight-headings: 700;
  --cassiopeia-font-weight-normal: 400;
}
