// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --cassiopeia-font-family-root: "Roboto", sans-serif;
  --cassiopeia-font-family-headings: "Poppins", sans-serif;
  --cassiopeia-font-weight-headings: normal;
}
